@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {

}
@media @desktop-xl-2 {

}
@media @desktop-xll {

}


.header {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 22px;
		font-size: 13px;
		font-weight: 700;
		@media @desktop-xl {
			padding: 8px 22px;
		}
	}

	&__logo {
		flex: 1;
		img {
			margin-left: 8px;
			max-width: 200px;
			@media @tablet {
				margin: 0;
				max-width: inherit;
			}
		}
		
		@media @desktop-xl {
			flex: inherit;
			flex-basis: 23%;
		}
		@media @desktop-xl-2 {
			flex-basis: 33%;
		}
	}
	&__nav {
		display: none;
		@media @desktop-xl {
			display: block;
			flex-basis: 45%;
		}
	}
	&__list {
		display: flex;
		list-style-type: none;
	}
	&__link {
		display: block;
		margin-right: 30px;
		transition: all .3s linear;
		text-transform: uppercase;
		&:hover {
			color: @green;
		}
	}

	&__btn {
		position: relative;
		font-size: 0;
		text-transform: uppercase;
		@media @tablet {
			font-size: 16px;
			padding-right: 35px;
		}

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -11px;
			width: 35px;
			height: 35px;
			background: url(../images/icons/phone.png)no-repeat;
		}
	}
}