@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.info {
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@media @desktop {
			flex-direction: row;
		}

	}
	&__content {
		@media @desktop {
			padding-left: 15px;
			flex-basis: 36.8%;
		}
		@media @desktop-xll {
			padding-left: 70px;
		}
	}
	&__title {
		padding-bottom: 20px;
		font-size: 36px;
		font-weight: 300;
		text-align: center;
		color: @green;

		@media @desktop {
			font-size: 45px;
			text-align: inherit;
		}
		@media @desktop-xl-2 {
			font-size: 70px;
			letter-spacing: -5px;
		}
		@media @desktop-xll {
			font-size: 80px;
			padding-bottom: 30px;
		}
	}

	&__text {
		padding-bottom: 25px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 17px;
		line-height: 1.33;
		max-width: 550px;
		@media @desktop {
			font-size: 18px;
			max-width: inherit;
			padding-bottom: 0;
		}
		@media @desktop-xl-2 {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__photo {
		flex-basis: 60%;
		@media @desktop-xll {
			flex-basis: 62.2%;
		}
	}

	img {
		@media @desktop {
			min-height: 350px;
			object-fit: cover;
			object-position: 85%;
		}
	}
}


.accordions {
	padding: 80px 0 0 0;
	position: relative;

	@media @tablet {

	}
	@media @desktop {
		padding: 80px 20px 0 20px;
	}
	@media @desktop-xl {
		padding: 90px 90px 30px 90px;
	}
	@media @desktop-xl-2 {
		padding: 90px 0 30px 270px;
	}
	@media @desktop-xll {

	}


	.accordion {
		margin-top: 14px;
		margin-bottom: 46px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		
		&__header {
			display: block;
			position: relative;
			padding-left: 35px;
			transition: all .3s linear;
			font-size: 20px;
			letter-spacing: -.8px;
			font-weight: 900;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 20px;
				height: 20px;
				background: url(../images/icons/plus.png);
			}
			span {
				font-weight: 400;
				font-size: 20px;
				color: #9a9a9a;
			}
		}
		&__link {
			span {
				display: block;
				@media @tablet {
					display: inline;
				}
			}
		}
		&__body {
			display: none; 
			padding: 30px 0;
			@media @tablet {
				padding: 50px 10px 30px 10px;
			}
			@media @desktop {
				padding: 60px 30px 30px 30px;
			}
		}


		&__line, &__col {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			@media @tablet {
				flex-wrap: nowrap;
				justify-content: inherit;
			}
		}

		&__line-top {
			align-items: center;
			
			@media @tablet {
				padding-bottom: 33px;
			}
		}
		&__img {
			margin-right: 8px;
		}
		&__text {
			min-width: 260px;
			font-size: 18px;
			font-weight: 300;
			color: #1e1d20;
			text-align: center;
			@media @tablet {
				min-width: inherit;
				text-align: inherit;
				padding-right: 10px;
			}
		}
		&__date {
			display: block;
			margin: 15px 0;
			font-size: 20px;
			font-weight: 400;
			color: #5a5b5c;
			
			@media @tablet {
				display: inherit;
				margin: 0;
			}
		}

		&__line-middle {
			display: flex;
			justify-content: center;
			align-items: center;
			@media @tablet {
				justify-content: space-between;
			}
		}
		&__line-calc {
			@media @tablet {
				margin-bottom: 26px;
			}
			&:hover {
				.accordion__col-btn1{
					border: 1px solid #99cc33;
				}
			}
		}

		&__col-btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 295px;
			padding: 10px 15px;
			margin: 20px 0;
			background: #efefef;
			border: 1px solid transparent;
			transition: all .3s linear;

			@media @tablet {
				margin-right: 40px;
				padding: 10px 15px 10px 20px;
			}
			&:hover {
				border: 1px solid #99cc33;
				cursor: pointer;
			}
			&-active {
				border: 1px solid #99cc33;
			}
		}
		&__col-text {
			margin-right: 10px;
			font-weight: 300;
			p {
				font-size: 18px;
				letter-spacing: -.5px;
				color: #000;
			}
			i {
				font-size: 12px;
				color: #1e1d20;
			}
		}
		&__col-price {
			font-weight: 700;
			color: #a6d255;
		}

		&__num {
			width: 45px;
			margin-left: 10px;
			margin-right: 10px;
			font-weight: 300;
			font-size: 26px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #efefef;
			outline-color: @green; 
			background: none;
		}
		&__x {
			display: none;
			@media @tablet {
				display: block;
				margin-left: 35px;
			}
			
		}
		&__col-left {
			flex-basis: 82%;
			border-bottom: 1px solid #d5d5d5;
			padding-bottom: 25px;
			@media @tablet {
				border-bottom: none;
				border-right: 1px solid #d5d5d5;
				padding-bottom: 0;
			}
		}
		&__col-right {
			display: flex;
			margin: 25px auto 0 auto;
			text-align: center;
			font-size: 24px;
			font-weight: 900;
			color: #a6d255;
			p {
				padding-left: 6px;
				@media @tablet {
					padding-left: 0;
				}
			}
			@media @tablet {
				display: inline-block;
				margin: 0;
				text-align: left;
				padding-right: 20px;
			}
		}


		&__text-tour {
			padding-top: 36px;
			font-weight: 400;
			font-style: italic;
			a {
				display: block;
				font-weight: 900;
				font-style: normal;
				@media @tablet {
					display: inline;
				}
			}
		}

		&__line-top-bron {
			
			@media @tablet {
				padding-bottom: 42px;
			}
		}
	}

	.active {
		.accordion__body {
			display: block; 
		}

		.accordion__header {
			&:before {
				background: url(../images/icons/minus.png);
			}
		}
	}
}


.summary {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		height: 1px;
		background: #d5d5d5;
	}

	&__text {
		padding-top: 40px;
		font-size: 30px;
		font-weight: 900;
		text-align: center;
		color: @green;
	}
}