@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.info {
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		padding-left: 70px;
		flex-basis: 32.8%;
	}
	&__title {
		padding-bottom: 30px;
		font-size: 80px;
		font-weight: 300;
		letter-spacing: -5px;
		color: @green;
	}
	&__text {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 18px;
		line-height: 1.33;
	}

	&__photo {
		flex-basis: 62.2%;
	}
}


.accordions {
	padding: 90px 0 30px 270px;
	position: relative;


	.accordion {
		margin-top: 14px;
		margin-bottom: 46px;
		
		&__header {
			display: block;
			position: relative;
			padding-left: 35px;
			transition: all .3s linear;
			font-size: 20px;
			letter-spacing: -.8px;
			font-weight: 900;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 20px;
				height: 20px;
				background: url(../images/icons/plus.png);
			}
			span {
				font-weight: 400;
				font-size: 20px;
				color: #9a9a9a;
			}
		}
		&__body {
			display: none; 
			padding: 60px 30px 30px 30px;
		}


		&__line, &__col {
			display: flex;
			align-items: center;
		}

		&__line-top {
			padding-bottom: 33px;
		}
		&__img {
			margin-right: 8px;
		}
		&__text {
			padding-right: 10px;
			font-size: 18px;
			font-weight: 300;
			color: #1e1d20;
		}
		&__date {
			font-size: 20px;
			font-weight: 400;
			color: #5a5b5c;
		}

		&__line-middle {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__line-calc {
			margin-bottom: 26px;
			&:hover {
				.accordion__col-btn1{
					border: 1px solid #99cc33;
				}
			}
		}

		&__col-btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 295px;
			padding: 10px 15px 10px 20px;
			margin-right: 40px;
			background: #efefef;
			border: 1px solid transparent;
			transition: all .3s linear;
			&:hover {
				border: 1px solid #99cc33;
				cursor: pointer;
			}
			&-active {
				border: 1px solid #99cc33;
			}
		}
		&__col-text {
			margin-right: 10px;
			font-weight: 300;
			p {
				font-size: 18px;
				letter-spacing: -.5px;
				color: #000;
			}
			i {
				font-size: 12px;
				color: #1e1d20;
			}
		}
		&__col-price {
			font-weight: 700;
			color: #a6d255;
		}

		&__num {
			width: 45px;
			margin-left: 10px;
			margin-right: 10px;
			font-weight: 300;
			font-size: 26px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #efefef;
			outline-color: @green; 
			background: none;
		}
		&__x {
			margin-left: 35px;
		}
		&__col-left {
			flex-basis: 82%;
			border-right: 1px solid #d5d5d5;
		}
		&__col-right {
			padding-right: 20px;
			font-size: 24px;
			font-weight: 900;
			color: #a6d255;
		}


		&__text-tour {
			padding-top: 36px;
			font-weight: 400;
			font-style: italic;
			a {
				font-weight: 900;
				font-style: normal;
			}
		}

		&__line-top-bron {
			padding-bottom: 42px;
		}
	}

	.active {
		.accordion__body {
			display: block; 
		}

		.accordion__header {
			&:before {
				background: url(../images/icons/minus.png);
			}
		}
	}
}


.summary {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		height: 1px;
		background: #d5d5d5;
	}

	&__text {
		padding-top: 40px;
		font-size: 30px;
		font-weight: 900;
		text-align: center;
		color: @green;
	}
}


.formBlock {
	padding-top: 80px;
	padding-bottom: 80px;

	&__text {
		font-size: 20px;
		color: #9a9a9a;
		strong {
			color: #000;
			font-weight: 900;
		}
	}

	&__line {
		display: flex;
		justify-content: space-between;
		margin-top: 55px;
		margin-bottom: 110px;
	}
	
	.inputWrap {
		position: relative;
	}
	span {
		position: absolute;
		top: -10px;
		left: 10px;
		padding-left: 10px;
		padding-right: 10px;
		background: #f7faf9;
		font-size: 12px;
		font-weight: 400;
	}
	label {
		position: absolute;
		bottom: -10px;
		left: 10px;
		padding-left: 10px;
		padding-right: 10px;
		background: #f7faf9;
		font-size: 12px;
		font-weight: 400;
		color: red;
	}

	


	.form__line {
		padding: 18px 20px;
		width: 410px;
		background: #f7faf9;
		border: 1px solid #c7c7c7;
		&:focus:invalid {
			border: solid 1px #f15b4c;
			outline: none;
		}
		&:valid {
			border: solid 1px #a6d255;
			outline: none;
		}

		&-phone {
			padding: 18px 20px;
			width: 280px;
			background: #f7faf9;
			border: 1px solid #c7c7c7;
			&:focus:invalid {
				border: solid 1px #f15b4c;
				outline: none;
			}
			&:valid {
				border: solid 1px #a6d255;
				outline: none;
			}
		}
	}

	.btn {
		display: table;
		margin: auto;
		padding: 8px 0;
		width: 280px;
		background: none;
		border: 2px solid #f15b4c;
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		border-radius: 20px;
		transition: all .3s linear;
		&:hover {
			background: #f15b4c;
			transform: scale(0.97);
		}
	}
}