@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.formBlock {
	padding-top: 80px;
	padding-bottom: 180px;

	&__text {
		font-size: 18px;
		color: #9a9a9a;
		text-align: center;
		@media @tablet {
			font-size: 20px;
		}
		@media @desktop {
			text-align: inherit;
		}
		strong {
			font-size: 17px;
			display: block;
			color: #000;
			font-weight: 900;
			@media @tablet {
				font-size: inherit;
			}
			@media @desktop {
				display: inline;
			}
		}
	}

	&__line {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 55px 0;
		@media @desktop {
			flex-direction: row;
			align-items: inherit;
			justify-content: space-between;
		}
		@media @desktop-xl {
			margin-bottom: 110px;
		}
	}
	
	.inputWrap {
		position: relative;
	}
	span {
		position: absolute;
		top: -10px;
		left: 10px;
		padding-left: 10px;
		padding-right: 10px;
		background: #f7faf9;
		font-size: 12px;
		font-weight: 400;
	}
	label {
		position: absolute;
		bottom: -10px;
		left: 10px;
		padding-left: 10px;
		padding-right: 10px;
		background: #f7faf9;
		font-size: 12px;
		font-weight: 400;
		color: red;
	}

	


	.form__line {
		padding: 18px 20px;
		margin-bottom: 35px;
		width: 290px;
		background: #f7faf9;
		border: 1px solid #c7c7c7;
		@media @tablet {

		}
		@media @desktop {
			width: 310px;
			margin-bottom: 0;
		}
		@media @desktop-xl {
			width: 410px;
		}
		&:focus:invalid {
			border: solid 1px #f15b4c;
			outline: none;
		}
		&:valid {
			border: solid 1px #a6d255;
			outline: none;
		}

		&-phone {
			padding: 18px 20px;
			width: 290px;
			background: #f7faf9;
			border: 1px solid #c7c7c7;
			@media @desktop {
				width: 280px;
			}
			&:focus:invalid {
				border: solid 1px #f15b4c;
				outline: none;
			}
			&:valid {
				border: solid 1px #a6d255;
				outline: none;
			}
		}
	}

	.btn {
		display: table;
		margin: auto;
		padding: 8px 0;
		width: 280px;
		background: none;
		border: 2px solid #f15b4c;
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		border-radius: 20px;
		transition: all .3s linear;
		&:hover {
			background: #f15b4c;
			transform: scale(0.97);
		}
	}
}


.formPick {
	width: 260px;
	padding: 2px 20px;
	background: #f7faf9;
	border: 1px solid #c7c7c7;
	@media @tablet {
		width: inherit;
	}
}
.datepicker-container {
	width: 255px;
	font-family: @ff1;
	@media @tablet {
		width: 280px;
	}
}

.datepicker-top-left:after, .datepicker-top-left:before, .datepicker-top-right:after, .datepicker-top-right:before {
	left: 50%;
	transform: translateX(-50%);
}

.datepicker-panel>ul>li {
	height: 35px;	
	width: 35px;
	font-size: 17px;	
	font-family: @ff1;
	@media @tablet {
		height: 40px;	
		width: 40px;
		font-size: 18px;	
	}
}
.datepicker-panel>ul>li[data-view="month current"], .datepicker-panel>ul>li[data-view="year current"], .datepicker-panel>ul>li[data-view="years current"] {
	width: 180px;
	@media @tablet {
		width: 200px;
	}
}