@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLight/RobotoLight.woff2') format('woff2'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('../fonts/DINProLight/dinpro-light.woff2') format('woff2'), url('../fonts/DINProLight/dinpro-light.woff') format('woff'), url('../fonts/DINProLight/dinpro-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('../fonts/DINPro/dinpro.woff2') format('woff2'), url('../fonts/DINPro/dinpro.woff') format('woff'), url('../fonts/DINPro/dinpro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('../fonts/DINProBold/dinpro-bold.woff2') format('woff2'), url('../fonts/DINProBold/dinpro-bold.woff') format('woff'), url('../fonts/DINProBold/dinpro-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('../fonts/DINProBlack/dinpro-black.woff2') format('woff2'), url('../fonts/DINProBlack/dinpro-black.woff') format('woff'), url('../fonts/DINProBlack/dinpro-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
a {
    background-color: transparent;
    text-decoration: none;
    outline: none;
    color: inherit;
}
a:active, a:hover {
    outline: 0;
}
img {
    border: 0;
}
button, html input[type='button'] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type='reset'], input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 3px;
}
@media (min-width: 768px) {
    .container {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
            text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
    /* 1 */
    text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}
.slider {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}
/* ONLY FOR IE11 */
/* ONLY FOR EDGE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
li {
    list-style-type: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.btn {
    height: 49px;
    padding: 0 50px;
    background: #cfad38;
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
    font-size: 19px;
    font-family: 'DIN', sans-serif;
    font-weight: 700;
    color: #1a1c20;
    -webkit-transition: background-color 0.3s linear;
         -o-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;
}
.btn:hover {
    background: #ab8e29;
}
.btn-white {
    height: 49px;
    padding: 0 50px;
    background-image: -webkit-linear-gradient(90deg, #999 0%, #fbfdff 66%, #fff 100%);
    background-image:     -ms-linear-gradient(90deg, #999 0%, #fbfdff 66%, #fff 100%);
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
    font-size: 19px;
    font-family: 'DIN', sans-serif;
    font-weight: 700;
    color: #1a1c20;
    -webkit-transition: -webkit-box-shadow 0.3s linear;
            transition: -webkit-box-shadow 0.3s linear;
         -o-transition:         box-shadow 0.3s linear;
            transition:         box-shadow 0.3s linear;
            transition:         box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}
.btn-white:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}
address {
    font-style: normal;
}
body {
    position: relative;
    z-index: 1;
    padding-right: 0 !important;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-family: 'DIN', sans-serif;
    background: #1a1c20;
}
.fancybox-margin {
    margin-right: 0 !important;
}
section {
    padding: 60px 0;
}
@media only screen and (min-width: 1200px) {
    section {
        padding: 80px 0;
    }
}
@media only screen and (min-width: 1600px) {
    section {
        padding: 100px 0;
    }
}
.section__title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #1a1c20;
}
::-webkit-input-placeholder {
    font-size: 16px;
}
::-moz-placeholder {
    font-size: 16px;
}
:-ms-input-placeholder {
    font-size: 16px;
}
:-moz-placeholder {
    font-size: 16px;
}
.header {
    position: relative;
    background: url(../images/hero-image.jpg) no-repeat center / cover;
    min-height: 920px;
    font-family: 'Roboto', sans-serif;
}
.header:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 540px;
    height: 540px;
    background: url(../images/decor/triangle-top-left.png) no-repeat;
}
.header:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 0;
    width: 950px;
    height: 375px;
    background: url(../images/decor/triangle-top.png) no-repeat;
}
.header__top {
    position: relative;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
}
.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__logo img {
    margin-right: 20px;
}
.header__link {
    margin-right: 25px;
}
.header__center {
    position: relative;
    padding-top: 240px;
    text-align: center;
    z-index: 10;
}
.header__title {
    font-size: 60px;
    font-weight: 700;
}
.header__desc {
    padding-top: 75px;
    font-size: 38px;
    color: #c8d1dc;
}
.header__end {
    padding-top: 180px;
}
.header .scrollLink {
    display: block;
    margin: 0 auto;
    -webkit-animation: growLine 3s infinite;
            animation: growLine 3s infinite;
}
.header .scrollLink:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.advantages {
    background: url(../images/advantages__back.jpg) no-repeat center / cover;
}
.advantages__title:before, .advantages__title:after {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    width: 77px;
    background: #afafaf;
}
.advantages__title:before {
    left: 250px;
}
.advantages__title:after {
    right: 250px;
}
.advantages__list {
    padding-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.advantages__item {
    text-align: center;
    color: #000;
}
.advantages .imgWrap {
    min-height: 240px;
}
.advantages .shdw {
    position: relative;
    z-index: 10;
}
.advantages .shdw:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.4);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.4);
}
.advantages img {
    position: relative;
    z-index: 10;
}
.advantages__titles {
    font-size: 20px;
    font-weight: 700;
}
.advantages__text {
    padding-top: 15px;
    max-width: 245px;
    color: #6c6d7d;
}
.project {
    position: relative;
    z-index: 10;
}
.project:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -155px;
    width: 224px;
    height: 469px;
    background: url(../images/decor/triangle-gray-left.png) no-repeat;
    z-index: 1;
}
.project:after {
    content: '';
    position: absolute;
    right: 240px;
    top: 0;
    width: 597px;
    height: 200px;
    background: url(../images/decor/triangle-gray.png) no-repeat;
    z-index: 1;
}
.project .container {
    position: relative;
    z-index: 10;
}
.project__title {
    color: #fff;
}
.project__title:before, .project__title:after {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    width: 77px;
    background: #7c7e80;
}
.project__title:before {
    left: 250px;
}
.project__title:after {
    right: 250px;
}
.project__box {
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.project .project__big img {
    width: 510px;
}
.project .project__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
}
.project .project__small a {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.project img {
    display: block;
    max-width: 100%;
    height: auto;
}
.project .btn {
    display: block;
    margin: 70px auto 0 auto;
}
.materials {
    position: relative;
    padding-bottom: 0;
    background: url(../images/catalog-white.jpg) no-repeat center / cover;
}
.materials:before {
    content: '';
    position: absolute;
    left: 0;
    top: 555px;
    width: 224px;
    height: 469px;
    background: url(../images/decor/triangle-yellow-left.png) no-repeat;
    z-index: 1;
}
.materials:after {
    content: '';
    position: absolute;
    right: 150px;
    top: 0;
    width: 597px;
    height: 200px;
    background: url(../images/decor/triangle-gray.png) no-repeat;
    z-index: 1;
}
.materials .container {
    position: relative;
    z-index: 10;
}
.materials__title:before, .materials__title:after {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    width: 40px;
    background: #898989;
}
.materials__title:before {
    left: 180px;
}
.materials__title:after {
    right: 180px;
}
.materials-leather {
    position: relative;
    padding-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
    .materials-leather {
        padding-bottom: 80px;
    }
}
@media only screen and (min-width: 1600px) {
    .materials-leather {
        padding-bottom: 100px;
    }
}
.materials-alcantara {
    padding-top: 80px;
    position: relative;
    background: #1a1c20;
    padding-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
    .materials-alcantara {
        padding-bottom: 80px;
    }
}
@media only screen and (min-width: 1600px) {
    .materials-alcantara {
        padding-bottom: 100px;
    }
}
.materials-alcantara:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 224px;
    height: 469px;
    background: url(../images/decor/triangle-gray-left.png) no-repeat;
    z-index: 1;
}
.materials-alcantara:after {
    content: '';
    position: absolute;
    right: 150px;
    top: 0;
    width: 624px;
    height: 206px;
    background: url(../images/decor/triangle-yellow.png) no-repeat;
    z-index: 1;
}
.materials-alcantara .materials__title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #fff;
}
.materials-alcantara .materials__title:before, .materials-alcantara .materials__title:after {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    width: 40px;
    background: #898989;
}
.materials-alcantara .materials__title:before {
    left: 750px;
}
.materials-alcantara .materials__title:after {
    right: 750px;
}
.materials-alcantara .price, .materials-alcantara .article__title {
    color: #fff;
}
.materials-alcantara .box__color {
    padding-left: 33px;
}
.materials-alcantara .box__photo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
.materials-alcantara .box__photo .imgWrap {
    position: relative;
}
.materials-alcantara .box__photo .imgWrap:before {
    left: -55px;
}
.materials-alcantara .slick-prev {
    left: 417px;
}
.article__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 90px;
}
.article__title {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #010101;
}
.box__color {
    padding-top: 42px;
    width: 610px;
}
.leather__item {
    margin-bottom: 16px;
}
.leather__item .imgWrap {
    position: relative;
}
.leather__item .imgWrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 127px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s linear;
         -o-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;
}
.leather__item .imgWrap:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-75%, -50%);
        -ms-transform: translate(-75%, -50%);
            transform: translate(-75%, -50%);
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
    width: 54px;
    height: 54px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}
.leather__item .imgWrap:hover:before {
    background: rgba(0, 0, 0, 0.65);
}
.leather__item .imgWrap:hover:after {
    opacity: 1;
}
.leather__item img {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0 8px 20px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 8px 20px 1.26px rgba(0, 0, 0, 0.27);
}
.box__photo .imgWrap {
    position: relative;
}
.box__photo .imgWrap:before {
    content: '';
    position: absolute;
    top: 55px;
    left: 55px;
    width: 100%;
    height: 100%;
    background: #cfad38;
    z-index: -1;
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
}
.box__photo .imgWrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s linear;
         -o-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;
    z-index: 10;
}
.box__photo .imgWrap:hover {
    cursor: pointer;
}
.box__photo .imgWrap:hover:after {
    background: rgba(0, 0, 0, 0.65);
}
.box__photo .imgWrap:hover .textHover {
    opacity: 1;
}
.box__photo img {
    display: block;
    max-width: 100%;
    height: auto;
}
.box__photo .textHover {
    position: absolute;
    opacity: 0;
    top: 30px;
    left: 20px;
    right: 20px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    font-size: 22px;
    z-index: 11;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
}
.price {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #010101;
}
.present {
    background: #cfad38;
}
.present__box {
    width: 450px;
}
.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;
}
@media only screen and (min-width: 320px) {
    .remodal-first {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first {
        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0;
        background: url('../images/form.png') no-repeat top center;
        padding: 120px 0 0 109px;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-first .remodal-close {
        color: #000 !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first .remodal-close {
        color: #fff !important;
    }
}
.remodal-first:before {
    display: none;
}
.btn-remodal {
    margin: 30px 0 0 15px;
}
.remodal-close {
    top: 12px !important;
    right: 15px !important;
    color: #fff !important;
    font-weight: 900;
}
@media only screen and (min-width: 320px) {
    .remodal-close {
        width: 10px !important;
        height: 16px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close {
        width: 35px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-close:before {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close:before {
        font-size: 50px !important;
        top: 0 !important;
        left: 0 !important;
    }
}
.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;
}
@media only screen and (min-width: 320px) {
    .remodal-common {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-common {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
}
.remodal-common .remodal-close {
    color: #000 !important;
}
.error-input {
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;
    margin: 0 auto;
    text-align: center;
}
#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
label {
    position: absolute;
    top: 0;
    border: 0;
    font-size: 0 !important;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.formBox {
    position: relative;
    background: #fff;
    padding: 30px 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
.formBox .form__line {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 7px;
    border: none!important;
    outline: none;
    font-size: 18px;
}
.formBox .btn {
    margin: 15px 0 5px 0;
    color: #fff;
}
.formBox .btn:hover {
    color: #000;
}
.video {
    max-width: 780px;
}
.video iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}
@-webkit-keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes growLine {
    0% {
        height: 0;
    }
    100% {
        height: 111px;
    }
}
@keyframes growLine {
    0% {
        height: 0;
    }
    100% {
        height: 111px;
    }
}
.slick-prev, .slick-next {
    width: 50px;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
    z-index: 10;
}
.slick-prev {
    bottom: -55px;
    left: 450px;
    width: 61px;
    height: 37px;
    background: url('../images/icons/css_sprites.png') -84px -10px;
}
.slick-next {
    bottom: -55px;
    right: 30px;
    width: 61px;
    height: 37px;
    background: url('../images/icons/css_sprites.png') -84px -67px;
}
.slick-prev:before, .slick-next:before {
    width: 0;
    height: 0;
}
.slick-dots {
    display: inline-block !important;
    left: -48px;
    top: 50%;
    -webkit-transform: translateY(17%);
        -ms-transform: translateY(17%);
            transform: translateY(17%);
    -webkit-border-image: transparent;
         -o-border-image: transparent;
            border-image: transparent;
}
.slick-dots li {
    margin: 4px 8px;
    margin-bottom: 10px;
    width: 13px;
    height: 13px;
}
.slick-dots li button {
    background: #fff;
    display: block;
    height: 13px;
    width: 13px;
    font-size: 0;
    color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 7px 1px rgba(0, 45, 86, 0.15);
            box-shadow: 0 5px 7px 1px rgba(0, 45, 86, 0.15);
    opacity: 0.75;
}
.slick-dots li button:before {
    font-size: 0;
    opacity: 0;
    display: none;
}
.slick-dots li.slick-active button {
    background: #fb0035;
    border-radius: 50%;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .slick-dots li.slick-active button {
        background: #fff;
    }
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
.bg-arrow {
    width: 18px;
    height: 111px;
    background: url('../images/icons/css_sprites.png') -10px -84px;
}
.bg-arrow_left {
    width: 61px;
    height: 37px;
    background: url('../images/icons/css_sprites.png') -84px -10px;
}
.bg-arrow_right {
    width: 61px;
    height: 37px;
    background: url('../images/icons/css_sprites.png') -84px -67px;
}
.bg-loop {
    width: 54px;
    height: 54px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}
.bg-mail {
    width: 16px;
    height: 11px;
    background: url('../images/icons/css_sprites.png') -119px -124px;
}
.bg-phone {
    width: 15px;
    height: 15px;
    background: url('../images/icons/css_sprites.png') -84px -124px;
}
.bg-user {
    width: 12px;
    height: 16px;
    background: url('../images/icons/css_sprites.png') -84px -159px;
}
/*# sourceMappingURL=style.css.map */
