@dir: 						    	"../images/";
@dir-fonts: 				  		"../fonts/";

@html-size-base: 					10px;

/* @fs: 						      	1.6rem;
@fss: 						    	2rem;
@fsb: 						    	1.6rem;


@h1: 						      	4rem;
@h2: 						      	3rem;
@h3: 						      	2rem;
@h4: 						      	2rem;
@h5: 						      	2rem;
@h6: 						      	2rem; */


@fs: 						      	22px;
@lh: 						      	1.2;

@ff1: 								'Roboto', sans-serif;
@ff2: 								'Helios', sans-serif;

@black: 							#2b2b2b;
@grey: 								#2b2b2b;
@lime:                              #89ff00;

@text-color: 						@black;
@text-margin: 						0 0 0rem;

@mobile:      ~"only screen and (min-width: 320px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:  ~"only screen and (min-width: 1920px)";


/* @desktop-xl-special:  ~"only screen and (min-width: 1344px)"; */

@font-face {
	font-family: 'Roboto';
	src:  url('../fonts/RobotoBold/roboto-bold.woff2') format('woff2'),
		  url('../fonts/RobotoBold/roboto-bold.woff') format('woff'), 
		  url('../fonts/RobotoBold/roboto-bold.ttf') format('truetype'); 

	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:  url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff2'),
		  url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'); 

	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:  url('../fonts/RobotoThin/roboto-thin.woff2') format('woff2'),
		  url('../fonts/RobotoThin/roboto-thin.woff') format('woff'), 
		  url('../fonts/RobotoThin/roboto-thin.ttf') format('truetype'); 

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helios';
	src:  url('../fonts/HeliosCondCBold/helioscondc-bold.woff2') format('woff2'),
		  url('../fonts/HeliosCondCBold/helioscondc-bold.woff') format('woff'), 
		  url('../fonts/HeliosCondCBold/helioscondc-bold.ttf') format('truetype'); 

	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helios';
	src:  url('../fonts/HeliosCondCRegular/helios-black-regular.woff2') format('woff2'),
		  url('../fonts/HeliosCondCRegular/helios-black-regular.woff') format('woff'), 
		  url('../fonts/HeliosCondCRegular/helios-black-regular.ttf') format('truetype'); 

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helios';
	src:  url('../fonts/HeliosCondCLight/helioscondlight.woff2') format('woff2'),
		  url('../fonts/HeliosCondCLight/helioscondlight.woff') format('woff'), 
		  url('../fonts/HeliosCondCLight/helioscondlight.ttf') format('truetype'); 

	font-weight: 300;
	font-style: normal;
}

input {
	border: none;
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic'); */





