::-webkit-input-placeholder { 
	font-family: @ff2;
	font-size: 22px;
	font-weight: 300;
}
::-moz-placeholder { 
	font-family: @ff2;
	font-size: 22px;
	font-weight: 300;
}
:-ms-input-placeholder { 
	font-family: @ff2;
	font-size: 22px;
	font-weight: 300;
}
:-moz-placeholder {
	font-family: @ff2;
	font-size: 22px;
	font-weight: 300;
}