
.header {
	position: relative;
	background: url(../images/header.jpg)no-repeat center/cover;
	@media @mobile {
		min-height: 100vh;
	}
	@media @tablet {
		min-height: 600px;
	}
	@media @desktop {
		min-height: 950px;
	}
}

.top-header {
	position: relative;
	padding: 20px 0;
	.container {
		position: relative;
	}
	&__list {
		@media @mobile {
			margin-top: 15px;
			text-align: center;
		}
		@media @tablet {
			margin-top: auto;
			text-align: right;
		}
		@media @desktop {
			padding-right: 15px;
		}
		@media @desktop-xl {
			padding-right: 0;
		}
	}
	.logo__img {
		display: block;
		margin: auto;
	}
	&__item {
		color: #fff;
		@media @mobile {
			display: block;
			margin-bottom: 5px;
		}
		@media @tablet {
			display: inline-block;

		}
	}
	&__link {
		font-weight: 400;
		font-size: 20px;
		transition: color .3s ease;
		&:hover {
			color: @lime;
		}
	}
	&__btn {
		margin-left: 15px;
		text-transform: uppercase;
	}
}

.center-header {
	padding-bottom: 60px;
	position: relative;
	@media @tablet {
		padding-top: 20px;
	}
	@media @desktop-xl-2 {
		padding-top: 80px;
	}
	.container-fluid {
		position: relative;

		@media @desktop {
			min-width: 100%;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);  
				width: 950px;
				height: 610px;
				background: url(../images/border.png) no-repeat;
				background-size: contain;
			}
		}

		@media @desktop-xl {
			min-width: 1200px;
			&:before {
				width: 1140px;
			}
		}

		@media @desktop-xl-2 {
			min-width: 1400px;
			&:before {
				width: 1340px;
			}
		} 
	}
	&__title {
		font-family: @ff2;
		line-height: 1;
		letter-spacing: .3px;
		text-transform: uppercase;
		color: @lime;

		@media @mobile {
			padding-top: 30px;
			font-size: 50px;
			text-align: center;
		}
		@media @tablet {
			padding-top: 20px;
			font-size: 70px;
		}

		@media @desktop {
			padding-top: 47px;
			padding-left: 30px;
			text-align: left;
			font-size: 78px;
		}
		@media @desktop-xl {
			padding-top: 50px;
			padding-left: 17px;
			font-size: 98px;
		}
		@media @desktop-xl-2 {
			padding-top: 62px;
			font-size: 112px;
		}
	}
	&__slogan {
		font-size: 36px;
		font-family: @ff2;
		font-weight: 700;
		
		@media @mobile {
			margin: auto;
			width: 290px;
			font-size: 30px;
			line-height: 1.2;
			text-align: center;
		}
		@media @tablet {
			font-size: 30px;
			margin-top: -20px;
		}

		@media @desktop {
			padding-left: 30px;
			margin-top: -40px;
			margin-left: 0;
			width: 500px;
			text-align: left;
			font-size: 36px;
			line-height: 1;
		}

		@media @desktop-xl {
			padding-left: 17px;
			margin-top: -60px;
			width: 550px;
		}

		@media @desktop-xl-2 {
			width: 580px;
		}
	}
	&__img {
		display: block;
		animation: astro-bounce 5s infinite ease-in-out;   
		&:hover {
			animation-play-state: paused;
		}

		@media @mobile {
			display: none;
		}
		@media @tablet {
			display: block;
			position: inherit;
			margin-left: 25px;
			max-width: 350px;
		}

		@media @desktop {
			margin-left: 10%;
			max-width: 450px;

		}
		@media @desktop-xl {
			margin-left: 10%;
			max-width: 550px;

		}
		@media @desktop-xl-2 {
			margin-left: 250px;
			max-width: 100%;
		}
	}
}

