@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
	
}



.step {
	position: relative;
	background: #fff;
	&:before {
		content: '';
		position: absolute;
		top: -20px;
		left: 0;
		height: 20px;
		width: 100%;
		box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
	}
	&__title-hide {
		@media @mobile {
			font-size: 43px;
			font-family: @ff2;
			font-weight: 700;
			letter-spacing: .3px;
			text-align: center;
			text-transform: uppercase;
		}
		@media @tablet {
			display: none;
		}
	}
	&__list {
		max-width: 700px;
		margin: auto;
		@media @tablet {
			padding-top: 40px;
		}
	}
	&__item {
		position: relative;
		margin-bottom: 30px;
		font-size: 22px;
		font-weight: 400;
		color: #000;
		counter-increment: li;
		transition: all .5s ease;
		@media @mobile {
			padding-left: 40px;
		}
		@media @tablet {
			padding-left: 70px;
		}
		&:before {
			@media @mobile {
				display: inline-block;
				content: '' counter(li);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-family: @ff2;
				font-size: 50px;
				font-weight: 700;
				line-height: 0.7;
				color: #000;
				z-index: 1;
			}
			@media @tablet {
				font-size: 86px;
				color: #fff;
			}

		}
		&:after {

			@media @tablet {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%) rotate(45deg);
				width: 45px;
				height: 45px;
				background: @lime;
				z-index: 0;
				transition: all .5s ease;
			}
		}
		&:hover {
			&:after {
				top: 34px;
				left: -7px;
				width: 55px;
				height: 55px;
			}
		}
	}

	.glitch {
		@media @mobile {
			display: none;
		}
		@media @tablet {
			display: block;
			position: relative;
			margin: 0 auto;
			font-size: 43px;
			font-family: @ff2;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			width: 284px;
			color: #000;
			&:before {
				content: attr(data-text);
				position: absolute;
				left: 0px;
				/* 	text-shadow: 1px 0 blue; */
				top: 0;
				color: #000;
				background: #fff;
				overflow: hidden;
				clip: rect(0, 900px, 0, 0);
				animation: noise-anim 9s infinite linear alternate-reverse;
			}
		}
		
	}
}






@keyframes noise-anim {
	0% {
		clip: rect(43px, 9999px, 21px, 0);
	}
	5% {
		clip: rect(9px, 9999px, 38px, 0);
	}
	10% {
		clip: rect(39px, 9999px, 11px, 0);
	}
	15% {
		clip: rect(32px, 9999px, 41px, 0);
	}
	20% {
		clip: rect(35px, 9999px, 15px, 0);
	}
	25% {
		clip: rect(43px, 9999px, 11px, 0);
	}
	30% {
		clip: rect(37px, 9999px, 41px, 0);
	}
	35% {
		clip: rect(13px, 9999px, 40px, 0);
	}
	40% {
		clip: rect(14px, 9999px, 43px, 0);
	}
	45% {
		clip: rect(28px, 9999px, 1px, 0);
	}
	50% {
		clip: rect(43px, 9999px, 3px, 0);
	}
	55% {
		clip: rect(10px, 9999px, 41px, 0);
	}
	60% {
		clip: rect(2px, 9999px, 36px, 0);
	}
	65% {
		clip: rect(24px, 9999px, 20px, 0);
	}
	70% {
		clip: rect(14px, 9999px, 43px, 0);
	}
	75% {
		clip: rect(30px, 9999px, 24px, 0);
	}
	80% {
		clip: rect(1px, 9999px, 43px, 0);
	}
	85% {
		clip: rect(39px, 9999px, 19px, 0);
	}
	90% {
		clip: rect(15px, 9999px, 43px, 0);
	}
	95% {
		clip: rect(17px, 9999px, 39px, 0);
	}
	100% {
		clip: rect(19px, 9999px, 39px, 0);
	}
}
