@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
	
}


.contacts {
	position: relative;
	overflow: hidden;
	&:before {	
		height: 20px;
		width: 100%;
		box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
		z-index: 1;
		@media @mobile {
			position: relative;
		}
		@media @tablet {
			position: absolute;
			content: '';
			top: -20px;
			left: 0;
		}
	}
	.container {
		position: relative;
	}
	.map {
		min-height: 500px;
		width: 100%;
	}
	iframe {
		frameborder: 0;
		border: 0;
	}
	.questions {
		padding: 60px 25px;
		min-height: 430px;
		margin: auto;
		background: rgba(0, 0, 0, .5);
		color: #fff;
		@media @mobile {
			position: relative;
			width: 100%;
			text-align: center;
		}
		@media @tablet {
			position: absolute;
			top: -500px;
			right: 0;
			width: 320px;
			text-align: left;
		}
		&__title {
			margin: 0;
			font-size: 43px;
			font-family: @ff2;
			font-weight: 700;
			letter-spacing: .3px;
		}
		&__adress {
			font-style: normal;
			margin-bottom: 5px;
		}
	}
	.contact__item {
		font-size: 20px;
		font-family: @ff2;
		font-weight: 300;
	}
	.ask {
		padding: 5px 0;
		font-size: 25px;
		font-family: @ff2;
		font-weight: 700;
		letter-spacing: .3px;
	}
	.text {
		padding: 5px 0;
		font-size: 20px;
		font-family: @ff2;
		font-weight: 300;
	}
	.btn__callback {
		display: block;
		width: 220px;
		padding: 10px;
		background: @lime;
		border: none;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		transition: background-color .3s ease;
		color: #000;
		text-align: center;
		@media @mobile {
			margin: 20px auto;
		}
		@media @tablet {
			margin: 20px 0;
		}
		&:hover{
			background: #fff;
		}
	}
}


