@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
	
}


.footer {
	padding: 20px 0;
	background: #fff;
	font-size: 22px;
	letter-spacing: .3px;
	color: #000;
	vertical-align: middle;
	@media @mobile {
		text-align: center;
	}
	@media @tablet {
		text-align: left;
	}
	.logo__img {
		padding-top: 5px;
	}
	&__text {
		font-weight: 300;
		color: #000;
		@media @mobile {

		}
		@media @tablet {

		}
		&-slogan {
			font-family: @ff2;
			font-weight: 300;
			color: #000;
			@media @mobile {
				padding-top: 15px;
			}
			@media @tablet {
				padding-top: inherit;
			}
		}
	}
	.agency {
		text-transform: uppercase;
		@media @mobile {
			padding-top: 20px;
			text-align: center;
		}
		@media @tablet {
			padding-top: inherit;
			text-align: right;
		}
	}
}



