/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1200px) {
  .about .flex__wrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .about__content {
    padding: 10% 0 10% 20px;
    text-align: left;
    width: 100%; }
  .question__item {
    padding-left: 100px; }
    .question__item:before {
      left: 0px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 960px) {
  .question {
    background-image: -webkit-linear-gradient(85deg, #f2f2f2 50%, #fff 50%); }
    .question__item {
      -webkit-flex-basis: 600px;
          -ms-flex-preferred-size: 600px;
              flex-basis: 600px;
      padding-bottom: 40px; }
    .question__item:nth-child(2n) {
      padding-top: 0;
      padding-left: 100px; }
      .question__item:nth-child(2n):before {
        left: 0;
        top: 0; }
  .choice {
    padding-top: 40px; }
    .choice__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-basis: 600px;
          -ms-flex-preferred-size: 600px;
              flex-basis: 600px;
      padding-bottom: 40px; }
      .choice__item svg {
        width: 90px; }
    .choice__item:nth-child(2n) {
      padding-top: 0; }
  .order {
    padding-left: 0; }
  .callback {
    padding-left: 100px; } }

@media only screen and (max-width: 775px) {
  .header {
    padding-top: 0; }
    .header__wrap {
      background-position: 100%; }
    .header .slogan {
      width: 50%; }
    .header .contact {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .header .contact__btn {
        margin: auto;
        margin-bottom: 30px; }
      .header .contact__link {
        padding-bottom: 30px; }
  .about img {
    display: block;
    width: 100%;
    height: 100%; }
  .about .flex__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .about__content {
    padding: 10% 0;
    width: 100%;
    text-align: center; }
  .about svg {
    width: 300px; }
  .comment .owl-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .comment .owl__img {
    padding: 0 15px;
    max-height: 350px;
    max-width: 300px; }
  .comment .owl__content {
    padding: 0 10px; }
  .comment .comments__controls .owl-prev i {
    right: 50%; }
  .comment .comments__controls .owl-next i {
    right: 30%; }
  .publication {
    padding: 0;
    background-image: -webkit-linear-gradient(#fff 50%, #f2f2f2 50%); }
    .publication__carousel {
      padding: 60px 0; }
    .publication__content {
      width: 100%; }
    .publication .publication__controls .owl-prev2 i {
      right: 25%; }
    .publication .publication__controls .owl-next2 i {
      right: 5%; }
  .callback {
    padding-bottom: 10%;
    padding-left: 0; }
  .line {
    width: 300px; }
  .header-order {
    padding-top: 0; }
    .header-order iframe {
      width: 440px;
      height: 247.5px; }
    .header-order .contact {
      text-align: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto; }
      .header-order .contact__text {
        padding-left: 10px;
        text-align: left; }
      .header-order .contact__link {
        padding-bottom: 30px; }
  .picture {
    height: auto; }
    .picture__text {
      padding: 20% 15px;
      font-size: 2.5rem; }
  .gallery__content {
    padding: 30px 0;
    font-size: 1.25rem; }
  .gallery__text {
    padding-bottom: 20px; }
  .gallery__list {
    padding: 0; }
  .gallery__item {
    margin-bottom: 30px;
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px; }
  .order__text {
    font-size: 1.875rem; }
  .order__bonus {
    padding: 15px 0 50px 0;
    width: 70%; }
  .order form .form-line {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 25px; }
  .order form .form-button {
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 550px) {
  .header .slogan {
    width: 80%;
    font-size: 1.875rem; }
  .header .contact {
    padding-top: 20vh; }
    .header .contact__link {
      -webkit-flex-basis: 300px;
          -ms-flex-preferred-size: 300px;
              flex-basis: 300px;
      width: 100%;
      margin: auto; }
  .mission__list {
    padding-top: 50px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .mission__item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    position: relative;
    padding-bottom: 20px; }
    .mission__item:before {
      display: none; }
    .mission__item span {
      position: relative; }
  .mission__btn {
    margin: 0;
    padding: 15px 40px; }
  .mission svg {
    display: none; }
  .callback {
    padding-bottom: 10%;
    color: #333; }
    .callback__text {
      font-family: "GothamProMedium";
      font-size: 1.875rem; }
    .callback__ask {
      padding-top: 50px;
      width: 100%; }
    .callback__text {
      font-size: 1.5rem; }
    .callback form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .callback .form-line {
      display: inherit;
      width: 100%;
      margin-bottom: 25px;
      text-align: center; }
    .callback .form-button {
      display: inline-block;
      width: 100%;
      padding: 20px 50px;
      -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.4);
              box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.4); }
  .header-order {
    min-height: 600px; }
    .header-order iframe {
      width: 400px;
      height: 225px; }
    .header-order .contact {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-order .contact__link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: auto; }
  .section__title-order {
    padding: 0;
    font-size: 1.875rem; }
  .section__title-choice {
    padding-top: 40px; }
  .question {
    background-image: -webkit-linear-gradient(90deg, #f2f2f2 54%, #fff 30%); }
    .question__list {
      padding-top: 40px; }
    .question__item {
      padding-left: 50px;
      padding-bottom: 20px;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto; }
      .question__item:before {
        top: -10px;
        left: -40px;
        padding: inherit;
        background: none;
        color: #000; }
      .question__item:first-child:before {
        top: -10px;
        left: -20px; }
    .question__item:nth-child(2n) {
      padding-left: 50px;
      padding-bottom: 20px; }
      .question__item:nth-child(2n):before {
        top: -10px;
        left: -40px; }
  .picture__text {
    padding: 15% 0;
    font-size: 2.5rem; }
  .order__bonus {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header .logo {
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 10vh; }
  .header .slogan {
    width: 100%;
    text-align: center;
    font-size: 1.625rem; }
  .header .wrapper {
    padding: 0; }
  .header .header__wrap {
    -webkit-background-size: cover;
            background-size: cover; }
    .header .header__wrap:before {
      background-color: rgba(0, 0, 0, 0.5); }
    .header .header__wrap .contact {
      padding-top: 10vh; }
  .header-order .logo {
    margin: 0 auto;
    padding-bottom: 10vh; }
  .header-order .slogan-order {
    width: 100%;
    font-size: 1.625rem; }
  .header-order iframe {
    width: 300px;
    height: 168.75px; }
  .question {
    background-image: -webkit-linear-gradient(90deg, #f2f2f2 58%, #fff 45%); }
  .order .firstName {
    display: block;
    text-align: center; }
  .order__text {
    text-align: justify;
    font-size: 1.875rem; } }

@media only screen and (max-width: 400px) {
  .order .timer__content {
    display: block; } }
