@import "_vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}  

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

	.services {
		&__title {
			width: 100%;
		}
	}
	.offer__form {
		&-line {
			width: 100%;
		}
		.right {
			float: none;
		}
	}
	.counters {
		.row {
			padding: 0 15px;
		}
		&__content {
			&-left:before{
				display: none;
			}
			&-right:before{
				display: none;
			}
		}
		&__wrapper {
			border: 1px solid #fff;
		}
	}
}  

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.menu {
		font-size: rem(20);
		&__logo {
			float: left;
			width: 20%;
			img {
				height: 80px;
			}
		}
		&__nav {

			float: right;
			width: 20%;
		}
		&__call {
			float: left;
			width: 60%;
			padding-top: 10px;
		}
	}

	.header__text {
		text-align: center;
		width: 100%;
	}
	/* BURGER */
	
	.navigation {
		float: none;
		padding-top: 60px;
		&__list {
			display: none;	
		}
		&__item{		
			&:hover {
				transition-duration: 0.5s;
			}
		}
		&__link {

		}
	}
	.burger {
		width: 52px;
		height: 52px;
		display: block;
		transition: all 0.6s ease-in-out;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-50%, 0);
	}
	.burger i {
		display: block;
		width: 40px;
		height: 2px;
		background: $orange;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
	.burger i:before, .burger i:after {
		content: '';
		position: absolute;
		height: 2px;
		background: $orange;
		width: 40px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
	.burger i:before {
		margin-top: -12px;
	}
	.burger i:after {
		margin-top: 12px;
	}
	.burger:hover i:before {
		margin-top: -14px;
	}
	.burger:hover i:after {
		margin-top: 14px;
	}
	.burger.active i {
		background: transparent;
	}
	.burger.active i:before, .burger.active i:after {
		left: -5px;
		width: 50px;
	}
	.burger.active i:before {
		transform: rotate(45deg);
		top: 12px;
	}
	.burger.active i:after {
		transform: rotate(-45deg);
		top: -12px;
	}
	.burger.active:hover i:before, .burger.active:hover i:after {
		width: 60px;
		margin: 0;
		left: -10px;
		top: 0;
	}

	.counters {
		.row {
			padding: 15px 0;
		}
		&__text {
			padding: 15px;
		}
		.counters__form {
			&-line {
				width: 45%;
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.section__title {
		font-size: 1.6rem;
		letter-spacing: 0;
	}
	.header__text {
		font-size: rem(30);
	}
	.services {
		&__items {
			padding-bottom: 25px;
		}
		&__title {
			width: 100%;
			padding-bottom: 0px;
		}
	}
	.counters {
		&__text-accent  {
			padding: 0 15px;
		}
		&__list {
			padding-left: 15px;
		}
		.counters__form {
			width: 90%;
		}
		.counters__content-flat {
			height: 500px;
		}
		&__wrapper img {
			max-width: 320px;
		}
	}
	.partners {

		&__img {
			max-width: 140px;
			max-height: 57px;
		}
	}


}


@media only screen and (max-width: 420px) {

	.services {
		&__col {
			width: 100%;
		}
	}

}

@media only screen and (max-width: 400px) {

	.services {
		&__col {
			width: 100%;
		}
	}

}