@media only screen and (max-width: 1024px) {
  .videoReview__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .videoReview__item {
    margin-bottom: 25px; }
  .videoReview__img {
    margin: auto; }
  .choiceUS__title {
    padding: 60px 0; }
  .form .flex__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-bottom: 50px; }
  .form__item {
    width: 50%;
    margin: 20px auto; }
  .form__list {
    margin-top: -100px; }
  .form .form__email .form-line {
    width: 50%;
    margin: 8px auto;
    padding: 15px 20px;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    text-align: center; }
  .form .form__email .form-button {
    width: 50%;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin: 10px auto; }
  .form__email-context .wrapper {
    padding: 0; }
  .form__email-context .email__context-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: auto; }
  .form__email-context .photo {
    background: url(../img/photo.jpg) 10% 15%;
    -webkit-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 660px; }
  .form__email-context .mail-box {
    padding-right: 15px;
    padding-left: 0;
    margin: auto; }
  .form__email-context .box__title {
    padding-top: 30px;
    font-size: 1.75rem; }
  .form__email-context .box__text {
    padding: 30px 0;
    font-size: 1.125rem; }
  .form__email-context .timer {
    padding-bottom: 30px; } }

@media only screen and (max-width: 900px) {
  .header__top {
    padding-top: 10px; }
  .header__contact .mobile {
    font-size: 1.25rem; }
  .header__center {
    padding-top: 60px; }
  .header__end {
    margin: 60px 0;
    font-size: 1.375rem; }
  .proposal {
    padding: 30px 15%; }
    .proposal .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .proposal__content {
      position: inherit;
      float: none;
      width: 100%;
      margin: 0 auto;
      padding: 40px 0;
      color: #fff; }
    .proposal__title {
      font-size: 1.625rem; }
    .proposal__text {
      padding-top: 15px;
      font-size: 1.375rem; }
    .proposal__form {
      text-align: center;
      position: inherit;
      top: auto;
      bottom: auto;
      left: auto;
      height: inherit;
      margin: 0 auto;
      padding: inherit;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      width: 320px; }
    .proposal img {
      margin-top: 25px; }
    .proposal .callback {
      margin: 0 auto;
      padding: 0;
      width: 300px; }
    .proposal .form-button {
      display: inline-block; }
  .about {
    padding: 30px 5%; }
    .about__title {
      font-size: 1.875rem; }
    .about .info {
      padding-bottom: 10px; }
      .about .info-term {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto; }
      .about .info-text {
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
        padding-left: 0;
        padding-right: 0; }
      .about .info-list {
        padding-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto; }
      .about .info__item {
        margin-bottom: 25px; }
        .about .info__item span {
          width: auto; }
  .videoReview__title {
    font-size: 1.625rem; }
  .videoReview__text {
    font-size: 1.25rem; }
  .header__page2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__page2__video {
    margin: 40px auto; }
    .header__page2__video iframe {
      width: 80%;
      height: 300px; }
  .details__item-img {
    width: 150px;
    height: 150px; }
  .header-order {
    background: url(../img/background_order.jpg) no-repeat 23% 0%; }
    .header-order .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header-order .header__text-order {
      padding-top: 150px;
      margin-bottom: 20px;
      width: 70%; }
    .header-order .header__video-order {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 70%;
      height: 350px; }
    .header-order .registration {
      padding-top: 10px;
      padding-bottom: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0;
      width: 70%; }
      .header-order .registration img {
        width: 120px; }
      .header-order .registration__text {
        text-align: center; }
    .header-order .form-button {
      margin: 5px auto; } }

@media only screen and (max-width: 768px) {
  .header__item {
    font-size: 1.125rem; }
  .header__center {
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.1875rem; }
  .header__end {
    margin: 60px 0;
    font-size: 1.125rem; }
  .about {
    background: #f3f3f3;
    text-align: center; }
    .about__title {
      padding-top: 40px;
      position: relative;
      font-family: "GothamProMedium";
      font-size: 2.5rem; }
      .about__title:before {
        display: inline-block;
        position: absolute;
        content: '';
        bottom: -10px;
        left: 50%;
        height: 2px;
        width: 20%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        background: #e97c2c;
        background: -webkit-linear-gradient(left, #e97c2c 0%, #de5065 100%);
        background: -webkit-gradient(linear, left top, right top, from(#e97c2c), to(#de5065));
        background: -o-linear-gradient(left, #e97c2c 0%, #de5065 100%);
        background: linear-gradient(to right, #e97c2c 0%, #de5065 100%); }
    .about .flex-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .about .info {
      padding-top: 30px;
      padding-bottom: 30px; }
  .mission__list {
    padding-bottom: 40px;
    width: 90%; }
  .mission__item {
    margin: 25px 0; }
    .mission__item:before {
      left: 50%; }
  .massMedia__title {
    font-size: 1.75rem; }
  .massMedia__list {
    padding: 40px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .massMedia__item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin-bottom: 15px; }
  .details__list {
    background: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .details__item {
    width: 30%; }
    .details__item-text {
      min-height: 90px;
      padding-bottom: 20px;
      text-align: center; }
    .details__item-img {
      width: 150px;
      height: 150px; }
  .details .top {
    width: 28%; }
  .details .center {
    width: 28%; }
  .details .end {
    margin-left: auto; }
  .gallery__title {
    padding: 25px 0;
    font-size: 1.75rem; }
  .gallery .list__item {
    padding: 10px; }
  .choiceUS__title {
    padding: 30px 0 0 0; }
  .form__item {
    width: 90%; }
  .form .form__attention {
    margin-bottom: 55px; }
  .form__list {
    margin-top: -50px; }
  .form__email-context .mail-box {
    padding: 15px; }
  .form__email-context .box__text {
    padding: 30px 0;
    font-size: 1.125rem; }
  .form__email-context .form-line {
    margin-right: 0; }
  .form__email-context .form-button {
    margin-right: 5px; }
  .form__email-context .timer {
    padding-bottom: 30px; }
  .header-order {
    background: url(../img/background_order.jpg) no-repeat 72%; }
    .header-order .wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .header-order .header__text-order {
      padding-top: 100px;
      margin-bottom: 20px;
      width: 100%;
      text-align: right; }
    .header-order .header__video-order {
      width: 100%;
      height: 300px; }
    .header-order .registration {
      width: 100%; }
      .header-order .registration img {
        width: 80px; }
      .header-order .registration__text {
        text-align: center; }
      .header-order .registration .form-line {
        text-align: center; }
  .bonus__thank {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bonus__thank .bonus__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 10% 0;
      border: none; } }

@media only screen and (max-width: 480px) {
  .header .wrapper {
    padding: 5px; }
  .header__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header__item {
    font-size: 1.125rem; }
  .header__contact .mobile {
    text-align: right;
    font-size: 1.125rem; }
  .header__center {
    padding-top: 60px;
    font-size: 1.625rem; }
  .about {
    padding: 60px 15px; }
    .about__title {
      padding-top: 0;
      font-size: 1.75rem; }
    .about .info-term {
      padding: auto;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto; }
    .about .info-text {
      padding: auto;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto; }
    .about .info__item {
      margin: auto;
      padding-bottom: 15px; }
      .about .info__item span {
        width: 100%;
        text-align: center; }
  .videoReview__title {
    font-size: 1.75rem; }
  .videoReview__text {
    font-size: 1.125rem; }
  .pressList {
    padding: 30px 0;
    padding-bottom: 30px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .pressList .left {
      position: relative;
      top: 0;
      left: 0;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      margin-bottom: 15px; }
    .pressList .right {
      position: relative;
      top: 0;
      right: 0;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0); }
    .pressList img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto; }
  .proposal {
    padding: 20px 15px; }
    .proposal__form {
      width: 100%; }
    .proposal img {
      margin-top: 25px; }
    .proposal .callback {
      margin: 0 auto;
      padding: 0;
      width: 100%; }
    .proposal .form-line {
      width: 220px; }
    .proposal .form-button {
      text-align: center;
      display: inline-block;
      width: 220px;
      padding-left: 0;
      padding-right: 0; }
  .details__title {
    padding: 40px 0;
    font-size: 1.375rem; }
  .details__list {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .details__item {
    width: 100%; }
    .details__item-text {
      min-height: auto;
      padding-bottom: 20px; }
  .details .top {
    width: 100%; }
  .details .center {
    width: 100%; }
  .details .end {
    margin-left: 0; }
  .choiceUS__title {
    padding: 20px 0;
    font-size: 1.375rem; }
  .form__item {
    width: 95%; }
    .form__item-title {
      font-size: 1.375rem; }
  .form .form__attention {
    margin-top: 50px;
    margin-bottom: 80px; }
  .form__list {
    margin-top: -50px; }
  .form .form__email .form-line {
    width: 95%; }
  .form .form__email .form-button {
    width: 95%; }
  .form .form__email p {
    font-size: 1.375rem; }
  .form__email-context .photo {
    background: url(../img/photo.jpg) 10% 40%;
    -webkit-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 450px; }
  .form__email-context .box__text {
    padding: 20px 0; }
  .form__email-context .box__title {
    font-size: 1.625rem;
    line-height: 30px; }
  .form__email-context .form-line {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%; }
  .form__email-context .form-button {
    margin-right: 5px;
    width: 100%; }
  .form__email-context .timer {
    padding-bottom: 30px; }
  .footer__item {
    line-height: 20px; }
  .header-order {
    background: none; }
    .header-order .wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header-order .header__text-order {
      padding-top: 80px;
      margin-bottom: 20px;
      text-align: center; }
    .header-order .registration {
      width: 100%; }
      .header-order .registration img {
        width: 80px; }
      .header-order .registration__text {
        text-align: center; }
      .header-order .registration .form-line {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        padding: 8px 0;
        width: 300px; }
      .header-order .registration .form-button {
        width: 300px; }
  .header-thank {
    height: 180px; }
    .header-thank .invite__title {
      padding: 35px 0;
      font-size: 1.875rem; }
    .header-thank:before {
      height: 180px; } }
