@import "_vars";
@import "_mixin and function";


.requirements {
	position: relative;
	margin: auto;
	background: url(../img/requirements.jpg) center center/cover;
	.wrapper {
		overflow: hidden;
	}
	&__title {
		position: relative;
		text-align: center;
		font-size: rem(48);
		&:before {
			content: '';
			position: absolute;
			top: 22px;
			left: -40px;
			width: 216px;
			height: 9px;
			background: url(../img/line_left.png) no-repeat;
		}
		&:after {
			content: '';
			position: absolute;
			top: 22px;
			right: -40px;
			width: 216px;
			height: 9px;
			background: url(../img/line_rightt.png) no-repeat;
		}
	}
	&__boxes {
		display: flex;
		justify-content: space-between;
		margin: 50px auto 0 auto;
	}
	.box {
		width: 32%;
		&__img {
			height: 185px;
		}
		&__content {
			position: relative;
			padding: 30px;
			background: #fff;
			min-height: 300px;
			&:before {
				content: '';
				position: absolute;
				width: 261px;
				height: 13px;
				top: -5px;
				left: 25px;			
				background: url(../img/line_both.png)no-repeat;
				z-index: 10;
			}

		}
		&__title {
			padding: 5px 0 12px 0;
			font-family: "Enigmatic";
			font-weight: 500;
			font-size: rem(18);
			text-transform: uppercase;
			color: #2e3135;
		}
		&__text {
			font-size: rem(15);
			color: #706f70;
		}
	}
	.box .box__img {
		background: url(../img/quality.jpg)no-repeat center/cover;
	}
	.box:nth-child(2) .box__img {
		background: url(../img/price.jpg)no-repeat 80% 50%;
	}
	.box:nth-child(3) .box__img {
		background: url(../img/silence.jpg)no-repeat right center;
	}
}


// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) { 


	.requirements {
		&__title {
			font-size: rem(36);
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		.box {
			&__content {
				padding: 30px 15px;
				&:before {
					max-width: 210px;
					left: 50%;
					transform: translateX(-50%);			
					background-size: contain;
				}
			}
			&__title {
				text-align: center;
			}
		}
	}


}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) { 

	.requirements {
		&__title {
			font-size: rem(40);
		}
		&__boxes {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.box {
			width: 400px;
			margin-bottom: 30px;
			&__content {
				position: relative;
				background: #fff;
				min-height: auto;
				&:before {
					display: none;
				}
			}
			&__title {
				font-size: rem(20);
			}
			&__text {
				font-size: rem(16);
			}
		}
	}





}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) { 

	.requirements {
		&__title {
			font-size: rem(36);
		}
		.box {
			width: 290px;
		}
	}


}