@import "_vars";
@import "_mixin and function";


.review {
	padding-top: 50px;
	padding-bottom: 18px;
	&__title {
		position: relative;
		text-align: center;
		font-size: rem(36);
		letter-spacing: 1.7px;
		&:before {
			content: '';
			position: absolute;
			top: 20px;
			left: -20px;
			width: 216px;
			height: 9px;
			background: url(../img/line_left.png) no-repeat;
		}
		&:after {
			content: '';
			position: absolute;
			top: 20px;
			right: -20px;
			width: 216px;
			height: 9px;
			background: url(../img/line_rightt.png) no-repeat;
		}
	}
	&__slider {
		margin: 60px;
	}
	.slide {
		display: flex;
		&__img {
			width: 40%;
			margin-right: 20px;
		}
		&__content {
			position: relative;
			width: 60%;
			padding-left: 40px;
			padding-top: 20px;
			padding-bottom: 20px;
			color: #706f70;
		}
		&__client {
			display: flex;
			align-items: center;
			padding-bottom: 25px;
		}
		.client-photo {
			width: 70px;
			height: 70px;
			background: url(../img/review-photo-client.jpg)no-repeat 0% 0%;
		}
		.client-info {
			margin-left: 25px;
			.name {
				font-family: "Enigmatic";
				font-weight: 500;
				font-size: rem(18);
				color: #2e3135;
				text-transform: uppercase;
			}
		}
		.review-text {
			font-size: rem(15);
			padding: 5px 0;
		}
	}

	/* DOTS  STYLE */

	.slick-dotted.slick-slider {
		margin-bottom: 55px;
	}
	.slick-dots {
		bottom: -20px;
	}
	.slick-dots li {
		margin: 0 1px;
		height: 15px;
		width: 15px;
	}

	.slick-dots li button:before {
		color: transparent;
		width: 12px;
		height: 12px;
		font-size: 0px;
		line-height: 1; 
		background: #fff;
		border: 1px solid #b8b8b8;
		border-radius: 50%;
		opacity: 1;
	}
	.slick-dots li.slick-active button:before {
		background: #1a46a8;
		transform: scale(1.2);
	}

	/* ARROW STYLE */


	.slick-prev {
		top: 90px;
		left: -60px; 
	}
	[dir="rtl"] .slick-prev {
		left: auto;
		right: -60px; 
	}
	.slick-prev:before {
		content: "\f104";
	}
	[dir="rtl"] .slick-prev:before {
		content: "\f105"; 
	}

	.slick-next {
		top: 90px;
		right: -60px; 
	}
	[dir="rtl"] .slick-next {
		left: -60px;
		right: auto; 
	}
	.slick-next:before {
		content: "\f105";
	}
	[dir="rtl"] .slick-next:before {
		content: "\f104"; 
	}
}


// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) { 

	.review {
		.wrapper {
			overflow: hidden;
		}
		.slide {
			display: flex;
			&__img {
				width: 40%;
				margin-right: 20px;
				margin-left: 40px;
			}
			&__content {
				padding-right: 15px;
			}
		}
		/* ARROW STYLE */
		.slick-prev {
			top: 90px;
			left: 0; 
		}
		[dir="rtl"] .slick-prev {
			right: 0; 
		}
		.slick-next {
			top: 90px;
			right: 0; 
		}
		[dir="rtl"] .slick-next {
			left: 0;
		}
	}
}



// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) { 

	.review {
		&__title {
			letter-spacing: 1px;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		&__slider {
			margin: 30px;
		}
		.slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			&__img {
				order: 2;
				width: 100%;
				margin: 0 auto 20px auto; 
				img {
					display: block;
					margin: auto;
				}
			}
			&__content {
				order: 1;
				position: relative;
				width: 90%;
			}
		}

		/* ARROW STYLE */
		.slick-prev {
			top: 50%;
			transform: translateY(-50%);
		}
		.slick-next {
			top: 50%;
			transform: translateY(-50%); 
		}
	}

}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) { 

	.review {
		&__slider {
			margin: 0 auto;
		}
		.slide {
			&__img {
				order: 2;
				width: 100%;
				margin: 0 auto 20px auto; 
				img {
					max-width: 290px;
				}
			}
			&__content {
				order: 1;
				position: relative;
				width: 100%;
			}
		}

		/* ARROW STYLE */
		.slick-prev {
			top: 50%;
			transform: translateY(-50%);
		}
		.slick-next {
			top: 50%;
			transform: translateY(-50%); 
		}
	}
}