@import "_vars";
@import "_mixin and function";


.contacts {
	overflow: hidden;
	.map {
		min-height: 600px;
		width: 100%;
	}
	iframe {
		frameborder: 0;
		border: 0;
	}
	.wrapper {
		position: relative;
	}
	.questions {
		position: absolute;
		width: 320px;
		top: -524px;
		right: 18px;
		margin: auto;
		background: #fff;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 30px;
			width: 100%;
			height: 100%;
			background: url(../img/line_both.png)no-repeat;
		}
		.white-side {
			padding: 35px 30px;
			padding-bottom: 0;
		}
		&__title {
			font-family: "Enigmatic";
			font-weight: 500;
			font-size: rem(24);
			color: #141719;
			text-transform: uppercase;
			text-align: center;
		}
		&__adress {
			font-style: normal;
		}
		.contact__list {
			padding: 14px 0;
		}
		.items {
			padding-bottom: 15px;
		}
		.contact__item {
			font-size: rem(15);
			line-height: 1.5;
			position: relative;
			color: #706f70;
			padding-left: 40px;
			&:nth-child(1):before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 25px;
				height: 25px;
				background: url(../img/icons/adress.png);
			}
			&:nth-child(2):before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 25px;
				height: 25px;
				background: url(../img/icons/phone_form.png);
			}
			&:last-child:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 25px;
				height: 25px;
				background: url(../img/icons/mail.png);
			}
		}
		.dark-side {
			position: relative;
			padding: 25px;
			background: #1b1d1f;
			color: #fff;
			text-align: center;
		}
		.ask {
			font-family: "Enigmatic";
			font-weight: 500;
			font-size: rem(18);
			text-transform: uppercase;
		}
		.text {
			padding-top: 10px;
		}
		.box__btn {
			display: inline-block;
			margin: 20px auto;
			width: 190px;
			padding: 13px 0;
			color: #fff;
			background: #1a46a8;
			text-align: center;
			text-transform: uppercase;
			border: 2px solid #1a46a8;
			border-radius: 30px;
			font-size: rem(15);
			
			font-weight: 600;
			transition: .3s all ease-in-out; 
			&:hover {
				background: #fff;
				color: #1a46a8;
			}
		}
	}
}




// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) { 

	.contacts {
		.map {
			min-height: 400px;
		}
		.wrapper {
			padding: 0;
		}
		.questions {
			position: relative;
			width: 100%;
			top: auto;
			right: auto;
			margin: auto;
			&:before {
				display: none;
			}
			.white-side {
				width: 300px;
				padding: 35px 20px;
				padding-bottom: 0;
				margin: auto;
			}
			.dark-side {
				padding: 20px;
			}
		}
	}


}

