@import "_fonts";
@import "_vars";

::-webkit-input-placeholder { 
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}
::-moz-placeholder { 
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}
:-ms-input-placeholder { 
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}
:-moz-placeholder {
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}

label {
	position: absolute;
	top: 0;
	border: 0;
	font-size: 0 !important;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}


.white-popup {
	position: relative;
	background: #fff;
	padding: 15px;
	max-width: 400px;
	margin: 20px auto;
	text-align: center;
	.form__text {
		padding-top: 15px;
		font-size: rem(22);
		line-height: 1.5;
		font-weight: 600;		
	}
	.form__text-next {
		padding: 15px 15px 0 15px;
		color: #8388a5;
		font-size: rem(18);
	}
	.form-line {
		width: 90%;
		padding: 10px;
		border: none;
		background: #e4ebf6;
		font-size: 1.125rem;
		line-height: 1.66;
		padding: 15px;
		margin: 0 auto 25px auto; 
		font-size: rem(15);
		line-height: 18px;
		border: none;
		color: #333;
		box-shadow: -2px 3px 10px 2px rgba(24, 29, 41, 0.17);
		&:focus {
			@include transition (all .3s ease);
			box-shadow: 0px 0px 8px 0px rgba(0,119,237,1);			
		}
	}
	.btn__callback {
		padding-top: 0;
		display: block;
		margin: auto;
		border: none;
		width: 90%;
		padding: 15px;
		font-size: rem(15);
		line-height: 18px;
		background: #1a46a8;
		color: #fff;
		text-transform: uppercase;
	}
}


.remodal-common {
	border-radius: 15px;
	background: #fff;
	text-align: center;
	padding: 30px 40px;  
	.remodal-close {
		color: #000 !important;
	}
	h3 {
		font-size: 1.375rem;
		font-weight: 700;
		color: #000;
	}
	p {
		font-weight: 400;
		color: #8388a5;
		font-size: 1.125rem;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}
