@import "_fonts";
@import "_vars";

::-webkit-input-placeholder { 
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}
::-moz-placeholder { 
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}
:-ms-input-placeholder { 
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}
:-moz-placeholder {
	font-family: $fontFamily;
	font-size: rem(16);
	font-weight: 500;
}

label {
	position: absolute;
	top: 0;
	border: 0;
	font-size: 0 !important;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}


.white-popup {
	position: relative;
	background: #1a1c1e;
	padding: 15px;
	max-width: 400px;
	margin: 20px auto;
	text-align: center;
	.form__text {
		font-size: rem(29);
		line-height: 42px;
		font-family: "Enigmatic";
		text-transform: uppercase;
		color: #fff;
	}
	.form__text-next {
		padding: 15px 15px 0 15px;
		font-size: rem(18);
		color: #5d5e5e;
	}
	.form-line {
		position: relative;
		width: 90%;
		margin-bottom: 25px;
		padding-left: 20px;
		height: 48px;
		line-height: 48px;
		background: #141618;
		border: none;
		border: 1px solid #343434; 
		border-left: 4px solid #1a46a8;
		border-radius: 4px;
		box-shadow: inset 4px 0px 0px 0px rgba(26, 70, 168, 0.004);
		color: #5d5e5e;
		font-size: rem(15);



	}
	.btn__callback {
		margin-top: 13px;
		padding: 14.5px 0;
		width: 90%;
		color: #fff;
		background: #1a46a8;
		text-align: center;
		text-transform: uppercase;
		border: 2px solid #1a46a8;
		border-radius: 30px;
		font-size: rem(13);
		font-weight: 600;
		transition: .3s all ease-in-out; 
		&:hover {
			background: #fff;
			color: #1a46a8;
		}
	}
	.remodal-close {
		color: #fff;
	}
}


.remodal-common {
	border-radius: 15px;
	background: #fff;
	text-align: center;
	padding: 30px 40px;  
	max-width: 300px;
	.remodal-close {
		color: #000 !important;
	}
	h3 {
		font-size: 1.375rem;
		font-weight: 700;
		color: #000;
	}
	p {
		font-weight: 400;
		color: #8388a5;
		font-size: 1.125rem;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}


