body {
	min-width: 320px; 
/* 	position: relative; */
font-family: $fontFamily;
font-size: $fontSize;
font-weight: 500;
line-height: 1.2;
box-sizing: border-box; 
}
ul {
	list-style-type: none;
}
a {
	color: inherit;
}

.wrapper {
	position: relative;
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
}
.hide {
	display: none;
} 

section {
	padding: 80px 0;
}

.section__title {
	font-family: "Enigmatic";
	font-weight: 500;
	font-size: rem(36);
	text-transform: uppercase;
	letter-spacing: 2.1px;
}

// Large devices (desktops, less than 992px)
@media only screen and (max-width: 991.98px) { 
	section {
		padding: 60px 0;
	}
}

// Large devices (desktops, less than 992px)
@media only screen and (max-width: 991.98px) { 
	section {
		padding: 60px 0;
	}
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) { 
	section {
		padding: 30px 0;
	}
	.section__title {
		font-size: rem(30);
		letter-spacing: 1px;
	}
}