@import "_reset";
@import "_fonts";
@import "_vars";
@import "_mixin and function";
@import "_magnific-popup";
@import "_simplelightbox.scss";
@import "_slick";
@import "_slick-theme";
@import "_selectize.default";
@import "_tipso";
@import "_animate.min";

body {
	min-width: 320px;
	position: relative;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: 1.75;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	color: inherit;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ------------	LOADER ------------*/
#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	background: #fff; 
	z-index: 1001;
}
#preloader i {
	width: 70px; 
	height: 70px; 
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/preloader.gif') no-repeat 50% 50%; 
	margin: -35px 0 0 -35px;
}

.header {
	position: relative;
	min-height: 780px;
	padding-top: 30px;
	color: #fff;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;	
		background-color: rgba(#000, .5);
	}
}

.top__header {
	display: flex;
	justify-content: space-between;
	.right__side {
		display: flex;
		flex-direction: column;
		width: 85%;
	}
	.logo {
		&__text {
			text-align: center;
			font-family: "GothamProBold";
			font-size: rem(20);
		}
		img {
			margin: auto;
		}
	}
	.nav__list {
		display: flex;
	}
	.nav__item {
		margin-right: 8px;
	}
	.nav__item a {
		display: flex;
		align-items: center;
		font-size: rem(20);
	}
	.insta {
		margin: 0 25px;
	}
	.mob {
		font-family: "GothamProMedium";
	}
	span {
		padding-left: 8px;
	}
	address {
		margin-top: 15px;
		font-size: rem(20);
		font-family: "GothamProRegular";
		font-style: normal;
	}
}

.center__header {
	width: 90%;
	margin: auto;
	margin-top: 50px;
	.slogan-title {
		font-size: rem(30);
		font-family: "GothamProMedium";
	}
	.slogan-detail {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}
	.slogan-left {
		width: 20%;
		margin-right: 5%;
		text-align: center;
	}
	.slogan-right {
		width: 85%;
		margin-right: 0;
	}
	.slogan-info {
		font-size: rem(40);
		line-height: 55px;
		font-family: "GothamProBold";
	}
	.slogan-accent {
		font-size: rem(20);
		font-family: "GothamProMedium";
		text-decoration: underline dashed;
		text-decoration-color: rgba(#fff, .3);
	}
	[data-tooltip] {
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	[data-tooltip]:before,
	[data-tooltip]:after {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
	[data-tooltip]:before {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-top: 13px;
		margin-left: -80px;
		padding: 7px;
		width: 250px;
		border-radius: 3px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		content: attr(data-tooltip);
		font-size: 17px;
		line-height: 20px;
		word-wrap: break-word;
		@include transition (all .5s ease);
	}
	[data-tooltip]:after {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: 5px;
		width: 0;
		border-top: 10px solid #fff;
		border-top: 10px solid hsla(0, 0%, 20%, 0.9);
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}
	[data-tooltip]:hover:before,
	[data-tooltip]:hover:after {
		visibility: visible;
		opacity: 1;
	}

	.flex {
		position: relative;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}
	.slider {
		width: 300px;
	}
	.slides {
		display: block;
		padding-left: 10px;
		padding-right: 10px;
	}
	.btn {
		align-self: center;
		height: 50px;
		padding: 0 50px;
		line-height: 50px;
		border-radius: 10px;
		background: $red;
		font-size: rem(18);
		@include transition (all .3s ease);
		&:hover {
			background: linear-gradient(to right, rgba(237,46,54,0.4) 0%,rgba(237,46,54,1) 100%);
		}
	}
}

.info {
	position: relative;
	z-index: 1000;
	padding: 50px 0;
	background: url(../img/background.png) #fff no-repeat center/cover;
	&__wrap {
		width: 80%;
		margin: auto;
		margin-top: 50px;
	}
	&__text {
		font-size: rem(30);
		line-height: 46px;
		color: #353535;
		font-family: "GothamProMedium";
	}
	.attention {
		display: inline-block;
		width: 190px;
		height: 46px;
		background: url(../img/text-background.png) no-repeat;
	}
	.info__form {
		margin: 40px 0;
		.flex-wrap {
			display: flex;
			justify-content: space-between;
		}
		.form-line {
			border: 1px solid $gray;
			width: 44%;
			padding-left: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 20px;
			margin-right: 5%;
			border-radius: 5px;
			outline: none;
			font-size: rem(20);
			color: $gray;
		}
		.form-link {
			padding: 0 50px;
			line-height: 50px;
			border-radius: 10px;
			background: $red;
			font-size: rem(20);
			color: #fff;
			border: none;
			@include transition (all .3s ease);
			&:hover {
				background: linear-gradient(to right, rgba(237,46,54,0.4) 0%,rgba(237,46,54,1) 100%);
			}
		}

		::-webkit-input-placeholder { 
			font-size: rem(20);
			font-family: "GothamProRegular";
		}
		::-moz-placeholder { 
			font-size: rem(20);
			font-family: "GothamProRegular";
		}
		:-ms-input-placeholder { 
			font-size: rem(20);
			font-family: "GothamProRegular";
		}
		:-moz-placeholder {
			font-size: rem(20);
			font-family: "GothamProRegular";
		}
	}
}

.footer {
	padding: 50px 0;
	background: #212121;
	color: #e3e3e3;
	.flex-wrap {
		display: flex;
		justify-content: space-between;
	}
	.flex-left {
		width: 60%;
	}
	.flex-right {
		width: 30%;
	}
	.nav__list {
		display: flex;
		flex-wrap: wrap;
	}
	.nav__item {
		margin-right: 8px;
	}
	.nav__item a {
		display: flex;
		align-items: center;
		font-size: rem(20);
	}
	span {
		padding-left: 8px;
	}
	.mob {
		font-family: "GothamProMedium";
	}
	.mb {
		margin-bottom: 30px;
	}
}


/* CHANGE PLUGIN STYLES */

/* ÐRROWS */
.slick-prev,
.slick-next {
	top: 120px;
	&:before {
		font-family: 'Fontello';
		font-size: rem(26);
	}
}
.slick-prev {
	left: 80px;
	z-index: 100;
	&:before {
		content: '\e801';
	}
}
.slick-next {
	right: 80px;
	z-index: 100;
	&:before {
		content: '\e802';
	}
}
/* SELECT */
.selectize-input {
	display: block;
	border: 1px solid $gray;
	padding: 0;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 94%;
	border-radius: 5px;
	color: $gray;
	background-color: #fff;
}
.selectize-control.single .selectize-input {
	background-color: #fff;
	background-image: none;
	font-size: rem(20);
	line-height: 40px;
	padding-left: 15px;
}
.selectize-dropdown-content {
	padding: 0;
	font-size: rem(20);
	line-height: 20px;
	color: $gray;
	background-color: #fff;
}
.selectize-input > input {
	width: 100%!important;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	display: block;
	color: $gray;
	font-family: inherit;
	padding: 0;
	font-size: rem(20);
	line-height: 40px;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
	display: block;
	font-size: rem(20);
	line-height: 40px;
	height: 40px;
}
.selectize-control.single .selectize-input:after {
	content: '\e807';
	font-family: 'Fontello';
	position: absolute;
	top: 0;
	right: 15px;
	color: $red;
}
.selectize-control.single .selectize-input.dropdown-active:after {
	content: '\e808';
}

/* POP-UP */
.politics__link {
	@include transition (all .3s ease);
	&:hover {
		color: #fff;
	}
}
.politics-box div{
	margin-top: 40px;
	overflow-x: hidden;
	.question {
		padding-top: 10px;
		font-family: "GothamProBold";
	}
}
.white-popup-politics {
	position: relative;
	background: #e6e6e6;
	padding: 0 30px;
	max-width: 80%;
	max-height: 400px;
	margin: 10px auto;
	overflow-y: scroll;
	p {
		font-size: rem(15);
	}
}

/* Simple fade transition */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}



/* @import "media.scss"; */