@import "_reset";
@import "_bootstrap.min";
@import "_fonts";
@import "_vars";
@import "_carousel";

.product__pages {
	color: #fff;
	.header__top {
		background: rgba(111, 176, 72, .8);
	}
}
.product {
	position: relative;
	text-align: center;

}
.product__undertitle {
	margin-bottom: 30px;
}
img {
	max-width: 100%;
	height: auto;
}
.owl-carousel {
	position: relative;
	.owl-item {
		img {
			max-width: 100%;
			height: auto;
			box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75); 
		}
	}
}
.owl-nav {
	color: $orange;
	font-weight: bold;
	font-size: 60px;
	&:hover {
		cursor: pointer;
	}
}
.icon-angle-right {
	position: absolute;
	content: '';
	padding: 100px 0;
	top: 50%;
	right: 5%;
	z-index: 10;
}
.icon-angle-left {
	position: absolute;
	content: '';
	padding: 100px 0;
	top: 50%;
	left: 5%;
	z-index: 10;
} 