@import "_reset";
@import "_bootstrap.min";
@import "_fonts";
@import "_vars";
@import "_carousel";

.product__pages {
	color: #fff;
	.header__top {
		background: rgba(112,105,100, 0.8);
	}
}
.product {
	position: relative;
	text-align: center;
}
.product__undertitle {
	margin-bottom: 30px;
}
img {
	max-width: 100%;
	height: auto;
}
.owl-carousel {
	position: relative;
	.owl-item {
		img {
			max-width: 100%;
			height: 600px;
		}
	}
}
.owl-nav {
	color: $orange;
	font-weight: bold;
	font-size: 60px;
	&:hover {
		cursor: pointer;
	}
}
.icon-angle-right {
	position: absolute;
	content: '';
	top: 50%;
	right: 5%;
	z-index: 10;
}
.icon-angle-left {
	position: absolute;
	content: '';
	top: 50%;
	left: 5%;
	z-index: 10;
} 