/* ==========  Desktop First Method  ========== */

/* Large Devices, Wide Screens  */

@media only screen and (max-width : 1200px) {
/* .container {
	width: 1170px;
	} */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.wrapper{
		max-width: 	750px;
	} 
	.navigation_menu {
		display: inline;
		float: none;
	}
	.navigation_social-item {
		float: none;
		display: inline;	
	}	
	.grid__item, 
	.grid-sizer {
		width: 33.333333%; 
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {
		.navigation_menu, 
		.navigation_social {
			float: none;
			text-align: center;
		}
		.navigation_menu-item {
			padding-right: 0;
		}
		.navigation_social-item {
			float: none;
		}
		.grid__item, 
		.grid-sizer {
			width: 50%; 
		}
	}
	Custom, iPhone Retina
	@media only screen and (max-width : 320px) {
		
		.grid__item, 
		.grid-sizer {
			width: 100%; 
		}
	}
