@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";


@fs: 						      	14px;
@lh: 						      	22px;

@ff1: 								'PT Sans', sans-serif;
@ff2: 								'Open Sans Condensed', sans-serif;



@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";
@mobile-land:   ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";