@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.footer {
	padding: 50px 0;
	background: #7b7b7b;
	color: #fff;

	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__list {
		list-style: none;
		text-decoration: underline;
	}
	&__link {
		transition: .3s linear;
		&:hover {
			color: #000;
		}
	}
	&__agency {
		display: flex;
		img {
			margin-right: 10px;
		}
		&-text em {
			text-decoration: underline;
		}
	}
}


