@import "_reset";
@import "_fonts";
@import "_vars";
@import "_mixin and function";
@import "_magnific-popup";
@import "_carousel";

body {
	min-width: 320px;
	position: relative;
	font-size: $fontSize;
	font-family: $fontFamily;
	overflow-x: hidden;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	color: inherit;
}
video {
	position: relative;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.responsive {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background: rgba(0,0,0,.2);
	@include transition(all .3s ease);
	overflow: hidden;
}
.overlay__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 2rem;
}

/* ------------	LOADER ------------*/
#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	background: #fff; 
	z-index: 1001;
}
#preloader i {
	width: 70px; 
	height: 70px; 
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/preloader.gif') no-repeat 50% 50%; 
	margin: -35px 0 0 -35px;
}

/* ------------	MAIN ------------*/

.header {
	background-size: cover;
	min-height: 780px;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;	
		background: url(../img/background3.png) no-repeat;
		background-size: cover;
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		min-height: 780px;	
		background-color: rgba(#000, .1);	
	}
	&__text {
		position: relative;
		padding-top: 230px;
		font-size: rem(50);
		line-height: 65px;
		font-family: "RobotoSlabBold";
		color: #fff;
		
	}
	.header__link {
		position: absolute;
		bottom: -70%;
		left: 17%;
		font-size: 4em;
		color: #fff;
		opacity: .4;
		z-index: 100;
		background-repeat: no-repeat;
		@include transition (opacity .5s ease);
		&:hover {
			opacity: 1;
		}
		&:before {
			position: absolute;
			content: '';
			top: -80%;
			left: 50%;
			width: 2px;
			height: 80px;
			background: #fff;
		}
		
	}
	video {
		margin: 0 auto;
	}
}
.video-popup {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	max-width: 800px;
	height: auto;
}
.video-js {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	background: none;
	.vjs-control-bar {
		bottom: 17%;
	}
	.vjs-big-play-button {
		top: 50%;
		left: 50%;
	}
}
.vjs-poster {
	background: none;
}
.videoBox {
	padding-top: 84px;
	padding-left: 30px;
	background: #212121; 
	color: #fff;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: url(../img/background.png);
		background-size: cover;
	}
	&__title {
		font-size: rem(27);
		line-height: 36px;
		font-family: "RobotoSlabBold";
	}
	.date {
		padding: 10px 0 30px 0;
	}
}
.videoContent {
	display: flex;
	justify-content: space-between;
	.bigVideo {
		position: relative;
		width: 60%;
		height: 100%;
		.video__link {
			.overlay__icon {
				font-size: 5rem;
			}
			&:hover {
				.overlay {
					opacity: .2;
				}
			}
		}
	}
	.smallVideo {
		width: 400px;
		padding-left: 15px;
		position: relative;
		&__subtitle {
			padding-top: 174px;
			padding-bottom: 30px;
			padding-left: 15px;
			font-family: "RobotoSlabBold";
			font-size: rem(18);
			line-height: 29px;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		li {
			position: relative;
			padding-bottom: 0;
			margin-left: 15px;
			margin-bottom: 15px;
			height: auto;
			&:hover {
				.overlay__small {
					opacity: .2;
				}
			}
		}
		.overlay__small {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0.6;
			background: rgba(0,0,0,.2);
			@include transition(all .3s ease);
			z-index: 10;

		}
		.overlay__icon__small {
			position: absolute;
			top: 50%;
			right: 20%;
			transform: translate(-50%,-50%);
			color: #fff;
			font-size: 2rem;
		}
	}
}
.centralVideo {
	padding: 30px 0;
	position: relative;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 50px;
	}
	li {
		display: inline-block;
		position: relative;
		padding-bottom: 0;
		margin-left: 15px;
		margin-bottom: 15px;
		overflow: hidden;
		&:hover {
			.overlay__small {
				opacity: .2;
			}
		}
	}
	.overlay__small {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0.6;
		background: rgba(0,0,0,.2);
		@include transition(all .3s ease);
		z-index: 10;
		overflow: hidden;
	}
	.overlay__icon__small {
		position: absolute;
		top: 50%;
		right: 30%;
		transform: translate(-50%,-50%);
		color: #fff;
		font-size: 2rem;
	}
}
.photoBox {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: url(../img/background2.png) 455%;
		background-size: cover;
	}
	.grid {
		width: 100%;
		margin: 0 auto;
		padding: 50px 0;
	}
	.grid-sizer,
	.grid-item {
		width: 20%;
		position: relative;
		img {
			z-index: 100;
			position: relative;
		}
	}
	.grid-item1{
		margin-top: 2%;
		margin-left: 50px;
		width: 30%;
		&:after {
			display: block;
			content: '';
			position: absolute;
			width: 2px;
			height: 100px;
			top: -100px;
			left: 50%;
			background: #595959;
		}
	}
	.grid-item2 {
		width: 25%;
		margin-left: 2%;
		&:after {
			display: block;
			content: '';
			position: absolute;
			width: 2px;
			height: 100px;
			top: -100px;
			left: 50%;
			background: #595959;
		}
	}
	.grid-item3 {
		margin-top: 2%;
		margin-left: -5%;
		&:after {
			display: block;
			content: '';
			position: absolute;
			width: 2px;
			height: 100px;
			top: -100px;
			left: 50%;
			background: #595959;
		}
	}
	.grid-item4 {
		margin-top: 5%;
		margin-left: 5%;
		width: 50%;
		&:after {
			display: block;
			content: '';
			position: absolute;
			width: 2px;
			height: 150px;
			top: -100px;
			left: 15%;
			background: #595959;
		}
	}
}

.owl-controls {
	padding-bottom: 100px;
	&:hover {
		cursor: pointer;
	}
	.owl-prev {	
		position: absolute;
		left: 25%;
		&:before {
			content: '';
			position: absolute;
			display: block;
			background: url(../img/prev.png);
			width: 71px;
			height: 55px;
			left: -90px;
			top: -6px;
		}
	}
	.owl-next {
		position: absolute;
		right: 25%;
		&:before {
			content: '';
			position: absolute;
			display: block;
			background: url(../img/next.png);
			width: 71px;
			height: 55px;
			right: -90px;
			top: -6px;
		}
	}
	span {
		position: relative;
		font-size: rem(25);
		line-height: 40px;
		font-family: "RobotoSlabRegular";
	}
}



/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
 	opacity: 0;
 	transition: all 0.15s ease-out;
 }
 .mfp-fade.mfp-bg.mfp-ready {
 	opacity: 0.8;
 }
 .mfp-fade.mfp-bg.mfp-removing {
 	opacity: 0;
 }
 .mfp-fade.mfp-wrap .mfp-content {
 	opacity: 0;
 	transition: all 0.15s ease-out;
 }
 .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
 	opacity: 1;
 }
 .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
 	opacity: 0;
 }

/*  @import "media.scss"; */