@import "_vars";
@import "_mixin and function";


@media only screen and (max-width : 1200px) {
	.header {
		min-height: 650px;
		&__text {
			padding-top: 150px;
			font-size: rem(46);
			line-height: 60px;
		}
		.icon-play-2 {
			font-size: 3.5em;
		}
	}
	.video-popup {
		max-width: 750px;
	}
	.video-js {
		max-width: 750px;
	}
	.videoContent {
		.bigVideo {
			width: 60%;
			.video__link {
				.overlay__icon {
					font-size: 3rem;
				}
			}
		}
		.smallVideo {
			width: 400px;
			&__subtitle {
				padding-top: 0;
			}
		}
	}
	.centralVideo {
		li {
			margin-left: 0;
		}
	}
}  


@media only screen and (max-width : 992px) {
	.header {
		&__text {
			font-size: rem(46);
			line-height: 50px;
		}
		.header__link {
			bottom: -100%;
		}
	}
	.video-popup {
		max-width: 680px;
	}
	.video-js {
		max-width: 680px;
	}
	.videoBox {
		padding-top: 60px;
		padding-left: 0;
	}
	.videoContent {
		flex-wrap: wrap;
		.bigVideo {
			width: 100%;
		}
		.smallVideo {
			padding-left: 0;
			width: 100%;
			&__subtitle {
				padding-top: 25px;
			}
			li {
				margin-left: 0;
				padding-bottom: 0;
			}
		}
	}
	.photoBox {
		&__carousel {
			ul {
				display: inline-block;
			}
			.item1 {
				padding-top: 0;
				width: 100%;
			}
			.item2 {
				width: 100%;
				order: -3;
			}
			.item3 {
				padding-top: 0;
				width: 100%;
			}
			.item4 {
				max-width: 100%;
			}
		}
	}

}  

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.photoBox {
		padding: 0;
		padding-bottom: 40px;
	}
	.video-popup {
		max-width: 600px;
	}
	.video-js {
		max-width: 600px;
		.vjs-control-bar {
			bottom: 25%;
		}
		.vjs-big-play-button {
			top: 46%;
			left: 40%;
		}
	}
}

@media only screen and (max-width : 660px) {
	.video-popup {
		max-width: 460px;
	}
	.video-js {
		max-width: 460px;
		.vjs-control-bar {
			bottom: 30%;
		}
	}
	.photoBox {
		.grid {
			padding: 50px 0 20px 0;
		}
		.grid-item1{
			margin-top: 0;
			margin-left: 0;
			width: 50%;
		}
		.grid-item2 {
			width: 38%;
			margin-left: 2%;
		}
		.grid-item3 {
			width: 38%;
			margin-top: 2%;
			margin-left: 2%;
		}
		.grid-item4 {
			width: 38%;
			margin-top: 2%;
			margin-left: 2%;
		}
	}
	.owl-controls {
		span {
			display: none;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.header {
		background-position: 60% 10% !important;
		&__text {
			padding-top: 310px;
			font-size: rem(30);
			line-height: 36px;
		}
		.header__link {
			bottom: -60%;
		}
	}
	.video-popup {
		max-width: 400px;
	}
	.videoContent {
		.smallVideo {
			&__subtitle {
				text-align: center;
			}
			ul {
				justify-content: center;
			}
			li {
				margin: 10px;
				width: 40%;
			}
		}
	}
	.centralVideo {
		ul {
			justify-content: center;
		}
		li {
			margin: 10px;
			width: 40%;
		}
		.video-js {
			max-width: 400px;
			.vjs-control-bar {
				bottom: 32%;
			}
		}
	}
	.photoBox {
		.grid {
			padding: 20px 0;
		}
		.grid-item1{
			margin-top: 0;
			margin-left: 0;
			margin-bottom: 2%;
			width: 100%;
		}
		.grid-item2 {
			width: 100%;
			margin-left: 0%;
			margin-bottom: 2%;
		}
		.grid-item3 {
			width: 100%;
			margin-top: 0%;
			margin-left: 0%;
			margin-bottom: 2%;
		}
		.grid-item4 {
			width: 100%;
			margin-top: 0%;
			margin-left: 0%;
			margin-bottom: 2%;
		}
	}
	.owl-controls {
		.owl-prev {	
			left: 15%;
			&:before {
				content: '\e81b';
				background: none;
				font-size: 2rem;
				width: 0;
				height: 0;
				left: 50%;
				top: 0;
				font-family: 'fontello';
				color: #666;
				padding: 20px 40px;
			}
		}
		.owl-next {
			right: 15%;
			&:before {
				content: '\e81c';
				background: none;
				font-size: 2rem;
				width: 0;
				height: 0;
				right: 50%;
				top: 0;
				font-family: 'fontello';
				color: #666;
				padding: 20px 40px;
			}
		}
	}
}

@media only screen and (max-width : 410px) {
	.video-popup {
		max-width: 310px;
	}
	.video-js {
		max-width: 310px;
		.vjs-control-bar {
			bottom: 35%;
		}
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)  {

}