@import "header.scss";
@import "main.scss";

// PAGE ENERGOAUDIT
.energyAuditHeader {
	padding: 165px 0;
	background: url(../img/energoAudit/hero-img.jpg)no-repeat top/cover;

	@media only screen and (max-width: 1199.98px) { 
		padding: 120px 0;
	}

	@media only screen and (max-width: 575.98px) { 
		text-align: center;
		br {
			display: none;
		}
	}

	&__title {
		font-size: rem(46);
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;

		@media only screen and (max-width: 1199.98px) { 
			font-size: rem(38);
		}

		@media only screen and (max-width: 767.98px) { 
			font-size: rem(30);
			line-height: 1.5;
		}

		@media only screen and (max-width: 575.98px) { 
			font-size: rem(24);
			font-weight: 500;
		}
	}
	&__text {
		padding-top: 20px;
		font-size: rem(36);
		font-weight: 500;
		color: #88fa2e;

		@media only screen and (max-width: 1199.98px) { 
			font-size: rem(30);
		}

		@media only screen and (max-width: 767.98px) {
			line-height: 1.5;
			color: #fff;
		} 

		@media only screen and (max-width: 575.98px) { 
			padding-top: 30px;
			font-size: rem(22);
			text-transform: uppercase;
		}
	}
}

.energyAuditAbout {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 1);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 25px 1.19px rgba(0, 0, 0, 1);
	}
	strong {
		font-weight: inherit;
	}
	&__text {
		padding: 45px 0;
		font-size: rem(20);

		@media only screen and (max-width: 575.98px) { 
			padding-bottom: 25px;
			font-size: rem(18);
			text-align: center;
		}
	}

	&__list {
		padding-top: 195px;
		padding-bottom: 80px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media only screen and (max-width: 1199.98px) { 
			padding-top: 150px;
			justify-content: space-around;
		}
		@media only screen and (max-width: 575.98px) {
			padding-bottom: 30px;
		}
	}
	&__item {
		position: relative;
		width: 320px;
		height: 170px;
		border: 2px solid #87bc54;
		counter-increment: li; 
		@media only screen and (max-width: 1199.98px) { 
			width: 350px;
			height: 140px;
		}

		@media only screen and (max-width: 991.98px) { 
			width: 320px;
		}
		@media only screen and (max-width: 767.98px) { 
			margin-bottom: 180px;
			&-last {
				margin-bottom: 30px;
			}
		}
		@media only screen and (max-width: 575.98px) { 
			width: 280px;
		}
	}
	.itemTop {
		margin-bottom: 270px;
		@media only screen and (max-width: 1199.98px) { 
			margin-bottom: 200px;
		}
		@media only screen and (max-width: 767.98px) { 
			margin-bottom: 180px;
		}
	}
	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		background: #fff;
		&:before {
			content: counter(li);
			position: absolute;
			display: block;
			left: -20px;
			bottom: -20px;
			width: 100px;
			height: 100px;
			background: #fff;
			font-size: rem(100);
			font-weight: 500;
			text-shadow: 3px 3px 2px rgba(135, 188, 84, 1);
			color: #c8e2af;
			z-index: 10;

			@media only screen and (max-width: 1199.98px) { 
			}

			@media only screen and (max-width: 991.98px) { 
				font-size: rem(80);
				width: 80px;
				height: 80px;
			}
			@media only screen and (max-width: 767.98px) {
				z-index: inherit;
			}
		}
	}

	.reverse {
		&:before {
			top: -30px;
			left: -30px;
			bottom: inherit;
			height: 120px;
			@media only screen and (max-width: 1199.98px) { 
				top: inherit;
				left: -20px;
				bottom: -20px;
				width: 100px;
				height: 100px;
			}
			@media only screen and (max-width: 767.98px) { 
				bottom: -40px;
			}
		}
	}
	&__titles {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: rem(22);
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		z-index: 10;

		@media only screen and (max-width: 1199.98px) { 
			width: 250px;
		}
		@media only screen and (max-width: 991.98px) { 
			font-size: rem(20);
		}
		@media only screen and (max-width: 575.98px) { 
			font-size: rem(18);
		}
	}
	&__img {
		position: absolute;
		top: -180px;
		left: 50%;
		transform: translateX(-50%);

		@media only screen and (max-width: 1199.98px) { 
			top: -150px;
		}

		img {
			@media only screen and (max-width: 1199.98px) { 
				max-width: 220px;
			}
		}
	}

	.decorLeft, .decorLeft-bottom, .decorRight, .decorRight-bottom {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			top: -20px;
			background: #87bc54;
			width: 4px;
			height: 80px;
		}
		&:after {
			position: absolute;
			content: '';
			top: -20px;
			background: #87bc54;
			width: 80px;
			height: 4px;
		}
	}
	.decorLeft {
		&:before {
			left: -20px;
		}
		&:after {
			left: -20px;
		}
	}
	.decorRight {
		&:before {
			right: -20px;
			@media only screen and (max-width: 1199.98px) { 
				display: none;
			}
		}
		&:after {
			right: -20px;
			@media only screen and (max-width: 1199.98px) { 
				display: none;
			}
		}
	}
	.decorLeft-bottom {
		&:before {
			top: inherit;
			bottom: -20px;
			left: -20px;
			@media only screen and (max-width: 1199.98px) { 
				display: none;
			}
		}
		&:after {
			top: inherit;
			bottom: -20px;
			left: -20px;
			@media only screen and (max-width: 1199.98px) { 
				display: none;
			}
		}
	}
	.decorRight-bottom {
		&:before {
			top: inherit;
			bottom: -20px;
			right: -20px;
		}
		&:after {
			top: inherit;
			bottom: -20px;
			right: -20px;
		}
	}
}


.energyAuditServices {
	overflow: hidden;
	background: #f9f9f9;
	&__list {
		padding: 60px 0;
		@media only screen and (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		} 
	}

	&__item {
		position: relative;
		margin-bottom: 160px;
		position: relative;
		list-style-type: none;
		counter-increment: li; 
		z-index: 10;
		@media only screen and (max-width: 1199.98px) { 
			margin-bottom: 120px;
		}

		@media only screen and (max-width: 991.98px) { 
			margin-bottom: 40px;
			z-index: inherit;
		}

		&:before {
			content: '';
			position: absolute;
			top: 25px;
			left: -25px;
			width: 770px;
			height: 100%;
			border: 3px solid #87bb54;
			z-index: -1;
			@media only screen and (max-width: 991.98px) { 
				display: none;
			}
		}
	}

	&__content {
		position: relative;
		padding: 25px 20px 40px 40px;
		max-width: 700px;
		background: #fff;
		box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
		z-index: 10;
		@media only screen and (max-width: 1199.98px) { 
			max-width: 700px;
		}
		@media only screen and (max-width: 991.98px) { 
			padding-bottom: 50px;
			z-index: inherit;
		}

		@media only screen and (max-width: 575.98px) { 
			padding: 25px 15px 50px 15px;
			line-height: 1.5;
		}
	}

	&__img {
		position: absolute;
		top: 80px;
		right: -200px;
		
		@media only screen and (max-width: 1199.98px) { 
			top: 60px;
		}
		@media only screen and (max-width: 991.98px) { 
			position: inherit;
			top: inherit;
			right: inherit;
			margin-top: -20px;
			// z-index: inherit;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			box-shadow: -5px -5px 30px 3px rgba(0, 0, 0, 0.4);
			@media only screen and (max-width: 991.98px) { 
				margin: auto;
			}
		}
	}

	&__titles {
		display: block;
		position: relative;
		padding: 30px 40px;
		text-transform: uppercase;
		font-size: rem(25);
		font-weight: 500;

		@media only screen and (max-width: 1199.98px) { 
			font-size: rem(23);
		}
		@media only screen and (max-width: 991.98px) { 
			display: table;
			padding: 20px 10px 20px 40px;
			margin: auto;
			font-size: rem(20);
		}

		@media only screen and (max-width: 767.98px) { 
			font-size: rem(19);
		}

		&:before {
			position: absolute;
			content: counter(li);
			top: 50%;
			left: -10px;
			transform: translateY(-50%);
			font-size: rem(70);
			font-weight: 700;
			color: #87bc54;
		}
	}

	&__text {
		padding-bottom: 10px;
	}

	.itemFull {
		position: relative;
		margin-bottom: 730px;
		@media only screen and (max-width: 1199.98px) { 
			margin-bottom: 620px;
		}

		@media only screen and (max-width: 991.98px) { 
			margin-bottom: 40px;
		}

		&:before {
			width: 100%;
		}
		.energyAuditServices__content {
			max-width: 100%;
		}
		.energyAuditServices__img {
			margin-top: -25px;
			top: inherit;
			right: inherit;
			left: 60px;
			z-index: 10;
			width: 90%;

			@media only screen and (max-width: 991.98px) { 
				left: 50%;
				transform: translateX(-50%);
			}

			@media only screen and (max-width: 575.98px) { 
				width: 300px;
			}
		}
	}
	.itemFull2 {
		margin-bottom: 680px;
		@media only screen and (max-width: 1199.98px) { 
			margin-bottom: 600px;
		}

		@media only screen and (max-width: 991.98px) { 
			margin-bottom: 40px;
		}
	}

	.itemReorder {
		margin-right: 30px;
		margin-bottom: 30px;

		@media only screen and (max-width: 991.98px) { 
			margin-right: inherit;
			margin-bottom: 0;
		}

		&:before {
			right: -25px;
			height: 210px;
			left: inherit;
		}
		.energyAuditServices__content {
			float: right;
			@media only screen and (max-width: 991.98px) { 
				float: none;
			}
		}
		.energyAuditServices__img {
			right: inherit;
			left: -200px;
			top: -60px;
			@media only screen and (max-width: 991.98px) {
				left: inherit;
				top: inherit; 
			}

			img {
				height: 50%;
				@media only screen and (max-width: 575.98px) { 
					height: auto;
				}
			}
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width: 1199.98px) { 
		}

		@media only screen and (max-width: 991.98px) { 
			flex-direction: column;
			align-items: center;
		}
	}
	&__subtitles {
		padding-bottom: 10px;
		padding-bottom: 5px;
		font-size: rem(18);
		text-decoration: underline;
		text-decoration-color: #868686; 
		@media only screen and (max-width: 991.98px) {
			padding-top: 15px;
			text-align: center;
			text-decoration: none;
			font-size: rem(20);
		}
	}
	&__sublist {
		padding-top: 15px;
		padding-right: 50px;

		@media only screen and (max-width: 991.98px) { 
			max-width: 450px;
			padding-right: 0;
		}

		@media only screen and (max-width: 575.98px) { 

		}
	}
	&__subitem {
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $green;
		}
	}
}


.energyAuditStep {
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		box-shadow: 2px 1px 20px 1.19px rgba(0, 0, 0, 1);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 25px 1.19px rgba(0, 0, 0, 1);
	}

	.tabs {
		padding: 40px 0 20px 0;
		display: flex;
		margin: auto;

		@media only screen and (max-width: 767.98px) { 
			display: none;
		}

		&__box {
			min-height: 511px;
			@media only screen and (max-width: 767.98px) {
				min-height: inherit;
			}
		}
		&__link {
			position: relative;
			padding: 7px 17px;
			margin-right: 35px;
			font-size: rem(18);
			background: #f3f3f3;
			color: #979797;
			cursor: pointer;
			transition: all .3s linear;
			@media only screen and (max-width: 767.98px) { 
			}

			@media only screen and (max-width: 575.98px) { 
			}

			&:not(:last-child):before {
				content: '\e809';
				position: absolute;
				right: -25px;
				top: 50%;
				transform: translateY(-50%);
				font-family: 'fontello';
				font-size: rem(30);
				transition: all .3s linear;
			}
			&-active {
				position: relative;
				background: $green;
				color: #fff;
				transition: all .3s linear;
				&:not(:last-child):before {
					content: '\e809';
					position: absolute;
					right: -30px;
					top: 50%;
					transform: translateY(-50%);
					font-family: 'fontello';
					font-size: rem(30);
					color: $green;
					transition: all .3s linear;
				}
			}
		}
		&__content {
			display: none;
			// transform: translateY(30px);
			animation: fadeInUPS .4s linear forwards;
			transition: all .3s linear;
			opacity: 0;
			@media only screen and (max-width: 767.98px) { 
				display: block;
			}
			&-active {
				display: block;
				opacity: 1;
			}
		}		
	}
	.stepInfo {
		margin-top: 30px;
		padding: 25px 15px 25px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 8.485px 8.485px 25px 1.19px rgba(0, 0, 0, .2);

		@media only screen and (max-width: 767.98px) { 
			flex-direction: column;
			margin-top: 60px;
		}

		@media only screen and (max-width: 575.98px) { 
			padding: 25px 10px 25px 13px;
		}

		&__content {
			flex-basis: 60%;
			margin-right: 25px;

			@media only screen and (max-width: 767.98px) { 
				flex-basis: inherit;
				margin-right: 0;
			}
		}

		&__titles {
			font-size: rem(26);
			font-weight: 500;
			padding-bottom: 30px;
			@media only screen and (max-width: 767.98px) { 
			}

			@media only screen and (max-width: 575.98px) { 
				font-size: rem(20);
				text-align: center;
				padding-bottom: 20px;
			}
		}
		span {
			margin-right: 10px;
			color: $green;
			@media only screen and (max-width: 575.98px) {
				display: block;
				margin: auto;
				margin-bottom: 10px;
			}
		}
		&__item {
			position: relative;
			margin-bottom: 10px;
			padding-left: 30px;
			font-size: rem(17);
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: $green;
			}
		}

		&__img {
			flex-basis: 40%;
			@media only screen and (max-width: 767.98px) { 
				margin-top: 30px;
				flex-basis: inherit;
			}

			@media only screen and (max-width: 575.98px) { 

			}
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
}


@keyframes fadeInUPS {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: none;
	}
}


.energyAuditProgress {
	overflow: hidden;
	background: #f8f8f8;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 25px 1.19px rgba(0, 0, 0, 1);
	}

	&__title {
		&:before {
			left: 360px;
			@media only screen and (max-width: 575.98px) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&:after {
			left: 360px;
			@media only screen and (max-width: 575.98px) {
				display: none;
			}
		}
	}

	&__list {
		padding-top: 80px;
		display: flex;
		justify-content: space-between;
		text-align: center;

		@media only screen and (max-width: 767.98px) { 
			flex-wrap: wrap;
			justify-content: space-around;
		}

	}
	&__item {
		width: 20%;

		@media only screen and (max-width: 991.98px) { 
			width: 24%;
		}

		@media only screen and (max-width: 767.98px) { 
			width: 40%;
			margin-bottom: 25px;
		}

		@media only screen and (max-width: 575.98px) { 
			width: 100%;
		}
	}

	&__img {
		padding-top: 15px;
		height: 140px;
		background: #fff;
		box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
		
		@media only screen and (max-width: 575.98px) { 
			background: transparent;
			box-shadow: none;
			height: auto;
			img {
				max-width: 60px;
				padding-bottom: 15px;
			}
		}
	}

	&__titles {
		padding-top: 30px;
		display: inline-block;
		font-size: rem(26);
		font-weight: 500;
		color: $green;
		@media only screen and (max-width: 575.98px) { 
			padding-top: 0;
		}
	}
	&__text {
		padding-top: 5px;
		font-size: rem(20);
		text-transform: uppercase;

		@media only screen and (max-width: 991.98px) { 
			font-size: rem(18);
		}
	}
}



.calculator {
	position: relative;
	padding: 80px 0;

	&:before {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 25px 1.19px rgba(0, 0, 0, 1);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 25px 1.19px rgba(0, 0, 0, 1);
	}
	&__title {
		font-size: rem(27);
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		@media only screen and (max-width: 991.98px) {
			font-size: rem(24);
			br {
				display: none;
			} 
		}
		@media only screen and (max-width: 575.98px) { 
			font-size: rem(18);
		}
	}

	&__box {
		margin-top: 60px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&-line {
			> div {
			width: 25%;
			border: 1px solid $green;

			@media only screen and (max-width: 575.98px) { 
				width: 50%;
			}
		}
	}
}
label {
	cursor: pointer;
	color: #fff;

}
.odd {
	display: block;
	background: #5f9209;
	background: -moz-linear-gradient(top, #5f9209 0%, #8cb30e 100%);
	background: -webkit-linear-gradient(top, #5f9209 0%,#8cb30e 100%);
	background: linear-gradient(to bottom, #5f9209 0%,#8cb30e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9209', endColorstr='#8cb30e',GradientType=0 );
}
.even {
	display: block;
	background: #8fb252;
	background: -moz-linear-gradient(top, #8fb252 0%, #aeca55 100%);
	background: -webkit-linear-gradient(top, #8fb252 0%,#aeca55 100%);
	background: linear-gradient(to bottom, #8fb252 0%,#aeca55 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fb252', endColorstr='#aeca55',GradientType=0 );
}
&__content {
	position: relative;
	min-height: 130px;
	border: 1px solid #fff;
	label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		margin: auto;
	}
}
&__titles {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
&__num {
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px solid #fff;
}

.btn-green {
	display: table;
	margin: 50px auto;
	width: 230px;
	color: #fff;
	border: 2px solid $green;
	&:hover {
		color: #000;
	}
}


sup {
	font-size: 0.5em;
}

input {
	display: block;
	width: 100%;
	padding: 10px 0;
	border: none;
	font-family: $fontFamily;
	font-size: rem(18);
	font-weight: 400;
	color: #000;
}
input[type=number] { 
	text-align:center;
	-moz-appearance:textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

::-webkit-input-placeholder { 
	font-family: $fontFamily;
	font-size: rem(18);
	font-weight: 400;
	color: #000;
	text-align: center;
}
::-moz-placeholder { 
	font-family: $fontFamily;
	font-size: rem(18);
	font-weight: 400;
	color: #000;
	text-align: center;
}
:-ms-input-placeholder { 
	font-family: $fontFamily;
	font-size: rem(18);
	font-weight: 400;
	color: #000;
	text-align: center;
}
:-moz-placeholder {
	font-family: $fontFamily;
	font-size: rem(18);
	font-weight: 400;
	color: #000;
	text-align: center;
}
}


// END PAGE ENERGOAUDIT
// PAGE PRICE
.pricePage {
	overflow: hidden;
	min-height: 100vh;
	padding-top: 70px;

	&__title {
		&:before, &:after {
			@media only screen and (max-width: 767.98px) {
				display: none;
			} 
		}
		padding-bottom: 30px;
	}

	@media only screen and (max-width: 767.98px) { 
		overflow: visible;
	}

	.wpapper {
		@media only screen and (max-width: 767.98px) { 
			width: 100%;
		}
	}
}

// END PAGE PRICE


// PAGE NEWS
.newsPage {
	overflow: hidden;
	min-height: 100vh;
	background: #f8f8f8;
	&__title {
		&:before, &:after {
			left: 420px;
			@media only screen and (max-width: 575.98px) { 
				display: none;
			}
		}
	}
}

.article {
	margin: 50px 0;
	box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.10);
	transition: box-shadow .3s linear;
	&:hover {
		box-shadow: none;
		cursor: pointer;
	}

	@media only screen and (max-width: 991.98px) {
		max-width: 700px;
		margin: 50px auto;
	} 

	.post {
		display: flex;
		justify-content: space-between;
		max-height: 240px;
		overflow: hidden;
		@media only screen and (max-width: 991.98px) { 
			flex-direction: column;
			max-height: 100%;
			padding: 20px 0;
		}

		&__title {
			display: inline-block;
			padding: 10px 0;
			font-size: rem(30);
			font-weight: 500;
			background: #f8f8f8;
		}
		&__img {
			flex-basis: 35%;
			overflow: hidden;
			position: relative;
			padding-top: 56.25%;
			@media only screen and (max-width: 1199.98px) { 
				flex-basis: 45%;
			}
			@media only screen and (max-width: 991.98px) { 
				flex-basis: inherit;
			}

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: auto;
			}
		}
		&__content {
			padding-left: 30px;
			flex-basis: 65%;

			@media only screen and (max-width: 1199.98px) { 
				flex-basis: 55%;
			}

			@media only screen and (max-width: 991.98px) { 
				flex-basis: inherit;
				padding-left: 0;
			}
		}
		&__info {
			height: 190px;
			overflow: hidden; 
			cursor: auto;
			@media only screen and (max-width: 991.98px) {
				padding-top: 15px;
				height: inherit;
			} 
			p {
				padding-bottom: 10px;
			}
		}
	}
	.readMore {
		margin-top: 50px;
		margin-bottom: 15px;
		position: relative;
		font-size: rem(20);
		color: $green;
		font-weight: 500;
		&:before {
			content: '\e809';
			position: absolute;
			right: -22px;
			top: 50%;
			transform: translateY(-50%);
			font-family: 'fontello';
			font-size: rem(20);
		}
		&:after{
			content: '\e809';
			position: absolute;
			right: -15px;
			top: 50%;
			transform: translateY(-52%);
			font-family: 'fontello';
			font-size: rem(16);
		}
	}	
}

.postFull {
	position: relative;
	background: #fff;
	box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.27);

	&__box {
		padding: 25px 35px;
		@media only screen and (max-width: 575.98px) { 
			padding: 25px 15px;
		}
	}
	&__title {
		padding-bottom: 10px;
		font-size: 20px;
		font-weight: 700;
	}
	&__img {
		margin: 25px 0;
		max-height: 500px;
		overflow: hidden;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	li {
		padding-bottom: 5px;
		list-style-type: inherit;
		list-style-position: inside;
	}
	ul li {
		list-style-type: disc;
	}

	p {
		padding-bottom: 15px;
		font-size: 17px;
	}
	ul {
		padding-bottom: 15px;
	}
	h1 {
		font-size: rem(26);
		font-weight: 700;
		padding-bottom: 10px;
	}
	h2 {
		font-size: rem(24);
		font-weight: 700;
		padding-bottom: 10px;
	}
	h3 {
		font-size: rem(22);
		font-weight: 700;
		padding-bottom: 10px;
	}
	h4 {
		font-size: rem(20);
		font-weight: 700;
		padding-bottom: 10px;
	}
	h5 {
		font-size: rem(18);
		font-weight: 700;
		padding-bottom: 10px;
	}
	h6 {
		font-size: rem(16);
		font-weight: 700;
		padding-bottom: 10px;
	}
}

.share {
	p {
		padding-top: 50px;
		font-size: 20px;
		font-weight: 700;
	}
}

// END PAGE NEWS


// CONTACT NEWS
.contactPage {
	position: relative;
	overflow: hidden;
	padding: 0;
	&:before {
		content: '';
		position: absolute;
		bottom: 507px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 15px 1.19px rgba(0, 0, 0, 1);
	}

	.wrapper {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	&__text {
		font-size: rem(20);
		padding: 40px 0;
		@media only screen and (max-width: 575.98px) { 
			text-align: center;
			font-size: rem(18);
		}

	}

	&__box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@media only screen and (max-width: 991.98px) {
			flex-direction: column; 
		}

		&-form {
			.form {
				display: flex;
				flex-direction: column;
				width: 450px;

				@media only screen and (max-width: 575.98px) { 
					width: 300px;
				}
			} 

			.form__line {
				position: relative;
				width: 100%;
				margin-bottom: 15px;
				height: 48px;
				border: none;
				border-bottom: 1px solid #343434; 
				box-shadow: inset 4px 0px 0px 0px rgba(26, 70, 168, 0.004);
				color: #000;
				font-size: rem(18);
				transition: all .3s ease; 
				&:focus {
					border-bottom: 1px solid $green; 
				}
			}

			textarea {
				min-height: 150px;
			}

			.btn-green {
				margin: auto;
				margin-top: 20px;
				@media only screen and (max-width: 991.98px) {
					margin-left: inherit;
					margin: 50px auto;
				}
				@media only screen and (max-width: 575.98px) {
					margin: 30px auto;
				}
			}
		}
	}

	.map {
		position: relative;
		min-height: 500px;
		width: 100%;
		z-index: 11;
	}
}

.contactPageInfo {
	&__title {
		padding-bottom: 30px;
		font-size: rem(30);
		font-weight: 500;
		text-transform: uppercase;
	}

	&__adress {
		font-style: normal;
	}

	&__item {
		position: relative;
		margin-bottom: 40px;
		font-size: rem(18);
		@media only screen and (max-width: 575.98px) {
			padding-left: 55px;
			font-size: rem(17);
		} 
		&:before {
			position: absolute;
			left: -68px;
			top: 50%;
			transform: translateY(-50%);
			padding: 8px 14px;
			background: #fff;
			box-shadow: 0 0 7px 2px rgba(0, 0, 0, .1);
			font-size: rem(22);
			font-family: 'fontello';
			@media only screen and (max-width: 575.98px) {
				left: 0px;
			}
		}
	}

	&__item:nth-of-type(1) {
		&:before {
			content: '\e801';
		}
	}

	&__item:nth-of-type(2) {
		&:before {
			content: '\e81a';
		}
	}
	&__item:nth-of-type(3) {
		&:before {
			content: '\e81a';
		}
	}
	&__item:nth-of-type(4) {
		&:before {
			content: '\e81f';
		}
	}
	&__box {
		.contact__messenger {
			width: 300px;
		}
		.messenger__box {
			margin-top: 30px;
			display: flex;
			justify-content: space-between;
		}

		&__text {
			font-size: rem(18);
		}

		.messenger {
			width: 140px;
			padding: 8px 20px;
			text-align: center;
			font-size: rem(22);
			color: #fff;
			box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, .4);
			transition: box-shadow .3s ease;
			margin-bottom: 15px;

			&:hover {
				box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0);
			}
			&-vb {
				background: #7d3daf;
			}
			&-tg {
				background: #61a8de;
			}
		}
	}	
}
// END CONTACT NEWS