@import "_reset";
@import "_fonts";
@import "_vars";
@import "_mixin and function";
@import "_general";


/* PLUGINS */
@import "_slick-theme";
@import "_slick";


// /* MAIN STYLE */
@import "_menuResponsiveEffect";


.header {
	position: relative;
	box-shadow: -0.5px 4px 9px 0px rgba(0, 0, 0, 0.5);
}

.top-header {
	position: relative;
	padding-top: 10px;
	padding-bottom: 5px;
	.box {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width: 767.98px) { 
			display: block;
			float: right;
		}
	}
	.logo {
		@media only screen and (max-width: 767.98px) { 
			position: absolute;
			left: 48%;
			transform: translateX(-50%);
		}
	}
	.box__nav {
		width: 600px;
		@media only screen and (max-width: 767.98px) {
			width: auto;
			.hide__mob {
				display: none;
			}
		}
		@media only screen and (max-width: 575.98px) { 
			.hide__mob-sm {
				display: none;
			}
		}
	}

	.header__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: 60px;
		line-height: 40px;
		@media only screen and (max-width: 767.98px) { 
			flex-direction: column;
		}
	}

	.header__item {
		margin-left: 50px;
		@media only screen and (max-width: 767.98px) { 
			text-align: right;
		}
	}

	.header__link {
		position: relative;
		padding-left: 25px;
		i {
			display: none;
		}
		&:before {
			position: absolute;
			left: 2px;
			top: 50%;
			transform: translateY(-50%);
			font-family: "fontello";
			color: $green;
			font-size: 16px;
		}
		&:after {
			position: absolute;
			content: '';
			display: block;
			left: -8px;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			border: 1px solid $green;
			// border-radius: 50%;
		}
		@media only screen and (max-width: 767.98px) { 
			padding-left: 0;
			&:before, &:after  {
				display: none;
			}
		}

		@media only screen and (max-width: 575.98px) { 
			span {
				display: none;
			}
			i {
				font-size: 40px;
				line-height: 80px;
				display: block;
				color: $green;
			}
		}
		
	}
	.link-address{
		&:before {
			content: '\e801';
		}
	}
	.link-phone {
		&:before {
			left: 1px;
			content: '\e81a';
		}
	}
	.link-mail{
		&:before {
			left: -1px;
			content: '\e802';
		}
	}
	.header__item-btn {
		display: inline-block;
		margin-left: 40px;
	}
	.btn-green {
		font-size: rem(16px);
		padding: 8px 25px;
		// border-radius: 10px;
		margin-left: -3px;
		width: inherit;
	}
}

.nav { 
	position: relative;
	background: #343a3d;
	color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.9);
	z-index: 2;
	
	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		width: 100%;
	}
	&__item {	
		width: 100%;
		transition: all .3s ease;
		text-align: center;
		border-right: 2px solid #4f585f;
		&:hover {
			border-right: 2px solid transparent;
			background: #4f585f;
			box-shadow: inset 0px -2px 3.68px 0.32px rgba(0, 0, 0, 0.64);
		}
		@media only screen and (max-width: 767.98px) { 
			border-right: 2px solid transparent;
		}
	}
	&__item:last-child {
		border-right: none;
		&:hover {
			border-right: none;
		}
	}
	&__link {
		display: block;
		padding: 15px 5px;
		position: relative;
		width: 100%;
		height: 100%;
	}
}


.centerHeader {
	position: relative;
	padding: 0;
	overflow: hidden;

	&__slider {
		width: 100vw;
		position: relative;
	}

	&__slide {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		color: #fff;
		user-select: text;

		.header__title {
			padding-top: 15vh;
			font-size: rem(50);
			font-weight: 500;
			@media only screen and (max-width: 1199.98px) { 
				font-size: rem(44);
			}

			@media only screen and (max-width: 991.98px) { 
				font-size: rem(38);
				padding-top: 100px;
			}

			@media only screen and (max-width: 767.98px) { 
				font-size: rem(30);
			}

			@media only screen and (max-width: 575.98px) { 
				font-size: rem(30);
				text-align: center;
			}
		}
		.header__subtitle {
			padding-top: 15px;
			font-size: rem(40);
			font-weight: 500;
			@media only screen and (max-width: 1199.98px) { 
				font-size: rem(30);
			}

			@media only screen and (max-width: 991.98px) { 
				font-size: rem(28);
			}

			@media only screen and (max-width: 575.98px) { 
				font-size: rem(22);
				text-align: center;
			}
		}
	}
	
	.wrapper {
		height: 84vh;
		@media only screen and (max-width: 767.98px) { 
			min-height: 400px;
		}
	}	


	.slick-prev,
	.slick-next {
		color: #b8b8b8;
		height: 100%;
		top: 50%;
		transform: translateY(-50%);
		z-index: 11;
		@media only screen and (max-width: 1199.98px) { 
			transform: translateY(-40%);
		}

		@media only screen and (max-width: 991.98px) { 
		}

		@media only screen and (max-width: 767.98px) { 
		}

		@media only screen and (max-width: 575.98px) { 
			transform: translateY(-10%);
		}
	}
	.slick-prev:hover, .slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus {
		outline: none;
		background: transparent;
		color: transparent; 
	}
	.slick-prev:hover:before, .slick-prev:focus:before,
	.slick-next:hover:before,
	.slick-next:focus:before {
		opacity: 1; 
		color: $green;
	}
	.slick-prev.slick-disabled:before,
	.slick-next.slick-disabled:before {
		opacity: 0.25; 
	}
	.slick-prev:before,
	.slick-next:before {
		font-family: "fontello";
		font-size: 50px;
		color: $green;
		opacity: 0.75;
	}

	.slick-prev {
		left: 40px; 
	}

	.slick-prev:before {
		content: '\e80a';
	}

	.slick-next {
		right: 40px; 
	}

	.slick-next:before {
		content: "\e809";
	}


	.slick-prev:focus,
	.slick-next:focus
	{
		opacity: 1;
	}

	.slick-disabled {
		opacity: .35!important;
	}

	.slick-dots {
		display: inline-block!important;
		left: 50%;
		transform: translateX(-50%);
		bottom: 7vh;

		li {
			margin: 7px;
			width: 13px;
			height: 13px;

			button {
				background: $green;
				display: block;
				height: 15px;
				width: 15px;
				font-size: 0px;
				border-radius: 50%;
				border: 1px solid transparent;
				opacity: 0.75;
				transition: all .3s linear;
				&:before {
					font-size: 0;
					opacity: 0;
					display: none;
				}

			}
			&.slick-active button {
				opacity: 1;
				transform: scale(2);
				border: 1px solid #fff;
			}
		}
	}

	.slick-dots li.slick-active button {
		background: transparent;
	}

	.slick-current, .slick-slide, .slick-active { 
		outline: none!important;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
}

.endHeader {
	position: absolute;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	@media only screen and (max-width: 575.98px) { 
		bottom: 100px;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.arrowBtn {
		position: relative;
		display: block;
		margin: 20px auto;
		font-weight: 400;
		font-size: 30px;
		animation: arrow-bounce 3s infinite;
		color: $green;
		&:hover {
			animation-play-state: paused;
		}
		@media only screen and (max-width: 991.98px) {
			display: none; 
		}
	}
	.btn-green {
		display: block;
		margin: auto;
	}
}

@keyframes arrow-bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}