body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  text-decoration: none;
  outline: none; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 400; }

::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400; }

:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400; }

:-moz-placeholder {
  font-size: 1rem;
  font-weight: 400; }

textarea {
  outline: none;
  -moz-appearance: none;
  resize: none;
  width: 100%; }

/* MAIN STYLE */
body {
  min-width: 320px;
  position: relative;
  padding-right: 0 !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  background: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

ul {
  list-style-type: none; }

a {
  color: inherit;
  outline: none; }

.hidden {
  display: none; }

.wrapper-fluid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden; }

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  @media only screen and (max-width: 991.98px) {
    .wrapper .wrapper {
      width: 970px; } }
  @media only screen and (max-width: 767.98px) {
    .wrapper .wrapper {
      width: 750px; } }
  @media only screen and (max-width: 575.98px) {
    .wrapper .wrapper {
      width: 100%; } }

.hide {
  display: none; }

.responsive {
  display: block;
  width: 100%;
  height: auto; }

section {
  padding: 80px 0; }
  @media only screen and (max-width: 991.98px) {
    section {
      padding: 40px 0; } }
  @media only screen and (max-width: 575.98px) {
    section {
      padding: 25px 0; } }

/* .scrollup {
	width: 37px;
	height: 84px;
	position: fixed;
	bottom: 50px;
	right: 15px;
	display: none;
	text-indent: -9999px;
	background: url('../images/arrow-top.png') no-repeat;
	z-index: 100;
	@media @tablet {
		right: 100px;
	}
} */
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* ------------	LOADER ------------*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001; }

#preloader i {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/preloader.gif") no-repeat 50% 50%;
  margin: -35px 0 0 -35px; }

/* ------------ HEADER ------------ */
.header {
  text-align: center;
  text-transform: uppercase; }
  .header .img__wrap {
    max-width: 500px; }
    .header .img__wrap img {
      display: block;
      width: 100%;
      height: auto; }
  .header__logo {
    display: inline-block;
    font-weight: 700;
    font-size: 3.75rem;
    color: #000; }
    @media only screen and (max-width: 767.98px) {
      .header__logo {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 575.98px) {
      .header__logo {
        font-size: 1.375rem; } }
  .header__subtitle {
    font-weight: 400;
    letter-spacing: 11px;
    color: #000; }
    @media only screen and (max-width: 767.98px) {
      .header__subtitle {
        letter-spacing: 5px; } }
    @media only screen and (max-width: 575.98px) {
      .header__subtitle {
        letter-spacing: 2px;
        font-size: 14px; } }

/* ------------ MENU ------------ */
.button__container {
  position: fixed;
  top: 4%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  .button__container:hover {
    opacity: .7; }
  .button__container.active .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
        -ms-transform: translateY(10px) translateX(0) rotate(45deg);
            transform: translateY(10px) translateX(0) rotate(45deg);
    background: #000; }
  .button__container.active .middle {
    opacity: 0;
    background: #000; }
  .button__container.active .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
            transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #000; }
  .button__container span {
    background: #000;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease; }
    .button__container span:nth-of-type(2) {
      top: 10px; }
    .button__container span:nth-of-type(3) {
      top: 20px; }

.menu__wrapper .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  -o-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .menu__wrapper .overlay:before {
    content: '';
    background: #fafafa;
    background: url(../img/IMG_4093.jpg) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute; }
    @media only screen and (max-width: 767.98px) {
      .menu__wrapper .overlay:before {
        background: #fafafa; } }
  .menu__wrapper .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%; }
    .menu__wrapper .overlay.open:before {
      left: 0; }
    .menu__wrapper .overlay.open:after {
      right: 0; }
    .menu__wrapper .overlay.open li {
      -webkit-animation: fadeInRight .5s ease forwards;
              animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
              animation-delay: .35s; }
      .menu__wrapper .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .45s;
                animation-delay: .45s; }
      .menu__wrapper .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .55s;
                animation-delay: .55s; }
      .menu__wrapper .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .65s;
                animation-delay: .65s; }
  .menu__wrapper .overlay .overlay__menu {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-25%, -50%);
        -ms-transform: translate(-25%, -50%);
            transform: translate(-25%, -50%);
    font-size: 34px;
    font-weight: 400;
    text-align: left;
    z-index: 100; }
    @media only screen and (max-width: 991.98px) {
      .menu__wrapper .overlay .overlay__menu {
        -webkit-transform: translate(-40%, -50%);
            -ms-transform: translate(-40%, -50%);
                transform: translate(-40%, -50%); } }
    @media only screen and (max-width: 767.98px) {
      .menu__wrapper .overlay .overlay__menu {
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: center;
        font-size: 22px; } }
  .menu__wrapper .overlay .overlay__menu-list {
    padding: 0;
    display: inline-block;
    position: relative;
    height: 90%;
    max-width: 450px; }
    @media only screen and (max-width: 767.98px) {
      .menu__wrapper .overlay .overlay__menu-list {
        max-width: 300px; } }
    .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item {
      display: block;
      min-height: 60px;
      position: relative;
      opacity: 0; }
      .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item .overlay__menu-link {
        display: block;
        position: relative;
        color: #000;
        text-decoration: none;
        overflow: hidden;
        line-height: 60px;
        letter-spacing: 2px; }
        .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item .overlay__menu-link:hover:after, .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item .overlay__menu-link:focus:after, .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item .overlay__menu-link:active:after {
          width: 100%; }
        .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item .overlay__menu-link:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          height: 3px;
          background: #000;
          -webkit-transition: .35s;
          -o-transition: .35s;
          transition: .35s; }
          @media only screen and (max-width: 767.98px) {
            .menu__wrapper .overlay .overlay__menu-list .overlay__menu-item .overlay__menu-link:after {
              height: 1px; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/* SECTION 2 GALLERY */
.gallery {
  padding-top: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }
  .gallery .grid {
    position: relative;
    max-width: 100%;
    margin: auto; }
  .gallery .grid:after {
    content: '';
    display: block;
    clear: both; }
  .gallery .grid-item {
    float: left;
    width: 19%;
    height: auto;
    margin: 0.5%;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    @media only screen and (max-width: 1199.98px) {
      .gallery .grid-item {
        width: 24%; } }
    @media only screen and (max-width: 991.98px) {
      .gallery .grid-item {
        width: 32%; } }
    @media only screen and (max-width: 767.98px) {
      .gallery .grid-item {
        width: 32%; } }
    @media only screen and (max-width: 575.98px) {
      .gallery .grid-item {
        width: 49%; } }
    @media only screen and (max-width: 359px) {
      .gallery .grid-item {
        width: 100%;
        margin: 10px 0;
        float: none; } }
    .gallery .grid-item img {
      display: block;
      width: 100%;
      height: auto; }
    .gallery .grid-item:hover {
      -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
              transform: scale(1.15);
      z-index: 10; }
      @media only screen and (max-width: 767.98px) {
        .gallery .grid-item:hover {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; } }

/* SECTION 3 ABOUT */
.about {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }
  .about__title {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center; }
    @media only screen and (max-width: 767.98px) {
      .about__title {
        font-size: 1.875rem; } }
    @media only screen and (max-width: 575.98px) {
      .about__title {
        font-size: 1.25rem; } }
  .about__box {
    padding: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    @media only screen and (max-width: 991.98px) {
      .about__box {
        padding: 50px 0; } }
    @media only screen and (max-width: 767.98px) {
      .about__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media only screen and (max-width: 575.98px) {
      .about__box {
        padding: 25px 0; } }
  .about .box__left {
    width: 40%; }
    .about .box__left img {
      -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.35); }
    @media only screen and (max-width: 767.98px) {
      .about .box__left {
        width: 60%;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 575.98px) {
      .about .box__left {
        width: 100%; } }
  .about .box__right {
    margin-left: 50px;
    width: 60%; }
    @media only screen and (max-width: 991.98px) {
      .about .box__right {
        margin-left: 25px; } }
    @media only screen and (max-width: 767.98px) {
      .about .box__right {
        margin-left: 0;
        width: 80%; } }
    @media only screen and (max-width: 575.98px) {
      .about .box__right {
        width: 100%; } }
    .about .box__right p {
      font-size: 17px;
      padding-bottom: 10px; }

/* SECTION 4 BLOG */
.blog {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }
  .blog__title {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center; }
    @media only screen and (max-width: 767.98px) {
      .blog__title {
        font-size: 1.875rem; } }
    @media only screen and (max-width: 575.98px) {
      .blog__title {
        font-size: 1.25rem; } }
  .blog__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 60px 0; }
    @media only screen and (max-width: 575.98px) {
      .blog__box {
        padding: 30px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .blog article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48%;
    margin-bottom: 50px; }
    @media only screen and (max-width: 1199.98px) {
      .blog article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media only screen and (max-width: 575.98px) {
      .blog article {
        width: 300px; } }
    .blog article .article__img {
      width: 40%; }
      @media only screen and (max-width: 1199.98px) {
        .blog article .article__img {
          width: auto; } }
    .blog article .article__content {
      margin-left: 5%;
      width: 55%; }
      @media only screen and (max-width: 1199.98px) {
        .blog article .article__content {
          margin-left: 0;
          margin-top: 15px;
          width: auto; } }
    .blog article img {
      display: block;
      width: 100%;
      height: auto; }
    .blog article h3 {
      font-size: 18px;
      padding-bottom: 15px;
      color: rgba(0, 0, 0, 0.55);
      -webkit-transition: color .3s linear;
      -o-transition: color .3s linear;
      transition: color .3s linear;
      cursor: pointer; }
      .blog article h3:hover {
        color: black; }
    .blog article p {
      padding-bottom: 15px; }
    .blog article a {
      text-decoration: underline;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.55);
      -webkit-transition: color .3s linear;
      -o-transition: color .3s linear;
      transition: color .3s linear; }
      .blog article a:hover {
        color: black; }

/* SECTION 5 BLOG */
.article {
  padding-top: 50px; }
  .article__box {
    padding: 60px 80px;
    background: #fff; }
    @media only screen and (max-width: 991.98px) {
      .article__box {
        padding: 60px 30px; } }
    @media only screen and (max-width: 575.98px) {
      .article__box {
        padding: 25px; } }
  .article h1 {
    font-weight: 700;
    font-size: 2.25rem; }
    @media only screen and (max-width: 767.98px) {
      .article h1 {
        font-size: 1.875rem; } }
    @media only screen and (max-width: 575.98px) {
      .article h1 {
        font-size: 1.25rem; } }
  .article span, .article time {
    font-size: 1.125rem; }
    @media only screen and (max-width: 575.98px) {
      .article span, .article time {
        font-size: 1rem; } }
  .article p {
    padding: 15px 0; }
  .article ul, .article ol {
    padding: 15px 0; }
  .article img {
    display: block;
    max-width: 100%;
    height: auto; }
  .article .article__content {
    font-size: 18px; }
  .article li {
    list-style-position: inside; }

.hare i {
  font-size: 34px; }

/* SECTION 6 BLOG */
.contact {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }
  .contact__wrap img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 25px auto; }
  .contact__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0; }
    @media only screen and (max-width: 991.98px) {
      .contact__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 30px 0; } }
    .contact__box > div {
      width: 50%; }
      @media only screen and (max-width: 991.98px) {
        .contact__box > div {
          width: 100%;
          max-width: 450px; } }
      @media only screen and (max-width: 575.98px) {
        .contact__box > div {
          max-width: 290px; } }
    .contact__box p {
      padding: 10px 0; }
  .contact .feedback__form {
    margin-left: 30px; }
    @media only screen and (max-width: 991.98px) {
      .contact .feedback__form {
        margin-left: 0; } }
  .contact .form__line {
    padding: 10px;
    border: none;
    -webkit-box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
            box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
    -webkit-transition: -webkit-box-shadow .3s linear;
    transition: -webkit-box-shadow .3s linear;
    -o-transition: box-shadow .3s linear;
    transition: box-shadow .3s linear;
    transition: box-shadow .3s linear, -webkit-box-shadow .3s linear; }
    .contact .form__line:focus {
      -webkit-box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0);
              box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0); }
  .contact .form__row .form__line {
    width: 100%;
    min-height: 150px; }
    @media only screen and (max-width: 991.98px) {
      .contact .form__row .form__line {
        width: 450px; } }
    @media only screen and (max-width: 575.98px) {
      .contact .form__row .form__line {
        width: 290px; } }
  .contact .row__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px; }
    @media only screen and (max-width: 991.98px) {
      .contact .row__top {
        margin-top: 25px; } }
    .contact .row__top input {
      width: 48%;
      margin-bottom: inherit; }
      @media only screen and (max-width: 991.98px) {
        .contact .row__top input {
          width: 450px; } }
      @media only screen and (max-width: 575.98px) {
        .contact .row__top input {
          width: 290px; } }
    @media only screen and (max-width: 991.98px) {
      .contact .row__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contact .btn {
    display: block;
    margin: 20px 0;
    padding: 6px 25px;
    border: none;
    -webkit-box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
            box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
    -webkit-transition: -webkit-box-shadow .3s linear;
    transition: -webkit-box-shadow .3s linear;
    -o-transition: box-shadow .3s linear;
    transition: box-shadow .3s linear;
    transition: box-shadow .3s linear, -webkit-box-shadow .3s linear; }
    .contact .btn:hover {
      -webkit-box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0);
              box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0); }
    @media only screen and (max-width: 767.98px) {
      .contact .btn {
        margin: 20px auto; } }

/* SECTION 7 GALLERY */
.galleryPage {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }
  .galleryPage__box {
    padding: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .galleryPage__item {
    position: relative;
    width: 490px;
    height: auto;
    margin-bottom: 40px; }
    @media only screen and (max-width: 991.98px) {
      .galleryPage__item {
        width: 370px;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 575.98px) {
      .galleryPage__item {
        width: 290px;
        margin-bottom: 25px; } }
    .galleryPage__item:hover img {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .galleryPage__item img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      -webkit-transition: -webkit-box-shadow 0.35s;
      transition: -webkit-box-shadow 0.35s;
      -o-transition: box-shadow 0.35s;
      transition: box-shadow 0.35s;
      transition: box-shadow 0.35s, -webkit-box-shadow 0.35s;
      -webkit-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.35); }
    .galleryPage__item figcaption {
      text-align: center;
      padding-bottom: 20px;
      font-size: 1.875rem;
      color: #000; }
      @media only screen and (max-width: 991.98px) {
        .galleryPage__item figcaption {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 767.98px) {
        .galleryPage__item figcaption {
          font-size: 1.375rem; } }

/* FOOTER */
.footer {
  padding: 25px 0;
  background: rgba(117, 115, 116, 0.056); }
  .footer__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 575.98px) {
      .footer__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer .right {
    text-align: right; }
    @media only screen and (max-width: 575.98px) {
      .footer .right {
        padding-top: 15px; } }
  .footer .name {
    font-weight: 700;
    font-size: 13px; }

/* @import "media.scss"; */
