@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoRegular/LatoRegular.woff2') format('woff2'), url('../fonts/LatoRegular/LatoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoBold/LatoBold.woff2') format('woff2'), url('../fonts/LatoBold/LatoBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoHeavy/LatoHeavy.woff2') format('woff2'), url('../fonts/LatoHeavy/LatoHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../fonts/Fontello/fontello.woff2') format('woff2'), url('../fonts/Fontello/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
[class^='icon-']:before, [class*=' icon-']:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-play:before {
    content: '\e800';
}
/* '' */
.icon-down-open:before {
    content: '\e801';
}
/* '' */
.icon-left-open:before {
    content: '\e802';
}
/* '' */
.icon-right-open:before {
    content: '\e803';
}
/* '' */
.icon-up-open:before {
    content: '\e804';
}
/* '' */
.icon-up-open-big:before {
    content: '\e808';
}
/* '' */
.icon-right-open-big:before {
    content: '\e809';
}
/* '' */
.icon-left-open-big:before {
    content: '\e80a';
}
/* '' */
.icon-down-open-big:before {
    content: '\e80b';
}
/* '' */
.icon-down-open-2:before {
    content: '\f004';
}
/* '' */
.icon-up-open-2:before {
    content: '\f005';
}
/* '' */
.icon-right-open-2:before {
    content: '\f006';
}
/* '' */
.icon-left-open-2:before {
    content: '\f007';
}
/* '' */
.icon-facebook-1:before {
    content: '\f09a';
}
/* '' */
.icon-youtube:before {
    content: '\f167';
}
/* '' */
.icon-instagram:before {
    content: '\f16d';
}
/* '' */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:after, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container, .wrapper {
    margin: 0 auto;
    width: 100%;
}
@media (min-width: 768px) {
    .container, .wrapper {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container, .wrapper {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .wrapper {
        width: 100%;
        max-width: 1700px;
        margin: auto;
    }
}
.mainwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100%;
    overflow: hidden;
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
            text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, select {
    text-transform: none;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
[hidden] {
    display: none;
}
.slider {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.b-lazy {
    -webkit-transition: opacity 0.5s linear;
         -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}
.offscreen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* ONLY FOR IE11 */
/* ONLY FOR EDGE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, q, s, strike, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
a {
    outline: none;
    color: inherit;
}
li {
    list-style-type: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button:hover {
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-right: 0 !important;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    height: 100%;
    overflow-y: scroll;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #21737b;
}
*::-moz-selection {
    background-color: #6b6c70;
    color: #fff;
}
*::selection {
    background-color: #6b6c70;
    color: #fff;
}
section {
    padding: 80px 0;
}
@media only screen and (min-width: 1600px) {
    section {
        padding: 120px 0;
    }
}
main {
    padding-top: 100px;
}
@media only screen and (min-width: 1200px) {
    main {
        padding-top: 100px;
    }
}
@media only screen and (min-width: 1600px) {
    main {
        padding-top: 160px;
    }
}
.btn {
    outline: none !important;
}
.section__title {
    display: table;
    margin: auto;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #312f2f;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .section__title {
        font-size: 28px;
    }
}
@media only screen and (min-width: 992px) {
    .section__title {
        font-size: 36px;
        text-align: left;
    }
}
@media only screen and (min-width: 1200px) {
    .section__title {
        font-size: 42px;
    }
}
@media only screen and (min-width: 1600px) {
    .section__title {
        font-size: 48px;
    }
}
.section__title:before {
    content: '';
    position: absolute;
    top: -120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background: #6dd9e4;
}
@media only screen and (min-width: 1200px) {
    .section__title:before {
        width: 40px;
        height: 40px;
    }
}
.section__title:after {
    content: '';
    position: absolute;
    top: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 140px;
    height: 10px;
    background: #312f2f;
}
@media only screen and (min-width: 1200px) {
    .section__title:after {
        top: -40px;
        width: 180px;
        height: 20px;
    }
}
input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    resize: none;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    color: #000;
}
input::-ms-input-placeholder {
    font-size: 16px;
    color: #000;
}
input::placeholder {
    font-size: 16px;
    color: #000;
}
.header__top {
    padding: 15px 0;
    background: #000;
}
@media only screen and (min-width: 992px) {
    .header__top {
        padding: 20px 0;
    }
}
@media only screen and (min-width: 1600px) {
    .header__top {
        padding: 60px 0;
    }
}
.header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (min-width: 992px) {
    .header__box {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
.header__logo img {
    max-width: 40px;
}
@media only screen and (min-width: 992px) {
    .header__logo img {
        max-width: 62px;
    }
}
@media only screen and (min-width: 992px) {
    .header__logo {
        margin-right: 150px;
    }
}
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 100px;
}
@media only screen and (min-width: 992px) {
    .header__list {
        padding-top: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
}
.header__item {
    margin-right: 20px;
}
.header__link {
    display: block;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    z-index: 10;
}
@media only screen and (min-width: 992px) {
    .header__link {
        background: #21737b;
    }
}
.header__link:hover {
    background: #333;
}
@media only screen and (min-width: 992px) {
    .header .wrapper {
        width: 100%;
    }
}
.header__slider {
    margin: 0;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .header__slider {
        margin: 30px auto 0 auto;
    }
}
@media only screen and (min-width: 1600px) {
    .header__slider {
        margin: 60px auto 0;
    }
}
.header__slide {
    position: relative;
    width: 100vw;
    min-height: 90vh;
}
@media only screen and (min-width: 768px) {
    .header__slide {
        min-height: 380px;
    }
}
@media only screen and (min-width: 992px) {
    .header__slide {
        min-height: 490px;
    }
}
@media only screen and (min-width: 1600px) {
    .header__slide {
        min-height: 620px;
    }
}
.header__slide .slide__img img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
@media only screen and (min-width: 768px) {
    .header__slide .slide__img img {
        display: block;
        max-width: 100%;
        height: auto;
        min-height: 300px;
    }
}
@media only screen and (min-width: 992px) {
    .header__slide .slide__img img {
        min-height: 450px;
    }
}
.header__slide .slide__content {
    margin: 80px auto 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10vh;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    z-index: 10;
    color: #000;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .header__slide .slide__content {
        padding-top: 0;
        max-width: 350px;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .header__slide .slide__content {
        max-width: 600px;
    }
}
.header__slide .slide__title {
    font-size: 20px;
    font-weight: 900;
}
@media only screen and (min-width: 768px) {
    .header__slide .slide__title {
        font-size: 28px;
    }
}
@media only screen and (min-width: 992px) {
    .header__slide .slide__title {
        font-size: 36px;
    }
}
@media only screen and (min-width: 1200px) {
    .header__slide .slide__title {
        font-size: 42px;
    }
}
@media only screen and (min-width: 1600px) {
    .header__slide .slide__title {
        font-size: 48px;
    }
}
.header__slide .slide__btnWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 25px 0;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .header__slide .slide__btnWrap {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 40px 0;
        max-width: 600px;
    }
}
.header__slide .btn {
    min-width: 130px;
    line-height: 50px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}
@media tablet {
    .header__slide .btn {
        min-width: 150px;
        padding: 0 35px;
        margin-right: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .header__slide .btn {
        width: 200px;
        margin-right: 90px;
    }
}
.header__slide .btn:hover {
    background: #333;
}
.header__slide img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.catalog article {
    padding: 80px 0 30px;
}
.catalog__titles {
    margin-left: 30px;
    color: #312f2f;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .catalog__titles {
        text-align: left;
    }
}
.catalog__slider1, .catalog__slider2 {
    padding: 30px 0;
}
.catalog__slide {
    margin: 0 30px;
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .catalog__slide {
        text-align: left;
    }
}
.catalog__slide:hover .catalog__img {
    border: 3px solid #312f2f;
}
.catalog__img {
    padding: 35px 0;
    -webkit-transition: border-color 0.3s linear;
         -o-transition: border-color 0.3s linear;
            transition: border-color 0.3s linear;
    border: 3px solid #6dd9e4;
}
.catalog__img img {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
    width: 160px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
}
.catalog__name {
    padding: 10px 0;
    font-size: 14px;
    color: #312f2f;
}
.catalog__price {
    font-size: 24px;
    font-weight: 600;
    color: #6dd9e4;
    text-transform: uppercase;
}
.catalog .slick-dots {
    bottom: -30px;
}
.catalog .slide__btnWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 700px;
}
@media only screen and (min-width: 768px) {
    .catalog .slide__btnWrap {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
}
.catalog .btn {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    padding: 0 30px;
    line-height: 50px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
    .catalog .btn {
        margin: 0 35px;
        width: inherit;
    }
}
.catalog .btn:hover {
    background: #333;
}
.advantages .wrapper {
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .advantages .wrapper {
        width: 945px;
    }
}
@media only screen and (min-width: 1200px) {
    .advantages .wrapper {
        width: 100%;
    }
}
.advantages__title {
    padding-bottom: 30px;
}
@media only screen and (min-width: 992px) {
    .advantages__title {
        padding-bottom: 0;
    }
}
.advantages__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 60px 15px;
    background: #000;
}
@media only screen and (min-width: 768px) {
    .advantages__box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
        padding: 60px 30px;
    }
}
@media only screen and (min-width: 992px) {
    .advantages__box {
        padding: 80px 0;
        min-height: 478px;
        background: none;
    }
}
@media only screen and (min-width: 1200px) {
    .advantages__box {
        padding: 80px;
    }
}
@media only screen and (min-width: 1600px) {
    .advantages__box {
        padding: 100px 270px;
    }
}
.advantages__photo {
    max-width: 290px;
}
.advantages__photo img {
    display: block;
    margin: auto;
    min-height: 400px;
    max-width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
}
@media only screen and (min-width: 992px) {
    .advantages__photo img {
        height: 430px;
    }
}
.advantages__content {
    position: relative;
}
@media only screen and (min-width: 992px) {
    .advantages__content {
        margin-left: 85px;
    }
}
@media only screen and (min-width: 992px) {
    .advantages__content:before {
        left: -54%;
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) skew(30deg);
            -ms-transform: translateY(-50%) skew(30deg);
                transform: translateY(-50%) skew(30deg);
        width: 100%;
        height: 500px;
        width: 1000px;
        background: #000;
        z-index: -1;
    }
}
@media only screen and (min-width: 1200px) {
    .advantages__content:before {
        left: -42%;
    }
}
@media only screen and (min-width: 1600px) {
    .advantages__content:before {
        left: -30%;
    }
}
@media only screen and (min-width: 992px) {
    .advantages__list {
        max-width: 600px;
    }
}
.advantages__item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}
.advantages__item:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
}
.advantages__titles {
    padding: 30px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .advantages__titles {
        padding-bottom: 60px;
        text-align: inherit;
    }
}
.advantages-reorder .advantages__photo {
    margin-right: 0;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
@media only screen and (min-width: 768px) {
    .advantages-reorder .advantages__photo {
        margin-left: 50px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
@media only screen and (min-width: 992px) {
    .advantages-reorder .advantages__photo {
        margin-left: 100px;
    }
}
@media only screen and (min-width: 1200px) {
    .advantages-reorder .advantages__photo {
        margin-left: 100px;
    }
}
@media only screen and (min-width: 992px) {
    .advantages-reorder .advantages__content {
        padding-left: 80px;
    }
}
@media only screen and (min-width: 1200px) {
    .advantages-reorder .advantages__content {
        padding-left: 150px;
    }
}
@media only screen and (min-width: 1600px) {
    .advantages-reorder .advantages__content {
        padding-left: 100px;
    }
}
.advantages-reorder .advantages__content:before {
    left: -26%;
    -webkit-transform: translateY(-50%) skew(-30deg);
        -ms-transform: translateY(-50%) skew(-30deg);
            transform: translateY(-50%) skew(-30deg);
}
@media only screen and (min-width: 1200px) {
    .advantages-reorder .advantages__content:before {
        left: -1%;
    }
}
@media only screen and (min-width: 1600px) {
    .advantages-reorder .advantages__content:before {
        left: -12%;
    }
}
.media {
    padding-bottom: 100px;
}
.media__slider {
    padding: 30px 0;
}
.media__slide {
    margin: 0 25px;
    position: relative;
}
.media__slide img {
    display: block;
    max-width: 100%;
    height: auto;
}
.media__link {
    display: block;
    position: relative;
    cursor: pointer;
}
.media__link:before {
    content: '\e800';
    font-family: 'fontello';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 56px;
    -webkit-transition: color 0.3s linear;
         -o-transition: color 0.3s linear;
            transition: color 0.3s linear;
}
.media__link:hover:before {
    color: #6dd9e4;
}
.media__titles {
    padding-top: 20px;
    color: #312f2f;
}
@media only screen and (min-width: 992px) {
    .media__titles {
        padding-top: 30px;
    }
}
@media only screen and (min-width: 1200px) {
    .media__titles {
        padding-top: 55px;
    }
}
.media__text {
    padding-top: 20px;
    color: #312f2f;
}
.media .slick-prev, .media .slick-next {
    top: 55%;
}
@media only screen and (min-width: 768px) {
    .media .slick-prev, .media .slick-next {
        top: 105%;
    }
}
.media .slick-dots {
    bottom: -30px;
}
.media .slick-dots li {
    counter-increment: li;
}
.media .slick-dots li button {
    display: block;
    width: 25px;
    height: 25px;
    background: none;
    border-radius: 0;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    font-size: 20px;
}
.media .slick-dots li button:before {
    content: counter(li);
}
.media .slick-dots li.slick-active button {
    background: none;
    border-radius: 50%;
    opacity: 1;
    color: #6dd9e4;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.footer {
    padding: 30px 0;
    background: #000;
}
@media only screen and (min-width: 768px) {
    .footer {
        padding: 100px 0;
    }
}
.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
    .footer__box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
}
.footer__tel {
    max-width: 140px;
}
.footer__tel a {
    display: block;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
@media only screen and (min-width: 768px) {
    .footer__tel a {
        margin-bottom: 0;
    }
}
.footer__tel a:hover {
    color: #21737b;
}
.footer .btn {
    margin-top: 30px;
    background: #21737b;
    color: #000;
    padding: 0 30px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
    .footer .btn {
        margin-top: 0;
    }
}
.footer .btn:hover {
    background: #333;
}
.footer__link {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
    .footer__link {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 0;
    }
}
.footer__link a {
    font-size: 44px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.footer__link a:hover {
    color: #21737b;
}
.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;
}
@media only screen and (min-width: 320px) {
    .remodal-first {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first {
        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0;
        background: url('../images/form.png') no-repeat top center;
        padding: 120px 0 0 109px;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-first .remodal-close {
        color: #000 !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first .remodal-close {
        color: #fff !important;
    }
}
.remodal-first:before {
    display: none;
}
.btn-remodal {
    margin: 30px 0 0 15px;
}
.remodal-close {
    top: 12px !important;
    right: 15px !important;
    color: #000 !important;
    font-weight: 900;
    z-index: 10;
}
@media only screen and (min-width: 320px) {
    .remodal-close {
        width: 10px !important;
        height: 16px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close {
        width: 35px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-close:before {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close:before {
        font-size: 50px !important;
        top: 0 !important;
        left: 0 !important;
    }
}
.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;
}
@media only screen and (min-width: 320px) {
    .remodal-common {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-common {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
}
.remodal-common .remodal-close {
    color: #000 !important;
}
#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
.formBox {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #f6f6f6;
    border-width: 0;
    border-color: transparent;
    border-radius: 4px;
    border-style: solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block !important;
    margin: 0;
    padding: 0;
    position: relative;
}
.formBox form {
    padding: 30px;
    color: #000;
}
.formBox .form__title {
    padding-bottom: 25px;
    font-size: 22px;
    text-transform: uppercase;
}
.formBox .form__text {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.25;
}
.formBox .form__line {
    width: 90%;
    padding: 10px 15px;
    margin: 10px auto;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    background: #fff;
}
.formBox .btn {
    margin-top: 25px;
    padding: 0 30px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
}
.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    top: 54%;
    bottom: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 50px;
    height: 100%;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    z-index: 1000;
    font-size: 0;
    line-height: 0;
    outline: none;
}
@media only screen and (min-width: 768px) {
    .slick-prev, .slick-next {
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}
.slick-prev:before, .slick-next:before {
    display: block;
    font-size: 42px;
    font-family: 'fontello';
    color: #312f2f;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    z-index: 20;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
    color: #6dd9e4;
}
.slick-prev {
    left: 0;
}
@media only screen and (min-width: 768px) {
    .slick-prev {
        left: 30%;
    }
}
.slick-next {
    right: 0;
}
@media only screen and (min-width: 768px) {
    .slick-next {
        right: 30%;
    }
}
.slick-prev:before {
    content: '\e80a';
}
.slick-next:before {
    content: '\e809';
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    opacity: 1;
}
.slick-disabled {
    opacity: 0.35!important;
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
.slick-dots {
    display: inline-block !important;
    bottom: 30px;
    -webkit-border-image: transparent;
         -o-border-image: transparent;
            border-image: transparent;
}
.slick-dots li {
    margin: 4px 8px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
}
.slick-dots li button {
    background: #000;
    display: block;
    height: 10px;
    width: 10px;
    font-size: 0;
    color: #000;
    border-radius: 50%;
    opacity: 0.75;
}
.slick-dots li button:before {
    font-size: 0;
    opacity: 0;
    display: none;
}
.slick-dots li.slick-active button {
    background: #6dd9e4;
    border-radius: 50%;
    opacity: 1;
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
/* RESPONSIVE MENU TO 992px*/
.open {
    -webkit-transform: translateX(-220px);
        -ms-transform: translateX(-220px);
            transform: translateX(-220px);
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: relative;
    z-index: 101;
}
@media only screen and (min-width: 992px) {
    .open {
        display: none;
    }
}
.overlay {
    position: fixed;
    width: 220px;
    background: #000;
    height: 100vh;
    top: 0;
    right: -220px;
    overflow-y: scroll;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    z-index: 100;
}
@media only screen and (min-width: 992px) {
    .overlay {
        position: inherit;
        width: inherit;
        height: inherit;
        background: inherit;
        overflow-y: inherit;
    }
}
.overlay::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.overlay::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.overlay::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #11569d;
    background-color: #000;
}
.burger {
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
    z-index: 1000;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    z-index: 102;
}
.burger:hover {
    cursor: pointer;
}
@media only screen and (min-width: 992px) {
    .burger {
        display: none;
    }
}
.burger i {
    display: block;
    width: 40px;
    height: 2px;
    background: #21737b;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #21737b;
    width: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.burger i:before {
    margin-top: -12px;
}
.burger i:after {
    margin-top: 12px;
}
.burger:hover i:before {
    margin-top: -14px;
}
.burger:hover i:after {
    margin-top: 14px;
}
.burger.active i {
    background: transparent;
}
.burger.active i:before, .burger.active i:after {
    left: -5px;
    width: 50px;
}
.burger.active i:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
}
.burger.active i:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -12px;
}
.burger.active:hover i:before, .burger.active:hover i:after {
    width: 60px;
    margin: 0;
    left: -10px;
    top: 0;
}
/* END RESPONSIVE MENU TO 992px*/
/*# sourceMappingURL=style.css.map */
