body {
	font: 24px/30px 'Montserrat Bold', sans-serif;	
}
a {
	text-decoration: none;
}
.wrapper {
	margin: 0 auto;
	width: 940px;
}
.clearfix:after {
	content: " ";
	display: table; 
	clear: both;
}
/* HEADER */
header {
	background: url(../img/header_background.jpg) 50% 50%  no-repeat;  
	background-size: cover; 
	position: relative; 
	height: 680px;
	min-width: 100vw;
}
.header__wrapper{ 
	margin: 0 auto;
}
.header-top {
	padding-top: 20px;
	padding-right: 10%;
}
.header-top a {
	color: #fff;
}
.header-top__logo {
	float: left;
	padding-left: 10%;
	font-size: 20px;
	font-weight: bold;
}
.header-top__registration  {
	float: right;
	padding: 0 20px;
	border: 1px solid #fff;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
}
.header-top__registration:hover {
	border: 1px solid transparent;
	-webkit-transition: 0.3s; 
	transition: 0.3s;	
}
.header-headline {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%); 
	text-align: center;
	color: #fff;
}
.header-headline--h2 {
/* 	width: 500px; */
	font: 52px/54px 'Montserrat', bold;
	text-transform: uppercase;
}
.header-headline--h2 span {
	display: inline-block;
}
.header-headline--h3 {
	margin: 40px 0;
	font: 24px/30px 'Roboto Light';
	letter-spacing: 0.6px;
}
.header-headline--button {
	font-size: 14px; 
 	padding: 10px 18px; 
	font-weight: bold;
	color: #fff;
	background: #ff4e50;
	border: 1px solid #ff4e50;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}
.header-headline--button:hover {
	color: #fff;
	text-shadow: 0 0 1px #fff;
	background: #ff4e30;
	border: 1px solid #ff4e30;
}
/* SECTION HOW IT WORKS */
.section-title {
	padding-top: 96px;
	padding-bottom: 34px;
	font: 22px/26px 'Montserrat', bold;
	text-align: center;
}
.jcarousel {
	width: 300px;
	float: left;
	position: relative;
	overflow: hidden;
}
.jcarousel:nth-child(n+3){
	margin-left: 10px;
}
.jcarousel ul {
	width: 20000em;
	position: relative;
}
.jcarousel li {
	float: left;
}
.how-it-works__step{
	width: 300px;
	height: 400px;
	position: relative;
	float: left;
}
.how-it-works__step:nth-child(n+3){
	margin-left: 20px;
}
 .left-arrow{
	content: "";
	position: absolute;
	top: 150px;
	left: 20px;
	height: 56px;
    width: 30px;
	background: url(../img/left-arrow.png);
}
.left-arrow:hover{
	opacity: 0.5;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
}
.right-arrow{
	content: "";
	position: absolute;
	top: 150px;
	right: 20px;
	height: 56px;
    width: 30px;
	background: url(../img/right-arrow.png);
}
.right-arrow:hover{
	opacity: 0.5;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
}
.step-number {
	display: inline-block;
	margin: 230px 0 0 20px; 
	padding: 2px 14px;
	font: 10px/14px 'Montserrat Regular';
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #ff4e50;
	border: 1px solid #ff4e50;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}
.how-it-works__step-name {
	color: #fff;
	font-weight: bold;
	padding: 14px 20px; 
}
.how-it-works__text {
	padding: 0 20px;
	font-size: 14px;
	line-height: 16px;
	color: #ccc;
}
.step1 {
	background: url(../img/how_works_1.jpg) no-repeat;
}
.step2 {
	background: url(../img/how_works_2.jpg) no-repeat;
}
.step2 .step-number {
	margin-top: 260px;
}
.step3 {
	background: url(../img/how_works_3.jpg) no-repeat;
}
/* SECTION MEET A PARTNER */
.meet-partner{
	margin: 0 auto;
	width: 940px;
}
.meet-partner {
	clear: both;
	margin: 100px 0 30px 0;
}
.meet-partner__person:nth-child(n+3) {
	margin-left: 20px;
}
.meet-partner__person {
	width: 220px;
	position: relative;
	float: left;
	text-align: center;
}
.meet-partner__person__icon {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 44px;
	top: 84px;
	border: solid 4px #fff;
	border-radius: 50%;
	box-sizing: border-box;
}
.meet-partner__person--name {
	padding: 10px 0;
	font: 14px/18px 'Montserrat', bold; 
}
.meet-partner__person--story {
	font: 14px/20px 'Roboto Light';
	color: #666; 
}
.red {
	background-color: #ff4e50;
}
.red:after {
	content: "";
	position: absolute;
	top: 22%;
	left: 22%;
	width: 17px;
	height: 17px; 
	background: url(..//img/partner1pic.png) no-repeat;
}
.turquoise{
	background-color: #1cd7ad;
}
.turquoise:after {
	content: "";
	position: absolute;
	top: 22%;
	left: 22%;
	width: 17px;
	height: 17px; 
	background: url(..//img/partner2pic.png) no-repeat;
}
.orange{
	background-color: #ffa507;
}
.orange:after {
	content: "";
	position: absolute;
	top: 22%;
	left: 22%;
	width: 17px;
	height: 17px; 
	background: url(..//img/partner3pic.png) no-repeat;
}
.blue{
	background-color: #4e73db;
}
.blue:after {
	content: "";
	position: absolute;
	top: 22%;
	left: 22%;
	width: 17px;
	height: 17px; 
	background: url(..//img/partner4pic.png) no-repeat;
}
.meet-partner__search-person{
	clear: both;
	padding-top: 50px; 
	text-align:center;
}
.meet-partner--button {
	padding: 10px 30px;
	font-size: 14px; 
	letter-spacing: 0.8px;
	background: #fff;
	border: 2px solid #ff4e50;
	color: #ff4e50;
	-webkit-border-radius: 24px;
	border-radius: 24px;
}
.meet-partner--button:hover {
	background: #ff4e50;
	color: #fff;
	-webkit-transition: 0.5s; 
	transition: 0.5s;
}

/* SECTION ACTIVITY IDEAS */
.activity {
	margin-top: -30px; 
	height: 1060px; 
}
.grid-sizer {
	width: 300px;
}
.grid-item {
	width: 300px; 
	height: 320px;
	position: relative;	
	overflow: hidden;
	float: left;
	border: 2px solid #fff;
	border-radius: 5px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* данная строчка работает в IE6, IE7, и IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)"; /* данная строчка работает только в IE8 */
}

.grid-item:before {
	position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
}


.grid-item h3 {
	position: absolute;
	width: 240px;
	text-align: center;
    top: 50%; 
    left: 14%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
 .grid-item--width2 {
	width: 620px;
	height: 320px;
} 
 .grid-item--width2 h3 {
 	position: absolute;
    left: 36%;
 }
.pic1 {
	background: url(../img/activity.jpg) -82px -10px;
}
.pic2 {
	background: url(../img/activity2.jpg);
}
.pic3 {
	background: url(../img/activity3.jpg)  -280px 0px;
}
.pic4 {
	background: url(../img/activity4.jpg);
}
.pic5 {
	background: url(../img/activity5.jpg);
}
.pic6 {
	background: url(../img/activity6.jpg);
}
.pic7 {
	background: url(../img/activity7.jpg) -240px 0px;
}

/* SECTION DISCOVER IDEAS */
.discover-ideas {
	padding-top: 72px;
	padding-bottom: 94px;
	text-align: center;
}
.discover-ideas input[type="text"] {
	width: 220px;
	height: 30px;
	padding-left: 20px;
}
.discover-ideas__form--button {
	width: 160px;
   	font-size: 14px; 
   	line-height: 40px;
	font-weight: bold;
	color: #fff;
	background: #ff4e50;
	border: 1px solid #ff4e50;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-appearance: none;
}
 .discover-ideas__form--button:hover {
	color: #fff;
	text-shadow: 0 0 1px #fff;
	background: #ff4e30;
	border: 1px solid #ff4e30;
	cursor: pointer;
} 
.form__title {
	padding-bottom: 30px;
	font: 18px/24px 'Roboto Light', sans-serif;
	text-align: center;
}
/* FOOTER */
footer {
	padding: 40px 0;
	border-top: 4px solid #ff4e50;
}
.footer-top__logo,
.footer__about--list,
.footer__partner--title {
	float: left;
	font-size: 14px;
	line-height: 24px;
}
.footer-top__logo--link {
	color: #ff4e50;
	font-size: 16px;
	font-weight: bold;
}
.footer__about--list {
	margin: 0 100px 0 110px;
}
.footer__about--title {
	color: #000;
	font-weight: bold;
}
.footer__about--link {
	color: #666;
}
.footer__about--link:hover {
	border-bottom: 2px solid #ff4e50;
}
.footer__partner--title {
	color: #000;
}
.footer-bottom__logo {
	float: right;
	color: #ccc;
}
.footer-bottom__logo--text {
	float: right;
	font-size: 10px;
	font-weight: bold;
	line-height: 22px;
	color: #ccc;
	text-transform: uppercase;
	word-spacing: 6px;
}
/* FROM 480 TO 939 */
@media only screen and (max-width: 939px) {

	.wrapper {
		margin: 0 auto;
		width: 748px;
	}
	/* HEADER */
	header {
		height: 700px;
		min-width: 100%;
	}
	.header-top {
		padding-top: 20px;
	}
	.header-top__logo {
		float: left;
		font-size: 20px;
		font-weight: bold;
	}
	.header-top__registration  {
		float: right;
		padding: 0 20px;
		border: 1px solid #fff;
		-webkit-border-radius: 16px;
		border-radius: 16px;
		font-size: 14px;
		line-height: 32px;
		font-weight: bold;
	}
	.header-top__registration:hover {
		border: 1px solid transparent;
		-webkit-transition: 0.3s; 
		transition: 0.3s;	
	}
	.header-headline {
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%); 
		text-align: center;
		color: #fff;
	}
	.header-headline--h2 {
		width: 500px;
		font: 52px/54px 'Montserrat', bold;
		text-transform: uppercase;
	}
	.header-headline--h2 span {
		display: inline-block;
	}
	.header-headline--h3 {
		margin: 40px 0;
		font: 24px/30px 'Roboto Light';
		letter-spacing: 0.6px;
	}
	.header-headline--button {
		font-size: 14px; 
		padding: 10px 18px; 
		font-weight: bold;
		color: #fff;
		background: #ff4e50;
		border: 1px solid #ff4e50;
		-webkit-border-radius: 16px;
		border-radius: 16px;
	}
	.header-headline--button:hover {
		color: #fff;
		text-shadow: 0 0 1px #fff;
		background: #ff4e30;
		border: 1px solid #ff4e30;
	}
	/* SECTION HOW IT WORKS */
	.jcarousel {
		width: 236px;
	}
	.how-it-works__step{
		width: 236px;
		height: 400px;
	}
	.left-arrow{
		top: 40px;
		left: 20px;
	}
	.right-arrow{
		top: 40px;
		right: 20px;
	}
	.step-number {
		margin: 212px 0 0 20px; 
	}

	/* SECTION MEET A PARTNER */
	.meet-partner {
		width: 492px;
		margin: 0 auto;
	}
	.meet-partner__person {
		width: 240px;	
	}
	.meet-partner__person:nth-child(n+3) {
		margin-left: 0;
	}
	.meet-partner__person:nth-child(n+2) {
		padding-bottom: 50px;
	}
	.meet-partner__search-person{
		padding-top: 0px; 
	}
	.meet-partner--button {
		padding: 10px 40px;
		letter-spacing: 0.2px;
	}
	/* SECTION ACTIVITY IDEAS */

	.activity {
		margin-top: 10px; 
		height: 1052px; 
	}
	.grid-sizer {
		width: 236px;
	}
	.grid-item {
		width: 236px;
		height: 310px;	
		padding-bottom: 4px;
		float: left;
		border: 2px solid #fff;
		border-radius: 5px;
	}
	.grid-item h3 {
		width: 200px;
	}
	.grid-item--width2 {
		width: 492px;
		height: 310px;
	}
	.grid-item--width2 h3{
		width: 220px;
	}
	/* SECTION DISCOVER IDEAS */
	.discover-ideas {
		padding-bottom: 98px;
	}
	/* FOOTER */
	footer {
		padding: 34px 0;
	}
	.footer-top__logo--link {
		margin-left: 32px;
	}
	.footer__about--list {
		margin: 0 100px 0 92px;
	}
	.footer-bottom__logo {
		margin-right: 30px;
	}
}   
/* END FROM 480 TO 939 */





/* and (max-width: 479px) */

/* FROM 320 TO 480 */
@media only screen and (max-width: 479px)  {	
	.wrapper {
		margin: 0 auto;
		width: 300px;
	}
	/* 	HEADER */
	header {
		height: 542px;
		text-align: center;
	}
	.header__wrapper {
		width: 320px;
	}
	.header-top__logo {
		float: none;
		display: block;
		padding-top: 114px;
	}
	.header-top__registration  {
		float: none;
		display: inline-block;
	}
	.header-headline {
		position: absolute;
		top: 59%;
		left: 50%;
		transform: translate(-50%, -50%); 
		text-align: center;
	}
	.header-headline--h2 {
		width: 284px;
		font: 30px/36px 'Montserrat', bold;
	}
	.header-headline--h2 span {
		display: inline-block;
	}
	.header-headline--h3 {
		margin: 26px 0;
		font: 18px/20px 'Roboto Light';
	}
	.header-headline--h3 span {
		display: inline-block;
	}
	.header-headline--button {
		padding: 10px 52px; 
	}
	/* 	SECTION HOW IT WORKS */
	.section-title {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.jcarousel {
		width: 300px;
	}
	.jcarousel:nth-child(n+3){
		margin-left: 0;
	}

	.step2 {
		background: url(../img/how_works_2.jpg) 0 -120px;
	}
	.step3 {
		background: url(../img/how_works_3.jpg) 0 -75px;
	}


	.how-it-works__step{
		margin: 0 0 8px 0;
		width: 300px;
		height: 240px;
		position: relative;
		float: none;
	}
	.how-it-works__step:nth-child(n+3){
		margin-left: 0px;
	}
	.left-arrow{
		display: none;
	}
	.right-arrow{
		display: none;
	}
	.step-number {
		display: inline-block;
		margin: 66px 0 0 22px; 
	}
	.how-it-works__step-name {
		padding: 14px 32px; 
	}
	.how-it-works__text {
		padding: 0 32px;
	}
	.step2 .step-number {
		margin: 98px 0 0 22px;
	}


	/* 	SECTION MEET A PARTNER */
	.meet-partner{
		margin: 0 auto;
		width: 300px;
	}
	.meet-partner {
		clear: both;
		margin: 0;
	}
	.meet-partner__person:nth-child(n+2) {
		padding-bottom: 24px;
	}
	.meet-partner__person {
		width: 300px;
		float: none;
	}
	.meet-partner__person__icon {
		right: 84px;
		top: 76px;
	}
	.meet-partner__person--story {
		margin: 0 40px;
	}
	.meet-partner__search-person{
		padding-top: 10px; 
	}
	.meet-partner--button {
		padding: 10px 74px;
	}

/* 	SECTION ACTIVITY IDEAS */
	.activity {
		margin-top: 10px; 
		height: 1040px; 
	}
	.grid-sizer {
		width: 300px;
	}
	.grid-item {
		width: 300px;
		height: 120px;	
	}
	.grid-item h3 {
		width: 216px;
		top: 40%; 
		left: 14%;
	}
	.grid-item--width2 {
		width: 300px;
		height: 120px;
	}
	.grid-item--width2 h3{
		width: 216px;
	}
	.pic1 {
 		background: url(../img/activity.jpg) 0 0; 
		background-size: 300px;
	}
	.pic2 {
		background: url(../img/activity2.jpg)0 -112px;
		background-size: 300px;
	}
	.pic3 {
		background: url(../img/activity3.jpg);
		background-size: 300px;
	}
	.pic4 {
		background: url(../img/activity4.jpg);
		background-size: 300px;
	}
	.pic5 {
		background: url(../img/activity5.jpg);
		background-size: 300px;
	}
	.pic6 {
		background: url(../img/activity6.jpg);
		background-size: 300px;
	}
	.pic7 {
		background: url(../img/activity7.jpg);
		background-size: 300px;
	}

/* 	SECTION DISCOVER IDEAS */
	.discover-ideas {
		padding-top: 0px;
		padding-bottom: 37px;
		text-align: center;
	}
	.discover-ideas input[type="text"] {
		width: 276px;
		height: 34px;
	}
	.discover-ideas__form--button {
		width: 280px;
		margin-top: 10px;
	}
	.form__title {
		margin-top: -9px;
		padding-bottom: 20px;
		font: 18px/24px 'Roboto Light', sans-serif;
		text-align: center;
	}
	/* 	FOOTER */
	footer {
		padding: 13px 0;
		text-align: center;
	}
	.footer-top__logo{
		float: none;
	}
	.footer-top__logo--link{
		margin-left: 0;
	}
	.footer__about--list {
		margin: 5px 0 0 50px;
	}
	.footer__about--list li:not(:first-child) {
		float: left;
	}
	.footer__about--list li:nth-child(n+3)	{
		padding-left: 15px;
	}
	.footer__partner {
		clear: both;
		margin: 2px 0 0 120px;
		font-weight: bold;
	}
	.footer-bottom__logo {
		float: none;
		clear: both;
		margin-right: 0;
	}
	.footer-bottom__logo--text {
		float: none;
		font-size: 10px;
		word-spacing: 10px;
	}

} 

