.slider {
	user-select: text;
}

.b-lazy {
	transition: opacity .5s linear;
	max-width: 100%;
	opacity: 0;
}

.b-lazy.b-loaded {
	opacity: 1;
}



//  .scrollup {
// 	width: 37px;
// 	height: 84px;
// 	position: fixed;
// 	bottom: 50px;
// 	right: 15px;
// 	display: none;
// 	text-indent: -9999px;
// 	background: url('../images/arrow-top.png') no-repeat;
// 	z-index: 100;
// 	@media @tablet {
// 		right: 100px;
// 	}
// } 




/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {
	
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {

}


// SPRITES
.bg-quoma_end {
    width: 22px; height: 17px;
    background: url('../images/icons/css_sprites.png') -178px -103px;
}

.bg-arr_all {
    width: 64px; height: 33px;
    background: url('../images/icons/css_sprites.png') -10px -103px;
}

.bg-arr_big {
    width: 64px; height: 33px;
    background: url('../images/icons/css_sprites.png') -94px -103px;
}

.bg-arr_small {
    width: 31px; height: 16px;
    background: url('../images/icons/css_sprites.png') -88px -60px;
}

.bg-arr_smallest {
    width: 16px; height: 9px;
    background: url('../images/icons/css_sprites.png') -139px -60px;
}

.bg-list_item {
    width: 58px; height: 73px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}

.bg-pushka {
    width: 120px; height: 30px;
    background: url('../images/icons/css_sprites.png') -88px -10px;
}

.bg-quoma {
    width: 22px; height: 17px;
    background: url('../images/icons/css_sprites.png') -10px -156px;
}