@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl15 {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	position: relative;
	z-index: 10;
	&:before {
		@media @desktop {
			content: '';
			position: absolute;
			left: 41.5%;
			top: -30px;
			width: 1px;
			height: 68px;
			background: @red;
		}
		@media @desktop-xl {
			height: 118px;
			top: -60px;
		}
	}
	&:after {
		@media @desktop {
			content: '';
			position: absolute;
			right: 41.5%;
			bottom: -30px;
			width: 1px;
			height: 68px;
			background: @red;
		}
		@media @desktop-xl {
			bottom: -60px;
			height: 118px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 30px 0;
		@media @tablet {
			padding: 60px 0;
		}
		@media @desktop {
			justify-content: space-between;
			flex-wrap: nowrap;
		}
	}
	&__item {
		width: 300px;
		margin-bottom: 15px;
		text-align: center;
		@media @tablet {
			width: 48%;
		}
		@media @desktop {
			width: 23%;
			margin-bottom: 0;
		}
	}
	&__titles {
		padding: 15px 0;
		font-size: 18px;
		font-family: @ff2;
		@media @tablet {
			font-size: 20px;
		}
	}
	&__text {
		color: #6c6d7d;
	}
	img {
		margin: auto;
	}
}