@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.consult {
	position: relative;
	z-index: 10;
	background-image: linear-gradient( 90deg, rgb(205,196,200) 0%, rgb(210,203,208) 10%, rgb(212,205,209) 22%, rgb(217,210,214) 35%, rgb(217,210,214) 51%, rgb(217,210,214) 77%, rgb(204,196,198) 100%);
	&:before {
		@media @desktop {
			content: '';
			position: absolute;
			left: 28%;
			top: -30px;
			width: 1px;
			height: 68px;
			background: @red;
		}
		@media @desktop-xl {
			height: 118px;
			top: -60px;
		}
	}
	&:after {
		@media @desktop {
			content: '';
			position: absolute;
			right: 41.5%;
			bottom: -30px;
			width: 1px;
			height: 68px;
			background: @red;
		}
		@media @desktop-xl {
			bottom: -60px;
			height: 118px;
		}
	}

	.consultWrap {
		position: relative;
		overflow: hidden;
	}
	.container {
		position: relative;
	}
	&__img-left {
		display: none;
		@media @tablet {
			display: block;
			position: absolute;
			bottom: -20px;
			left: -135px;
			width: 320px;
		}
		@media @desktop {
			width: 40%;
			left: -150px;
		}
		@media @desktop-xl-2 {
			width: 50%;
			left: -376px;
		}
		@media @desktop-xll {
			width: 580px;
		}
	}
	&__img-right {
		display: none;
		@media @desktop-xl {
			display: block;
			position: absolute;
			right: -400px;
			top: 0;
			z-index: 11;
		}
		@media @desktop-xl-2 {
			right: -376px;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: relative;
		z-index: 10;
		@media @tablet {
			flex-direction: row;
			align-items: inherit;
		}
		@media @desktop-xl {
			justify-content: inherit;
		}
	}
	&__content {
		padding: 30px 0;
		max-width: 300px;
		text-align: center;
		@media @tablet {
			padding: 40px 27px 0 65px;
			max-width: inherit;
			text-align: inherit;
		}
		@media @desktop {
			padding: 75px 0 120px 120px;
		}
		@media @desktop-xl {
			padding: 70px 50px 120px 220px;
		}
		@media @desktop-xl-2 {
			padding: 70px 120px 120px 120px;
		}
	}
	&__title {
		padding-bottom: 10px;
		font-size: 23px;
		@media @tablet {
			font-size: 27px;
		}
		@media @desktop {
			font-size: 33px;
			padding-bottom: 18px;
		}
		@media @desktop-xl {
			font-size: 37px;
		}
	}

	br {
		display: none; 
		@media @desktop {
			display: inline;
		}
	}

	strong {
		color: @red;
	}
	&__text {
		font-size: 20px;
		@media @tablet {
			font-size: 24px;
		}
	}

	&__form {
		padding-bottom: 40px;
		.form {
			padding: 40px 30px 60px 30px;
			max-width: 310px;
			background: @red;
			box-shadow: -20px 20px 145px 0px rgba(0,0,0,0.4);
			@media @tablet {
				height: 380px;
			}
			&__title {
				padding-bottom: 10px;
				text-align: center;
				font-size: 25px;
				font-weight: 700;
				color: #fff;
			}
			&__text {
				padding-bottom: 30px;
				font-size: 14px;
				color: #fff;
				text-align: center;
			}
			&__line {
				padding: 5px 15px 5px 45px;
				margin-bottom: 20px;
				width: 247px;
				height: 49px;
				background: #a20002;
				box-shadow: inset -3.857px 4.596px 6px 0px rgba(59, 49, 64, 0.38);
				outline: none;
				border: none;
				color: #fff;
			}
			.inputWrap {
				position: relative;
			}
			.inputWrap-name:before {
				content: '\e803';
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-100%);
				font-family: 'fontello';
				color: #fff;
				font-size: 16px;
			}	
			.inputWrap-phone:before {
				content: '\e804';
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-100%);
				font-family: 'fontello';
				color: #fff;
				font-size: 16px;
			}
			.btn {
				width: 233px;
				margin: auto;
			}
		}
	}
}




