@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.consult {
	position: relative;
	max-height: 480px;
	z-index: 10;
	background-image: linear-gradient( 90deg, rgb(205,196,200) 0%, rgb(210,203,208) 10%, rgb(212,205,209) 22%, rgb(217,210,214) 35%, rgb(217,210,214) 51%, rgb(217,210,214) 77%, rgb(204,196,198) 100%);
	
	&:before {
		content: '';
		position: absolute;
		left: 28%;
		top: -60px;
		width: 1px;
		height: 118px;
		background: @red;
	}
	&:after {
		content: '';
		position: absolute;
		right: 41.5%;
		bottom: -60px;
		width: 1px;
		height: 118px;
		background: @red;
	}
	.consultWrap {
		position: relative;
		overflow: hidden;
	}

	.container {
		position: relative;
	}
	&__img-left {
		position: absolute;
		left: -376px;
		bottom: 0;
		width: 580px;
		background-size: contain; 
	}
	&__img-right {
		position: absolute;
		right: -380px;
		top: 0;
		background-size: contain; 
		z-index: 11;
		overflow: hidden;
	}

	&__box {
		display: flex;
		position: relative;
		z-index: 10;
	}
	&__content {
		padding: 100px 120px 120px 120px;
	}
	&__title {
		padding-bottom: 18px;
		font-size: 37px;
	}
	strong {
		color: @red;
	}
	&__text {
		font-size: 24px;
	}

	&__form {
		.form {
			padding: 40px 30px 60px 30px;
			max-width: 315px;
			height: 380px;
			background: @red;
			box-shadow: -20px 20px 145px 0px rgba(0,0,0,0.4);
			
			&__title {
				padding-bottom: 10px;
				text-align: center;
				font-size: 25px;
				font-weight: 700;
				color: #fff;
			}
			&__text {
				padding-bottom: 30px;
				font-size: 14px;
				color: #fff;
				text-align: center;
			}
			&__line {
				padding: 5px 25px;
				margin-bottom: 20px;
				width: 247px;
				height: 49px;
				background: #a20002;
				box-shadow: inset -3.857px 4.596px 6px 0px rgba(59, 49, 64, 0.38);
				outline: none;
				border: none;
				color: #fff;
			}
			.inputWrap {
				position: relative;
			}
			.btn {
				width: 247px;
				margin: auto;
			}
		}
	}
}




