@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.certificates {
	position: relative;
	overflow: hidden;

	.flyLeft-u {
		position: absolute;
		left: 170px;
		top: -380px;
		width: 524px;
		height: 718px;
		background: url(../images/letters/U.png)no-repeat center/contain;
	}
	.flyRight-m {
		position: absolute;
		right: 150px;
		bottom: 0;
		width: 645px;
		height: 361px;
		background: url(../images/letters/M.png)no-repeat center/contain;
	}
	blockquote {
		width: 540px;
		margin-top: 50px;
		padding-left: 25px;
		padding-right: 25px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: -25px;
			.bg-quoma;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0px;
			.bg-quoma;
		}
		p {
			padding-bottom: 15px;
		}
	}
}

