@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.certificates {
	padding: 0;
	position: relative;
	background-image: linear-gradient( 90deg, rgb(245,249,251) 0%, rgb(240,244,247) 100%);
	&:before {
		@media @desktop {
			content: '';
			position: absolute;
			left: 76%;
			top: -30px;
			width: 1px;
			height: 68px;
			background: @red;
		}
		@media @desktop-xl {
			height: 118px;
			left: 26%;
			top: -60px;
		}
	}
	&:after {
		@media @desktop {
			content: '';
			position: absolute;
			right: 41.5%;
			bottom: -30px;
			width: 1px;
			height: 68px;
			background: @red;
		}
		@media @desktop-xl {
			bottom: -60px;
			height: 118px;
		}
	}

	&__wrap {
		position: relative;
		overflow: hidden;
		padding: 40px 0;
		@media @tablet {
			padding: 60px 0 80px 0;
		}
		@media @desktop-xl {
			padding: 95px 0;
		}
	}
	.flyLeft-u {
		display: none;
		@media @desktop-xl {
			display: block;
			position: absolute;
			left: 170px;
			top: -380px;
			width: 524px;
			height: 718px;
			background: url(../images/letters/U.png)no-repeat center/contain;
		}
	}
	.flyRight-m {
		display: none;
		@media @desktop-xl {
			display: block;
			position: absolute;
			right: 0px;
			bottom: -170px;
			width: 645px;
			height: 361px;
			background: url(../images/letters/M.png)no-repeat center/contain;
		}
		@media @desktop-xl15 {
			right: 150px;
		}
	}


	blockquote {
		order: 1;
		margin-top: 60px;
		position: relative;

		@media @tablet {
			order: inherit;
			margin-top: 25px;
			margin-bottom: 25px;
			padding-left: 25px;
			padding-right: 25px;
		}
		@media @desktop {
			margin-top: 50px;
			width: 540px;
		}
		@media @desktop-xl {

		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: -25px;
			.bg-quoma;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0px;
			.bg-quoma;
		}
		p {
			padding-bottom: 10px;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		
		@media @tablet {
			padding-top: 35px;
			display: inherit;
			flex-direction: inherit;
		}

		&-left {
			order: 2;
			display: flex;
			flex-direction: column;			
			@media @tablet {
				display: inline-block;
				flex-direction: inherit;
				order: inherit;
				width: 65%;
			}
			@media @desktop-xl {
				width: 60%;
			}
		}
		&-right {
			order: 1;
			@media @tablet {
				float: right;
				width: 30%;
			}
			@media @desktop-xl {
				width: 35%;
			}
		}
	}

	&__slide-nav {
		div {
			width: 150px;
			margin: auto;
			@media @desktop-xl {
				width: 170px;
			}
		}	
		img {
			margin: auto;
			max-width: 150px;
			max-height: 451px;
		}
	}
	&__slide-for {	
		img {
			margin: auto;
		}
	}
	&__link {
		cursor: pointer;
	}


	.slick-prev,
	.slick-next {
		width: 25px;
		height: 25px;

		bottom: -40px;
		opacity: 1;
		transition: opacity .3s linear;
		background: transparent!important;
		z-index: 10;
		&:after {
			content: '';
			position: absolute;
			top: 36%;
			left: -55%;

			width: 36px;
			height: 34px;
			background: url(../images/icons/borders.png);
		}
		&:hover {
			&:before {
				color: #d6d6d6;
			}
		}
	}

	.slick-prev {
		left: 40%;
		@media @desktop {
			left: 45%;
		}
	}
	.slick-next {
		right: 35%;
		@media @desktop {
			right: 45%;
		}
	}

	.slick-prev:before,
	.slick-next:before {
		display: block;
		padding-top: 2.5px;
		position: absolute;
		background: transparent;
		font-family: "fontello";
		font-size: 20px;
		z-index: 11;
		color: @red;
		transition: all .3s linear;
	}

	.slick-prev:before {
		content: '\e805';
	}
	.slick-next:before {
		content: '\e806';
	}
}