@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.photo {
	overflow: hidden;
	&__slider {
		padding-top: 50px;
		width: 100%;
		margin: auto;
		max-width: 1920px;
	}

	&__slide {
		display: block;
		margin: auto;
		transition: all .3s linear;
		&:hover {
			filter: saturate(15%);
		}
		img {
			width: 615px;
			margin: auto;
		}
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		width: 100px;
		height: 100px;
		opacity: 1;
		transition: all .3s linear;
		z-index: 10;
		background: rgba(162, 0, 2, .5);		
	}

	.slick-prev {
		top: 55%;
		left: 30.2%;
		transform: translate(-50%, -50%);
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 33px;
			height: 64px;
			background: url(../images/icons/arr-all-left.png)no-repeat;
			transition: all .3s linear;
		}

	}

	.slick-next {
		top: 55%;
		left: 70%;
		transform: translate(-50%, -50%);
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 33px;
			height: 64px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../images/icons/arr-all-rightt.png)no-repeat;
			transition: all .3s linear;
		}
	}

}

