@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl15 {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.photo {
	overflow: hidden;
	padding-bottom: 80px;
	@media @tablet {
		padding-bottom: inherit;
	}
	@media @tablet {
		padding-left: 70px;
		padding-right: 70px;
	}
	@media @desktop-xl {
		padding-left: 0;
		padding-right: 0;
	}
	&__slider {
		padding-top: 50px;
		width: 100%;
		margin: auto;
		max-width: 1920px;
	}
	&__slide {
		display: block;
		margin: auto;
		transition: all .3s linear;
		&:hover {
			filter: saturate(15%);
		}
		img {
			margin: auto;
			@media @desktop-xl-2 {
				width: 615px;
			}
		}
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		width: 60px;
		height: 60px;
		top: 60%;
		opacity: 1;
		transition: all .3s linear;
		z-index: 10;
		background: rgba(162, 0, 2, .5);
		@media @desktop-xl {
			width: 100px;
			height: 100px;
		}		
	}
	.slick-prev {
		left: 0px;
		transform: translate(0%, -50%);
		@media @tablet {
			left: -60px;
		}
		@media @desktop-xl {
			top: 55%;
			left: 29.5%;
			transform: translate(-50%, -50%);
		}
		@media @desktop-xl15 {
			left: 29.7%;
		}
		@media @desktop-xl-2 {
			left: 30.2%;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 23px;
			height: 44px;
			background: url(../images/icons/arr-all-left.png)no-repeat;
			background-size: contain;
			transition: all .3s linear;
			@media @desktop-xl {
				width: 33px;
				height: 64px;
			}
		}
	}
	.slick-next {
		right: 0;
		transform: translate(0, -50%);
		@media @tablet {
			right: -60px;
		}
		@media @desktop-xl {
			top: 55%;
			right: inherit;
			left: 70.5%;
			transform: translate(-50%, -50%);
		}
		@media @desktop-xl15 {
			left: 70.3%;
		}
		@media @desktop-xl-2 {
			left: 70%;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 23px;
			height: 44px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../images/icons/arr-all-rightt.png)no-repeat;
			background-size: contain;
			transition: all .3s linear;
			@media @desktop-xl {
				width: 33px;
				height: 64px;
			}
		}
	}
}