@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

// .header {
// 	// height: 100vh;
// 	background: @black;
// 	overflow: hidden;
// 	margin: 0 auto;
// 	text-align: center;
// }

.canvas {
	display: block;
	margin: auto;
}

.row{
	margin-top: 20px;
	margin-bottom: 170px;
	display: flex;
  }
  .col-sm-4{
	width: 33%;
  }

  .svg1 .st0 {
	fill: #FFFFFF;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg1 .st1 {
	fill: none;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg1 .st2 {
	fill: #BDE2DF;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg1 .st3 {
	fill: #00A896;
}

.svg1 .st4 {
	fill: #C0C6D3;
}


.svg2 .st0 {
	fill: #FFFFFF;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg2 .st1 {
	clip-path: url(#SVGID_2_);
}

.svg2 .st2 {
	fill: none;
	stroke: #00A896;
	stroke-width: 1.9;
	stroke-miterlimit: 10;
}

.svg2 .st3 {
	fill: #BDE2DF;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg2 .st4 {
	fill: none;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg2 .st5 {
	fill: #00A896;
}

.svg2 .st6 {
	fill: #C0C6D3;
}

.svg3 .st0 {
	fill: #BDE2DF;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg3 .st1 {
	fill: #FFFFFF;
	stroke: #00A896;
	stroke-width: 4.75;
	stroke-miterlimit: 10;
}

.svg3 .st2 {
	clip-path: url(#SVGID_2_);
}

.svg3 .st3 {
	clip-path: url(#SVGID_4_);
}

.svg3 .st4 {
	fill: none;
	stroke: #00A896;
	stroke-width: 1.9;
	stroke-miterlimit: 10;
}

.svg3 .st5 {
	fill: #C0C6D3;
}


.container {
	position: relative;
}

.socials {
	position: absolute;
	top: 15px;
	right: 50px;
	color: @black;
	margin-top: 50px;
	margin-bottom: 150px;


	.st-total  {
		display: none!important;
	}

	
	#st-1, a {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: center;
		cursor: pointer;
		
	}

	.btn {
		margin-bottom: 15px;
	}

	.st-btn {
		margin-right: 0!important;
		margin-bottom: 15px;
		opacity: 0;
		display: none!important;
	}
	.active {
		opacity: 1;
		display: block!important;
	}

	#st-1 {

	}

	.active {
		display: block;
	}
}

