@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	height: 100vh;
	background: @black;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

.canvas {
	display: block;
	margin: auto;
}

