/* font-family: "GunnyRewrittenRegular"; */
@font-face {
    font-family: "GunnyRewrittenRegular";
    src: url("../fonts/GunnyRewrittenRegular/GunnyRewrittenRegular.eot");
    src: url("../fonts/GunnyRewrittenRegular/GunnyRewrittenRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GunnyRewrittenRegular/GunnyRewrittenRegular.woff") format("woff"),
    url("../fonts/GunnyRewrittenRegular/GunnyRewrittenRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HattoriHanzoLight"; */
@font-face {
    font-family: "HattoriHanzoLight";
    src: url("../fonts/HattoriHanzoLight/HattoriHanzoLight.eot");
    src: url("../fonts/HattoriHanzoLight/HattoriHanzoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HattoriHanzoLight/HattoriHanzoLight.woff") format("woff"),
    url("../fonts/HattoriHanzoLight/HattoriHanzoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HattoriHanzoLightItalic"; */
@font-face {
    font-family: "HattoriHanzoLightItalic";
    src: url("../fonts/HattoriHanzoLightItalic/HattoriHanzoLightItalic.eot");
    src: url("../fonts/HattoriHanzoLightItalic/HattoriHanzoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HattoriHanzoLightItalic/HattoriHanzoLightItalic.woff") format("woff"),
    url("../fonts/HattoriHanzoLightItalic/HattoriHanzoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
