@font-face {
    font-family: "GunnyRewrittenRegular";
    src: url('../fonts/GunnyRewrittenRegular/gunny-rewritten.regular-webfont.woff2') format('woff2'),
         url('../fonts/GunnyRewrittenRegular/gunny-rewritten.regular-webfont.woff') format('woff'),
         url('../fonts/GunnyRewrittenRegular/gunny-rewritten.regular-webfont.ttf') format('truetype'),
         url('../fonts/GunnyRewrittenRegular/gunny-rewritten.regular-webfont.svg#gunny_rewrittenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HattoriHanzoLight";
    src: url('../fonts/HattoriHanzoLight/Hattori_Hanzo-webfont.eot');
    src: url('../fonts/HattoriHanzoLight/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HattoriHanzoLight/Hattori_Hanzo-webfont.woff') format('woff'),
         url('../fonts/HattoriHanzoLight/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('../fonts/HattoriHanzoLight/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HattoriHanzoLightItalic";
    src: url('../fonts/HattoriHanzoLightItalic/Hattori_Hanzo_Italic-webfont.eot');
    src: url('../fonts/HattoriHanzoLightItalic/Hattori_Hanzo_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HattoriHanzoLightItalic/Hattori_Hanzo_Italic-webfont.woff') format('woff'),
         url('../fonts/HattoriHanzoLightItalic/Hattori_Hanzo_Italic-webfont.svg#hattori_hanzolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
