@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.partners {
	&__box {
		@media @desktop-xl {
			padding: 0 100px;
		}
	}
	.list__box {
		display: flex;
		justify-content: space-between;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 350px;
		margin-top: 60px;
	}
	&__item {
		display: block;
		width: 170px;
		height: 113px; 
		position: relative;
		&:hover {
			cursor: pointer;
			&:before {
				background: rgba(19, 19, 19, 0);
			}
			&:after {
				opacity: 0;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 170px;
			height: 113px; 
			background: rgba(19, 19, 19, .55);
			transition: all .3s ease; 
		}
		&:after {
			display: block;
			font-family: "fontello";
			content: '\e80e';
			position: absolute;
			width: 170px;
			height: auto;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			transition: all .3s ease;
			color: #fff;
			z-index: 10; 
			font-size: 22px;
		}
	}
	&__img {
		display: block;
	}
}

.activity:after {
	opacity: 0!important;
}
.activity:before {
	border: 2px solid @green;
	background: rgba(19, 19, 19, 0)!important;
}



.partners__frame {
	&__list {
		margin-top: 60px;
	}
	&__item {
		width: 570px;
		height: 350px;
		iframe {
			border: none;
			width: 100%;
			height: 100%;
		}
	}
}



