@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.award {
	padding-bottom: 120px;
	position: relative;
	background: url(../images/award.jpg)no-repeat center/cover;
	.container {
		position: relative;
	}
	&__title {
		color: #fff;
		&:before {
			background: #fff;
		}
	} 
	&__box {
		@media @desktop-xl {
			padding: 0 100px;
		}
	}
	.backText {
		display: none;
		position: absolute;
		right: 200px;
		top: -85px;
		letter-spacing: 5px;
		font-size: 100px;
		font-weight: 700;
		line-height: 0;
		color: #fff;
		text-transform: uppercase;
		opacity: .1;
		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {
			display: block;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	&__text {
		padding-top: 10px;
		font-size: 16px;
		line-height: 26px;
		color: #fff;
		text-align: center;
		br {
			display: none;
		}
		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {
			text-align: left;
			width: 480px;
			margin-top: 50px;
			margin-left: 100px;
			.br {
				display: block;
			}
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	.slider__big {
		margin-top: 40px;
		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {
			margin-top: -150px;
		}
		@media @desktop-xl {
			margin-top: -190px;
			margin-right: 100px;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		img {
			margin: 20px auto;
		}
	}

	.slider__content {
		@media @desktop {
			float: right;
		}
		p {
			display: none;
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			@media @tablet {
				display: block;
			}
		}
	}

	.slider__small {
		margin: 0 auto;
		max-width: 580px;
		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {
			margin: 0;
			margin-top: -200px;
		}
		@media @desktop-xl {
			margin-top: -120px;
			margin-left: 100px;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		img {
			margin: auto;
			max-width: 180px;
		}

		.slick-current  img {
			border: 2px solid @green;
		}
		.slider-nav-item:hover {
			cursor: pointer;
		}
	}


	/* Icons */
	/* Arrows */
	.slick-prev,
	.slick-next {
		position: absolute;
		top: 0px;
		width: 84px;
		height: 37px;
		@media @desktop {
			top: inherit;
			bottom: -70px;
		}
	}



	.slick-prev {
		background: url(../images/arrow-left-white.png)no-repeat;
		left: 15vw;
		@media @mobile {

		}
		@media @tablet {
			left: 40%;
		}
		@media @desktop {
			left: inherit;
			right: 134px;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}
	.slick-next
	{
		background: url(../images/arrow-right-white.png)no-repeat right top;
		right: 15vw;
		@media @tablet {
			right: 40%;

		}
		@media @desktop {
			right: 50px;
		}
	}
	.slick-dots {
		bottom: -45px;
	}
	.slick-dots li button:before {
		font-size: 36px;
		width: 20px;
		height: 20px;
		color: @green;
	}

	.slider-nav-img {
		border: 2px solid transparent;
		transition: all .3s ease;
	}




}



