/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
/* 	.container {
	width: 1170px;
	} */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.container {
		width: 970px;
	}
	.menu {
		font-size: 20px;
		text-align: left;
	}	
	.menu__item {
		padding-left: 20px;
		padding-right: 0;
	} 
	.grid-sizer,
	.grid-item {
		width: 25%; 
	}		
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container {
		width: 	750px;
	}
	.header__social-networks-block {
		display: none;
	}
	.logo__text--top {
		font-size: 24px;
		line-height: 26px;
	}
	.logo__text--bottom {
		font-size: 20px;
		line-height: 26px;	
	}
	.menu__wrapper .container {
		width: 300px;
	}
	.menu__toggle {
		display: block;	
	}
	.menu {
		display: none; 
		text-align: center;
		width: 100%;
	}	
	.menu__item {
		display: block;
		text-align: center;	
		padding-left: 0;
		padding-right: 0;
	}
	.grid-sizer,
	.grid-item {
		width: 33.3333333%;
	}		
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.container {
		width: auto;
	}

	.logo__text--top {
		font-size: 22px;
		line-height: 26px;
	}
	.logo__text--bottom {
		font-size: 18px;
		line-height: 26px;	
	}
	.grid-sizer,
	.grid-item {
		width: 50%;
	}	
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
	}

}


