body {
	font: 24px/36px 'Indie Flower', Helvetica, sans-serif;
	word-wrap: break-word;	
	box-sizing: border-box;	
}
a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
a:focus,
a:hover,
a:active {
	text-decoration: none;
	color: tomato;
}
*:hover {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.clearfix:after {
	content: " ";
	display: table; 
	clear: both;
}
/* PRELOADER */
#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	background: #fff; 
	z-index: 1001;
}
#preloader i {
	width: 70px; 
	height: 70px; 
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/preloader.gif') no-repeat 50% 50%; 
	margin: -35px 0 0 -35px;
}

/* HEADER */
header {
	padding: 40px 0;
	max-height: 400px;
	margin: 0 auto;
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: #FCDE9D;	
}
.header__logo--link img {
	width: 100px;
	height: 100px;
}
.logo__text--top,
.logo__text--bottom {
	margin: 0;
	padding-top: 20px;	
	font-size: 30px;
	line-height: 30px;
}
.logo__text--bottom {
	padding-bottom: 20px;
}
.social-networks__item {
	display: inline-block;
	line-height: 100px;	
}
.facebook:hover {
	color:#3b5998; 
}
.instagram:hover {
	color:#bc2a8d;
}
.fotopoisk:hover {
	color:#666; 
}
.phone:hover {
	color:#8f5db7; 
}
.mail:hover {
	color:#dd4b39; 
}
/* CAROUSEL */
.carousel-caption {
	margin-bottom: 30px;
	padding: 0;
	background-color: rgba(24, 27, 31, 0.4);
	font-size: 22px;
	line-height: 24px;
}
.carousel-caption span {
    font-size: 1.4em;
    color: red;
    font-style: italic;
}
 h3 {
	display: inline-block;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.full-screen {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.icon-right-open,
.icon-left-open {
	margin-top: 50% !important;
}			
/* MENU */
.menu__wrapper {
	background: #FCDE9D;
}
.menu__item-link {
	color: #000;
    font-weight: 600;
}
#menu {
	margin:0;
	width: 100%;
	padding: 20px 0;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
}
#menu a:hover {
	color: #5F9CBA;
}
#menu ul {
	padding:0;
	margin:0;
} 
.items li {
	display:inline;
	padding-right: 15px;
	width:100%;
	margin: 0 auto;
}
.icon {
	color: #000;
	cursor: pointer;
	display: none;
	font-size:24px;
}
.showitems {
	display:block !important;
}
.content {
	padding: 15px 0;
	width:60%;
	margin: 0 auto;
	line-height:22px;
}
/* gallery */
.grid {
/* 	padding-bottom:10px; */
	max-width: 100%;
} 
.grid-sizer,
.grid-item {
	width: 25%; 
}
.grid-item {
	float: left; 
	margin-bottom: 10px;
}
.grid-item img{
	max-width: 100%;
	height: auto;
	display: block;
}
/* ---- .grid-item ---- */
.grid-item:hover {
	background: #1D0047;
}
.grid-item img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
	/* For IE8 and earlier */
}
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}
.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate(460px, -100px) rotate(180deg);
	-ms-transform: translate(460px, -100px) rotate(180deg);
	transform: translate(460px, -100px) rotate(180deg);
	-webkit-transition: all 0.2s 0.4s ease-in-out;
	transition: all 0.2s 0.4s ease-in-out;
}
.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.1);
}
.hovereffect a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 0 0 50px 0;
	background-color: transparent;
	-webkit-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-100px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.hovereffect a.info:hover {
	box-shadow: 0 0 5px #fff;
}
.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.hovereffect:hover a.info {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}