body {
	font: 28px/30px "Indie Flower", Tahoma, sans-serif;
	background-color: #FBF7C4; 
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: " ";
	display: table; 
	clear: both;
}

/* PRELOADER */

#page-preloader {
	position: fixed;
	background: #fff;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
}
#page-preloader .loader {
	background: url("../img/preloader.gif") 50% 50% no-repeat;
	background-size: cover;
	height: 80px;
	width: 80px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

/* HEADER*/
header  {
	height: 92px;
	margin-top: 40px;
}
.header__logo {
	display: inline-block;
    text-align: center;
    margin-left: 40%;
    font-size: 40px;
    line-height: 40px;
}
.header__social-networks {
	float: right; 
	margin-right: 96px;
}
.social-networks__item {
	float: left;
	margin-top: 28px;
}
.social-networks__link{
	font-size: 120%;
}
.social-networks__link:hover{
	color: #40E0D0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s; 	
}
/* ASIDE */
aside  {
	font: 28px/30px "Indie Flower", Tahoma, sans-serif;
	width: 13%;
	float: left;
	padding-right: 10px; 
	text-align: center;
}
.menu-container {
	padding-top: 40px;
	display: block;
}
.menu {
	display: none;
}
.menu-container__item {
	padding: 15px 0;
}
.menu-container__item--link {
	margin: 0 16px;
}
.menu-container__item--link:hover {
	color: #40E0D0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s; 	
}

/* 	SECTION - GALLERY */
.gallery {
	padding-top: 40px;
	width: 85%;
	float: left;
}
.grid-item {
    margin-bottom: 10px;
	float: left;
 	width: 300px; 
}
.grid-item img{
	max-width: 100%;
	height: auto;
	display: block;
}
.image-source-link {
	color: #98C3D1;
}

.image-source-link {
	color: #98C3D1;
}
figcaption {
	text-align: center;
}

/* FOOTER */
footer {
	margin: 0 auto;
}

footer p, 
footer a {
	display: inline;
	padding-right: 30px;
	font: 12px/60px; 
}
 .icon-copyright {
	float: right;
}
 

/* ABOUT ME */
.about {
	text-align: center;
}
.about__photo {
	width: 200px;
	height: auto;
	border: solid 4px #fff;
	border-radius: 50%;
	box-sizing: border-box;
}

.about__name {
	line-height: 50px;
	font-weight: bold;
}
.about__description{
	font-weight: bold;
}
.about__text {
	padding-top: 20px;
}

/* CONTACT */
.contact {
	margin-top: 10px;
	margin-left: 40px;
}
.contact__data {
	float: left;
	width: 50%;
}
.icon-mobile,
.icon-location {
	padding-bottom: 30px;
}
.contact__callback {
	float: right;
	width: 50%;
}
.title_section {
	font-weight: bold;
}

 .contact__callback input, 
 .contact__callback textarea {
	font: 28px/30px Tahoma, sans-serif;
	background-color: #FBF7C4;
	border: 2px solid grey;  
	width: 333px;
}
.contact__callback--message {
	padding-top: 20px;
}
.contact__callback button {
	background: red;
	font: 28px/36px "Indie Flower", Tahoma, sans-serif;
	margin-left: 16%;
}