/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .services__title {
    width: 100%; }
  .offer__form-line {
    width: 100%; }
  .offer__form .right {
    float: none; }
  .counters .row {
    padding: 0 15px; }
  .counters__content-left:before {
    display: none; }
  .counters__content-right:before {
    display: none; }
  .counters__wrapper {
    border: 1px solid #fff; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu {
    font-size: rem(20); }
    .menu__logo {
      float: left;
      width: 20%; }
      .menu__logo img {
        height: 80px; }
    .menu__nav {
      float: right;
      width: 20%; }
    .menu__call {
      float: left;
      width: 60%;
      padding-top: 10px; }
  .header__text {
    text-align: center;
    width: 100%; }
  /* BURGER */
  .navigation {
    float: none;
    padding-top: 60px; }
    .navigation__list {
      display: none; }
    .navigation__item:hover {
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s; }
  .burger {
    width: 52px;
    height: 52px;
    display: block;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .burger i {
    display: block;
    width: 40px;
    height: 2px;
    background: #ff4b00;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #ff4b00;
    width: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .burger i:before {
    margin-top: -12px; }
  .burger i:after {
    margin-top: 12px; }
  .burger:hover i:before {
    margin-top: -14px; }
  .burger:hover i:after {
    margin-top: 14px; }
  .burger.active i {
    background: transparent; }
  .burger.active i:before, .burger.active i:after {
    left: -5px;
    width: 50px; }
  .burger.active i:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px; }
  .burger.active i:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -12px; }
  .burger.active:hover i:before, .burger.active:hover i:after {
    width: 60px;
    margin: 0;
    left: -10px;
    top: 0; }
  .counters .row {
    padding: 15px 0; }
  .counters__text {
    padding: 15px; }
  .counters .counters__form-line {
    width: 45%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px; }
  .section__title {
    font-size: 1.6rem;
    letter-spacing: 0; }
  .header__text {
    font-size: rem(30); }
  .services__items {
    padding-bottom: 25px; }
  .services__title {
    width: 100%;
    padding-bottom: 0px; }
  .counters__text-accent {
    padding: 0 15px; }
  .counters__list {
    padding-left: 15px; }
  .counters .counters__form {
    width: 90%; }
  .counters .counters__content-flat {
    height: 500px; }
  .counters__wrapper img {
    max-width: 320px; }
  .partners__img {
    max-width: 140px;
    max-height: 57px; } }

@media only screen and (max-width: 420px) {
  .services__col {
    width: 100%; } }

@media only screen and (max-width: 400px) {
  .services__col {
    width: 100%; } }
