/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .counters .counters__items {
    min-height: 370px; }
  .counters .counters__content {
    padding-top: 100%; }
    .counters .counters__content .counters__text-work:before {
      width: 30%;
      bottom: 38%;
      left: 35%; } }

@media only screen and (max-width: 991px) {
  .counters .counters__wrapper-flat img {
    display: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .services__title {
    width: 100%; }
  .offer__form-line {
    width: 100%; }
  .offer__form .right {
    float: none; }
  .counters .row {
    padding: 0 15px; }
  .counters__content-left:before {
    display: none; }
  .counters__content-right:before {
    display: none; }
  .counters__wrapper {
    border: 1px solid #fff; }
  .counters .counters__items {
    min-height: 370px; }
  .counters .counters__content {
    padding-top: 68%; }
    .counters .counters__content .counters__text-work:before {
      width: 30%;
      bottom: 35%;
      left: 35%; }
  .counters .counters__content-flat {
    margin-top: 0;
    padding-top: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu__logo {
    float: left;
    width: 20%; }
    .menu__logo img {
      height: 80px; }
  .menu__nav {
    float: right;
    width: 20%; }
  .menu__call {
    float: left;
    width: 60%;
    padding-top: 0; }
  .header__text {
    text-align: center;
    width: 100%; }
  /* BURGER */
  .overlay {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -302px;
    background: rgba(52, 168, 128, 0.6);
    z-index: 10; }
  .navigation__list {
    display: block !important;
    list-style: none;
    padding-top: 40%; }
  .navigation__item {
    display: inherit;
    margin-right: 0; }
  .navigation__link {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 1rem;
    color: #fff; }
  .overlay {
    -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .open {
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .burger {
    width: 52px;
    height: 52px;
    display: block;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    position: fixed;
    top: 10px;
    right: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 100; }
  .burger i {
    display: block;
    width: 40px;
    height: 2px;
    background: #ff4b00;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #ff4b00;
    width: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .burger i:before {
    margin-top: -12px; }
  .burger i:after {
    margin-top: 12px; }
  .burger:hover i:before {
    margin-top: -14px; }
  .burger:hover i:after {
    margin-top: 14px; }
  .burger.active i {
    background: transparent; }
  .burger.active i:before, .burger.active i:after {
    left: -5px;
    width: 50px; }
  .burger.active i:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px; }
  .burger.active i:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -12px; }
  .burger.active:hover i:before, .burger.active:hover i:after {
    width: 60px;
    margin: 0;
    left: -10px;
    top: 0; }
  .counters .row {
    padding: 15px; }
  .counters__text {
    padding: 5px; }
  .counters .counters__form-line {
    width: 45%; }
  .counters .counters__content {
    padding-top: 250px; }
    .counters .counters__content .counters__text-work:before {
      width: 30%;
      bottom: 35%;
      left: 35%; }
  .remodal {
    padding: 15px; }
    .remodal label {
      padding: 10px 5px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px; }
  .section__title {
    font-size: 1.4rem;
    letter-spacing: 0; }
  .menu {
    padding-top: 10px; }
    .menu__logo {
      float: none;
      display: inline-block;
      position: relative;
      margin: 0 auto;
      width: 100%; }
      .menu__logo img {
        height: 80px; }
    .menu__nav {
      display: inline-block; }
    .menu__call {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 48px;
      width: 20%; }
      .menu__call span {
        display: none; }
      .menu__call i {
        color: #ff4b00; }
  .burger {
    width: 20%;
    height: 70px;
    top: 24px;
    right: -30px; }
  .navigation {
    padding-top: 0; }
  .menu__call-button {
    display: none; }
  .header__text {
    font-size: 1.8rem; }
  .services__items {
    padding-bottom: 25px; }
  .services__title {
    width: 100%;
    padding-bottom: 0px; }
  .counters__text-accent {
    padding: 0 15px;
    padding-left: 15px; }
  .counters__list {
    padding-left: 15px; }
  .counters .counters__form {
    width: 90%; }
  .counters__wrapper img {
    max-width: 320px; }
  .counters .counters__form-line {
    display: inherit;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .partners__img {
    max-width: 140px;
    max-height: 57px; }
  .remodal .remodal__title {
    font-size: 1.2rem;
    padding-bottom: 20px;
    text-align: center; }
  .remodal .remodal__text {
    text-align: left;
    font-size: 1.2rem;
    word-break: break-all; }
  .remodal label {
    padding: 0;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: left; }
  .remodal .right {
    text-align: left; }
  .remodal td {
    font-size: 1.2rem;
    padding: 0; }
  .remodal .size {
    word-break: break-all; } }

@media only screen and (max-width: 420px) {
  body {
    font-size: 1.1rem; }
  .section__title {
    font-size: 1.2rem;
    letter-spacing: 0; }
  .header__text {
    font-size: 1.6rem; }
  .services__col {
    width: 100%; }
  .offer__link {
    font-size: 1rem; }
    .offer__link:before {
      font-size: 1rem; }
  .offer__text {
    font-size: 1rem; }
  .offer__form {
    padding: 10px; }
  .counters__text-accent {
    padding: 0; }
  .counters__list {
    padding-left: 15px; }
  .counters .counters__form {
    width: 90%; }
  .counters__wrapper img {
    max-width: 320px; }
  .counters .counters__form-line {
    display: inherit;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .partners__img {
    max-width: 140px;
    max-height: 57px; }
  .remodal .remodal__title {
    font-size: 1rem; }
  .remodal .remodal__text {
    font-size: 1rem; }
  .remodal label {
    padding: 0;
    font-weight: 300;
    text-align: left; }
  .remodal td {
    font-size: .78rem; }
  .remodal .size {
    word-break: break-all; } }
