body {
	font: 15px/30px 'Lato', 'Tahoma', sans-serif;
	background-color: #f4f4f4;
	min-width: 320px;
}
a, 
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #fff;
}
*:hover {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.fadeInRight {
  animation-duration: 2s;
  animation-delay: 0.5s;
}
.fadeIn {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
 .zoomInDown {
  animation-duration: 1s;
  animation-delay: 0.5s;	
} 

#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
z-index: 30;
}
 
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;
}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(../img/loader/pufff.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}


/* HEADER */

.header__background {
	background: url(../img/background.png) 50% 50% no-repeat;
	background-size: cover;
	padding-top: 20px;
	z-index: 100;
	position: relative;
}
.header__background img {
	width: 100%;
	display: block;
	max-width: 100%;	
}
.container {
	font: 15px/30px 'Lato', sans-serif;
}
.logo span,
.navigation--link:hover {
	color: #ed145b;
}
.logo {
	float: left;
	font-weight: bold;
}
.logo h1 {
	font-size: 25px;
	line-height: 100%;
}
.slicknav_menu {
	display:none;
}
.menu__navigation {
	margin-top: 10px; 
	float: right;
	font-size: 16px;
	line-height: 36px;
	font-weight: bold;
}
.navigation--item { 	
	display: inline-block;
}
.navigation--link {
	margin: 0 6px;
}
.central__title {
	padding: 200px 0;
	font-size: 46px;
	line-height: 36px;
	letter-spacing: 1.5px;
	color: #fff;
	text-align: center;
}
.central__title h2 {
	text-transform: uppercase;
}
.central__title span {
	font-weight: bold;
}
.container__line{
	display: inline-block;
	width: 200px;
	height: 2px;
	margin: 40px 0 10px 0;
	text-align: center;
	background: #ed145b;
}
.central__title--text {
	padding-top: 20px;
	padding-bottom: 55px;
	font-size: 22px;
	line-height: 38px;
	font-style: italic;
}
.central__title--link {
	width: 200px;
	font-size: 15px;
	line-height: 38px;
	text-transform: uppercase;
	background: #ed145b;
	border: 1px solid #ed145b;
	padding: 15px 50px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.central__title--link:hover {
	background: #fff;
	color: #ed145b;
	border: 1px solid #fff;
}

/* ABOUT US*/

.about_us {
	position: relative;
	min-height: 500px;
	padding: 98px 0;
}
.container__title {
	font-size: 38px;
	line-height: 52px;
	letter-spacing: 1.4px;
	font-style: italic;
}
.about_us--left {
	width: 50%;
	padding-left: 14px;
	overflow: hidden;
}
.about_us--text {
	padding-bottom: 68px;
}
.about_us--line {
	margin-top: 26px;
}
.about_us--link {
	color: #ed145b;
}
.about_us--link:hover{
	color: #ed145b;
}
.about_us--link span {
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	margin-right: 14px;
}
.macbook {
	position: absolute;
	right: 4%;
	top: 12%;
}
.macbook img {
	display: block;
	width: 100%;
	max-width: 100%;
}
/* OUR SERVICES */

.our_services {
	background-color: #fff;
	text-align: center;
	min-height: 700px;
}
.our_services__title {
	padding-top: 152px;
}
.our_services__title--line {
	margin: 26px 0;
}
.our_services__title--text {
	margin-left: 22%;
	margin-right: 22%; 
	padding-bottom: 86px;
}
.services--text {
	padding-top: 30px;
	padding-bottom: 90px; 
	text-transform: uppercase;
	color: #ed145b;
}
/* SLIDER */

.quote {
	padding: 100px 0;
	margin-top: 10px;
	min-height: 500px;
	text-align: center;
	background: url(../img/background.png) no-repeat;
	background-size: cover;
	color: #fff;
}
.bxslider--text {
	font-size: 25px;
	line-height: 40px;
	padding: 40px 0;
	width: 800px;
	text-align: center;
	margin: 0 auto;
}

/* PRICES */
.prices {
	padding-top: 140px;
	padding-bottom: 80px;
	text-align: center;
}
.prices__title--text {
	width: 600px;
	margin: 0 auto;
	padding-bottom: 86px;
}
.column_title {
	background: #5a5a5a;
	padding: 30px 0 45px 0;
	font-weight: bold;
	color: #fff;	
}
.column_title:hover {
	background: #ed145b;
}
.rate_column h4 {
	font-size: 50px;
	line-height: 38px;
}
.rate_column span {
	font-size: 20px;
	line-height: 38px;
}
.column_title p {
	font-size: 15px;
	line-height: 38px;
	margin-top: -16px;
}
.column_description {
	background: #fff;
}
.column_description .rate_name {
	display: inline-block;
	margin: -25px auto 25px; 
	border: 1px solid #f4f4f4;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: #f4f4f4;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}
.column_description p {
	line-height: 38px;
}
.column_description a {
	display: inline-block;
	margin: 30px 0;
	border: 1px solid #f4f4f4;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: #ed145b;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	line-height: 50px;	
}
.column_description a:hover {
	border: 1px solid #5a5a5a;
	background: #5a5a5a;
}
/* ADVANTAGES */
.advantages {
	background: #fff;
	padding-top: 142px;
	padding-bottom: 50px;
	margin-left: -40px; 
}
.advantages h4 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ed145b;
}
.advantages p {
	margin: 10px 0 80px 0;
	height: 84px;
	overflow: hidden;
}
/* SECTION INVITE */
.invite {
	padding: 76px 0;
	background: #ed145b;
}
.invite h3 {
	display: inline-block;
	font-size: 38px;
	line-height: 52px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	color: #fff;
}
.invite span {
	font-weight: bold;
}
.invite a {
	width: 200px;
	height: 50px;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #ed145b;
	background: #fff;
	border: 1px solid #ed145b;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	float: right;
}
.invite a:hover {
	color: #fff;
	background: #ed145b;
	border: 1px solid #ed145b;
}

/* UPDATES */
.updates {
	margin-top: 130px;
	text-align: center;
}
.updates__title--text {
	width: 700px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.update__images img {
	width: 100%;
	display: block;
	max-width: 100%;
}
.update__images__details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ed145b;
	width: 100%;
	height: auto;
	visibility: hidden;
}
.update__images:hover .update__images__details {
	visibility: visible;
	opacity: 0.8;
	background: #ed145b;
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}
.update__images__details img {
	width: auto;
	margin: 0 auto;
	padding-top: 35%;
}
.updates__images__text {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 80px;
}
.updates__images__text--title {
	padding-top: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.updates__images__text--text {
	padding-top: 10px;
}
.show_more {
	padding-top: 40px;
	padding-bottom: 60px;
}
.show_more a {
	display: block;
	line-height: 44px;
	color: #ed145b;
	background: url(../img/show_more.png) no-repeat center bottom;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

/* 	FREE PSD TEMPLATE */

.prefooter {
	padding-top: 140px;
	padding-bottom: 160px;
	background: url(../img/background.png) no-repeat;
	text-align: center;
	color: #fff;
}
.prefooter__title {
	margin-bottom: -10px; 
}
.prefooter__title--text {
	width: 720px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 85px;
	font-size: 15px;
	line-height: 30px;
	font-style: italic;
}
.prefooter--link {
	line-height: 38px;
	text-transform: uppercase;
	background: #ed145b;
	border: 1px solid #ed145b;
	padding: 15px 50px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.prefooter--link:hover {
	background: #fff;
	color: #ed145b;
	border: 1px solid #fff;
}

/* 	DOWNLOAD */
.download {
	padding-top: 80px;
	padding-bottom: 170px;
}
.download img {
	width: 100%;
	display: block;
	max-width: 100%;
}
.download-left {
	padding-top: 50px;
	padding-left: 65px;
}
.download__title--line {
	margin: 32px 0;
}
.download__title--text {
	padding-bottom: 60px;
}
.download--link {
	text-transform: uppercase;
	background: #ed145b;
	border: 1px solid #ed145b;
	padding: 15px 30px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.download--link:hover {
	background: #fff;
	color: #ed145b;
	border: 1px solid #fff;
}

/* 	FOOTER */

footer {
	padding: 60px 0;
	background: #2b2b2b;
	color: #cacaca;

}
footer span {
	font-weight: bold;
	color: #fff;
}
footer .dot {
	font-weight: bold;
	color: red;
}