input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    outline: none;
    color: inherit;
}
html, body {
    height: 100%;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}
main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}
footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    color: #767676;
    overflow-y: scroll;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #767676;
}
body::-webkit-scrollbar {
    width: 6px;
    background-color: #767676;
}
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #000;
}
*::-moz-selection {
    background-color: #6b6c70;
    color: #fff;
}
*::selection {
    background-color: #6b6c70;
    color: #fff;
}
textarea {
    -moz-appearance: none;
    resize: none;
    width: 100%;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 30px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.1s, opacity 0.3s ease;
         -o-transition: visibility 0s linear 0.1s, opacity 0.3s ease;
            transition: visibility 0s linear 0.1s, opacity 0.3s ease;
}
.modal.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    z-index: 20;
    background: #6a6a6a;
    padding: 10px;
}
.modal__container {
    position: relative;
    z-index: 22;
    max-width: 460px;
    min-height: 560px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: 0 0 10px #fff;
            box-shadow: 0 0 10px #fff;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    text-align: center;
}
.form {
    max-width: 340px;
    margin: auto;
}
.form__title {
    padding-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.form__line {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #cfcfcf;
    line-height: 40px;
    outline: none;
    -webkit-box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0);
            box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0);
}
.form input:focus:required:invalid {
    border: 1px solid red;
    -webkit-box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.75);
            box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.75);
}
.form input:required:valid {
    border: 1px solid green;
}
.form__btn {
    padding: 15px 25px;
    border: none;
    background: #767676;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #fff;
    -webkit-transition: -webkit-transform 0.2s ease;
            transition: -webkit-transform 0.2s ease;
         -o-transition:         transform 0.2s ease;
            transition:         transform 0.2s ease;
            transition:         transform 0.2s ease, -webkit-transform 0.2s ease;
}
.form__btn:hover {
    -webkit-transform: scale(0.94);
        -ms-transform: scale(0.94);
            transform: scale(0.94);
}
.form .inputWrap {
    position: relative;
    padding-bottom: 40px;
}
.form .inputWrap label {
    position: absolute;
    top: -28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.error {
    color: #dc7f7f;
}
.header {
    background: #dcdcdc;
}
.header__top {
    padding: 35px 0 70px 0;
}
.header__logo {
    float: left;
    width: 273px;
    margin-top: 27px;
}
.header__contact {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}
.header__contact-link {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.15;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-transition: color 0.3s linear;
         -o-transition: color 0.3s linear;
            transition: color 0.3s linear;
}
.header__contact-link:hover, .header__contact-link:focus {
    color: #000;
}
.header__contact-btn {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: right;
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
            text-decoration-style: dashed;
}
.navigation {
    background: #9c9c9c;
}
.navigation__list {
    padding: 30px 0 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
}
.navigation__link {
    margin: 0 20px;
    position: relative;
    font-size: 30px;
    color: #fff;
}
.navigation__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s  linear;
            transition: -webkit-transform 0.3s  linear;
         -o-transition:         transform 0.3s  linear;
            transition:         transform 0.3s  linear;
            transition:         transform 0.3s  linear, -webkit-transform 0.3s  linear;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    z-index: 10;
}
.navigation__link:hover {
    -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.navigation__link:hover:after {
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.navigation :not(:last-of-type) {
    border-right: 2px solid #fff;
}
.slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
.slider__slide {
    width: 100%;
}
.slider__slide img {
    margin: auto;
}
.slider__link {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: 0.3s linear;
         -o-transition: 0.3s linear;
            transition: 0.3s linear;
    z-index: 10;
}
.slider__link:hover, .slider__link:focus {
    opacity: 0.7;
}
.slider .prev {
    left: 24%;
}
.slider .next {
    right: 24%;
}
.breadCrumbs__list {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.breadCrumbs__item:not(:last-of-type) {
    text-decoration: underline;
}
.breadCrumbs__item:not(:last-of-type) .breadCrumbs__link:after {
    content: '/';
    position: absolute;
    top: 0;
    right: -15px;
    z-index: -1;
}
.breadCrumbs__link {
    display: block;
    position: relative;
    line-height: 18px;
    margin-right: 25px;
}
.catalog {
    padding-top: 15px;
}
.catalog__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.leftblock {
    -ms-flex-preferred-size: 310px;
    flex-basis: 310px;
}
.leftblock__item {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: none;
}
.leftblock__link {
    position: relative;
    display: inline-block;
}
.leftblock__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #767676;
    -webkit-transition: -webkit-transform 0.3s  linear;
            transition: -webkit-transform 0.3s  linear;
         -o-transition:         transform 0.3s  linear;
            transition:         transform 0.3s  linear;
            transition:         transform 0.3s  linear, -webkit-transform 0.3s  linear;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    z-index: 10;
}
.leftblock__link:hover {
    -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.leftblock__link:hover:after {
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.leftblock__subList {
    padding-left: 20px;
}
.leftblock__subItem {
    list-style-type: disc;
    font-size: 14px;
}
.price {
    padding-right: 15px;
}
.price__link {
    text-align: center;
}
.price__img {
    margin: 100px auto 0 auto;
}
.price__txt {
    margin: auto;
    padding-top: 5px;
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    color: #444;
}
.centerblock {
    padding-top: 5px;
    padding-bottom: 200px;
}
.centerblock__item {
    display: inline-block;
    background: #dadada;
    max-width: 250px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.centerblock__img img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.centerblock__text {
    padding-top: 18px;
    padding-bottom: 55px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 1;
}
.centerblock__price {
    font-size: 28px;
}
.centerblock__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 15px;
}
.centerblock__info {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.centerblock__info div {
    max-width: 370px;
}
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 1px solid #767676;
}
.pagination__item {
    list-style: none;
    margin-right: 15px;
}
.pagination__link {
    display: block;
    font-size: 18px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.pagination__link:hover, .pagination__link:focus, .pagination__link-active {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
}
.fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.footer {
    padding: 50px 0;
    background: #7b7b7b;
    color: #fff;
}
.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__list {
    list-style: none;
    text-decoration: underline;
}
.footer__link {
    -webkit-transition: 0.3s linear;
         -o-transition: 0.3s linear;
            transition: 0.3s linear;
}
.footer__link:hover {
    color: #000;
}
.footer__agency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__agency img {
    margin-right: 10px;
}
.footer__agency-text em {
    text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */
