body {
	min-height: 1024px;
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	font: 14px/16px 'Helvetica Neue', Helvetica, sans-serif;
	color: #fff;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/helveticaneuecyr-thin-webfont.eot');
	src: url('fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
	url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
	url('fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
a {
	text-decoration: none; 
	color: #fff;
}
h1 {
	line-height: 30px;
	font-size: 24px;
	padding: 15px 0;
	background: rgba(0,0,0,0.5);
}
/*MENU*/
.mainmenu {
	background: url(../img/background_menu.png) repeat-x;
	height: 36px;
	overflow: hidden;
}
.mainmenu li {
	float: right;
}
.mainmenu a {
	display: inline-block;
	line-height: 36px;
}
.menu a {
	padding: 0 20px;
}
.menu-feedback {
	margin-right: 20px; 
}
.signup {
	padding: 0 16px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50afdc+0,2989d8+100,207cca+100,2e7ac4+100 */
	background: #50afdc; /* Old browsers */
	background: -moz-linear-gradient(top,  #50afdc 0%, #2989d8 100%, #207cca 100%, #2e7ac4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #50afdc 0%,#2989d8 100%,#207cca 100%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #50afdc 0%,#2989d8 100%,#207cca 100%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50afdc', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */   
}
.signup a {
	text-decoration: underline;
}
.signup a:hover {
	text-decoration: none;
}
.my_suggestions {
	border-left: 1px solid #56a2dc;
	margin: 2px 0;
}
.my_suggestions a {
	margin: -2px 0;
	padding: 0 36px; 
}
.my_suggestions span {
	margin-right: -16px;
}
.my_suggestions a:before {
	content: '';
	position: absolute;
	top: 5px;
	right: 340px;
	height: 26px;
	width: 25px;
	background: url(../img/flag.png) no-repeat;
}
.mainmenu a:hover,
.active a {
	background: #4eabda;
	color: #fff;	
}
/*Form*/
.wrapper {
	display: table;
	width: 540px;
	height: 100%;
	margin: 0 auto;
	padding: 200px 0;
}
.form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.log_in {
	margin-top: 2px;
	background: rgba(0,0,0,0.5);
}
.facebook {
	display: block;
	padding: 34px 0;
}
.facebook a {
	display: inline-block;
	width: 276px;
	height: 34px;
	background: url(../img/background_facebook.png) no-repeat;
}
.ou {
	padding-bottom: 30px;
    position: relative;			
}
.ou:before {
	content: '';
    position: absolute;
	left: 145px;
	top: 7px;
	height: 4px;
	width: 110px;
	background: url(../img/line_ou.png) repeat-x;
}
.ou:after {
	content: '';
	position: absolute;
	right: 145px;
	top: 7px;
	height: 4px;
	width: 110px;
	background: url(../img/line_ou.png) repeat-x;
}
.data_field {
	padding-bottom: 20px;
}
input {
	border: none;
}
input[type="text"],
input[type="password"]{
	width: 276px;
	line-height: 36px;
	border-bottom: 1px solid #484948;
	padding-left: 20px;
	background: #000;
	color: #f4f3f5;
}
input[type="checkbox"]{
	margin-left: -54px;
}
input[type="checkbox"],
.button {
	cursor:pointer;
}
.button {
	line-height: 36px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #fefdff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50aedb+0,2e7ac4+100 */
	background: rgb(80,174,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(80,174,219) 0%, rgb(46,122,196) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgb(80,174,219) 0%,rgb(46,122,196) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgb(80,174,219) 0%,rgb(46,122,196) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50aedb', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */
}
.agree {
	font-size: 11px;
	line-height: 16px;
	margin: 0 120px;
	padding-bottom: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 10px 4px rgba(104,156,204,1);
	-moz-box-shadow: 0px 0px 10px 4px rgba(104,156,204,1);
	box-shadow: 0px 0px 10px 4px rgba(104,156,204,1);
	background: rgba(27,82,136,1);
	background: -moz-linear-gradient(left, rgba(27,82,136,1) 0%, rgba(30,74,118,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,82,136,1)), color-stop(100%, rgba(30,74,118,1)));
	background: -webkit-linear-gradient(left, rgba(27,82,136,1) 0%, rgba(30,74,118,1) 100%);
	background: -o-linear-gradient(left, rgba(27,82,136,1) 0%, rgba(30,74,118,1) 100%);
	background: -ms-linear-gradient(left, rgba(27,82,136,1) 0%, rgba(30,74,118,1) 100%);
	background: linear-gradient(to right, rgba(27,82,136,1) 0%, rgba(30,74,118,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5288', endColorstr='#1e4a76', GradientType=1 );
}