html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.container {
    @media @mobile {
        padding: 0 10px;
    }
    @media @tablet {
        padding: 0;
    }
}
a {
	outline: none!important;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
    position: relative;
    overflow: hidden;

    display: block;
    width: 265px;
    padding: 15.5px 25px;
    margin-top: 15px;
    background: #000;
    border: none;
    box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.27);
    transition: box-shadow .3s linear; 
    font-size: 21px;
    color: #fff;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        height: 100%;
        width: 3em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
        background-color: rgba(255,255,255,0.5);
    }

    &:hover {
        color: #fff;
        box-shadow: none;
        &:after {
            transform: skewX(-45deg) translateX(20em);
            transition: all .5s linear;
        }
    }
}
.btn-submit {
    background: none;
    border: none;
    color: #fff;
}


address {
  font-style: normal;
}


body {
    position: relative;
    z-index: 1;
    padding-right: 0 !important;
    font-size: @fs;
    line-height: @lh;
    color: #000;
    margin: 0;
    font-weight: 400;
    font-family: @ff1;
}

.fancybox-margin {
    margin-right: 0 !important;
}

section {
    padding: 60px 0;
    @media @desktop-xl {
        padding: 90px 0;
    }
}

.section__title {
    position: relative;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    &:before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 170px;
        height: 8px;
        background: @yellow;
        box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.27);
    }
    @media @tablet {
        font-size: 30px;
    }
    @media @desktop {
        font-size: 36px;
    }
}


.pageInner__title {
    padding: 30px 0;
    position: relative;
    font-size: 30px;
    font-family: @ff2;
    font-weight: 700;
    text-align: center;

    @media @tablet {
        text-align: left;
    }
    @media @desktop {
        font-size: 36px;
    }
    @media @desktop-xl {
        font-size: 42px;
    }
}