@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 74px;
	z-index: 100;
	background: #000;
	@media @desktop {
		background: #fff;
	}

	.container {
		padding: 0;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background: #000;
			@media @desktop {
				right: -950px;
				width: 1000px;
			}
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: 5px;
			left: 0;
			width: 100%;
			box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 1);
		}
	}

	&__logo {
		flex: 1;
		order: 1;
		max-height: 74px;
		transition: all .3s linear;
		@media @desktop {
			position: absolute;
			left: -2000px;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__nav {
		order: 5;
		transition: all .3s linear;
		@media @tablet {

		}
		@media @desktop {
			flex-basis: 70%;
			order: 2;
		}
	}

	.nav__list {
		display: flex;
		align-items: center;
		flex-direction: column;

		@media @tablet {

		}
		@media @desktop {
			flex-direction: row;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	.nav__item {
		list-style-type: none;		
		font-weight: 500;
	}

	.nav__link {
		display: block;
		padding: 7px 11px;
		line-height: 60px;
		font-size: 19.56px;
		transition: .3s linear background-color;
		&:hover {
			background: @yellow;
		}
	}

	&__time {
		display: none;
		@media @tablet {
			display: block;
			order: 3;
			width: 170px;
			font-weight: 500;
		}
	}

	&__btn {
		order: 4;
		position: relative;
		width: 100px;
		height: 74px;
		background: @yellow;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.bg-phone
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			height: 100%;
			width: 3em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
			background-color: rgba(255,255,255,0.5);
		}

		&:hover {
			color: #fff;
			&:after {
				transform: skewX(-45deg) translateX(13.5em);
				transition: all .5s linear;
			}
		}
	}
}

.headerMain {
	padding-top: 200px;
	padding-bottom: 100px;
	background: url(../images/hero__back.jpg)no-repeat fixed center/cover;
	text-align: center;
	font-weight: 700;
	color: #fff;
	@media @tablet {
		padding-top: 280px;
		padding-bottom: 150px;
	}
	@media @desktop {
		padding-bottom: 0;
	}

	&__logo {
		margin-bottom: 20px;

		@media @tablet {
			margin-bottom: 40px;
		}
		img {
			display: block;
			max-width: 300px;
			height: auto;
			margin: auto;
			@media @tablet {
				max-width: 500px;
			}
			@media @desktop {
				max-width: 100%;
				height: auto;
			}
		}
	}

	&__title {
		font-size: 28px;

		@media @tablet {
			font-size: 30px;
		}
		@media @desktop {
			font-size: 36px;
		}
		@media @desktop-xl {
			font-size: 40px;
		}
		@media @desktop-xl-2 {
			font-size: 48px;
		}
	}

	&__address {
		padding-top: 10px;
		font-size: 24px;
		font-family: @ff2;

		@media @tablet {
			font-size: 30px;
		}
		@media @desktop {
			font-size: 40px;
		}
		@media @desktop-xl {
			font-size: 45px;
		}
		@media @desktop-xl-2 {
			font-size: 53px;
		}
	}

	.scrollMore {
		@media @desktop {
			position: relative;
			display: inline-block;
			margin: 290px auto -5px auto;

			width: 76px;
			height: 100px;
			background: @yellow;
		}
		&:before {
			@media @desktop {
				content: '';
				position: absolute;
				top: 24px;
				left: 44%;
				animation: arrow-bounce 4s infinite;
				.bg-arr_down
			}
		}
	}
}


#fixedTopMenu.fixed{
	@media @desktop {
		.header__logo {
			left: 0;
			opacity: 1;
			visibility: visible;
		}
		.header__nav {
			margin-left: 236px;
			flex-basis: 50%;
		}
		.header__time {
			width: 170px;
		}
	}
}