@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.sale {
	position: relative;
	background: url(../images/sale__back.jpg)no-repeat center/cover;
	&:before {
		content: '';
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 1);
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 50px 0;
		z-index: 10;
		@media @desktop {
			flex-direction: row;
			padding: 100px 0;
		}
	}

	&__item {
		max-width: 300px;	
		margin-bottom: 30px;
		position: relative;
		list-style-type: none;	
		box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.27);
		transition: box-shadow .3s linear;
		@media @desktop {
			width: 32%;
			max-width: inherit;		
		}
		&:hover {
			box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.5);
		}
		@media @desktop-xl {
			width: inherit;
		}
	}

	&__link {
		display: block;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;

		@media @desktop {
			max-width: 300px;
			height: 161px;
		}
		@media @desktop-xl {
			max-width: 368px;
			height: 276px;
		}
	}
}