@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.catalog {
	position: relative;
	background: url(../images/section-back-angle.png)no-repeat;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 704px;
		height: 690px;
		background: url(../images/decor-left.png);
	}

	&:after {
		content: '';
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 1);
	}

	&__article {
		position: relative;
		z-index: 10;
	}

	.slick-dots li:nth-child(2) button:before {
		background: #a17e68;
	}
	.slick-dots li:nth-child(3) button:before {
		background: #bcaea2;
	}
	.slick-dots li:nth-child(4) button:before {
		background: #d0cac0;
	}
	.slick-dots li:nth-child(5) button:before {
		background: #beac93;
	}
}
