@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.brand {
	background: url(../images/brands__back.jpg)no-repeat center/cover;
	padding-top: 100px;
	padding-bottom: 100px;
	&__list {
		padding-top: 70px;
	}

	&__item {
		position: relative;
		list-style-type: none;
		margin-right: 15px;
		background: #fff;
		&:before {
			// content: "";
			// position: absolute;
			// top: 0;
			// left: 0;    
			// border-bottom: 29px solid red;
			// border-left: 29px solid #eee;
			// border-right: 29px solid #eee;
			// width: 42px;
			// height: 0;
		}
		&:after {
			// content: "";
			// position: absolute;
			// bottom: 0;
			// left: 0;    
			// border-top: 29px solid red;
			// border-left: 29px solid #eee;
			// border-right: 29px solid #eee;
			// width: 42px;
			// height: 0;
		}

	}

	&__wrap {
		display: flex;
		align-items: center;

		height: 100px;
		outline: none!important;
		cursor: pointer;
		
	}

	.img__wrap {
		
	}

	&__img {
		display: block;
		max-width: 150px;
		height: auto;
		margin: auto;
	}	


}

.brandHistory {
	text-align: left;

	&__text {
		padding-bottom: 15px;
		color: #616d74;
	}
	&__img {
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}
}