@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.services {
	background: url(../images/servicesBonus__back.jpg)no-repeat right;
	&__list {
		padding-left: 20px;
		padding-top: 55px;
	}
	&__item {
		margin-bottom: 15px;
		list-style-type: none;
	}
	&__box {
		display: flex;
		align-items: center;
		max-width: 690px;
	}
	&__img {
		margin-right: 30px;
	}
	&__titles {
		font-size: 21px;
		font-weight: 700;
	}
	.btn {
		margin-top: 30px;
		margin-left: 37px;
		color: @yellow;
	}
}