@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.services {
	overflow: hidden;
	background: #fff;
	position: relative;
	&:before {
		@media @desktop {
			content: '';
			position: absolute;
			top: 0;
			right: -400px;
			width: 1047px;
			height: 687px;
			background: url(../images/servicesBonus__back.jpg)no-repeat;
		}
		@media @desktop-xl {
			right: -100px;
		}
		@media @desktop-xl-2 {
			right: 0;
		}
	}
	&__list {
		position: relative;
		padding-top: 55px;
		z-index: 10;
		@media @tablet {
			padding-left: 20px;
		}
	}
	&__item {
		margin-bottom: 15px;
		list-style-type: none;
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		@media @tablet {
			flex-direction: row;
			justify-content: inherit;
			text-align: left;
			max-width: 690px;
		}
	}
	&__img {
		margin-top: 20px;
		margin-bottom: 15px;
		@media @tablet {
			margin-top: inherit;
			margin-bottom: inherit;
			margin-right: 30px;
		}
	}
	&__titles {
		font-size: 19px;
		font-weight: 700;
		margin-bottom: 15px;
		@media @tablet {
			margin-bottom: 0;
			font-size: 21px;
		}
	}
	.btn {
		margin: auto;
		margin-top: 30px;
		color: @yellow;
		@media @tablet {
			margin-left: 37px;
		}
	}
}