@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.about {
	background: url(../images/form__back.jpg)no-repeat center/cover;
	color: #fff;
	&__list {
		margin-top: 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: baseline;
		@media @tablet {
			justify-content: space-around;
		}
		@media @desktop {
			justify-content: space-between;
		}
		@media @desktop-xl {
			flex-wrap: nowrap;
		}
	}
	&__item {
		margin-bottom: 30px;
		list-style-type: none;
		text-align: center;
		padding: 0 10px;
		@media @tablet {
			width: 45%;
		}

		@media @desktop {
			width: 33%;
			&:nth-of-type(5) {
				width: 50%;
				align-self: unset;
			}
			
		}
		@media @desktop-xl {
			width: 20%;
			margin-bottom: 0;
			padding: 0;
			&:nth-of-type(4) {
				width: 20%;
			}
			&:nth-of-type(5) {
				width: 20%;
			}
		}
	}
	&__img {
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}
		
		@media @tablet {
		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
	}
	&__titles {
		padding-top: 15px;
		min-height: 75px;
		font-size: 20px;
		font-weight: 700;
		color: @yellow;
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
	}
	&__text {
		max-width: 250px;
		margin: auto;
	}
	strong {
		color: @yellow;
		font-weight: 700;
	}
	sup {
		font-size: 14px;
	}


}



