@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.videoTour {
	box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.27);
	
	&__video {
		position: relative;
		margin: auto;
		margin-top: 70px;
		max-width: 580px;
		height: auto;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
		box-shadow: 8.485px 8.485px 15.81px 1.19px rgba(0, 0, 0, 0.27);
	}

	&__link {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: @yellow;

		width: 140px;
		height: 36px;
		padding-left: 40px;
		line-height: 36px;
		font-weight: 700;
		cursor: pointer;
	}
	span {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: -2px; 
			left: -25px;
			.bg-play
		}
	}
}


