@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.gallery {
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 270px;
		background-image: -moz-linear-gradient( 90deg, rgb(204,204,204) 0%, rgba(225,229,235,0) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(204,204,204) 0%, rgba(225,229,235,0) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(204,204,204) 0%, rgba(225,229,235,0) 100%);
		z-index: -1;
	}

	&__list {
		padding-top: 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}

	&__item {
		position: relative;
		cursor: pointer;
		list-style-type: none;
		width: 50%;
		height: 320px;
		overflow: hidden;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			height: 760px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0, .55);
			transition: all .3s linear;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border: 2px solid #afa7a0;
			transition: all .3s linear;
			opacity: 0;
		}

		&:nth-of-type(odd) .gallery__product {
			top: 20%;
		}
		&:nth-of-type(even) .gallery__product {
			top: 80%;
		}

		&:nth-of-type(2) img {
			left: -100px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
		}
		&:nth-of-type(3) img {
			right: -350px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
		}
		&:nth-of-type(4) img {
			right: -330px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
		}
		&:nth-of-type(5) img {
			right: -40px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
		}

		&:hover {
			&:before {
				background: rgba(0,0,0, .35);
			}
			&:after {
				opacity: 1;
				width: 95%;
				height: 95%;
			}
		}
	}
	&__product {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		font-size: 30px;
		font-weight: 700;
		color: #fff;
		text-align: center;
		overflow: hidden;
		transition: all .5s linear;
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			font-size: 40px;
		}
	}
	img {
		z-index: -1;
		position: absolute;
	}
}