.bg-agency {
    width: 120px; height: 30px;
    background: url('../images/icons/css_sprites.png') -382px -49px;
}

.bg-fb {
    width: 75px; height: 75px;
    background: url('../images/icons/css_sprites.png') -105px -49px;
}

.bg-gplus {
    width: 75px; height: 75px;
    background: url('../images/icons/css_sprites.png') -10px -49px;
}

.bg-arr_down {
    width: 13px; height: 18px;
    background: url('../images/icons/css_sprites.png') -431px -144px;
}

.bg-arr_left {
    width: 45px; height: 45px;
    background: url('../images/icons/css_sprites.png') -261px -144px;
}

.bg-utube {
    width: 75px; height: 75px;
    background: url('../images/icons/css_sprites.png') -200px -49px;
}

.bg-phone {
    width: 32px; height: 54px;
    background: url('../images/icons/css_sprites.png') -10px -243px;
}

.bg-decor_line {
    width: 521px; height: 19px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}

.bg-arr_right {
    width: 45px; height: 45px;
    background: url('../images/icons/css_sprites.png') -326px -144px;
}

.bg-services2 {
    width: 66px; height: 48px;
    background: url('../images/icons/css_sprites.png') -175px -144px;
}

.bg-services4 {
    width: 60px; height: 79px;
    background: url('../images/icons/css_sprites.png') -10px -144px;
}

.bg-play {
    width: 20px; height: 22px;
    background: url('../images/icons/css_sprites.png') -391px -144px;
}

.bg-services3 {
    width: 65px; height: 51px;
    background: url('../images/icons/css_sprites.png') -90px -144px;
}

.bg-services1 {
    width: 67px; height: 66px;
    background: url('../images/icons/css_sprites.png') -295px -49px;
}



/* sprite for brand */

.bg-gumi {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -160px -0;
}

.bg-home4u {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -0 -360px;
}

.bg-kronoswiss {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -0 -90px;
}

.bg-kronotex {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -160px -90px;
}

.bg-lesnayakrona {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -0 -180px;
}

.bg-mazonetto {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -160px -180px;
}

.bg-meister {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -320px -0;
}

.bg-miradex {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -320px -90px;
}

.bg-myfloor {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -320px -180px;
}

.bg-panaget {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -0 -270px;
}

.bg-rehau {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -160px -270px;
}

.bg-stepFloor {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -320px -270px;
}

.bg-swisskrono {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -0 -0;
}

.bg-tavolini {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -160px -360px;
}

.bg-waldkrone {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -320px -360px;
}

.bg-berthold {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -480px -0;
}

.bg-aquastep {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -480px -90px;
}

.bg-bolex {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -480px -180px;
}

.bg-bruggan {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -480px -270px;
}

.bg-callisto {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -480px -360px;
}

.bg-chenedel {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -0 -450px;
}

.bg-eglo {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -160px -450px;
}

.bg-gazzotti {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -320px -450px;
}

.bg-granorte {
    width: 160px; height: 90px;
    background: url('../images/brandFlag/css_sprites.png') -480px -450px;
}