.bg-utube {
    width: 76px; height: 76px;
    background: url('../images/icons/sprites.png') -10px -10px;
}

.bg-arr_down {
    width: 13px; height: 18px;
    background: url('../images/icons/sprites.png') -319px -209px;
}

.bg-agency {
    width: 120px; height: 30px;
    background: url('../images/icons/sprites.png') -10px -201px;
}

.bg-arr_left {
    width: 45px; height: 45px;
    background: url('../images/icons/sprites.png') -279px -79px;
}

.bg-arr_right {
    width: 45px; height: 45px;
    background: url('../images/icons/sprites.png') -279px -144px;
}

.bg-fb {
    width: 75px; height: 75px;
    background: url('../images/icons/sprites.png') -10px -106px;
}

.bg-gplus {
    width: 75px; height: 75px;
    background: url('../images/icons/sprites.png') -106px -10px;
}

.bg-phone {
    width: 32px; height: 54px;
    background: url('../images/icons/sprites.png') -201px -107px;
}

.bg-play {
    width: 20px; height: 22px;
    background: url('../images/icons/sprites.png') -279px -209px;
}

.bg-services1 {
    width: 65px; height: 64px;
    background: url('../images/icons/sprites.png') -105px -106px;
}

.bg-services2 {
    width: 64px; height: 46px;
    background: url('../images/icons/sprites.png') -10px -251px;
}

.bg-services3 {
    width: 63px; height: 49px;
    background: url('../images/icons/sprites.png') -279px -10px;
}

.bg-services4 {
    width: 58px; height: 77px;
    background: url('../images/icons/sprites.png') -201px -10px;
}