
/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {
	body {
		overflow: hidden;
	}
	.header__logo {
		img {
			margin-top: -36px;
		}
	}
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {
	body {
		overflow: hidden;
	}
}