
/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {
	body {
		overflow: hidden;
	}
	.header__logo {
		img {
			margin-top: -36px;
		}
	}

	#fixedTopMenu.fixed{
		.header__nav {
			flex-basis: auto;
		}
		.header__time {
			width: 170px;
		}
	}
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {
	body {
		overflow: hidden;
	}
}