@media only screen and (max-width: 1700px) {
  .questions {
    right: 30px; }
  .request .request__img-master {
    right: 3%; }
  .callback {
    right: 190px; }
    .callback .btn__callback {
      margin: auto; } }

@media only screen and (max-width: 1300px) {
  .top__header .logo__box {
    width: 30%; }
  .top__header .contact__box {
    width: 40%;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .top__header .btn__callback {
    display: block; }
  .header {
    min-height: 900px; }
    .header__content {
      top: 30%; }
    .header__img {
      position: absolute;
      top: 30%;
      right: 1%;
      z-index: 0;
      width: 450px; }
  .request .request__img-master {
    right: 1%; }
  .callback {
    right: 150px; }
    .callback .btn__callback {
      margin: auto; }
  .believer .goodMaster:before {
    background-position: -360px 0%; } }

@media only screen and (max-width: 1200px) {
  .request .request__img-master {
    display: none; }
  .request .request__img-shelf {
    right: 35%;
    top: 525px; }
  .request .request__img-clock {
    right: 36.5%; }
  .callback {
    position: absolute;
    top: 15%;
    right: 5px;
    width: 400px;
    padding: 30px 10px;
    background: #fff; }
  .proposal {
    padding: 70px 0; }
    .proposal__img img {
      width: 380px; }
  .guarantee .item__title {
    font-size: 1.375rem; }
  .guarantee .mr {
    margin-right: 20px; }
  .guarantee .ml {
    margin-left: 20px; }
  .formBox__callback {
    max-width: 80%; }
  .formBox__line {
    width: 30%; }
  .believer__box {
    margin-top: 30px; }
  .believer__img {
    padding: 0; }
  .questions {
    padding: 35px 50px; }
  .example__slider {
    margin-top: -40px;
    padding: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .section__title {
    font-size: 2rem; }
  .flexBox, .flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .top__header .logo__box {
    width: 10%; }
  .top__header .logo__text {
    display: none; }
  .top__header .nav__box {
    width: auto;
    width: 40%; }
  .top__header .contact__box {
    width: 50%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .request__border {
    margin: auto; }
  .request .border-sm {
    margin: 50px auto; }
  .request__item {
    font-size: 1.375rem; }
    .request__item:before {
      top: 22%; }
  .request__text {
    font-size: 1.375rem; }
  .request .request__img-shelf {
    position: absolute;
    right: auto;
    left: 4%;
    top: auto;
    bottom: 37%;
    z-index: 100;
    -webkit-box-shadow: -20px 20px 20px 0px rgba(166, 144, 141, 0.7);
            box-shadow: -20px 20px 20px 0px rgba(166, 144, 141, 0.7); }
  .request .request__img-clock {
    position: absolute;
    right: auto;
    left: 6%;
    top: auto;
    bottom: 39%;
    z-index: 100; }
  .callback {
    position: relative;
    top: auto;
    right: auto;
    margin: auto; }
  .services {
    min-height: auto;
    padding-bottom: 100px; }
    .services__box {
      margin-left: 0px;
      margin-right: 0px;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .services__item {
      max-width: 50%;
      margin-bottom: 50px; }
    .services__details {
      padding: 15px 0;
      font-size: 1.25rem;
      font-family: "Roboto", "ProximaNova", serif; }
    .services .img__border {
      max-width: 300px; }
    .services .secondLine {
      margin-top: 0; }
  .guarantee {
    padding-top: 0;
    padding-bottom: 50px; }
    .guarantee__title {
      padding-top: 0px;
      padding-bottom: 50px; }
    .guarantee__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 80%;
      margin: auto; }
  .proposal__title {
    font-size: 1.875rem;
    letter-spacing: 0; }
  .proposal__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .proposal__item-rtl {
    position: relative;
    text-align: right; }
    .proposal__item-rtl .proposal__img {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .proposal__item-rtl .item__title-rtl {
      padding-right: 20px;
      margin-bottom: 10px;
      font-size: 1.375rem;
      letter-spacing: 0; }
      .proposal__item-rtl .item__title-rtl:before {
        content: '';
        position: absolute;
        top: 25%;
        right: -20px;
        background-image: url(../img/icons.png);
        width: 19px;
        height: 21px; }
    .proposal__item-rtl .item__text {
      float: right; }
  .proposal__text {
    width: 45%; }
  .proposal__img {
    margin: auto;
    border: 10px solid #fff;
    background: #fff;
    -webkit-box-shadow: 0px 7px 16.74px 1.26px rgba(69, 67, 99, 0.2);
            box-shadow: 0px 7px 16.74px 1.26px rgba(69, 67, 99, 0.2);
    position: relative; }
    .proposal__img img {
      width: 300px; }
  .proposal .item__title {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.375rem;
    letter-spacing: 0; }
    .proposal .item__title:before {
      top: 10%;
      left: -20px; }
  .proposal .item__text {
    padding: 0px 20px;
    width: 100%; }
  .info__title {
    font-size: 2rem; }
  .info__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px; }
  .info__img {
    margin: auto; }
  .info__item {
    width: 50%;
    margin: auto;
    margin-bottom: 25px; }
    .info__item:after {
      background: none;
      display: none; }
  .info__img {
    margin-bottom: 25px; }
  .believer__box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .believer .master {
    width: 100%;
    margin: auto; }
  .believer .believer__list-title {
    text-align: center; }
  .believer__list {
    width: 70%; }
  .believer .master__box {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .believer__item {
    position: relative;
    max-width: 100%; }
  .believer__img {
    margin: auto; }
  .believer .goodMaster:before {
    background: none; }
  .believer .goodMaster img {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .believer .goodMaster__title {
    padding-left: 0;
    text-transform: uppercase;
    font-size: 1.8125rem; }
  .believer .badMaster__title {
    text-transform: uppercase;
    font-size: 1.8125rem;
    text-align: center;
    padding-right: 0; }
  .review {
    padding: 100px 0; }
    .review__title {
      font-size: 1.875rem;
      letter-spacing: 0; }
    .review__slider {
      padding-top: 0;
      margin: 0 auto; }
    .review .test {
      padding-top: inherit;
      padding-left: inherit;
      margin: 0 auto; }
    .review__img {
      float: none;
      clear: both;
      height: 383px;
      margin: 0 auto; }
    .review__content {
      margin: 10px auto;
      width: 100%;
      padding: 0 10%; }
    .review__name {
      font-size: 1.375rem; }
    .review__text {
      padding-bottom: 20px;
      font-size: 1.0625rem;
      line-height: 1.1; }
  .example .before {
    left: 20px; }
  .example .after {
    top: -50px;
    right: 50px; }
  .example .before-down {
    bottom: -50px;
    left: 50px; }
  .example .after-down {
    top: auto;
    bottom: -50px;
    left: auto;
    right: 50px; }
  .example .slick-prev {
    top: 55%;
    left: 15px; }
  .example .slick-next {
    top: 55%;
    right: 15px; }
  .questions {
    right: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
    min-height: 820px; }
  .top__header .logo__box {
    width: 10%; }
  .top__header .logo__text {
    display: none; }
  .top__header .nav__box {
    display: none; }
  .top__header .contact__box {
    width: 80%;
    -webkit-box-pack: space-beteer;
    -webkit-justify-content: space-beteer;
        -ms-flex-pack: space-beteer;
            justify-content: space-beteer; }
  .services {
    background: url(../img/background__top.jpg) center/cover; }
    .services__title {
      padding-top: 250px; }
    .services__box {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .services__item {
      max-width: 100%; }
    .services .more {
      padding-top: 20px;
      margin-bottom: 80px; }
  .guarantee__title {
    padding-top: 30px; }
  .guarantee__box {
    margin-top: 30px; }
  .guarantee__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 20px; }
  .guarantee .item__title {
    padding-top: 10px;
    font-size: 1.25rem; }
  .guarantee .img__border {
    border: 10px #fff solid; }
  .believer__title {
    font-size: 1.625rem; }
  .believer__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; }
  .believer .master__box {
    margin: 0 5%; }
  .believer__list-title {
    font-size: 1.5rem;
    letter-spacing: 0px; }
  .believer__list {
    width: 90%; }
  .believer__img {
    display: none; }
  .formBox__title {
    padding-bottom: 50px;
    font-size: 1.4375rem;
    letter-spacing: 0; }
  .formBox__callback {
    padding: 100px 0;
    max-width: 100%;
    margin: 0; }
  .formBox__line {
    padding-left: 25px;
    width: 221px;
    margin: auto;
    margin-bottom: 25px; }
  .formBox .btn__callback {
    margin: 0 auto;
    display: block;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .review__img {
    background: none !important;
    margin: auto;
    position: relative;
    text-align: center;
    height: 260px; }
    .review__img:before {
      width: 240px;
      height: 240px;
      top: auto;
      left: auto;
      text-align: center;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .review__name {
    text-align: center; }
  .review__text {
    padding-bottom: 20px;
    font-size: 1.0625rem;
    line-height: 1.1; }
  .map {
    -webkit-box-shadow: 0px 8px 106px 0px rgba(33, 35, 47, 0.35);
            box-shadow: 0px 8px 106px 0px rgba(33, 35, 47, 0.35); }
  .questions {
    position: relative;
    top: auto;
    right: auto;
    margin: auto;
    text-align: center; }
    .questions .btn__callback {
      margin: 35px auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 580px) {
  .section__title {
    font-size: 1.625rem; }
  .wow {
    -webkit-animation: none;
            animation: none; }
  .guarantee__title {
    padding-top: 0;
    padding-bottom: 0; }
  .guarantee__box {
    margin-top: 30px; }
  .guarantee__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 100%; }
  .guarantee .item__title {
    padding-top: 10px;
    font-size: 1.25rem; }
  .guarantee .img__border {
    border: 10px #fff solid; }
  .believer {
    background: none; }
    .believer__box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 0;
      margin-top: 10px; }
    .believer__item {
      max-width: 100%; }
    .believer__list {
      padding-top: 10px; }
    .believer .badMaster__title {
      padding-left: 30px;
      padding-right: inherit; }
    .believer .master__box {
      margin: 0; }
    .believer__list-title {
      font-size: 1.5rem;
      letter-spacing: 0px; }
    .believer__img {
      display: none; }
  .services .more {
    margin-bottom: 60px; }
  .request {
    margin-left: 0; }
    .request br {
      display: none; }
    .request__border {
      margin: auto;
      margin-left: 0; }
    .request .border-sm {
      margin: 50px auto;
      margin-left: 0; }
    .request__item {
      font-size: 1.375rem; }
      .request__item:before {
        top: 22%; }
    .request__text {
      font-size: 1.375rem; }
    .request .request__img-shelf {
      display: none; }
    .request .request__img-clock {
      display: none; }
  .proposal__title {
    font-size: 1.625rem; }
  .proposal__item-rtl {
    position: relative;
    text-align: right; }
    .proposal__item-rtl .proposal__img {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .proposal__item-rtl .item__title-rtl {
      padding-left: 20px;
      margin-bottom: 10px;
      font-size: 1.375rem;
      letter-spacing: 0;
      text-align: left; }
      .proposal__item-rtl .item__title-rtl:before {
        top: 25%;
        right: auto;
        left: -20px; }
    .proposal__item-rtl .item__text {
      float: none; }
  .proposal__text {
    padding-top: 30px;
    padding-left: 30px;
    width: 100%; }
  .proposal__img img {
    width: 300px; }
  .proposal .item__title {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.375rem;
    letter-spacing: 0; }
    .proposal .item__title:before {
      top: 10%;
      left: -20px; }
  .proposal .item__text {
    padding: 0px 20px;
    width: 100%;
    text-align: left; }
  .formBox__title {
    font-size: 1.25rem;
    line-height: 1.5; }
  .info {
    padding: 70px 0;
    background-color: white;
    -webkit-box-shadow: 0px 8px 106px 0px rgba(33, 35, 47, 0.35);
            box-shadow: 0px 8px 106px 0px rgba(33, 35, 47, 0.35); }
    .info__item {
      width: 80%; }
  .slick-dots {
    margin-left: -10px; }
  .example__slider {
    margin-top: 0; }
  .example .slick-dots {
    margin-left: -10px; } }

@media only screen and (max-width: 480px) {
  .top__header .logo__box {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px; }
  .top__header .contact__box {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .top__header .btn__callback {
    display: none; }
  .top__header .hide {
    display: block; }
  #fixedTopMenu.fixed {
    position: inherit; }
  .header {
    min-height: 650px; }
    .header__title {
      font-size: 1.375rem;
      text-align: center; }
      .header__title br {
        display: none; }
    .header__content {
      position: relative;
      display: block;
      padding-left: 0;
      top: auto;
      left: auto;
      margin: auto; }
    .header__list {
      padding-top: 10px;
      text-align: left;
      width: 300px;
      margin: 0 auto; }
    .header__img {
      display: block;
      position: inherit;
      margin: 20px auto;
      max-width: 200px;
      height: auto;
      right: auto;
      top: auto; }
    .header .hide {
      display: block;
      margin: 20px auto;
      text-align: center; }
  .services {
    background-image: none !important;
    background-color: #fff;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0; }
    .services__title {
      padding-top: 50px; }
    .services__box {
      margin-top: 30px; }
  .guarantee {
    padding-bottom: 100px; }
    .guarantee__box {
      margin: 0 auto; }
    .guarantee__title {
      padding-top: 50px;
      padding-bottom: 20px; }
    .guarantee__item {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%;
      margin: auto; }
    .guarantee .img__border {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1;
      margin: 0 auto; }
    .guarantee .item__title {
      text-align: center; }
    .guarantee .item__text {
      width: 100%;
      margin: 0 auto 20px auto;
      text-align: center; }
    .guarantee .rtl {
      text-align: left; }
    .guarantee .mr {
      margin-right: 0; }
    .guarantee .ml {
      margin-left: 0;
      margin-right: 30px; }
  .request .border-sm {
    margin: 50px auto;
    padding: 15px; }
  .request__border {
    margin: auto;
    padding: 20px 0; }
  .request__item {
    font-size: 1.125rem; }
    .request__item:before {
      top: 5%;
      left: 2%; }
  .request__text {
    font-size: 1.25rem; }
  .request .request__img-shelf {
    display: none; }
  .request .request__img-clock {
    display: none; }
  .believer {
    padding: 50px 0; }
    .believer__box {
      margin-top: 0;
      padding: 0; }
  .callback {
    width: 98%;
    padding: 30px 10px; }
    .callback__title {
      font-size: 1.875rem;
      line-height: 1.2; }
    .callback__text {
      padding-bottom: 20px; }
    .callback__line {
      width: 90%; }
  .formBox {
    text-align: center; }
    .formBox br {
      display: none; }
  .review__img {
    height: 230px; }
    .review__img:before {
      width: 220px;
      height: 220px; }
  .review__content {
    padding: 0 15px;
    width: 100%;
    text-align: center; }
  .slick-next, .slick-prev {
    top: 110px; }
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 10px; }
  .questions {
    padding: 30px 10px; }
    .questions .ask {
      font-size: 1.25rem; }
  .footer .logo__text {
    display: none; }
  .footer .agency__box {
    margin-right: 0;
    margin: auto; } }

/* Custom, iPhone Retina */
