::-webkit-input-placeholder { 
	font-family: @ff1;
	font-weight: 400;
	color: #1e222d;
	padding: 7px;
}
::-moz-placeholder { 
	font-family: @ff1;
	font-weight: 400;
	color: #1e222d;
	padding: 7px;
}
:-ms-input-placeholder { 
	font-family: @ff1;
	font-weight: 400;
	color: #1e222d;
	padding: 7px;
}
:-moz-placeholder {
	font-family: @ff1;
	font-weight: 400;
	color: #1e222d;
	padding: 7px;
}