@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	position: relative;
	overflow: hidden;
	background: url(../images/advantages__back.jpg)no-repeat center/cover;

	&:before {
		@media @desktop-xl-2 {
			content: '';
			position: absolute;
			right: 53px;
			top: 0;
			width: 603px;
			height: 1200px;
			background: url(../images/decor/advantages__decor.png);
		}
		@media @desktop-xll {
			right: 225px;
		}
	}

	.container {
		position: relative;
		@media @desktop-xl {
			padding-left: 105px;
			padding-right: 70px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 12px 0 12px;	

		@media @desktop {
			padding: 82px 0;	
			align-items: inherit;
		}
	}

	&__item {
		position: relative;
		max-width: 455px;
		margin-bottom: 60px;
		counter-increment: li;
		box-shadow: 19.013px 28.187px 19.68px 4.32px rgba(114, 122, 142, 0.24);

		@media @tablet {
			width: 455px;
			max-width: inherit;
		}
		@media @desktop {
			margin-bottom: inherit;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			position: absolute;
			z-index: 0;
		}

		div {
			display: flex;
			justify-content: center;
			flex-direction: column;
			
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 30px;
			padding-top: 13px;
			@media @desktop {
				padding-left: 60px;
				padding-right: 50px;
				padding-top: inherit;
				padding-bottom: inherit;
				min-height: 185px;
			}

			&:before{
				content: "" counter(li);
				position: absolute;
				padding: 0 5px;
				top: 0;
				right: 20px;
				font-size: 60px;
				font-weight: 700;
				color: #fff;		

				@media @desktop {
					font-size: 74px;
				}
			}
		}

		&:nth-of-type(odd) {
			&:before {
				content: '';
				position: absolute;
				right: -15px;
				bottom: -18px;
				height: 48px;
				width: 2px;
				background: #636166;
			}
			&:after {
				content: '';
				position: absolute;
				right: -15px;
				bottom: -18px;
				height: 2px;
				width: 48px;
				background: #636166;
			}
		}

		&:nth-of-type(even) {
			@media @desktop {
				align-self: flex-end;
			}
			&:before {
				content: '';
				position: absolute;
				left: -18px;
				bottom: -18px;
				height: 48px;
				width: 2px;
				background: #636166;
			}
			&:after {
				content: '';
				position: absolute;
				left: -18px;
				bottom: -18px;
				height: 2px;
				width: 48px;
				background: #636166;
			}
		}

		&:nth-of-type(1) {
			
			@media @desktop {
				width: 525px;
				margin-left: -35px;
				margin-bottom: -60px;
				box-shadow: none;
			}

			div {
				background: url(../images/advantages__back-item3.jpg)no-repeat center/cover;
				@media @desktop {
					min-height: 245px;
					padding-left: 85px;
					background: url(../images/advantages__back-item.png)no-repeat center/cover;
				}

				&:before{
					@media @desktop {
						right: 50px;	
					}
				}
			}

			h3 {
				@media @desktop {
					margin-top: -56px;
				}
			}

			&:before {
				@media @desktop {
					right: 20px;
					bottom: 38px;
				}
			}
			&:after {
				@media @desktop {
					right: 20px;
					bottom: 38px;
				}
			}
		}

		&:nth-of-type(2){
			div {
				position: relative;
				background: url(../images/advantages__back-item2.jpg)no-repeat center/cover;
				z-index: 10;
			}
			img {
				display: none;
				bottom: 120px;
				right: 20px;

				@media @desktop {
					display: block;
				}
			}
		}

		&:nth-of-type(3){
			div {
				position: relative;
				background: url(../images/advantages__back-item3.jpg)no-repeat center/cover;
				z-index: 10;
			}
			img {
				top: -30px;
				left: -70px;
				display: none;

				@media @desktop {
					display: block;
				}
			}
		}

		&:nth-of-type(4){
			div {
				position: relative;
				background: url(../images/advantages__back-item4.jpg)no-repeat center/cover;
				z-index: 10;
			}
			img {
				bottom: 140px;
				right: 0;
				display: none;

				@media @desktop {
					display: block;
				}
			}
		}
	}

	&__box-title {
		padding-bottom: 8px;
		font-size: 20px;
		font-weight: 700;
		max-width: 190px;

		@media @tablet {
			max-width: inherit;
			padding-top: 13px;
			padding-bottom: 15px;
		}
		@media @desktop {
			padding-top: inherit;
			padding-bottom: 8px;
		}

	}
	&__text {
		line-height: 1;
	}
	
}