@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.statistics {
	background: url(../images/statistics__back.jpg);

	&__list {
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		@media @tablet {
			padding: 58px 0;
			flex-direction: row;
		}

		@media @desktop-xl {
			padding: 58px 20px;
		}
	}

	&__item {
		text-align: center;
		margin: auto;
		margin-bottom: 30px;

		@media @tablet {
			margin: auto;
		}
		@media @desktop {

		}
		@media @desktop-xl {
			width: 250px;
		}
	}

	&__title {
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
		font-family: @ff2;
		font-size: 30px;	
		font-weight: 700;

		@media @tablet {

		}
		@media @desktop {
			font-size: 60px;	
			margin-bottom: 45px;
		}


		&:before {
			content: '';
			position: absolute;
			bottom: -11px;
			left: 50%;
			transform: translateX(-50%);
			width: 80px;
			height: 1px;
			background: @red;

			@media @tablet {
				width: 50px;
			}
		}

		&-accent {
			color: #8e959c;
			font-family: @ff2;
			font-size: 30px;	
			font-weight: 700;

			@media @tablet {

			}
			@media @desktop {
				font-size: 60px;	
				padding-left: 15px;
			}
		}

		&-accent2 {
			color: #8e959c;
			font-family: @ff2;
			font-size: 20px;	
			font-weight: 700;

			@media @tablet {

			}
			@media @desktop {
				font-size: 35px;	
			}
		}
	}

	&__text {
		font-size: 17px;
		font-weight: 700;

		@media @desktop {
			font-size: 20px;
		}
	}


}
