@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.catalog {

	&-light {
		padding-top: 30px;
		padding-bottom: 50px;
		position: relative;
		background: #fff;
		@media @desktop {
			min-height: 670px;
		}
		&:before {
			@media @desktop-xl {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 606px;
				background: url(../images/decor/lines__back-horiz.png);
				z-index: 0;
			}
			@media @desktop-xl-2 {
				
			}
		}
	}
	&-dark {
		padding-top: 30px;
		padding-bottom: 50px;
		position: relative;
		background: url(../images/catalog__back.jpg);
		@media @desktop {
			min-height: 670px;
		}
		&:before {
			@media @desktop-xl {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 603px;
				background: url(../images/decor/advantages__decor.png);
				z-index: 0;
			}
			@media @desktop-xl-2 {
				
			}
		}

		.catalog__box {
			padding: 60px 0 25px 0;

			@media @desktop {
				padding: 85px 65px 25px 0;
			}
			@media @desktop-xl {
				padding: 85px 65px 25px 125px;
			}
		}
		.catalog__item {
			&:before {
				@media @desktop {
					left: inherit;
					right: -50px;
				}
			}
		}
		.catalog__img {
			@media @desktop {
				order: 2;
			}
		}
		.catalog__info {
			margin-left: 0;

			@media @desktop {
				margin-right: 90px;
			}
		}
	}

	&__title {
		padding-top: inherit;
		padding-top: 35px;
		padding-bottom: 35px;
		font-size: 26px;

		@media @desktop {
			padding-bottom: 0;
		}
		
		@media @desktop-xl {
			font-size: 32.3px;
		}
		&-accent {
			@media @desktop-xl {
				font-size: 44.8px;
			}
		}

		@media @desktop {
			padding-left: 500px;
		}
		@media @desktop-xl {
			text-align: left;
			padding-left: 615px;
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 60px 0 25px 0;
		z-index: 10;
		color: #000;

		@media @desktop {
			flex-direction: row;
			align-items: inherit;
			justify-content: space-between;
			padding: 85px 50px 25px 0;
		}
		@media @desktop-xl {
			padding: 85px 160px 25px 65px;
		}
	}

	&__item {
		display: none;
		opacity: 0;
		position: relative;

		&-active {
			display: block;
			opacity: 1;
		}

		&:before {
			@media @desktop {
				content: '';
				position: absolute;
				top: 40px;
				left: -50px;
				width: 100%;
				height: 100%;
				background: #fff;
				box-shadow: 0px 12px 17.22px 3.78px rgba(8, 8, 8, 0.14);
			}
		}

		img {
			position: relative;
			max-width: 100%;
			z-index: 10;

			@media @tablet {
				max-width: 400px;
			}
			@media @desktop {
				max-width: 450px;
			}
			@media @desktop-xl {
				max-width: 500px;
			}
		}
	}

	&__info {
		max-width: 320px;
		text-align: center;

		@media @tablet {
			max-width: 400px;
		}

		@media @desktop {
			margin-left: 55px;
			max-width: inherit;
			text-align: inherit;
		}


		&-title {
			position: absolute;
			width: 100%;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 22px;
			font-weight: 700;

			@media @desktop {
				position: inherit;
				top: inherit;
				left: inherit;
				transform: inherit;
			}
		}

		.stone__box {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;

			@media @tablet {
				flex-direction: row;
				align-items: inherit;
			}

			&-title {
				padding-top: 5px;
				font-weight: 700;
				font-size: 18px;
				@media @tablet {
					font-size: inherit;
					font-weight: 300;
				}
			}
		}

		.stone__list {
			padding-top: 5px;
			display: flex;
			flex-wrap: wrap;
			width: 175px;	
			@media @tablet {
				padding-top: 15px;
				padding-bottom: 20px;
			}
			@media @desktop-xl {
				width: 260px;	
			}
		}

		.stone__item {
			height: 50px;
			width: 50px;
			margin-bottom: 5px;
			margin-right: 2px;
			border: 3px solid transparent;
			box-sizing: content-box;
			z-index: 10;
			transition: all .3s linear;

			@media @desktop-xl {
				height: 70px;
				width: 70px;
			}

			img {
				height: 100%;
				width: 100%;
			}

			a {
				outline: none;
				position: relative;
				transition: all .3s linear;
			}
		}

		.stone__item-active {
			border: 3px solid @red;

			a {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: -33px;
					left: 0;
					width: 50px;
					height: 50px;
					background: rgba(138,141,151, .65);

					@media @tablet {

					}
					@media @desktop-xl {
						top: -53px;
						height: 70px;
						width: 70px;
						z-index: 10;
					}
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -100%);
					.spritebox(-115px, -70px, 33px, 33px);

					@media @desktop-xl {
						z-index: 11;
						transform: translate(-50%, -130%);
					}
				}
			}
		}

		.catalog__color {
			font-size: 20px;
			font-weight: 700;

			@media @tablet {
				font-size: 22px;
			}
		}
		.catalog__desc {
			padding: 10px 0;
		}
		.catalog__price {
			font-size: 26px;
			font-weight: 700;
			@media @tablet {
				font-size: 30px;
			}
		}
		sup {
			font-size: 16px;
		}
		.btn {
			margin-top: 25px;
			background: @red;
			color: #fff;
			font-weight: 700;
			box-shadow: 0px 12px 14.76px 3.24px rgba(255, 74, 60, 0.21);
			transition: box-shadow .3s linear;

			&:hover {
				box-shadow: none;
			}
		}
	}
}