@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.step {
	position: relative;
	background: #fafbfc;
	color: #0d0f11;

	&:before {
		@media @desktop-xl-2 {
			content: '';
			position: absolute;
			top: 0;
			left: 249px;
			width: 541px;
			height: 100%;
			background: url(../images/decor/lines__back-vertical2.png);
		}
	}

	.container {
		position: relative;
		@media @desktop {
			padding-right: 100px;
		}
		@media @desktop-xl {
			padding-right: 200px;
		}
	}

	&__box {
		max-width: 350px;
		text-align: center;
		margin: auto;

		@media @tablet {
			float: right;
			width: 500px;
			text-align: inherit;
			max-width: inherit;
			margin: inherit;
		}
	}

	&__title {
		font-size: 24px;
		@media @desktop {
			font-size: 40px;
		}
	}

	&__list {
		@media @desktop-xl {
			padding-top: 66px;
		}
	}

	&__item {
		position: relative;
		margin-top: 50px;
		margin-bottom: 50px;
		color: #0d0f11;

		&-title {
			padding-top: 10px;
			padding-bottom: 15px;
			font-size: 22px;
			font-weight: 700;    

			@media @tablet {
				padding-top: 0;
				font-size: 25px;
			}
		}
		&-text {
			position: relative;
			max-width: 350px;
			&:before {
				@media @tablet {
					content: '';
					position: absolute;
					right: -60px;
					width: 50px; 
					height: 1px;
					background: #b1b1b1;
				}
			}
		}

		&:nth-of-type(1) {
			&:before {
				@media @tablet {
					content: '';
					position: absolute;
					left: -290px;
					top: -20px;
					width: 240px;
					height: 250px;
					background: url(../images/stone1.png);
				}
				@media @desktop {
					top: -40px;
					left: -350px;
				}
			}

			p {
				&:before {
					top: 20px;
				}
			}
		}

		&:nth-of-type(2) {
			&:before {
				
				@media @tablet {
					content: '';
					position: absolute;
					left: -230px;
					top: -20px;
					width: 165px;
					height: 165px;
					background: url(../images/stone2.png);
				}
				@media @desktop {
					left: -190px;
				}
			}

			p {
				&:before {
					top: 30px;
				}
			}
		}

		&:nth-of-type(3) {
			&:before {
				@media @tablet {
					content: '';
					position: absolute;
					left: -255px;
					top: -20px;
					width: 201px;
					height: 201px;
					background: url(../images/stone3.png);
				}
				@media @desktop {
					left: -350px;
					top: -30px;
				}
			}

			p {
				&:before {
					top: 8px;
				}
			}
		}

		&:nth-of-type(4) {
			&:before {
				@media @tablet {
					content: '';
					position: absolute;
					left: -200px;
					top: 0;
					width: 114px;
					height: 120px;
					background: url(../images/stone4.png);

				}
				@media @desktop {
					top: -10px;
					left: -160px;
				}
			}

			p {
				&:before {
					top: 10px;
				}
			}
		}	
	}

	.step-img {
		margin: auto;

		@media @tablet {
			position: absolute;
			right: 8px;
		}
	}
	.step-img1 {		
		@media @tablet {
			top: 38px;
		}
	}
	.step-img2 {
		@media @tablet {
			top: 45px;
		}
	}
	.step-img3 {	
		@media @tablet {
			top: 28px;
		}
	}
	.step-img4 {	
		@media @tablet {
			top: 18px;
		}
	}

	.btn {
		margin-top: 28px;
		margin-bottom: 15px;
		background: @red;
		color: #fff;
		transition: box-shadow .3s linear;
		box-shadow: 0px 12px 12px 3.24px rgba(255, 74, 60, 0.33);
		@media @tablet {

		}
		@media @desktop {

		}
		&:hover {
			box-shadow: none;
		}
	}
}