@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.production {
	position: relative;
	background: #fafbfc;
	color: #0d0f11;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 249px;
		width: 541px;
		height: 100%;
		background: url(../images/decor/lines__back-vertical2.png);
	}

	&__title {
		text-align: right;
		font-size: 40px;
	}
}
