@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.production {
	position: relative;
	background: #fafbfc;
	color: #0d0f11;

	@media @desktop-xl {
		padding-bottom: 160px;
	}

	&:before {
		@media @desktop-xl {
			content: '';
			position: absolute;
			top: 0;
			left: 160px;
			width: 541px;
			height: 100%;
			background: url(../images/decor/lines__back-vertical2.png);
		}
		@media @desktop-xl-2 {
			left: 249px;
		}
	}

	.container {
		position: relative;
	}

	&__title {
		text-align: center;

		@media @desktop-xl {
			text-align: right;
			font-size: 40px;
		}
	}

	&__box {
		margin-top: 56px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@media @desktop-xl {
			align-items: inherit;
			flex-direction: row;
		}

		&-sm {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			
			margin: auto;
			margin-bottom: 30px;
			
			> div {
				margin-bottom: 22px;
				@media @tablet {
					width: 50%;
				}
			}

			@media @tablet {
				justify-content: space-between;
				max-width: 560px;	
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.img__wrap-big {
		position: relative;
		z-index: 10;
		margin-bottom: 30px;
		
		@media @tablet {
			max-width: 580px;
			margin-bottom: 66px;
			height: 390px;
		}
		
		&:before {
			@media @tablet {
				content: '';
				position: absolute;
				bottom: -35px;
				left: -60px;
				width: 590px;
				height: 380px;
				background: #fff;
				box-shadow: 0px 12px 17.22px 3.78px rgba(66, 107, 141, 0.14);
				z-index: -1;
			}
		}
	}

	.img__wrap-sm {
		width: 270px;
		height: 176px;
		margin-bottom: 15px;	
		box-shadow: 0px 12px 17.22px 3.78px rgba(8, 8, 8, 0.14);

		@media @desktop {
			margin-bottom: 0;	
		}
	}

}
