@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.review {
	background: url(../images/review__back.jpg);

	.container {
		padding-left: 290px;
	}

	&__title {
		color: #fff;
		font-size: 32.84px;
		&-accent {
			font-size: 55.51px;
			&:before {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				.spritebox(-564px, -2px, 2px, 270px);
			}
		}
	}

	.slide {
		display: flex;
		justify-content: space-between;
		width: 100%;


		&__img {
			width: 230px;
		}

		&__content {
			margin-left: 50px;
			margin-top: 150px;
		}

		.name {
			font-size: 20px;
			font-weight: 700;
		}
		.desc {
			font-size: 18px;
		}
	}
}