@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.review {
	background: url(../images/review__back.jpg);

	&__title {
		color: #fff;
		font-size: 32.84px;
		&-accent {
			font-size: 55.51px;
			&:before {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				.spritebox(-564px, -2px, 2px, 270px);
			}
		}
	}
}