@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.footer{
	padding: 13px 0;
	background: #191f24;
	font-family: @ff2;

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		display: flex;
		align-items: center;
	}
	&__title {
		padding-left: 15px;
		font-size: 15px;
	}

	.agency {
		text-align: right;
		
		a {
			font-size: 11.69px;
		}
		p {
			font-size: 13.16px;
			font-weight: 700;
		}
	}
}

