.spritebox(@left, @top, @height, @width) {
  background-image: url(../images/icons/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: @left @top;
  height: @height;
  width: @width
}

.ico_marker {
  .spritebox(-0px, -0px, 115px, 91px)
}

.ico_logo {
  .spritebox(-91px, -0px, 70px, 70px)
}

.ico_step2 {
  .spritebox(-161px, -0px, 59px, 59px)
}

.ico_step4 {
  .spritebox(-0px, -115px, 59px, 59px)
}

.ico_step1 {
  .spritebox(-59px, -115px, 59px, 59px)
}

.ico_arr_down {
  .spritebox(-118px, -115px, 55px, 101px)
}

.ico_step3 {
  .spritebox(-161px, -59px, 54px, 54px)
}

.ico_mobile {
  .spritebox(-91px, -70px, 42px, 24px)
}

.ico_zoom {
  .spritebox(-115px, -70px, 33px, 33px)
}

.ico_arr_up {
  .spritebox(-0px, -174px, 19px, 36px)
}

.ico_add_dn {
  .spritebox(-36px, -174px, 19px, 36px)
}

.ico_title__decor-big {
  .spritebox(-220px, -0px, 2px, 854px)
}

.ico_title__decor {
  .spritebox(-220px, -2px, 2px, 344px)
}

.ico_title__decor-idea {
  .spritebox(-564px, -2px, 2px, 270px)
}

