@import "_fonts";
@import "_vars";

::-webkit-input-placeholder { 
	font-size: rem(16);
	font-weight: 400;
}
::-moz-placeholder { 
	font-size: rem(16);
	font-weight: 400;
}
:-ms-input-placeholder { 
	font-size: rem(16);
	font-weight: 400;
}
:-moz-placeholder {
	font-size: rem(16);
	font-weight: 400;
}

textarea {
	outline: none;
	-moz-appearance: none;
	resize: none;
	width: 100%;
}