@import "_reset";
@import "_fonts";
@import "_vars";
@import "_mixin and function";
@import "_forms.scss";



/* MAIN STYLE */
@import "_general";



/* ------------ HEADER ------------ */ 

.header {

	padding-top: 25px;
	text-align: center;
	text-transform: uppercase;

	&__logo {
		display: inline-block;
		font-weight: 700;
		font-size: rem(60);
		color: #000;

		@media only screen and (max-width: 767.98px) { 
			font-size: rem(36);
		}

		@media only screen and (max-width: 575.98px) { 
			font-size: rem(22);
		}
	}
	&__subtitle {
		font-weight: 400;
		letter-spacing: 11px;
		color: #000;

		@media only screen and (max-width: 767.98px) { 
			letter-spacing: 5px;
		}

		@media only screen and (max-width: 575.98px) { 
			letter-spacing: 2px;
			font-size: 14px;
		}
	}
}



/* ------------ MENU ------------ */ 

$button-height: 27px;
$button-width: 35px;

.button__container {
	position: fixed;
	top: 4%;
	right: 2%;
	height: $button-height;
	width: $button-width;

	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;

	&:hover {
		opacity: .7;
	}
	&.active {
		.top {
			transform: translateY(10px) translateX(0) rotate(45deg);
			background: #000;
		}
		.middle {
			opacity: 0;
			background: #000;
		}   
		.bottom {
			transform: translateY(-10px) translateX(0) rotate(-45deg);
			background: #000;
		}
	}
	span {
		background: #000;
		border: none;
		height: 5px;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0;
		transition:  all .35s ease;

		&:nth-of-type(2) {
			top: 10px;
		}

		&:nth-of-type(3) {
			top: 20px;
		}
	}
}
.menu__wrapper .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 1;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, width .35s;
	z-index: 50;
	transition: all .3s linear;

	&:before {
		content: '';
		background: #fafafa;
		background: url(../img/IMG_4093.jpg)no-repeat;
		background-size: cover; 
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;

		@media only screen and (max-width: 991.98px) { 

		}


		@media only screen and (max-width: 767.98px) { 
			background: #fafafa;
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;
		height: 100%;

		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
		li {
			animation: fadeInRight .5s ease forwards;
			animation-delay: .35s;
			&:nth-of-type(2) {
				animation-delay: .45s;
			}
			&:nth-of-type(3) {
				animation-delay: .55s;
			}
			&:nth-of-type(4) {
				animation-delay: .65s;
			}
		}
	}
	.overlay__menu {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-25%, -50%);
		font-size: 34px;
		font-weight: 400;
		text-align: left;
		z-index: 100;

		@media only screen and (max-width: 991.98px) { 
			transform: translate(-40%, -50%);
		}


		@media only screen and (max-width: 767.98px) { 
			transform: translate(-50%, -50%);
			text-align: center;
			font-size: 22px;
		}
	}
	.overlay__menu-list {
		padding: 0;
		display: inline-block;
		position: relative;
		height: 90%; 
		max-width: 450px;

		@media only screen and (max-width: 767.98px) { 
			max-width: 300px;
		}
		.overlay__menu-item {
			display: block;
			min-height: 60px;
			position: relative;
			opacity: 0;

			

			.overlay__menu-link {
				display: block;
				position: relative;
				color: #000;
				text-decoration: none;
				overflow: hidden;
				line-height: 60px;
				letter-spacing: 2px;


				
				&:hover:after,
				&:focus:after,
				&:active:after {
					width: 100%;
				}
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 0%;
					transform: translateX(-50%);
					height: 3px;
					background: #000;
					transition: .35s;

					@media only screen and (max-width: 767.98px) {
						height: 1px;
					} 
				}
			}
		}
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}




/* SECTION 2 GALLERY */

.gallery {
	flex: 1 1 0;
	.grid {
		position: relative;
		max-width: 100%;
		margin: auto;
	} 

	.grid:after {
		content: '';
		display: block;
		clear: both;
	}

	.grid-item {
		float: left;
		width: 19%;
		height: auto;
		margin: 0.5%;
		transition: all .3s linear;

		@media only screen and (max-width: 1199.98px) { 
			width: 24%;
		}

		@media only screen and (max-width: 991.98px) { 
			width: 32%;
		}

		@media only screen and (max-width: 767.98px) { 
			width: 32%;
		}

		@media only screen and (max-width: 575.98px) { 
			width: 49%;
		}

		@media only screen and (max-width: 359px) { 
			width: 100%;
			margin: 10px 0;
			float: none;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
		&:hover {
			transform: scale(1.15);
			z-index: 10;

			@media only screen and (max-width: 767.98px) { 
				transform: none;
			}
		}
	}

}






/* SECTION 3 ABOUT */
.about {
	flex: 1 1 0;

	&__title {
		font-weight: 700;
		font-size: rem(36);
		text-align: center;


		@media only screen and (max-width: 767.98px) { 
			font-size: rem(30);
		}

		@media only screen and (max-width: 575.98px) { 
			font-size: rem(20);
		}
	}

	&__box {
		padding: 50px;
		display: flex;
		justify-content: space-around;

		@media only screen and (max-width: 991.98px) { 
			padding: 50px 0;
		}


		@media only screen and (max-width: 767.98px) { 
			flex-direction: column;
			align-items: center;
		}
		@media only screen and (max-width: 575.98px) { 
			padding: 25px 0;
		}

	}

	.box__left {
		width: 40%;

		img {
			box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.35);
		}

		@media only screen and (max-width: 767.98px) { 
			width: 60%;
			margin-bottom: 30px;
		}

		@media only screen and (max-width: 575.98px) { 
			width: 100%;
		}
	}
	.box__right {
		margin-left: 50px;
		width: 60%;


		@media only screen and (max-width: 991.98px) { 
			margin-left: 25px;
		}

		@media only screen and (max-width: 767.98px) { 
			margin-left: 0;
			width: 80%;
		}

		@media only screen and (max-width: 575.98px) { 
			width: 100%;
		}

		p {
			font-size: 16px;
			padding-bottom: 20px;
		}
	}
}



/* SECTION 4 BLOG */

.blog {
	flex: 1 1 0;

	&__title {
		font-weight: 700;
		font-size: rem(36);
		text-align: center;


		@media only screen and (max-width: 767.98px) { 
			font-size: rem(30);
		}

		@media only screen and (max-width: 575.98px) { 
			font-size: rem(20);
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 60px 0;

		@media only screen and (max-width: 575.98px) { 
			padding: 30px 0;
			flex-direction: column;
			align-items: center;
		}
	}

	article {
		display: flex;
		width: 48%;
		margin-bottom: 50px;

		@media only screen and (max-width: 1199.98px) { 
			flex-direction: column;
		}

		@media only screen and (max-width: 575.98px) { 
			width: 300px;
		}

		.article__img {
			width: 40%;

			@media only screen and (max-width: 1199.98px) { 
				width: auto;
			}

		}
		.article__content {
			margin-left: 5%;
			width: 55%;

			@media only screen and (max-width: 1199.98px) { 
				margin-left: 0;
				margin-top: 15px;
				width: auto;
			}

		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
		h3 {
			font-size: 18px;
			padding-bottom: 15px;
			color: rgba(#000, .55);
			transition: color .3s linear;
			cursor: pointer;
			&:hover {
				color: rgba(#000, 1);
			}
		}
		p {
			padding-bottom: 15px;
		}
		a {
			text-decoration: underline;
			font-weight: 700;
			color: rgba(#000, .55);
			transition: color .3s linear;
			&:hover {
				color: rgba(#000, 1);
			}
		}

		
	}
}



/* SECTION 5 BLOG */

.article {
	padding-top: 50px;

	&__box {
		padding: 60px 80px;
		background: #fff;

		@media only screen and (max-width: 991.98px) { 
			padding: 60px 30px;
		}

		@media only screen and (max-width: 575.98px) { 
			padding: 25px;
		}
	}

	h1 {
		font-weight: 700;
		font-size: rem(36);
		@media only screen and (max-width: 767.98px) { 
			font-size: rem(30);
		}

		@media only screen and (max-width: 575.98px) { 
			font-size: rem(20);
		}
	}
	span, time {
		font-size: rem(18);

		@media only screen and (max-width: 575.98px) { 
			font-size: rem(16);
		}
	}
	p {
		padding: 15px 0;
	}

	ul, ol {
		padding: 15px 0;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.article__content {
		font-size: 18px;
	}

	li {
		list-style-position: inside;
	}
}


.hare {
	i {
		font-size: 34px;
	}
}



/* SECTION 6 BLOG */

.contact {
	flex: 1 1 0;

	&__wrap {		
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 25px auto;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		margin: 50px 0;

		@media only screen and (max-width: 991.98px) { 
			flex-direction: column;
			align-items: center;
			margin: 30px 0;
		}

		> div {
			width: 50%;
			@media only screen and (max-width: 991.98px) { 
				width: 100%;
				max-width: 450px;
			}

			@media only screen and (max-width: 575.98px) { 
				max-width: 290px;
			}

		}
		p {
			padding: 10px 0;
		}
	}

	.feedback__form {
		margin-left: 30px;
		@media only screen and (max-width: 991.98px) { 
			margin-left: 0;
		}
	}
	.form__line {
		padding: 10px;
		border: none;

		box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
		transition: box-shadow .3s linear;
		&:focus {
			box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0);
		}
	}

	.form__row {
		.form__line  {
			width: 100%;
			min-height: 150px;
			@media only screen and (max-width: 991.98px) { 
				width: 450px;
			}
			@media only screen and (max-width: 575.98px) { 
				width: 290px;
			}
		}
	}

	.row__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 15px;
		@media only screen and (max-width: 991.98px) { 
			margin-top: 25px;
		}
		

		input {
			width: 48%;
			margin-bottom: inherit;
			@media only screen and (max-width: 991.98px) { 
				width: 450px;
			}
			@media only screen and (max-width: 575.98px) { 
				width: 290px;
			}
		}

		@media only screen and (max-width: 991.98px) { 
			flex-direction: column;
		}
	}

	.btn {
		display: block;
		margin: 20px 0;
		padding: 6px 25px;
		border: none;

		box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
		transition: box-shadow .3s linear;
		&:hover {
			box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0);
		}

		@media only screen and (max-width: 767.98px) { 
			margin: 20px auto;
		}
	}

}



/* SECTION 7 GALLERY */

.galleryPage {
	flex: 1 1 0;

	&__box {
		padding: 40px 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

	}


	&__item {
		position: relative;
		width: 490px;
		height: auto;
		margin-bottom: 40px;

		@media only screen and (max-width: 991.98px) { 
			width: 370px;
			margin-bottom: 30px;
		}

		@media only screen and (max-width: 767.98px) { 

		}

		@media only screen and (max-width: 575.98px) { 
			width: 290px;
			margin-bottom: 25px;
		}

		&:hover { 
			img {
				box-shadow: none;
			}
		}

		img {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			transition: box-shadow 0.35s;
			box-shadow: 5px 0px 25px 0px rgba(0,0,0,0.35);
		}

		figcaption {
			text-align: center;
			padding-bottom: 20px;
			font-size: rem(30);
			color: #000;

			@media only screen and (max-width: 991.98px) { 
				font-size: rem(24);
			}


			@media only screen and (max-width: 767.98px) { 
				font-size: rem(22);
			}

		}


	}
}


/* FOOTER */

.footer {
	padding: 25px 0;
	background: rgba(117, 115, 116, 0.056);
	&__box {

		display: flex;
		justify-content: space-between;
		align-items: center;

		@media only screen and (max-width: 575.98px) { 
			flex-direction: column;
		}
	}

	.right {
		text-align: right;
		@media only screen and (max-width: 575.98px) { 
			padding-top: 15px;
		}
	}

	.name {
		font-weight: 700;
		font-size: 13px;
	}
}




@media only screen and (max-width: 1199.98px) { 

}


@media only screen and (max-width: 991.98px) { 

}


@media only screen and (max-width: 767.98px) { 

}

@media only screen and (max-width: 575.98px) { 

}





// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) { 


}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) { 

}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) { 

}








/* @import "media.scss"; */