// .slider {
// 	user-select: text;
// }

.b-lazy {
	transition: opacity .5s linear;
	max-width: 100%;
	opacity: 0;
}

.b-lazy.b-loaded {
	opacity: 1;
}

// titles for semantics and structure HTML
.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden; 
}

//  .scrollup {
// 	width: 37px;
// 	height: 84px;
// 	position: fixed;
// 	bottom: 50px;
// 	right: 15px;
// 	display: none;
// 	text-indent: -9999px;
// 	background: url('../images/arrow-top.png') no-repeat;
// 	z-index: 100;
// 	@media @tablet {
// 		right: 100px;
// 	}
// } 



/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {
	
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {

}


.spritebox(@left, @top, @height, @width) {
  background-image: url(../images/icons/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: @left @top;
  height: @height;
  width: @width
}

.ico_arr-right {
  background-position: -0px -0px;
  height: 62px;
  width: 74px
}

.ico_arr-left {
  background-position: -74px -0px;
  height: 62px;
  width: 74px
}

.ico_arr-right-sm {
  background-position: -0px -62px;
  height: 42px;
  width: 50px
}

.ico_arr-left-sm {
  background-position: -50px -62px;
  height: 42px;
  width: 50px
}

.ico_agency {
  background-position: -148px -0px;
  height: 39px;
  width: 156px
}

.ico_tg {
  background-position: -148px -39px;
  height: 29px;
  width: 29px
}

.ico_tg-big {
  background-position: -177px -39px;
  height: 22px;
  width: 22px
}

.ico_fb-big {
  background-position: -199px -39px;
  height: 22px;
  width: 22px
}

.ico_vk-big {
  background-position: -221px -39px;
  height: 22px;
  width: 22px
}

.ico_fb {
  background-position: -243px -39px;
  height: 16px;
  width: 16px
}

.ico_vk {
  background-position: -259px -39px;
  height: 16px;
  width: 16px
}

.ico_list-dots {
  background-position: -275px -39px;
  height: 13px;
  width: 19px
}

.ico_title__line-white {
  background-position: -177px -61px;
  height: 7px;
  width: 98px
}

.ico_title__line {
  background-position: -148px -68px;
  height: 7px;
  width: 81px
}

.ico_lines-right {
  background-position: -304px -0px;
  height: 5px;
  width: 468px
}

.ico_lines-left {
  background-position: -304px -5px;
  height: 5px;
  width: 200px
}