@media @mobile {

}
@media @mobile-xl{

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {
	position: relative;
	background: #000;

	@media @mobile-xl{

	}
	@media @mobile-land {

	}
	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {
		height: 1140px;
	}
	
	&__top {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 10px 15px 0;
		z-index: 10;

		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-img {
			margin-right: 15px;
		}
	}
	&__link {
		margin-right: 30px;
		position: relative;
		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			margin-right: 50px;
		}
		&:after {
			content: '';
			position: absolute;
			margin-bottom: -10px;
			bottom: 0;
			left: 0;
			width: 0%;
			border-bottom: 1px solid #fff;
			transition: 0.4s;
		}
		&:hover:after {
			width: 100%;
		}
	}
	&__center {
		position: relative;
		padding: 80px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 20;
		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {
			padding: 30px 30px 30px 0;
		}
		@media @desktop-xl {
			padding: 30px 150px 30px 0;
		}
		@media @desktop-xl-2 {
			padding: 80px 0;
		}
	}
	&__img {
		transition: all .3s linear;
		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {
			max-width: 350px;
		}
		@media @desktop-xl {
			max-width: 420px;
		}
		@media @desktop-xl-2 {
			max-width: inherit;
			margin-left: -20px;
		}
	}
	&__title {
		font-size: 42px;
		font-weight: 300;
		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {
			font-size: 42px;
		}
		@media @desktop-xl {
			font-size: 48px;
		}
		@media @desktop-xl-2 {
			font-size: 55px;
		}
	}
	&__text {
		padding-top: 20px;
		font-size: 28px;
		color: @orange;
		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {
			font-size: 28px;
		}
		@media @desktop-xl {
			max-width: 560px;
		}
		@media @desktop-xl-2 {
			max-width: inherit;
			font-size: 30px;
		}
	}
	
	// STYLE FOR CANVASIK
	&__animation {
		position: absolute;
		width: 100%;
		height: 75%;
		left: 0;
		bottom: -5vh;

		@media @mobile-xl{

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		img {
			display: none;

			@media @mobile-xl{

			}
			@media @mobile-land {

			}
			@media @tablet {

			}
			@media @desktop {

			}
		}
	}

	#canvas {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	// STYLE FOR WAVE ON HEADER
	.wave {
		position: relative;
	}
	svg {
		stroke: none; 
		fill: #fff;
	}

	// STYLE FOR CURVE LINES
	.lines {
		display: none;
		@media @desktop-xl {
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 225px;
			width: 100%;
			z-index: 12;
			animation: growMove 4s forwards;
		}
		@media @desktop-xl-2 {
			bottom: 145px;
		}
	}
}