@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.system {
	position: relative;
	z-index: 11;
	&__box {
		padding: 40px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-img {
			flex-basis: 50%;
			img {
				margin: auto;
			}
		}
		&-content {
			flex-basis: 48%;
		}
	}

	&__titles {
		padding-bottom: 25px;
		font-size: 28px;
		font-weight: 700;
	}
	&__accent {
		display: block;
		font-size: 18px;
		margin-bottom: 25px;
	}
	&__item {
		position: relative;
		padding-left: 20px;
		margin-bottom: 15px;
		max-width: 420px;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -15px;
			transform: translateY(-50%);
			.ico_list-dots
		}
	}

	.reorder {
		.system__box-content {
			padding-left: 50px;
		}
		.system__box-img {
			order: 2;
		}
	}
}