@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.system {
	position: relative;

	@media @tablet {

	}
	@media @desktop {
		padding-top: 0;
	}

	.container {
		position: relative;
		z-index: 15;
		br {
			display: none;
		}
		@media @tablet {
			margin-top: -150px;
			br {
				display: inline-block;
			}
		}
	}

	&__back {
		display: none;

		@media @desktop {
			display: block;
			position: absolute;
			top: -30px;
			animation: fadeMove 5s infinite;
		}
		@media @desktop-xl {
			top: -80px;
		}
		@media @desktop-xl-2 {
			top: -85px;
		}
		@media @desktop-xll {
			top: -35px;
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@media @tablet {
			flex-direction: row;
		}
		@media @desktop-xl {
			padding-top: 30px;
		}

		&-img {
			max-width: 200px;
			@media @tablet {
				max-width: inherit;
				flex-basis: 35%;
				margin-bottom: 0;
			}
			@media @desktop-xl {
				flex-basis: 50%;
			}
			img {
				margin: 20px auto;
				@media @tablet {
					margin: auto;
				}
			}
		}
		&-content {
			max-width: 280px;

			@media @mobile-xl{
				max-width: 320px;
			}
			@media @mobile-land {
				max-width: 400px;
			}
			
			@media @tablet {
				max-width: inherit;
				flex-basis: 60%;
			}
			@media @desktop {

			}
			@media @desktop-xl {
				flex-basis: 48%;
			}
			&-last {
				margin-top: 30px;

				@media @desktop-xl {
					margin-top: 62px;
				}
			}
		}
	}

	&__titles {
		padding-bottom: 15px;
		font-size: 22px;
		font-weight: 700;
		text-align: center;

		@media @tablet {
			font-size: 25px;
			text-align: inherit;
		}
		@media @desktop-xl {
			font-size: 28px;
			padding-bottom: 25px;
		}
	}

	&__accent {
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
		text-align: center;
		@media @tablet {
			text-align: inherit;
			margin-bottom: 25px;
		}
	}
	&__item {
		position: relative;
		padding-left: 20px;
		margin-bottom: 15px;
		max-width: 320px;
		
		@media @mobile-land {
			max-width: 400px;
		}

		@media @desktop {
			max-width: 460px;
		}
		@media @desktop-xl {
			max-width: 420px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -15px;
			transform: translateY(-50%);
			.ico_list-dots
		}
	}

	.reorder {
		.system__box-content {
			@media @tablet {
				padding-left: 30px;
			}
			@media @desktop-xl {
				padding-left: 50px;
			}
		}
		.system__box-img {
			padding-left: 0;
			@media @tablet {
				order: 2;
				padding-left: 30px;
			}
			@media @desktop-xl {
				padding-left: 0;
			}
		}
	}
}