@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.curveWrap {
	margin-top: -185px;
	padding-top: 400px;
	background: url(../images/back__advantages.png)no-repeat;
	background-size: cover; 
	height: 2181px;
	position: relative;
	z-index: 12;
}


.ask {
	position: relative;
	z-index: 11;
	padding: 52px 0 60px 190px;
	background: url(../images/back__small.jpg)no-repeat center/cover;
	color: #000;

	&__box {
		position: relative;
	}
	&__title {
		font-size: 38px;
		font-weight: 700;
	}
	&__accent {
		display: inline-block;
		padding: 5px 0;
		font-size: 28px;
		font-weight: 700;
	}
	&__text {
		padding-top: 10px;
		font-size: 22px;
	}
	&__img {
		position: absolute;
		top: -200px;
		right: -60px;
	}
}

