@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.ask {
	padding: 40px 0 80px 190px;
	background: url(../images/back__small.jpg)no-repeat center/cover;
	color: #000;

	&__box {
		position: relative;
	}
	&__title {
		font-size: 38px;
		font-weight: 700;
	}
	&__accent {
		display: inline-block;
		padding: 5px 0;
		font-size: 28px;
		font-weight: 700;
	}
	&__text {
		padding-top: 5px;
		font-size: 22px;
	}
	&__img {
		position: absolute;
		top: -250px;
		right: -110px;
	}
}

