@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.curveWrap {
	background: #000;
	position: relative;
	z-index: 12;

	@media @tablet {
		margin-top: -330px;
		padding-top: 360px;
		// height: 2181px;
		background: url(../images/back__advantages.png)no-repeat;
		background-size: cover; 
	}
	@media @desktop {

	}
	@media @desktop-xl {
		margin-top: -185px;
		padding-top: 400px;
		min-height: 2181px;
	}
}


.ask {
	position: relative;
	z-index: 11;
	padding: 40px 0;
	background: @orange;
	color: #000;

	@media @tablet {
		background: url(../images/back__small.jpg)no-repeat center/cover;
	}

	@media @desktop {
		padding: 52px 0 60px 190px;
	}

	&__box {
		position: relative;
		text-align: center;
		@media @tablet {
			text-align: inherit;
		}
	}
	&__title {
		font-size: 28px;
		font-weight: 700;
		@media @desktop {
			font-size: 30px;
		}
		@media @desktop-xl {
			font-size: 38px;
		}
	}
	&__accent {
		display: inline-block;
		padding: 5px 0;
		font-size: 24px;
		font-weight: 700;

		@media @desktop {
			font-size: 28px;
		}
	}
	&__text {
		max-width: 300px;
		padding: 15px 0;
		font-size: 20px;
		margin: auto;
		@media @tablet {
			max-width: 420px;
			padding-bottom: 0;
			font-size: 22px;
			margin: inherit;
		}
		@media @desktop {
			max-width: 650px;
		}
	}
	&__img {
		max-width: 220px;
		margin: auto;
		@media @tablet {
			position: absolute;
			top: -25px;
			right: 0;
			max-width: 380px;
			margin: inherit;
		}
		@media @desktop {
			top: -50px;
			right: 0;
			max-width: 410px;
		}
		@media @desktop-xl {
			top: -200px;
			right: -30px;
			max-width: inherit;
		}
		@media @desktop-xl-2 {
			right: -60px;
		}
	}
}

