@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	position: relative;
	z-index: 11;
	&__title {
		&:after {
			.ico_title__line-white
		}
	}

	&__back {
		display: block;
		position: absolute;
		top: 170px;
		left: 50%;
		transform: translateX(-50%);

		
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 100px 0;
	}
	&__item {
		position: relative;
		margin-bottom: 60px;
		font-size: 20px;
		font-weight: 300;
		counter-increment: li; 
		

		svg {
			display: block;
			position: absolute;
			top: -60px;
			width: 130px;
			height: 130px;
		}

		div {
			display: inline-block;
			margin-left: 15px;
		}
		
	
		&:before {
			content: counter(li);
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			color: #fff;
			font-size: 54px;
			z-index: 10;
		}

		
		&:nth-of-type(1) {
			padding-left: 80px;
			max-width: 790px;
			&:before {
				left: -19px;
			}
			svg {
				left: -70px;
			}
		}
		&:nth-of-type(2) {
			
			max-width: 790px;
			&:before {
				top: -10px;
				right: -130px;
			}
			svg {
				top: -70px;
				right: -180px;
			}
		}
		&:nth-of-type(3) {
			padding-left: 48px;
			padding-top: 15px;
			width: 800px;
			&:before {
				
				left: -80px;
			}
			svg {
				
				left: -130px;
			}
		}
		&:nth-of-type(4) {
			padding-left: 150px;
			max-width: 730px;
			&:before {
				top: -9px;
				right: -75px;
			}
			svg {
				top: -70px;
				right: -130px;
			}
		}
		&:nth-of-type(5) {
			padding-left: 120px;
			width: 860px;
			&:before {
				top: -5px;
				left: 6px;
			}
			svg {
				top: -70px;
				left: -45px;
			}
		}
		// &:nth-of-type(even) {
		// 	max-width: 720px;
		// 	&:before {
		// 		right: -100px;
		// 	}
		// 	svg {
		// 		right: -150px;
		// 	}
		// }
	}


	
}