@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	position: relative;
	z-index: 11;
	br {
		display: none;
		@media @desktop-xl {
			display: inline-block;
		}
	}
	&__title {
		&:after {
			.ico_title__line-white
		}
	}

	&__back {
		display: block;
		position: absolute;
		top: 170px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 80px 0;
		@media @desktop-xl {
			margin: 100px 0;
		}
	}
	&__item {
		position: relative;
		margin-bottom: 80px;
		max-width: 300px;
		font-size: 19px;
		font-weight: 300;
		counter-increment: li; 
		@media @tablet {
			padding-left: 140px;
			max-width: 700px;
		}
		@media @desktop {
			max-width: 780px;
		}
		@media @desktop-xl {
			padding-left: inherit;
			margin-bottom: 60px;
			font-size: 20px;
			max-width: inherit;
		}


		svg {
			display: block;
			margin: 20px auto;
			width: 130px;
			height: 130px;
			@media @tablet {
				margin: 0;
				position: absolute;
			}
			@media @desktop-xl {
				top: -60px;
			}
		}

		.ico__lines {
			display: none;
			@media @tablet {
				display: inline-block;
				margin-left: 15px;
			}
		}
		

		&:before {
			content: counter(li);
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			color: #fff;
			font-size: 54px;
			z-index: 10;
		}

		&:nth-of-type(1) {
			@media @desktop-xl {
				padding-left: 80px;
				max-width: 790px;
			}
			&:before {
				top: 8%;
				left: 45%;
				transform: translateX(-50%, -50%);
				@media @tablet {
					top: 50%;
					left: 50px;
				}
				@media @desktop-xl {
					top: inherit;
					left: -19px;
				}
			}
			svg {
				top: 50%;
				transform: translateY(-50%);
				left: 0px;
				@media @desktop-xl {
					top: inherit;
					left: -70px;
				}
			}
		}
		&:nth-of-type(2) {
			@media @desktop-xl {
				max-width: 790px;
			}
			&:before {
				top: 8%;
				left: 45%;
				transform: translateX(-50%, -50%);
				@media @tablet {
					top: 50%;
					left: 50px;
				}
				@media @desktop-xl {
					top: -10px;
					left: inherit;
					right: -130px;
				}
			}
			svg {
				top: 50%;
				transform: translateY(-50%);
				left: 0px;
				@media @desktop-xl {
					top: -70px;
					right: -180px;
					left: inherit;
					transform: inherit;
				}
			}
		}
		&:nth-of-type(3) {
			@media @desktop-xl {
				padding-left: 48px;
				padding-top: 15px;
				width: 800px;
			}
			&:before {
				top: 8%;
				left: 45%;
				transform: translateX(-50%, -50%);
				@media @tablet {
					top: 50%;
					left: 50px;
				}
				@media @desktop-xl {
					top: inherit;
					left: -80px;
				}
			}
			svg {
				top: 50%;
				transform: translateY(-50%);
				left: 0px;
				@media @desktop-xl {
					top: inherit;
					left: -130px;
				}
			}
		}
		&:nth-of-type(4) {
			@media @desktop-xl {
				padding-left: 150px;
				max-width: 730px;
			}
			&:before {
				top: 8%;
				left: 45%;
				transform: translateX(-50%, -50%);
				@media @tablet {
					top: 50%;
					left: 50px;
				}
				@media @desktop-xl {
					top: -9px;
					left: inherit;
					right: -75px;
				}
			}
			svg {
				top: 50%;
				transform: translateY(-50%);
				left: 0px;
				@media @tablet {

				}
				@media @desktop {

				}
				@media @desktop-xl {
					top: -70px;
					right: -130px;
					left: inherit;
					transform: inherit;
				}
			}
		}
		&:nth-of-type(5) {
			margin-bottom: 0;
			@media @desktop-xl {
				margin-bottom: inherit;
				padding-left: 120px;
				width: 860px;
			}
			&:before {
				top: 8%;
				left: 45%;
				transform: translateX(-50%, -50%);
				@media @tablet {
					top: 50%;
					left: 50px;
				}
				@media @desktop-xl {
					top: -5px;
					left: 6px;
				}	
			}
			svg {
				top: 50%;
				transform: translateY(-50%);
				left: 0px;
				@media @desktop-xl {
					top: -70px;
					left: -45px;
					transform: inherit;
				}
			}
		}
	}

	&__text {
		margin-top: -60px;
		text-align: center;
		@media @tablet {
			margin-top: inherit;
			text-align: inherit;
		}
	}
}