@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	&__title {
		&:after {
			.ico_title__line-white
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 100px 0;
	}
	&__item {
		position: relative;
		max-width: 660px;
		margin-bottom: 60px;
		font-size: 21px;
		font-weight: 300;
		counter-increment: li; 

		svg {
			position: absolute;
			top: -60px;
			left: -130px;
			width: 130px;
			height: 130px;
		}
		

		&:hover {

		}

		&:before {
			content: counter(li);
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			color: #fff;
			font-size: 54px;
			z-index: 10;
		}

		
		&:nth-of-type(odd) {
			&:before {
				left: -80px;
			}
		}
		&:nth-of-type(even) {
			&:before {
				right: -80px;
			}
		}
		// &:nth-of-type(1) {
		// 	&:before {
		// 		background-image: linear-gradient(0deg, #fab915 0%, #373a3c 20%, #373a3c 100%);
		// 	}
		// }
		// &:nth-of-type(2) {
		// 	&:before {
		// 		background-image: linear-gradient(0deg, #fab915 0%, #373a3c 40%, #373a3c 100%);
		// 	}
		// }
		// &:nth-of-type(3) {
		// 	&:before {
		// 		background-image: linear-gradient(0deg, #fab915 0%, #373a3c 60%, #373a3c 100%);
		// 	}
		// }
		// &:nth-of-type(4) {
		// 	&:before {
		// 		background-image: linear-gradient(0deg, #fab915 0%, #373a3c 80%, #373a3c 100%);
		// 	}
		// }
		// &:nth-of-type(5) {
		// 	&:before {
		// 		background-image: linear-gradient(0deg, #fab915 100%);
		// 	}
		// }
	}
}