@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.efficiency {
	&__box {
		padding: 50px 50px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		&-side {
			flex-basis: 45%;
		}
	}
	&__titles {
		padding-bottom: 15px;
		font-size: 26px;
		font-weight: 700;
	}

	&__img {
		max-width: 436px;
		height: 255px;
	}
	
}