@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.team {
	position: relative;
	margin-top: -368px;
	padding-top: 380px;

	background: url(../images/back__team.png);
	height: 1481px;
	&__title {
		&:after {
			.ico_title__line-white
		}
	}
	&__list {
		position: relative;
		padding: 100px 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		z-index: 10;
	}
	&__item {
		flex-basis: 23%;
		margin-bottom: 40px;
	}
	&__img {
		max-width: 226px;
		height: 233px;
	}
	&__name {
		padding-top: 10px;
		font-size: 23px;
		font-weight: 700;
	}
	&__job {
		font-size: 18px;
		color: #f7941d;
	}
	&__text {
		padding: 10px 0;
		font-size: 14px;
	}
	&__contact {
		display: flex;
	}
	&__link {
		display: flex;
		align-items: center;
		margin-right: 5px;
		span {
			margin-left: 5px;
			font-size: 14px;
			font-weight: 700;
			color: #f7941d;
		}
	}
	
	&__animation {
		position: absolute;
		left: 0;
		top: 170px;
	}
}

