@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.team {
	position: relative;
	background: #000;
	height: 100%;
	
	@media @tablet {
		margin-top: 0px;
		background-color: #000;
	}
	@media @desktop {
		margin-top: -368px;
		padding-top: 380px;
		height: 1481px;
		background: url(../images/back__team-full.png)no-repeat center/cover;
		background-color: inherit;
	}
	
	&__title {
		text-align: center;
		&:after {
			.ico_title__line-white
		}
	}
	&__list {
		position: relative;
		padding: 60px 0 0 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		z-index: 10;

		@media @desktop {
			padding: 60px 0;
			justify-content: space-between;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			padding: 100px 0;
		}
	}
	&__item {
		flex-basis: 300px;
		margin-bottom: 40px;
		text-align: center;
		@media @mobile-land {
			flex-basis: 47%;
		}
		@media @desktop {
			flex-basis: 23%;
			text-align: inherit;
		}
	}
	&__img {
		max-width: 226px;
		height: 233px;
		margin-left: auto;
		margin-right: auto;
		@media @tablet {

		}
		@media @desktop {
			margin-left: inherit;
			margin-right: inherit;
		}
	}
	&__name {
		padding-top: 10px;
		font-size: 23px;
		font-weight: 700;
	}
	&__job {
		font-size: 18px;
		color: #f7941d;
	}
	&__text {
		padding: 10px 0;
		min-height: 82px;
		font-size: 14px;
		@media @tablet {
			min-height: 82px;
		}
	}
	&__contact {
		display: flex;
		justify-content: center;
		@media @desktop {
			justify-content: inherit;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		margin-right: 5px;
		span {
			margin-left: 5px;
			font-size: 14px;
			font-weight: 700;
			color: #f7941d;
		}
	}
	
	// &__animation {
	// 	display: none;
	// 	@media @tablet {
	// 		display: block;
	// 		position: absolute;
	// 		top: 170px;
	// 		width: 100%;
	// 	}
	// }
}