@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.review {
	padding: 0;
	&__slider {
		padding: 80px 0;
	}
	&__slide {
		img {
			margin: auto;
		}
	}
}



