@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.review {
	padding: 0;
	&__slider {
		padding: 60px 0;
		@media @desktop {
			padding: 60px 80px;
		}
		@media @desktop-xl {
			padding: 80px 0;
		}
	}
	&__slide {
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}
	}
	&__img {
		@media @tablet {

		}
		@media @desktop {
			max-width: 350px;
			margin: auto;
		}
		@media @desktop-xl {
			max-width: inherit;
		}
	}
}



