@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.proposal {
	padding-bottom: 40px;
	background: url(../images/back__last.jpg)no-repeat center/cover;
	color: @black;
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__text {
		padding-bottom: 20px;
		font-size: 26px;
	}
	&__btn {
		display: block;
		margin-top: 20px;
		width: 241px;
		height: 55px;
		font-size: 22px;
		line-height: 55px;
		font-weight: 700;
		background: url(../images/btn.png)no-repeat center/contain;
		text-align: center;
		transition: transform .3s linear;
		&:hover {
			transform: scale(1.03);
		}
	}
	&__img {
		margin-top: -50px;
	}
}

