@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.proposal {
	padding-top: 30px;
	padding-bottom: 30px;
	background: url(../images/back__last.jpg)no-repeat center/cover;
	color: @black;

	@media @desktop-xl {
		padding-top: inherit;
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		@media @tablet {
			flex-direction: row;
		}
		&-left {
			order: 2;
			@media @tablet {
				order: 0;
			}
		}
	}
	&__text {
		padding-bottom: 20px;
		font-size: 18px;
		text-align: center;
		@media @tablet {
			font-size: 22px;
			text-align: inherit;
		}
		@media @desktop {
	
		}
		@media @desktop-xl {
			font-size: 26px;
		}
	}
	&__btn {
		display: block;
		margin: auto;
		margin-top: 20px;
		width: 241px;
		height: 55px;
		font-size: 22px;
		line-height: 55px;
		font-weight: 700;
		background: url(../images/btn.png)no-repeat center/contain;
		text-align: center;
		transition: transform .3s linear;
		@media @tablet {
			margin: 0;
			margin-top: 20px;
		}
		&:hover {
			transform: scale(1.03);
		}
	}
	&__img {
		margin-top: -80px;
		margin-bottom: 20px;
		max-width: 220px;
		@media @tablet {
			margin-top: -120px;
			margin-bottom: 0;
			max-width: 360px;
		}
		@media @desktop {
			
		}
		@media @desktop-xl {
			margin-top: -50px;
			max-width: 100%;
		}
	}
}

