@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.footer {
	background: @black;
	&__box {
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		@media @tablet {
			flex-direction: row;
			justify-content: space-between;
			text-align: inherit;
		}
	}
	&__logo {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		@media @tablet {
			margin-bottom: 0;
			justify-content: space-between;
		}
		@media @desktop-xl {
			flex-wrap: nowrap;
		}
		a {
			margin: auto;
			@media @tablet {
				margin: 0;
			}
		}
		img {
			max-width: inherit;

			@media @tablet {
				max-width: 140px;
			}
			@media @desktop {
				max-width: inherit;
			}
		}
	}
	&__desc {
		padding-top: 15px;
		margin: auto;
		br {
			display: none;
		}
		@media @mobile-land {
			padding: 0;
			margin-left: 15px;
			br {
				display: inline-block;
			}
		}
		@media @tablet {
			margin-left: 0;
		}
		@media @desktop-xl {
			margin-left: 15px;
		}
	}
	&__list {
		margin-bottom: 35px;
		@media @tablet {
			margin-bottom: 0;
		}
	}
	&__item {
		font-size: 16px;
		padding-bottom: 10px;
		@media @tablet {
			display: inline-block;
			margin-left: 30px;
			padding-bottom: 0;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		span {
			margin-left: 5px;
			color: #009dd9;
			font-weight: 700;
		}
		@media @tablet {
			justify-content: inherit;
		}
	}
	&__agency {
		text-align: center;	
		font-size: 14px;
		color: #8e939b;
		@media @tablet {
			text-align: inherit;
			font-size: 16px;
		}
	}
	.agency {
		div {
			margin-top: 10px;
		}
	}
}