.slick-prev,
.slick-next {
	width: 50px;
	height: 100%;
	bottom: -8px;
	opacity: 1;
	transition: opacity .3s linear;
	z-index: 10;
	@media @desktop {
		top: 50%;
		transform: translateY(-50%);
	}
}


.slick-prev {
	left: 0;
	.ico_arr-left-sm;
	@media @mobile-land {
		left: 30vh;
	}
	@media @tablet {
		left: 20vh;
	}
	@media @desktop {
		left: -10px;
		.ico_arr-left;
	}
}

.slick-next {
	right: 0;
	.ico_arr-right-sm;
	@media @mobile-land {
		right: 30vh;
	}
	@media @tablet {
		right: 20vh;
	}
	@media @desktop {
		right: -10px;
		.ico_arr-right;
	}
}


.slick-prev:before,
.slick-next:before {
	width: 0;
	height: 0;
}

.slick-current, .slick-slide, .slick-active { 
	outline: none!important;
}

.slick-prev:focus,
.slick-next:focus,
{
	opacity: 1;
}

.slick-disabled {
	opacity: .35!important;
}


.slick-dots {
	display: inline-block!important;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;

	li {
		margin: 7px;
		width: 13px;
		height: 13px;

		button {
			background: #000;
			display: block;
			height: 5px;
			width: 5px;
			font-size: 0px;
			border-radius: 50%;
			border: 1px solid transparent;
			opacity: 0.75;
			transition: all .3s linear;
			&:before {
				font-size: 0;
				opacity: 0;
				display: none;
			}

		}
		&.slick-active button {
			opacity: 1;
			transform: scale(2);
			border: 1px solid #000;
			background: transparent;
		}
	}
}

.slick-dots li.slick-active button {
	background: transparent;
}

.slick-current, .slick-slide, .slick-active { 
	outline: none!important;
}