body {
	background-color: #eeeeee;
	font: 16px/1.5 Arial, Times New Roman, Times, serif;
	padding-top: 10px;
	padding-left: 400px;
}
header {
	text-align: center;
}
section { 
	background-color:#fff; 
	height: 806px; 
	width: 451px;
	padding: 70px;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.22);
}
p {
	padding-left: 40px;
}
ul {
	padding-top: 10px;
	line-height: 1.5;
}
