@font-face {
    font-family: "CirceBold";
    src:    url("../fonts/Circe - Bold/Circe-Bold.eot"),
            url("../fonts/Circe - Bold/Circe-Bold.woff") format("woff"),
            url("../fonts/Circe - Bold/Circe-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CirceExtraBold";
    src:    url("../fonts/Circe - Extra Bold/Circe-ExtraBold.eot"),
            url("../fonts/Circe - Bold/Circe-Bold.woff") format("woff"),
            url("../fonts/Circe - Bold/Circe-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CirceExtraLight";
    src:    url("../fonts/Circe - Extra Light/Circe-ExtraLight.eot"),
            url("../fonts/Circe - Extra Light/Circe-ExtraLight.woff") format("woff"),
            url("../fonts/Circe - Extra Light/Circe-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CirceLight";
    src:    url("../fonts/Circe - Light/Circe-Light.eot"),
            url("../fonts/Circe - Light/Circe-Light.woff") format("woff"),
            url("../fonts/Circe - Light/Circe-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CirceRegular";
    src:    url("../fonts/Circe - Regular/Circe-Regular.eot"),
            url("../fonts/Circe - Regular/Circe-Regular.woff") format("woff"),
            url("../fonts/Circe - Regular/Circe-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CirceRegular";
    src:    url("../fonts/Circe - Thin/Circe-Thin.eot"),
            url("../fonts/Circe - Thin/Circe-Thin.woff") format("woff"),
            url("../fonts/Circe - Thin/Circe-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PtSansRegular';
    src:    url('../fonts/Ptsans/pts55f-webfont.woff2') format('woff2'),
            url('../fonts/Ptsans/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PtSansItalic';
    src:    url('../fonts/Ptsans/pts56f-webfont.woff2') format('woff2'),
            url('../fonts/Ptsans/pts56f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PtSansBold';
    src:    url('../fonts/Ptsans/pts75f-webfont.woff2') format('woff2'),
            url('../fonts/Ptsans/pts75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PtSansBoldItalic';
    src:    url('../fonts/Ptsans/pts76f-webfont.woff2') format('woff2'),
            url('../fonts/Ptsans/pts76f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}