@import "_bootstrap-grid.min.scss";
@import "_animate.scss";
@import "_fonts.scss";
@import "_font-awesome.scss";
@import "_vars.scss";


/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
/* @media only screen and (max-width : 1200px) {

}  */

/* Medium Devices, Desktops */
/* @media only screen and (max-width : 992px) {

}  */

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header__logo {
		&-text {
			padding-bottom: 10px;
		}
	}
	.content__top {
		padding-top: 30px;
		&-subtitle {
			padding-bottom: 10px;
		}
	}
	.info {
		.info-left {
			padding-top: 30px;
			.date__right {
				text-align: center;
			}
		}
		.info-right {
			padding-top: 30px;		
			.info-right-webinar {
				font-size: 20px;
			}
			.webinar__list {
				font-size: 20px;
			}
		}
		.column {
			padding-bottom: 0;
		}
		.story {
			&__title {
				padding: 10px 0;
				font-size: 30px;
			}
			&__text {
				padding-bottom: 20px;
				font-size: 20px;
				&-link {
					font-size: 26px;
				}
			}
		}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.header__logo {
		&-text {
			h1 {
				font-size: 20px;
			}
		}
	}
	.content__top {
		&-title {
			font-size: 24px;
			color: $orange;
		}
		&-subtitle {
			font-size: 20px;
			padding-bottom: 10px;
		}
			&-button {
		padding: 10px 20px;
		font-size: 20px;
	}
	}
	.info {
		padding-top: 22px;
		.info-left {
			padding-top: 10px;
			.date__left{
				&-month {
					font-size: 20px;
				}
				&-day {
					font-size: 54px;
				}
			}
			.date__right {
				&-week {
					font-size: 20px;
				}	
				&-date {
					font-size: 26px;
					border-bottom: 1px dashed #fff;
				}	
				&-time {
					margin-top: 10px;
					font-family: $fontFamily;
					font-size: 20px;
				}
			}
			.content {
				&__title {
					font-size: 20px;
					font-style: italic;			}
					&__person {
						font-size: 20px;
					}
				}
			}
			.info-right {
				padding-top: 10px;		
				&-counter {
					font-size: 16px;	
				}
				.countdown {
					margin: 10px 0;
					padding: 0;		
				}
				.countdown li span {
					padding: 0 10px; 
					margin: 0 5px; 
					color: #fff;				
					font-size: 36px;
				}
				.info-right-webinar {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 20px;
				}
				.webinar__list {
					font-size: 20px;
				}
			}
		}
	}
	.details{
		padding-top: 20px;	
		font-size: 20px;
		&__question {
			margin-top: 10px;
			margin-bottom: 20px;
			font-size: 26px;
		}
		&__answer {
			padding-bottom: 20px;
		}
	}
	.story {
		&__title {
			padding: 10px 0;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
		}
		&__text {
			padding-bottom: 10px;
			font-size: 20px;
			text-align: center;
			&-link {
				display: block;
				text-align: center;
				background: $orange;
				font-size: 26px;
			}
			@media only screen and (max-width: 768px) {
				font-size: 40px
			}				
			@media only screen and (max-width: 480px) {
				font-size: 26px
			}		
		}
	}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)  {

}