@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	background-color: @violet; 
	background: url(../images/back__header.jpg)no-repeat center/cover;

	&__top {
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/*  ¯\_(ツ)_/¯  */

	&__logo {
		display: flex;
		align-items: center;
		flex: 1;

		img {
			margin-right: 15px;
		}

		.title {
			font-size: 25px;
			line-height: 1.1;
			font-family: @ff2;
			font-weight: 800;
		}
		.desc {
			font-size: 15px;
			color: #a799b5;
		}
	}

	.delivery {
		background: transparent;
		color: inherit;
		display: flex;
		align-items: center;

		&__icon {
			margin-right: 15px;
		}
		&__title {
			font-weight: 700;

			span {
				font-weight: 400;
				color: #b3a6bf;
			}
		}
	}

	.devider {
		margin: 0 40px;
	}

	.contact {
		display: flex;
		align-items: center;
		margin-right: 35px;

		&__icon {
			margin-right: 15px;
		}

		&__link {
			font-weight: 600;
			transition: color .3s linear;
			&:hover {
				color: @yellow;
			}
		}
	}

	.btn {
		position: relative;
		margin: auto;
		display: block;
		width: 230px;
		height: 42px;
		overflow: hidden;
		
		border-radius: 21px;

		font-family: @ff2;
		font-weight: 900;
		text-transform: uppercase;
		border: 3px solid @yellow;
		z-index: 1;
		outline: none;
			
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: @yellow;
			transition: all .5s linear;
			border-radius: 10px;
			z-index: -1;
		}

		&:hover {
			&:before {
				width: 100%;
			}
		}
	}

	/*  ¯\_(ツ)_/¯  */

	&__center {
		padding-top: 130px;
		text-align: center;
		text-transform: uppercase;

		&-title {
			font-size: 66px;
			font-family: @ff2;
			font-weight: 900;
		}

		&-subtitle {
			font-size: 24px;
			font-weight: 600;
			line-height: 34px;
			padding-top: 25px;
			padding-bottom: 20px;
		}
	}

	/*  ¯\_(ツ)_/¯  */

	&__end {
		padding-top: 290px;

		.price {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-right: 140px;
			z-index: 10;

			

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				right: 25px;
				width: 377px;
				height: 84px;

				border-radius: 10px;
				background: url(../images/back__price.png);
				z-index: -1;
			}	

			p:nth-child(1) {
				text-transform: uppercase;
				text-align: right;
				font-size: 14px;
				font-weight: 600;
			}
			p:nth-child(2) {
				margin: 0 30px;
				position: relative;
				z-index: 10;
				font-size: 14px;
				font-weight: 600;
				color: #000;
				&:before {
					content: '';
					position: absolute;
					top: 40%;
					left: 70%;
					transform: translate(-50%, -50%);
					width: 47px;
					height: 47px;
					background: url(../images/coupon.png);
					z-index: -1;
				}
			}
			p:nth-child(3) {
				position: relative;
				font-size: 43px;
				font-family: @ff2;
				font-weight: 900;
				
				animation: pulsed 2.5s linear infinite;
				sup {
					position: absolute;
					top: 7px;
					right: -22px;
					font-family: @ff2;
					font-size: 14px;
					font-weight: 800;
					color: #b3a6bf;
				}
				sub {
					position: absolute;
					bottom: 7px;
					right: -32px;
					font-family: @ff1;
					font-size: 14px;
					font-weight: 600;
					color: #fff;
				}
			}

			p {
				
			}
		}

		.arr-down {
			margin: 90px 0 30px 0;
			display: flex;
			justify-content: center;

			animation: arrow-bounce 2.5s infinite;

			&:hover {
				animation-play-state: paused;
			}
		}
	}
}