@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.guarantee {
	color: @black;
	background: url(../images/back__white.jpg)no-repeat center/cover;

	.list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 40px;


		@media @tablet {
		}

		@media @desktop {
			margin-top: 60px;
			justify-content: space-between;
		}


		@media @desktop-xl {
			flex-wrap: nowrap;
		}

		@media @desktop-xl-2 {

		}

		@media @desktop-xll {
			margin-bottom: inherit;
		}

		&__item {
			position: relative;
			width: 300px;
			margin-bottom: 20px;
			text-align: center;
			list-style-type: none;

			@media @tablet {
				margin-bottom: 40px;
			}
			@media @desktop {
				width: 50%;
			}
			@media @desktop-xl {
				width: 300px;
			}
		}


		&__img {
			position: relative;
			z-index: 10;
			height: 200px;

			@media @desktop {
				height: inherit;
			}

		}

		.img__wrap {
			position: relative;
			z-index: 1;

		}


		&__title {
			padding-top: 7px;
			padding-bottom: 15px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
		}

		&__text {
			padding: 0 15px;
			font-size: 16px;
			color: #868488;
		}
	}
}

