@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.progress {
	overflow: hidden;
	position: relative;
	background: url(../images/back__progress-sm.jpg)no-repeat center/cover;
	

	@media @tablet {
		background: url(../images/back__progress.jpg)no-repeat center/cover;
	}

	&:before {
		@media @tablet {
			content: '';
			position: absolute;
			top: 50%;
			left: -100px;
			transform: translateY(-50%);
			width: 305px;
			height: 679px;

			background: url(../images/decor__left.png)no-repeat center/cover;
		}
		@media @desktop {
			left: -50px;
		}
		@media @desktop-xl {
			left: 0;
		}
	}

	&:after {
		@media @tablet {
			content: '';
			position: absolute;
			top: 50%;
			right: -100px;
			transform: translateY(-50%);
			width: 305px;
			height: 679px;

			background: url(../images/decor__right.png)no-repeat center/cover;
		}
		@media @desktop {
			right: -50px;
		}
		@media @desktop-xl {
			right: 0;
		}
	}
}


.statistics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	@media @tablet {
		margin-top: 30px;
		flex-direction: row;
		align-items: inherit;
		text-align: inherit;
	}
	@media @desktop {
		padding: 0 50px;
	}
	@media @desktop-xl {
		padding: 0 150px;
	}

	&__item {
		position: relative;
		margin-top: 70px;
		
		@media @tablet {
			padding-left: 35px;
			padding-right: 35px;
			margin-top: inherit;
		}

		@media @desktop {
			padding-left: 65px;
			padding-right: 65px;
		}

		&:last-of-type {
			@media @tablet {
				padding-right: 0;
			}
		}
	}


	.stat__icon {
		position: absolute;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);

		@media @tablet {
			top: 9px;
			left: -25px;
			transform: none;
		}
		@media @desktop {
			left: 5px;
			top: 20px;
		}
	}

	.devider {
		display: none;

		@media @desktop {
			display: block;
			position: absolute;
			top: 0;
			right: 40px;
		}
	}
	.devider2 {
		display: none;

		@media @desktop {
			display: block;
			position: absolute;
			top: 0;
			right: 20px;
		}
	}

	.plus {
		font-size: 30px;
		font-family: @ff2;
		font-weight: 900;

		@media @tablet {

		}
		@media @desktop {
			font-size: 36px;
		}
	}

	&__title {
		padding-bottom: 10px;
		font-size: 40px;
		font-family: @ff2;
		font-weight: 900;
		color: @yellow;

		@media @tablet {
			font-size: 40px;
		}
		@media @desktop {
			font-size: 50px;
		}
		@media @desktop-xl {
			font-size: 60px;
		}
	}
	&__text {
		width: 225px;
		padding-top: 0px;
		font-size: 18px;
		font-family: @ff1;
		font-weight: 400;
		color: #b3a6bf;
		@media @desktop {
			width: 175px;
			font-size: 16px;
		}
	}
}

