@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.delivery {
	color: @black;
	background: url(../images/back__white.jpg)no-repeat center/cover;
	
	.list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 40px;

		@media @tablet {
		}

		@media @desktop {
			margin-top: 60px;
			justify-content: space-around;
		}

		@media @desktop-xl {
			flex-wrap: nowrap;
			padding: 0 120px;
		}

		@media @desktop-xl-2 {

		}

		@media @desktop-xll {
			margin-bottom: inherit;
		}

		&__item {
			position: relative;
			width: 300px;
			margin-bottom: 40px;
			text-align: center;
			counter-increment: li;	

			&:before {
				content: "" counter(li);
				position: absolute;
				padding: 0 5px;
				top: 95px;
				left: 28px;

				font-size: 18px;
				color: #fff;
				background: #cdcdcd;				
			}

			@media @desktop {
				width: 300px;
			}
			@media @desktop-xl {
				width: 300px;
			}
		}	
	}


	&__img {
		position: relative;
		z-index: 10;
		height: 200px;

		@media @desktop {
			height: inherit;
		}
	}

	.img__wrap {
		position: relative;
		z-index: 1;
	}

	&__text {
		padding: 5px 15px;
		font-size: 16px;
		color: #868488;
	}

	.btn-red {
		margin-top: 15px;
	}
}