@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.review {
	position: relative;
	overflow: hidden;
	background: url(../images/back__gift.jpg)no-repeat center/cover;

	&:before {
		content: '';
		position: absolute;
		top: -300px;
		left: 0;

		width: 305px;
		height: 679px;

		background: url(../images/decor__left.png)no-repeat center/cover;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -300px;
		right: 0;
		width: 305px;
		height: 679px;

		background: url(../images/decor__right.png)no-repeat center/cover;
	}

	&__slider {

		.slick-prev, .slick-next {
			width: 40px;
			height: 40px;
		}

		.slick-prev {
			left: 0px;
		}

		.slick-next {
			right: 0;
		}
		.slick-prev:before, .slick-next:before {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			color: @black;
			
			font-size: 20px;
		}

		.slick-prev:before {
			left: 10px;
			content: '\e805';
		} 
		.slick-next:before {
			right: 10px;
			content: '\e806';
		}

	}

	.slide {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		outline: none;
		max-width: 490px;

		&__text {
			padding: 30px;
			background: #7442a0;
			border-left: 3px solid @yellow; 
			box-shadow: inset 2px 0px 0px 0px rgba(255, 186, 0, 0.004);
			border-radius: 15px;
			user-select: text;

			p {
				padding-bottom: 10px;
			}
		}

		.reviewer {
			display: flex;
			align-items: center;
			margin-top: 20px;
			user-select: text;
			&__photo {
				margin-right: 30px;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background: url(../images/photo/review1.jpg)no-repeat 25% 0%;	
			}
			.name {
				font-weight: 600;
				text-transform: uppercase;
			}
			.city {
				color: #b3a6bf;
			}
		}
	}

	.turn {
		.slide__text {
			order: 2;
		}
		.reviewer {
			order: 1;
		}
	}
}