@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.review {
	position: relative;
	overflow: hidden;
	background: url(../images/back__review.jpg)no-repeat center/cover;

	&:before {
		content: '';
		position: absolute;
		top: -300px;
		left: 0;

		width: 305px;
		height: 679px;

		background: url(../images/decor__left.png)no-repeat center/cover;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -300px;
		right: 0;
		width: 305px;
		height: 679px;

		background: url(../images/decor__right.png)no-repeat center/cover;
	}

	&__slider {
		padding: 30px 50px;

		.slick-prev, .slick-next {
			width: 40px;
			height: 40px;
		}

		.slick-prev {
			left: 0px;
		}

		.slick-next {
			right: 0;
		}
		.slick-prev:before, .slick-next:before {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			color: @yellow;
			
			font-size: 24px;
		}

		.slick-prev:before {
			left: 10px;
			content: '\e805';
		} 
		.slick-next:before {
			right: 10px;
			content: '\e806';
		}

	}

	.slide {
		display: flex;
		flex-direction: column;
		margin-right: 30px;
		outline: none;
		

		&__text {
			position: relative;
			padding: 30px;
			max-width: 490px;
			background: #7442a0;
			border-left: 3px solid @yellow; 
			box-shadow: inset 2px 0px 0px 0px rgba(255, 186, 0, 0.004);
			border-radius: 15px;
			user-select: text;

			&:before {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 60px;
				width: 0; 
				height: 0; 
				border-bottom: 10px solid transparent;
				border-left: 10px solid #7442a0;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 60px;
				width: 1px; 
				height: 10px; 
				border-left: 1px solid @yellow;
			}

			p {
				padding-bottom: 10px;
			}
		}

		.reviewer {
			display: flex;
			align-items: center;
			margin-top: 20px;
			user-select: text;

			&__photo {
				margin-right: 30px;
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}


			/*  ¯\_(ツ)_/¯  */ /* PLACE FOR PHOTO > REVIEW */

			.photo1 {
				background: url(../images/photo/review1.jpg)no-repeat 25% 0%;	
			}
			.photo2 {
				background: url(../images/photo/review1.jpg)no-repeat 25% 0%;	
			}
			.photo3 {
				background: url(../images/photo/review1.jpg)no-repeat 25% 0%;	
			}
			.photo4 {
				background: url(../images/photo/review1.jpg)no-repeat 25% 0%;	
			}

			/*  ¯\_(ツ)_/¯  */ /* END PLACE FOR PHOTO > REVIEW */


			.name {
				font-weight: 600;
				text-transform: uppercase;
			}
			.city {
				color: #b3a6bf;
			}
		}
	}

	.turn {
		.slide__text {
			order: 2;

			&:before {
				content: '';
				position: absolute;
				top: -10px;
				left: 60px;
				width: 0; 
				height: 0; 
				border-top: 10px solid transparent;
				border-left: 10px solid #7442a0;
			}

			&:after {
				content: '';
				position: absolute;
				top: -10px;
				left: 60px;
				width: 1px; 
				height: 10px; 
				border-left: 1px solid @yellow;
			}
		}
		.reviewer {
			margin-top: 0;
			margin-bottom: 20px;
			order: 1;
		}
	}
}