@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.footer {
	padding: 25px 0;
	background-color: rgb(99, 53, 138);


	
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;


		@media @tablet {

		}
		@media @desktop {
			flex-direction: row;
		}
	}

	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 300px;

		img {
			margin-right: 15px;
		}

		.title {
			font-size: 25px;
			line-height: 1.1;
			font-family: @ff2;
			font-weight: 800;
		}
		.desc {
			font-size: 15px;
			color: #a799b5;
		}
	}

	.delivery {
		background: transparent;
		color: inherit;
		display: flex;
		align-items: center;
		flex-basis: 650px;
		&__icon {
			margin-right: 15px;
		}
		&__title {
			font-weight: 700;

			span {
				font-weight: 400;
				color: #b3a6bf;
			}
		}
	}

	.agency {

	}
} 



