.spritebox(@left, @top, @height, @width) {
  background-image: url(../images/icons/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: @left @top;
  height: @height;
  width: @width
}

.ico_phone {
  .spritebox(-0px, -0px, 35px, 36px)
}

.ico_pack {
  .spritebox(-36px, -0px, 35px, 36px)
}

.ico_gift {
  .spritebox(-0px, -35px, 35px, 36px)
}

.ico_queen {
  .spritebox(-36px, -35px, 35px, 36px)
}

.ico_locate-round {
  .spritebox(-72px, -0px, 35px, 36px)
}

.ico_cart {
  .spritebox(-72px, -35px, 35px, 36px)
}

.ico_cursor {
  .spritebox(-0px, -70px, 35px, 36px)
}

.ico_car {
  .spritebox(-36px, -70px, 35px, 36px)
}

.ico_tart {
  .spritebox(-72px, -70px, 35px, 36px)
}

.ico_locate {
  .spritebox(-108px, -0px, 18px, 14px)
}

.ico_devider-violet {
  .spritebox(-122px, -0px, 17px, 294px)
}

.ico_devider-gray {
  .spritebox(-122px, -17px, 17px, 254px)
}

.ico_phone3 {
  .spritebox(-376px, -17px, 17px, 19px)
}

.ico_phone4 {
  .spritebox(-395px, -17px, 17px, 19px)
}

.ico_phone2 {
  .spritebox(-122px, -34px, 14px, 14px)
}
