 @import "_vars";
 @import "_mixin and function";

 @media only screen and (max-width : 1024px) {
 	.videoReview {
 		&__list {
 			flex-direction: column;
 		}
 		&__item {
 			margin-bottom: 25px;
 		}
 		&__img {
 			margin: auto;
 		}
 	}
 	.choiceUS {
 		&__title {
 			padding: 60px 0;
 		}
 	}
 	.form {
 		.flex__wrap {
 			flex-direction: column;
 			margin: 0 auto;
 			padding-bottom: 50px;
 		}
 		&__item {
 			width: 50%;
 			margin: 20px auto;
 		}
 		&__list {
 			margin-top: -100px;
 		}
 		.form__email {
 			.form-line {
 				width: 50%;
 				margin: 8px auto;
 				padding: 15px 20px;
 				flex-basis: auto;
 				text-align: center;
 			}
 			.form-button {
 				width: 50%;
 				flex-basis: auto;
 				margin: 10px auto;
 			}
 		}
 	}
 	.form__email-context {
 		.wrapper {
 			padding: 0;
 		}
 		.email__context-flex {
 			display: flex;
 			flex-wrap: wrap;
 			margin: auto;
 		}
 		.photo {
 			background:url(../img/photo.jpg) 10% 15%;
 			background-size: cover;
 			width: 100%;
 			height: 660px;
 		}
 		.mail-box {
 			padding-right: 15px;
 			padding-left: 0;
 			margin: auto;
 		}
 		.box__title {
 			padding-top: 30px;
 			font-size: rem(28);
 		}
 		.box__text {
 			padding: 30px 0;
 			font-size: rem(18);
 		}
 		.timer {
 			padding-bottom: 30px;
 		}
 	}
 }


 @media only screen and (max-width : 900px) {
 	.header {
 		&__top {
 			padding-top: 10px;
 		}
 		&__contact {
 			.mobile {
 				font-size: rem(20);
 			}
 		}
 		&__center {
 			padding-top: 60px;
 		}
 		&__end {
 			margin: 60px 0;
 			font-size: rem(22);
 		}
 	}
 	.proposal {
 		padding: 30px 15%;
 		.wrapper {
 			display: flex;
 			flex-wrap: wrap;
 		}
 		&__content {
 			position: inherit;
 			float: none;
 			width: 100%;
 			margin: 0 auto;
 			padding: 40px 0;
 			color: #fff;
 		}
 		&__title {
 			font-size: rem(26);
 		}
 		&__text {
 			padding-top: 15px;
 			font-size: rem(22);
 		}
 		&__form {
 			text-align: center;
 			position: inherit;
 			top: auto;
 			bottom: auto;
 			left: auto;
 			height: inherit;
 			margin: 0 auto;
 			padding: inherit;
 			order: 2;
 			width: 320px;
 		}
 		img {
 			margin-top: 25px;
 		}
 		.callback {
 			margin: 0 auto;
 			padding: 0;
 			width: 300px;
 		}
 		.form-button {
 			display: inline-block;
 		}
 	}
 	.about {
 		padding: 30px 5%;
 		&__title {
 			font-size: rem(30);
 		}
 		.info {
 			padding-bottom: 10px;
 			&-term {
 				padding-left: 0;
 				padding-right: 0;
 				padding-bottom: 10px;
 				flex-basis: auto;
 			}
 			&-text {
 				flex-basis: auto;
 				padding-left: 0;
 				padding-right: 0;
 			}
 			&-list {
 				padding-top: 40px;
 				display: flex;
 				flex-direction: column;
 				justify-content: center;
 				margin: 0 auto;
 				flex-basis: auto;
 			}
 			&__item	{
 				margin-bottom: 25px;
 				span {
 					width: auto;
 				}
 			}
 		}
 	}
 	.videoReview {
 		&__title {
 			font-size: rem(26);
 		}
 		&__text {
 			font-size: rem(20);
 		}
 	}  
 	.header__page2 {
 		.wrapper {
 			flex-direction: column;
 		}
 		&__video {
 			margin: 40px auto;
 			iframe {
 				width: 80%;
 				height: 300px;	
 			}
 		}
 	}
 	.details {
 		&__item {
 			&-img {
 				width: 150px;
 				height: 150px;
 			}
 		}
 	}
 	.header-order {
 		background: url(../img/background_order.jpg) no-repeat 23% 0%;
 		.wrapper {
 			flex-direction: column;
 		}
 		.header__text-order {
 			padding-top: 150px;
 			margin-bottom: 20px;
 			width: 70%;
 		}
 		.header__video-order {
 			padding-top: 10px;
 			padding-bottom: 10px;
 			width: 70%;
 			height: 350px;
 		}
 		.registration {
 			padding-top: 10px;
 			padding-bottom: 40px;
 			flex-direction: column;
 			margin: 0;
 			width: 70%;
 			img {
 				width: 120px;
 			}
 			&__text {
 				text-align: center;
 			}
 		}
 		.form-button {
 			margin: 5px auto;
 		}
 	}

 }
 @media only screen and (max-width : 768px) {
 	.header {
 		&__item {
 			font-size: rem(18);
 		}
 		&__center {
 			padding-top: 80px;
 			padding-left: 5%;
 			padding-right: 5%;
 			font-size: rem(35);
 		}
 		&__end {
 			margin: 60px 0;
 			font-size: rem(18);
 		}
 	}
 	.about {
 		background: #f3f3f3;
 		text-align: center;
 		&__title {
 			padding-top: 40px;
 			position: relative;
 			font-family: "GothamProMedium";
 			font-size: rem(40);
 			&:before {
 				display: inline-block;
 				position: absolute;
 				content: '';
 				bottom: -10px;
 				left: 50%;
 				height: 2px;
 				width: 20%;
 				transform: translateX(-50%);
 				background: rgb(233,124,44);
 				background: -moz-linear-gradient(left, rgba(233,124,44,1) 0%, rgba(222,80,101,1) 100%);
 				background: -webkit-linear-gradient(left, rgba(233,124,44,1) 0%,rgba(222,80,101,1) 100%);
 				background: linear-gradient(to right, rgba(233,124,44,1) 0%,rgba(222,80,101,1) 100%);
 			}
 		}
 		.flex-wrap {
 			display: flex;
 			flex-wrap: wrap;
 		}
 		.info {
 			padding-top: 30px;
 			padding-bottom: 30px;
 		}
 	}
 	.mission {
 		&__list {
 			padding-bottom: 40px;
 			width: 90%;
 		}
 		&__item {
 			margin: 25px 0;
 			&:before {
 				left: 50%;
 			}
 		}
 	}
 	.massMedia {
 		&__title {
 			font-size: rem(28);
 		}
 		&__list {
 			padding: 40px 0;
 			flex-wrap: wrap;
 		}
 		&__item {
 			flex-basis: auto;
 			margin-bottom: 15px;
 		}
 	}
 	.details {
 		&__list {
 			background: none;
 			justify-content: space-between;
 		}
 		&__item {
 			width: 30%;
 			&-text {
 				min-height: 90px;
 				padding-bottom: 20px;
 				text-align: center;
 			}
 			&-img {
 				width: 150px;
 				height: 150px;
 			}
 		}
 		.top {
 			width: 28%;
 		}
 		.center {
 			width: 28%;
 		}
 		.end {
 			margin-left: auto;
 		}	
 	}
 	.gallery {
 		&__title {
 			padding: 25px 0;
 			font-size: rem(28);
 		}
 		.list__item {
 			padding: 10px;
 		}
 	}
 	.choiceUS {
 		&__title {
 			padding: 30px 0 0 0;
 		}
 	}
 	.form {
 		&__item {
 			width: 90%;
 		}
 		.form__attention {
 			margin-bottom: 55px;
 		}
 		&__list {
 			margin-top: -50px;
 		}
 	}
 	.form__email-context {
 		.mail-box {
 			padding: 15px;
 		}
 		.box__text {
 			padding: 30px 0;
 			font-size: rem(18);
 		}
 		.form-line {
 			margin-right: 0;
 		}
 		.form-button {
 			margin-right: 5px;
 		}
 		.timer {
 			padding-bottom: 30px;
 		}
 	}
 	.header-order {
 		background: url(../img/background_order.jpg) no-repeat 72%;
 		.wrapper {
 			flex-direction: row;
 			flex-wrap: wrap;
 			justify-content: flex-end;
 		}
 		.header__text-order {
 			padding-top: 100px;
 			margin-bottom: 20px;
 			width: 100%;
 			text-align: right;
 		}
 		.header__video-order {
 			width: 100%;
 			height: 300px;
 		}
 		.registration {
 			width: 100%;
 			img {
 				width: 80px;
 			}
 			&__text {
 				text-align: center;
 			}
 			.form-line {
 				text-align: center;
 			}
 		}
 	}
 	.bonus__thank {
 		display: flex;
 		justify-content: center;
 		.bonus__list {
 			display: flex;
 			flex-wrap: wrap;
 			justify-content: center;
 			padding: 10% 0;
 			border: none;
 		}
 	}

 }

 @media only screen and (max-width: 480px) {
 	.header {
 		.wrapper {
 			padding: 5px;
 		}
 		&__list {
 			flex-wrap: wrap;
 		}
 		&__item {
 			font-size: rem(18);
 		}
 		&__contact {
 			.mobile {
 				text-align: right;
 				font-size: rem(18);
 			}
 		}
 		&__center {
 			padding-top: 60px;
 			font-size: rem(26);
 		}
 	}
 	.about {
 		padding: 60px 15px;
 		&__title {
 			padding-top: 0;
 			font-size: rem(28);
 		}
 		.info {
 			&-term {
 				padding: auto;
 				flex-basis: auto;
 			}
 			&-text {
 				padding: auto;
 				flex-basis: auto;
 			}
 			&__item	{
 				margin: auto;
 				padding-bottom: 15px;
 				span {
 					width: 100%;
 					text-align: center;
 				}
 			}
 		}
 	}
 	.videoReview {
 		&__title {
 			font-size: rem(28);
 		}
 		&__text {
 			font-size: rem(18);
 		}
 	}  
 	.pressList {
 		padding: 30px 0;
 		padding-bottom: 30px;
 		flex-wrap: wrap;
 		.left{
 			position: relative;
 			top: 0;
 			left: 0;
 			transform: rotate(0);
 			margin-bottom: 15px;
 		}
 		.right {
 			position: relative;
 			top: 0;
 			right: 0;
 			transform: rotate(0);
 		}
 		img {
 			display: block;
 			max-width: 100%;
 			width: 100%;
 			height: auto;
 		}
 	}
 	.proposal {
 		padding: 20px 15px;
 		&__form {
 			width: 100%;
 		}
 		img {
 			margin-top: 25px;
 		}
 		.callback {
 			margin: 0 auto;
 			padding: 0;
 			width: 100%;
 		}
 		.form-line {
 			width: 220px;
 		}
 		.form-button {
 			text-align: center;
 			display: inline-block;
 			width: 220px;
 			padding-left: 0;
 			padding-right: 0;
 		}
 	}
 	.details {
 		&__title {
 			padding: 40px 0;
 			font-size: rem(22);
 		}
 		&__list {
 			background: none;
 			flex-direction: column;
 		}
 		&__item {
 			width: 100%;
 			&-text {
 				min-height: auto;
 				padding-bottom: 20px;
 			}
 		}
 		.top {
 			width: 100%;
 		}
 		.center {
 			width: 100%;
 		}
 		.end {
 			margin-left: 0;
 		}	
 	}
 	.choiceUS {
 		&__title {
 			padding: 20px 0;
 			font-size: rem(22);
 		}
 	}
 	.form {
 		&__item {
 			width: 95%;
 			&-title {
 				font-size: rem(22);
 			}
 		}
 		.form__attention {
 			margin-top: 50px;
 			margin-bottom: 80px;
 		}
 		&__list {
 			margin-top: -50px;
 		}
 		.form__email {
 			.form-line {
 				width: 95%;
 			}
 			.form-button {
 				width: 95%;
 			}
 			p {
 				font-size: rem(22);
 			}
 		}
 	}
 	.form__email-context {
 		.photo {
 			background:url(../img/photo.jpg) 10% 40%;
 			background-size: cover;
 			width: 100%;
 			height: 450px;
 		}
 		.box__text {
 			padding: 20px 0;
 		}
 		.box__title {
 			font-size: rem(26);
 			line-height: 30px;
 		}
 		.form-line {
 			margin-right: 0;
 			margin-bottom: 15px;
 			width: 100%;
 		}
 		.form-button {
 			margin-right: 5px;
 			width: 100%;
 		}
 		.timer {
 			padding-bottom: 30px;
 		}
 	}
 	.footer {
 		&__item {
 			line-height: 20px;
 		}
 	}
 	.header-order {
 		background: none;
 		.wrapper {
 			justify-content: center;
 		}
 		.header__text-order {
 			padding-top: 80px;
 			margin-bottom: 20px;
 			text-align: center;
 		}
 		.registration {
 			width: 100%;
 			img {
 				width: 80px;
 			}
 			&__text {
 				text-align: center;
 			}
 			.form-line {
 				text-align: center;
 				background: rgba(0, 0, 0, .05);
 				padding: 8px 0;
 				width: 300px;
 			}
 			.form-button {
 				width: 300px;
 			}
 		}
 	}
 	.header-thank {
 		.invite__title {
 			padding: 35px 0;
 			font-size: rem(30);
 		}
 		height: 180px;
 		&:before {
 			height: 180px;
 		}
 	}
 }