body {
	width: 960px;
	height: 950px;
	margin: 0 auto;
	background: url('../img/background.png') no-repeat #000 50% 0;	
	font: 10px/12px 'Tahoma Regular',Arial,Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
}
.wrapper {
	width: 820px;
	height: 640px; 
	padding: 50px 60px 0 60px;
}
/*HEADER*/
header {
	padding-bottom: 140px;
}
.logo {
	position: absolute;
	margin: 70px 10px 0;
	z-index:1; 
}
.palm {
	position: absolute;
	margin-left: 150px;
}
.contact {
	float: right;
	margin: 90px 20px 0;
	text-align: left;
}
.phone-mail {
	margin-top: 5px;
	font-size: 8px;
	line-height: 10px;
}
/*CONTENT*/
figure {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 50px;
	font-size: 15px;
	line-height: 17px;
}
figure img {
	border: 1px solid #b3b3b3;
	margin: 10px 0 0 8px; 
	background-color: #565656;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(114,114,114,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(114,114,114,1);
	box-shadow: 0px 0px 0px 1px rgba(114,114,114,1);
}
/*FOOTER*/
footer p {
	margin-top:140px;
}