body {
	width: 960px;
	min-height: 950px;
	margin: 0 auto;
	background: url('../img/background.png') no-repeat #000 50% 0;	
	font: 15px/18px 'Tahoma Regular',Arial,Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
}
.wrapper {
	margin: 56px 70px; 
}
a {
	color: #FFF;
	text-decoration: none;
}
a:active {
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
/*HEADER*/
header {
	position: relative;
}
.logo {
	width: 260px;
	height: 150px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}
.contact {
	position: absolute;
	text-align: left;
	right: 22px;
	bottom: 15px;
	line-height: 20px;
}
.logo p {
	position: absolute;
	left: 85px;
	bottom: 16px;
}
.logo p, span, footer {
	font-size: 10px;
	line-height: 14px;
}
.contact p {
	font-size: 8px;
	line-height: 10px;
}
/*CONTENT*/
.contries {
	position: relative;
	overflow: hidden;
}
figure {
	float: left;
	padding: 0 0 50px 8px;
}
figcaption {
	font-size: 15px;
	line-height: 18px;
}
figure img {
	border: 2px groove #979797;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(114,114,114,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(114,114,114,1);
	box-shadow: 0px 0px 0px 1px rgba(114,114,114,1);
}
/*FOOTER*/
footer {
	padding-top: 120px;
}
