@import "_vars";
@import "_mixin and function";

.header-causes {
	.wrapper {
		position: relative;
	}
	.flex__wrapper {
		padding-top: 5vh;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;	
		background-color: rgba(#4b4b4b, .3);	
	}
	.header-title {
		margin: auto;
		padding: 5vh 0;
		width: 80%;
		font-size: rem(45);
		font-family: "GothamProBlack";
	}
	.header__link-causes {
		background: #fff;
		color: #191717;
		border: 2px solid #fff;
		@include transition (transform .5s ease);
		&:hover {
			transform: scale(1.1);
		}
	}
}

.causes {
	position: relative;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
	}
	&__item {
		padding: 8vh 2% 0 2%;
		flex-basis: 400px;
		z-index: 10;
		&:last-child {
			margin: auto;
			padding-bottom: 60px;
		}
		.item__title {
			font-size: rem(25);
			font-family: "GothamProMedium";
		}
		.item__text {
			text-align: justify;
		}
	}
	&__pic {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
	}
}

.inside {
	background: center center;
	&__title {
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			width: 100px;
			height: 2px;
			background: $orange;
			bottom: 4px;
			left: 50%;
			transform: translate(-50%, -50%);
		} 
	}
	iframe {
		display: block;
		padding: 25px;
		margin: 50px auto;
		width: 950px;
		height: 560px;
		border: 2px solid #fff;
	} 
}

.trainer {
	&__title {
		color: #1e1e1e;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 60px 0;
	}
	&__item {
		position: relative;
		max-height: 200px;
		margin-bottom: 25px;
		&:hover {
			.overlay {
				opacity: 1;
			}
		}
	}
}

.order {
	position: relative;
	background-size: cover;
	color: #fff;
	text-align: left;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#212121, .86);	
	}
	&__title {
		padding-bottom: 20px;
		width: 80%;
		text-align: left;
		font-size: rem(40);
		font-family: "GothamProBold";
		&:before {
			content: '';
			position: absolute;
			width: 100px;
			height: 12px;
			background: $orange;
			bottom: 4px;
			left: 0;
		} 
		.text-accent {
			color: $orange;
		}
	}
	&__text {
		padding-top: 20px;
		font-size: rem(16);
	}
}

/* FORM FOR SELECT CARD */
.selectCard {
	margin: 30px auto;
}
.form__select {
	background: #fff;
	border-radius: 10px;

	.form__answer {
		display: inline-block;
		width: 30%;
		padding: 25px 3%;
		text-align: center;

		.label__title {
			font-size: rem(25);
			color: #191717;
		}
		.label__text {
			padding: 15px 0;
			font-size: rem(16);
			font-family: "GothamProLight";
			text-align: justify;
			color: #5c5c5c;
		}

		input[type="radio"] {
			width: 20px;
			height: 20px;
			border-color: #fff;
			box-shadow: 
			0 0 0 4px #fff,
			0 0 0 6px #383838;
			border-radius: 50%;
		}
		input[type="radio"]:active {
			background-color: $orange;
		}
		input[type="radio"]:checked {
			background-color: $orange;
		}
	}
}

.form__email {
	margin: 10px 0;
	padding: 30px 0 30px 3%;
	background: #fff;
	width: 100%;
	border-radius: 10px;
	display: inline-block;
	color: #272525;
	line-height: 1.5;
	.line {
		display: inline-block;
		vertical-align: middle;
	}
	.text {
		width: 130px;
		font-size: rem(25);
		font-family: "GothamProMedium";
	}
	.timer {
		padding: 5px 20px;
		background: #e6e6e6;
		border-radius: 10px;
		font-size: rem(30);
		font-family: "GothamProMedium";
	}
	.line-email {
		margin: 0 1% 0 1%;
		max-width: 300px;
		padding: 10px 20px;
		border: 1px solid #131313;
		border-radius: 25px;
		font-size: rem(25);
	}
	.form-button {
		padding: 10px 20px;
		background: #00a8ec;
		border: 1px solid #00a8ec;
		border-radius: 25px;
		font-size: rem(25);
		font-family: "GothamProLight";
		color: #fff;
		outline: none;
		@include transition(background-color .5s ease)
		&:hover {
			background-color: darken(#00a8ec, 10%);
		}
	}
}