@import "_vars";
@import "_mixin and function";

@media only screen and (max-width : 1024px) {
	.inside {
		iframe {
			width: 750px;
			height: 460px;
		} 
	}
	.form__email {
		padding: 30px;
		text-align: center;
		.form__email-sale {
			padding: 0;
			width: 100%;
			padding-bottom: 20px;
		}
		.text {
			display: inline-block;
			width: 100%;
			text-align: center;
		}
		.timer {
			margin-top: 10px;
			width: 100%;
			text-align: center;
		}
		.line-email {
			display: inline-block;
			max-width: 100%;
		}
	}

}

@media only screen and (max-width : 830px) {
	.causes {
		&__item {
			padding: 5vh 2% 0 2%;
			flex-basis: auto;
		}
		&__pic {
			opacity: .1;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 810px) {
	.button {
		font-size: rem(22);
	}
	::-webkit-input-placeholder { 
		font-size: rem(22);
	}
	::-moz-placeholder { 
		font-size: rem(22);
	}
	:-ms-input-placeholder { 
		font-size: rem(22);
	}
	:-moz-placeholder {
		font-size: rem(22);
	}
	.header {
		background: 70% 50% no-repeat;
		&__text {
			width:100%;
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 30vh;
			font-size: rem(38);
			line-height: 1.4;
		}
	}
	.about {
		&__list {
			padding: 60px;
		}
		&__item {
			align-self: center;
			margin: auto;
			width: 100%;
			margin-bottom: 60px;
			&-text {
				align-self: center;
			}
		}
	}
	.purpose {
		&__list{
			width: 100%;
			margin: 0 auto;
			padding-top: 5%;
		}
		&__item {
			padding-left: 100px; 
			padding-bottom: 40px;
			position: relative;
			counter-increment: li;
			font-size: rem(22);
		}
		.button__wrap {
			display: flex;
			justify-content: center;
			margin-bottom: 60px;
		}
	}
	.publication {
		&__list {
			flex-wrap: wrap;
		}
		&__item {
			margin: auto;
			margin-bottom: 40px;
			flex-basis: auto;
			z-index: 1;
		}
		&__carousel {
			width: 100%;
			margin-bottom: 90px;
			.owl-item-title {
				font-size: rem(24);
			}
			.owl-item-text {
				position: relative;
				padding: 10px 0;
				width: 100%;
				font-size: rem(22);
				line-height: 1.4;
			}
		}
		.icon {
			font-size: rem(100);
			z-index: 10;
		}
		.owl-prev i {	
			left: 5px;
		}
		.owl-next i {
			right: 5px;
		}
	}
	.action {
		background: 70% no-repeat;
		.action__title {
			font-size: rem(36);
		}
		.form-line {
			width: 40%;
			font-size: rem(22);
		}
		.form-button {
			width: 40%;
			font-size: rem(22);
		}
	}

	.header-causes {
		.flex__wrapper {
			padding-top: 15px;
		}
		.header-title {
			padding: 15px 0;
			width: 100%;
			font-size: rem(40)
		}
	}

	.inside {
		iframe {
			width: 550px;
			height: 360px;
		} 
	}
}

@media only screen and (max-width : 650px) {
	.trainer {
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 40px 0;
		}
	}

	.form__select {
		.form__answer {
			display: inline-block;
			width: 100%;
		}
	}
	.form__email {
		.line-email {
			text-align: center;
			width: 100%;
		}
		.form-button {
			margin-top: 10px;
			width: 100%;
		}
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 590px) {
	::-webkit-input-placeholder { 
		text-align: center;
	}
	::-moz-placeholder { 
		text-align: center;
	}
	:-ms-input-placeholder { 
		text-align: center;
	}
	:-moz-placeholder {
		text-align: center;
	}
	.header {
		&__text {
			padding-left: 0;
			padding-right: 0;
			font-size: rem(36);
		}
		.contact {
			justify-content: center;
			&__item {
				flex: 0 100px;
			}
			&__text {
				display: none;
			}
		}
	}
	.about {
		&__list {
			padding: 15px 0;
		}
	}
	.action {
		.action__wrapper {
			padding: 15px;
		}
		.action__text {
			padding: 60px 0;
			width: 100%;
		}
		.form-line {
			width: 100%;
			margin-bottom: 20px;
			margin-right: 0;
			padding-left: 0;
			text-align: center;
		}
		.form-button {
			padding: 15px 0;
			width: 100%;
			border: none;
			border-radius: 30px;
			background: #168fdc;
			color: #fff;
			font-family: "GothamProLight";
			font-size: rem(25);
			margin-bottom: 100px;
			@include transition(transform .5s ease); 
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	.publication {
		.icon {
			bottom: 180px;	
		}
	}

	.inside {
		background: top;
		iframe {
			padding: 10px;
			width: 450px;
			height: 300px;
		} 
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.section__title {
		padding-top: 10%;
		font-size: rem(26);
	}
	.button {
		font-size: rem(18);
	}
	::-webkit-input-placeholder { 
		font-size: rem(18);
	}
	::-moz-placeholder { 
		font-size: rem(18);
	}
	:-ms-input-placeholder { 
		font-size: rem(18);
	}
	:-moz-placeholder {
		font-size: rem(18);
	}

	.header {
		background: 70% 0% no-repeat;
		&__text {
			font-size: rem(32);
		}
	}
	.contact {
		margin: 50px 0;
	}
	.about {
		.wrapper {
			padding: 0;
		}
		&__item {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 20px;
			&-text {
				display: block;
				padding: 0 10px;
				text-align: center;
			}
		}
	}
	.purpose {
		background: 80% 50% no-repeat;
		background-size: cover;
		&__list{
			width: 100%;
		}
		&__item {
			text-align: center;
			padding-left: 0; 
			padding-bottom: 25px;
			font-size: rem(20);
			&:before {
				display: none;			
			}
		}
		&__link {
			padding: 10px 40px;
		} 
	}
	.publication {
		.wrapper {
			padding: 0;
		}
		.icon {
			bottom: 200px;	
		}
	}
	.quote {
		&__text {
			padding: 50px 30px;
			font-size: rem(22);
			&:before {
				font-size: rem(24);
				top: 10px;
			}
			&:after{
				font-size: rem(24);
				bottom: 10px;
			}
		}
	}
	.action {
		background-size: cover;
		.action__title {
			font-size: rem(26);
			padding-bottom: 16px;
			&:before {
				height: 6px;
			} 
		}
		.action__text {
			padding: 60px 0;
			width: 100%;
			font-size: rem(22);
			line-height: 1.2;
			font-family: "GothamProMedium";
		}
	}
	.header-causes {
		background: top;
		.logo-causes img {
			width: 120px;
			height: 120px;
		}
		.header-title {
			padding-bottom: 20px;
			font-size: rem(36)
		}
	}
	.inside {
		iframe {
			width: 300px;
			height: 200px;
		} 
	}
}

@media only screen and (max-width: 450px) {
	.publication {
		&__carousel {
			padding: 15px;
		}
	}
	.publication__controls {
		display: none;
	}
	.footer {
		font-size: rem(16);
	}
	.form__email {
		padding: 30px 3%;

	}
}


@media only screen and (max-width : 1050px) {
	.header-invite {
		min-height: 180vh;
		&:before {
			height: 180vh;
		}
	}
	.bonus {
		padding: 8vh;
		.wrapper {
			display: flex;	
			flex-wrap: wrap;
			justify-content: center;	
		}
		iframe {
			width: 500px;
			height: 281.5px;
		}
		&__text {
			flex-basis: 500px;
			padding: 38px;
		}
	}

	.bonus__thank {
		.iframe__wrap {
			padding-bottom: 40px;
		}
		.bonus__list {
			padding-top: 0;
		}
	}
	.form__invite {
		.form-button {
			margin-top: 25px;
		}
	}
}

@media only screen and (max-width : 960px) {

	.header-invite {
		min-height: 210vh;
		&:before {
			height: 210vh;
		}
	}
	.form__invite {
		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			flex-direction: column;
		}
		.form-line, .form-button {
			width: 82%;
			margin: auto;
			flex-basis: auto;
			text-align: center;
		}
		.form-line {
			margin-bottom: 25px;
		}
	}
}

@media only screen and (max-width : 775px) {

	.header-thank {
		.invite__title {
			padding: 8vh 0;
		}
		height: 30vh;
		&:before {
			height: 30vh;
		}
	}
}  

/* Small Devices, Tablets */
@media only screen and (max-width : 550px) {
	.header-invite {
		min-height: 220vh;
		&:before {
			height: 220vh;
		}
	}

	.bonus {
		iframe {
			width: 400px;
			height: 225px;
		}
		&__text {
			flex-basis: 400px;
			margin-top: 25px;
			padding: 30px 10px;
			p:first-child{
				padding-bottom: 30px;
			}
		}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.header-invite {
		.invite__title {
			padding: 5vh 0;
			font-size: rem(30);
		}
	}
	.header-invite {
		min-height: 190vh;
		&:before {
			height: 190vh;
		}
	}
	.bonus {
		padding: 6vh 0;
		iframe {
			width: 375px;
			height: 210.9375px;
		}
		&__text {
			flex-basis: autox;
			margin-top: 25px;
			padding: 5px;
			font-size: rem(18);
			p:first-child{
				padding-bottom: 20px;
			}
		}
	}
	.bonus__thank {
		.bonus__list {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			padding-top: 20px;
		}
		.bonus__item {
			margin-left: 0;
			margin-bottom: 40px;
			text-align: center;
			flex-basis: 150px;

		}
	}
}


@media only screen and (max-width: 400px)  {

	.header {
		.header__wrap {
			background-size: cover;
			background-position: center; 
		}
	}
}

@media only screen and (max-width: 375px)  {
	.bonus {
		iframe {
			width: 300px;
			height: 168.75px;
		}
	}
}