@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  text-decoration: none;
  outline: none; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue Bold eot.eot?") format("eot"); }

@font-face {
  font-family: "HelveticaLight";
  src: url("fonts/HelveticaNeueCyr-Light eot.eot?") format("eot"); }

@font-face {
  font-family: "HelveticaMedium";
  src: url("fonts/HelveticaNeueCyr-Medium eot.eot?") format("eot"); }

@font-face {
  font-family: "HelveticaMediumItaic";
  src: url("fonts/HelveticaNeueCyr-MediumItaicl eot.eot?") format("eot"); }

@font-face {
  font-family: "HelveticaBold";
  src: url("fonts/HelveticaNeueCyr-Bold eot.eot?") format("eot"); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../fonts/Slick/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/Slick/slick.eot");
  src: url("../fonts/Slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/Slick/slick.woff") format("woff"), url("../fonts/Slick/slick.ttf") format("truetype"), url("../fonts/Slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  top: -55px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #cfcdcd;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #cc302f;
      opacity: 0.75; }

body {
  min-width: 320px;
  position: relative;
  font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

a {
  color: inherit; }

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

/* ------------	LOADER ------------*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001; }

#preloader i {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/preloader.gif") no-repeat 50% 50%;
  margin: -35px 0 0 -35px; }

/* NAVIGATION STYLE */
.navBox {
  background: #db3534;
  position: relative;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(16, 16, 15, 0.5);
          box-shadow: 0px 5px 5px 0px rgba(16, 16, 15, 0.5); }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0; }
  .nav__box {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .nav__list {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 200px;
    left: 0;
    top: 55px;
    padding-left: 20px;
    z-index: 10;
    color: #fff; }
    .nav__list li {
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
      .nav__list li:hover {
        color: #fff; }

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none; }
  .burger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .burger span:nth-child(1) {
    top: 5px; }
  .burger span:nth-child(2) {
    top: 15px; }
  .burger span:nth-child(3) {
    top: 26px; }

.cart__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  color: #fff;
  margin-right: 30px; }
  .cart__link img {
    margin-right: 8px;
    max-width: 100%;
    height: 30px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

.changeLang {
  background: #992524;
  border: none;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.302);
  -webkit-box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 0.7);
  font-size: 1.125rem;
  color: #db3534;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .changeLang:hover {
    color: #fff; }

.searchForm {
  position: relative;
  margin: 0 auto;
  height: 30px; }
  .searchForm .formWrap {
    margin-left: 30px; }
  .searchForm .searchField {
    width: 270px;
    padding: 5px 10px;
    border: none;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.302);
    -webkit-box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 0.7);
            box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 0.7);
    font-size: 1.125rem;
    color: #db3534; }
  .searchForm .searchField:focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .searchForm .searchIcon {
    background: url(../img/icon/search.png) no-repeat transparent;
    position: absolute;
    height: 21px;
    width: 26px;
    top: 5px;
    right: 10px;
    border: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .searchForm ::-webkit-input-placeholder {
    color: #db3534;
    font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
    font-size: 1.25rem; }
  .searchForm :-moz-placeholder {
    color: #db3534;
    font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
    font-size: 1.25rem; }
  .searchForm ::-moz-placeholder {
    color: #db3534;
    font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
    font-size: 1.25rem; }
  .searchForm :-ms-input-placeholder {
    color: #db3534;
    font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
    font-size: 1.25rem; }

/* HEADER STYLE */
.header {
  background: url(../img/header.jpg);
  height: 500px;
  position: relative;
  z-index: 1; }
  .header:before {
    content: '';
    position: absolute;
    bottom: -8px;
    background-image: url(../img/header_triangles.png);
    width: 100%;
    height: 8px; }

.header__content .flexBox {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__content .box {
  max-width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header__content .box-info button {
  padding-left: 0;
  margin-bottom: 5px;
  background: none;
  border: none;
  text-align: left;
  color: #fff;
  font-size: 0.875rem; }
  .header__content .box-info button:active {
    text-decoration: underline; }

.header__content .box-info .social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px; }

.header__content .box-info .social__link {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/social.png) no-repeat; }

.header__content .box-info .vk {
  background-position: -42px 0; }

.header__content .box-info .fb {
  background-position: -84px 0; }

.header__content .box-info .rss {
  background-position: -126px 0; }

.header__content .box-info .google {
  background-position: -168px 0; }

.header__content .box-info .cart__info {
  padding: 0 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-image: -webkit-linear-gradient(90deg, #b02727 0%, #de3635 100%);
  background-image: -ms-linear-gradient(90deg, #b02727 0%, #de3635 100%);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.29);
          box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.29);
  -webkit-transition: -webkit-box-shadow .4s ease;
  transition: -webkit-box-shadow .4s ease;
  -o-transition: box-shadow .4s ease;
  transition: box-shadow .4s ease;
  transition: box-shadow .4s ease, -webkit-box-shadow .4s ease; }
  .header__content .box-info .cart__info:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .header__content .box-info .cart__info img {
    max-width: 60px;
    height: auto; }
  .header__content .box-info .cart__info .cart__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__content .box-info .cart__info .cart__title {
    font-size: 1.25rem; }
  .header__content .box-info .cart__info .cart__details {
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 0.75rem; }
  .header__content .box-info .cart__info p {
    font-family: 'HelveticaLight'; }
  .header__content .box-info .cart__info span {
    font-family: 'HelveticaMedium'; }

.header__content .box-contact {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(1, 1, 1, 0.5); }
  .header__content .box-contact p {
    font-family: 'HelveticaLight';
    font-size: 1.125rem;
    line-height: 1.2; }
  .header__content .box-contact a {
    font-family: 'HelveticaMedium';
    font-size: 1.4375rem;
    line-height: 1.2; }
  .header__content .box-contact button {
    margin-top: 2px;
    padding: 15px;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-image: -webkit-linear-gradient(90deg, #b02727 0%, #de3635 100%);
    background-image: -ms-linear-gradient(90deg, #b02727 0%, #de3635 100%);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.29);
            box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.29);
    -webkit-transition: -webkit-box-shadow .4s ease;
    transition: -webkit-box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
    transition: box-shadow .4s ease, -webkit-box-shadow .4s ease; }
    .header__content .box-contact button:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }

.doors {
  margin-top: 65px; }
  .doors__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .doors img {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease; }
    .doors img:hover {
      -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75); }
  .doors h2 {
    text-align: center;
    font-size: 1.4375rem;
    line-height: 1;
    font-family: "Bebas Neue";
    color: #608b30;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); }
  .doors span {
    font-size: 3.9375rem;
    line-height: 1;
    text-transform: uppercase; }

/* MAIN STYLE  */
main {
  position: relative;
  background: url(../img/background_main.jpg);
  padding-top: 250px; }

.carousel {
  margin-top: 80px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75); }
  .carousel .slide {
    position: relative;
    display: block;
    background: url(../img/photo_slider.jpg) no-repeat 50%;
    max-width: 100%;
    height: 325px;
    margin: auto;
    border: 10px solid #fff; }
  .carousel p {
    padding-top: 100px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(1, 1, 1, 0.75);
    font-size: 4.5rem; }

.infoBox__title {
  text-align: center;
  font-size: 3rem;
  font-family: "Bebas Neue";
  color: #608b30;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); }

.infoBox .flexBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }

.infoBox .infoBox__list li {
  width: 170px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.9375rem;
  color: #438d42;
  -webkit-transition: .3s ease color;
  -o-transition: .3s ease color;
  transition: .3s ease color;
  font-family: "Helvetica"; }
  .infoBox .infoBox__list li:hover {
    color: #db3534; }
  .infoBox .infoBox__list li a {
    display: block; }

.infoBox .infoBox__list, .infoBox .ads {
  width: 170px; }

.infoBox .infoBox__content {
  padding: 20px;
  margin: 0 20px;
  background: url(../img/letter.jpg) no-repeat center/cover;
  position: relative;
  z-index: 100;
  border: 10px solid #fff; }
  .infoBox .infoBox__content p {
    padding-bottom: 20px;
    font-size: 1.125rem;
    font-family: helvetica; }

.infoBox .ads__box {
  color: #000; }
  .infoBox .ads__box p {
    font-family: 'HelveticaLight';
    font-size: 0.9375rem;
    line-height: 1.2; }
  .infoBox .ads__box a {
    font-family: 'HelveticaMedium';
    font-size: 1.25rem;
    line-height: 1.2; }
  .infoBox .ads__box button {
    width: 170px;
    margin-top: 10px;
    padding: 15px;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-image: -webkit-linear-gradient(90deg, #b02727 0%, #de3635 100%);
    background-image: -ms-linear-gradient(90deg, #b02727 0%, #de3635 100%);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.29);
            box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.29);
    -webkit-transition: -webkit-box-shadow .4s ease;
    transition: -webkit-box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
    transition: box-shadow .4s ease, -webkit-box-shadow .4s ease; }
    .infoBox .ads__box button:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }

.infoBox .banner {
  margin: 20px 0; }

footer {
  background: url(../img/header.jpg) center/cover;
  height: 320px;
  margin-top: -150px;
  position: relative; }
  footer:before {
    content: '';
    position: absolute;
    top: -7px;
    background-image: url(../img/header_triangles2.png);
    width: 100%;
    height: 7px; }

/* @import "media.scss"; */
