@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league_gothic_regular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league_gothic_regular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic_regular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic_regular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league_gothic_regular/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic_regular/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans_light/OpenSans-Light-webfont.eot');
    src: url('../fonts/open_sans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open_sans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/open_sans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family:'League Gothic Regular';
}
a {
	text-decoration: none;
	color: #fff;
}
p {
	font-family: 'Open Sans';
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
/* HEADER */
.wrapper {
	height: 846px;
    border-bottom: 1px solid #33253a; 
	background: url(../img/mountains.jpg) no-repeat;
    background-size: cover;
}
header {
	height: 276px;
	width: 960px;
	margin: 0 auto;
}
.header__logo {
	float: left;
    margin-top: 66px;
	font-size: 48px; 
	line-height: 34px;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);	
}
.header__logo span{
	color: rgb(115,79,130); 
}
/* END HEADER */
/* MENU */
.drop__menu {
	display: none;
}
.wrapper__menu {
	float: right;
	margin-top: 66px;
}
.wrapper__menu li {
	display: inline;
}
.wrapper__menu li a {
	display: inline-block;
	margin-left: 49px;
	font-size: 24px;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);	
}
.wrapper__menu li a:hover {
	border-bottom: 2px solid #edbfff;
}
/* END MENU */
/* SLIDER */
.slider {
	height: 400px;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.slider__content {
	width: 960px;
	margin: 0 auto;
}
 .slider__left-arrow {
 	display: block;
 	float: left;
    margin-top: 177px;
    margin-left: 1%;
}
.slider__right-arrow {
 	display: block;
 	float: right;
    margin-top: 177px;
    margin-right: 1%;
} 
.slider__content h2 {
	padding-top: 84px;
	font-size: 60px;
	line-height: 36px;
	color: #fff;
}
.slider__content h3 {
	padding-top: 10px;
	font-size: 36px;
	line-height: 40px;
	color: #edbfff;
    letter-spacing: -1.2px;
}
.slider__content p {
	width: 520px;
	font-size: 18px;
	color: #fff;
}
.slider__image  {
	float: right;
	margin: -336px 70px 0 0;
}
.slider__carousel {
    margin: 18% 0 0 74%;
}
.slider__carousel li {
	float: left;
}
.slider__carousel__link {
	display: block;
	margin-left: 3px;
	width: 20px;
	height: 18px;
	background: url(../img/slider__carousel--grey.png) 0 0 no-repeat;
}
.slider__carousel__link:hover {
	background: url(../img/slider__carousel--white.png) 0 0 no-repeat;
}
/* END SLIDER */
/* SECTION - ABOUT*/
.about {
	margin-top: 164px;
	height: 340px;
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #1d2f37;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#745083+0,33253a+100 */
	background: rgb(116,80,131); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(116,80,131,1) 0%, rgba(51,37,58,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(116,80,131,1) 0%,rgba(51,37,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(116,80,131,1) 0%,rgba(51,37,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#33253a',GradientType=0 ); /* IE6-9 */
}
.about__content {
	width: 960px;
	margin: 0 auto;
}
.about__content section {
	margin: 78px 0 0 65px;
	width: 224px;
	float: left;
	position: relative;
}
.about__icon--left {
	background: url(../img/sprite__about.png) 0 0 no-repeat;
	float: left;
	margin-left: -53px;
	height: 28px;
    width: 28px;
}
.about__icon--center {
	background: url(../img/sprite__about.png) -29px 0 no-repeat;
	float: left;
	margin-left: -53px;
	height: 28px;
    width: 28px;
}
.about__icon--right {
	background: url(../img/sprite__about.png) -58px 0 no-repeat;
	float: left;
	margin-left: -53px;
	height: 28px;
    width: 28px;
}
.about__content .about--2 {
	margin-left: 12.4%;
	margin-right: 4%;
}
.about__content h2 {
	font-size: 30px;
	line-height: 24px;
}
.about__content .about__text {
	margin-top: 10px;
	font-size: 16px;
	line-height: 24px;
}
.about__link {
	margin-top: 20px;
	float: right;
	font-size: 18px;
}
.about__link:hover {
	text-shadow: 1px 1px 1px #fff;
}
/* END SECTION - ABOUT*/
/* SECTION - BLOG*/
.blog {
	background: #f9f9f9;
}
.blog__content {
    width: 960px;
    height: 402px;
    margin: 0 auto;
    padding-top: 86px;
}
.blog__content--left {
	position: relative;
	float: left;
	margin: 2% 0 0% 2%;
	width: 427px;
	height: 292px;
	background: url(../img/blog__left__content.png);
}
.blog__content--left:before {
	display: block;
	position: absolute;
	content: '';
	left: -16px;
	top: 13px;
	width: 49px;
	height: 50px;
	background: url(../img/blog___left__author.png);
}
.blog__content--left h2 {
	padding: 6% 6% 0 11%;
	font-size: 30px;
	line-height: 24px;
}
.blog__content--left span {
	color: #edbfff;
}
.blog__content--left p {
	padding: 3% 6% 0 11%;
	font-size: 16px;
	line-height: 24px;
	color: #454545;
}
.blog__carousel {
	clear: both;
	margin: -4px 0 0 20%;
}
.blog__carousel li {
	float: left;
}
.blog__carousel__link {
	display: block;
	margin-left: 3px;
	width: 19px;
	height: 19px;
	background: url(../img/blog__carousel--white.png) 0 0 no-repeat;
}
.blog__carousel__link:hover {
	background: url(../img/blog__carousel--black.png) 0 0 no-repeat;
}
.blog__content--right {
	margin: -264px -7px 0 0;
	width: 454px;
	height: 285px;
	float: right;
	position: relative;
}
.blog__content--right h2 {
	font-size: 30px;
	line-height: 24px;
}
.blog__content--right--top,
.blog__content--right--middle,
.blog__content--right--bottom {
	font-size: 16px;
	line-height: 24px;
    margin: 20px 0 0 15% ;
}
.blog__content--right__text {
	font-weight: bold;
	letter-spacing: 1.2px;
}
.blog__content--right--top:before{
	content: '';
	position: absolute;
    left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/blog___right__picture1.png) no-repeat;
}
.blog__content--right--middle:before {
	content: '';
	position: absolute;
	left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/blog___right__picture2.png) no-repeat;	
}
.blog__content--right--bottom:before {
	content: '';
	position: absolute;
	left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/blog___right__picture3.png) no-repeat;	
}
.blog__content__link--right {
	float: right;
	margin: 14px 5% 0 0;
	font-size: 18px;
	line-height: 24px;
	color: #000;
}
.blog__content__link--right:hover {
	color: #edbfff;
}
.products {
	height: 120px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.products__brand {
	display: block;
    width: 960px;
    margin: 0 auto;
}
.products li {
	float: left;
	margin: 26px -38px 0 98px;
}
.products a {
	background: url(..//img/sprite__products.png) 0 0 no-repeat;
	display: block;
	height: 70px;
	width: 70px;
}
.products .products__brand--2 {
	background-position: -134px 0;
}
.products .products__brand--3 {
	background-position: -268px 0;
}
.products .products__brand--4 {
	background-position: -400px 0;
}
.products .products__brand--5 {
	background-position: -522px 0;
	width: 110px;
}
.products .products__brand--6 {
	background-position: -682px 0;
	width: 94px;
}
/* END SECTION - BLOG*/
/* PREFOOTER */
.prefooter {
	background: #ececec;
}
.prefooter__content {
	margin: 0 auto;
	padding-top: 98px;
	height: 400px;
	width: 960px;
}
.prefooter__logo a {
	font-size: 48px;
	line-height: 34px;
	color: #454545;
}
.prefooter__logo span {
	color: #B9B9B9;
}
.prefooter__copyright {
	margin: 16px 0 6px 0;
	display: block;
	font: 16px/24px 'Georgia Italic', italic;
	letter-spacing: 1px;
	color: #c5c5c5;
}
.prefooter__left,
.prefooter__center,
.prefooter__right {
	float: left;
	width: 280px;
	height: 200px;
	overflow: hidden;
}
.prefooter__center {
	margin: 0 6%;
}
.prefooter__content h2 {
	font-size:30px;
	line-height: 24px;
	padding-bottom: 10px;
}
.prefooter__text {
	font-size: 16px;
	line-height: 24px;
}
/* END PREFOOTER */
/* FOOTER */
footer {
	clear: both;
	background: url(..//img/footer.jpg);
	height: 115px;
	margin-top: -100px;
}
.footer__content {
	width: 960px;
	margin: 0 auto;
	padding: 36px 0;
}
.footer__menu li {
	display: inline;
	float: left;
	margin-right: 45px;
}
.footer__menu li a {
	font-size: 20px;
	line-height: 34px;
}
.footer__menu li a:hover {
	border-bottom: 2px solid #edbfff;
}
.footer__text--right{
	float: right;
	font-size: 12px;
	line-height: 34px;
	letter-spacing: 0.2px;
	color: #FFF;
}
.footer__text--right span {
	font-weight: bold;
}
/* END FOOTER */

/* 768px */
@media (max-width: 767px) {
/* HEADER @media 767px */
	header {
		width: 100%;
		height: 240px;
	}
	.header__logo {
		line-height: 30px;
		margin-bottom: -30px;
	}
	.wrapper__menu {
		clear: left;
		float: left;
	}
    .wrapper__menu li a {
    	margin: 0 52px 0 0;
    }
/* END HEADER @media 767px */
/* SLIDER @media 767px */
 .slider__content {
	width: 100%;
	margin-left: 30px;
}
.slider__left-arrow {
	margin-left: 0;
}
.slider__right-arrow {
	margin-right: 0;
}  
.slider__content h2 {
    padding-top: 100px; 
	font-size: 48px;
}
.slider__content h3 {
	font-size: 24px;
	line-height: 36px;
}
.slider__content p {
	width: 264px;
	height: 110px;
	font-size: 16px;
	line-height: 26px;
	overflow: hidden;
}
.slider__image  {
	margin: -320px 76px 0 0;
}
.slider__carousel {
    margin: 19% 0 0 67%;
}
/* END SLIDER @media 767px */
/* SECTION - ABOUT @media 767px*/
.about {
 	margin-top: 150px; 
}
.about__content {
	width: 768px;
	margin: 0 auto;
}
.about__content section {
	margin: 76px 0 0 68px;
	width: 156px;
}
.about__content h2 {
	font-size: 24px;
}
.about__content .about__text {
	height: 144px;
	margin-top: 4px;
	overflow: hidden;
}
.about__link {
	margin: 4px 8px 0 0;
}
/* END SECTION - ABOUT @media 767px*/
/* SECTION - BLOG @media 767px**/
.blog__content {
    width: 768px;
    padding-top: 90px;
}
.blog__content--left {
	width: 314px;
    height: 274px;
    margin: 2% 0 19px 2%
}
.blog__content--left:before {
	left: -14px;
	top: 14px;
}
.blog__content--left h2 {
	padding: 8% 0 0 16%;
	font-size: 24px;
}
.blog__content--left span {
	display: block;
}
.blog__content--left p {
	display: inline-block;
	height: 164px;
	padding: 2% 0 0 16%;
	overflow: hidden;
}
.blog__carousel {
	margin-left: 18%;
}
.blog__content--right {
	margin: -262px 40px 0 0;
	width: 330px;
}
.blog__content--right--top,
.blog__content--right--middle,
.blog__content--right--bottom {
    margin: 20px 0 0 20% ;
}
.blog__content--right__posted {
	height: 24px;
	overflow: hidden;
}
.blog__content__link--right {
	margin: 14px 1% 0 0;
}
.products__brand {
    width: 768px;
}
.products li {
	margin: 22px 30px 0 15px;
}
/* END SECTION - BLOG @media 767px*/
/* PREFOOTER @media 767px*/
.prefooter__content {
	width: 768px;
}
.prefooter__logo a {
	font-size: 24px;
	line-height: 24px;
}
.prefooter__left,
.prefooter__center,
.prefooter__right {
	width: 206px;
}
.prefooter__center {
	margin: 0 8%;
}
.prefooter__content h2 {
	font-size:24px;
	line-height: 24px;
	padding-bottom: 6px;
}
/* END PREFOOTER @media 767px*/
/* FOOTER @media 767px*/
footer {
	height: 200px;
	margin-top: -106px;
}
.footer__content {
	width: 768px;
}
.footer__text--right{
	clear: both;
	float: right;
	margin: 3% 5% 0 0;
	letter-spacing: 0.4px;
}
}
/* END FOOTER @media 767px*/
/* END @media 767px*/


@media (max-width: 479px) {
/* HEADER @media 479px */
header {
	width: 280px;
	height: 190px;
}
.header__logo {
	margin-left: 28%;
}
/* END HEADER @media 479px */
/* MENU @media 479px*/
.wrapper__menu {
	float: none;
	display: none;
}
.drop__menu {
	display: inline-block;
	position: relative;
	margin: 135px 0 0 -34%;
}
.drop__menu:hover .dropdown__menu {
	position: absolute;
	top: -16px;	
	left: -104px;
	background-color: #2b2231;
	opacity: 0.8;
}
.dropdown__menu {
  position:absolute;
  left: -99999px;
  text-align: center;
  opacity:0;
}
.dropdown__link {
	font-size: 24px;
	line-height: 24px;
}
.dropdown__menu__link {
	font-size: 24px;
	line-height: 24px;
}
.dropdown__menu__item {
  border-top: 1px solid #5f486a;
  border-bottom: 2px solid #36283e;
  height: 36px; 
  padding-top: 15px;
  width: 245px;
}
.dropdown__menu__item:hover {
  background-color: rgba(45, 36, 51, 0.3);
  border-bottom: 2px solid #edbfff;
}
.dropdown__menu__link:hover {
  text-shadow: 2px 3px 5px #FFF;
}
/* END MENU @media 479px */
/* SLIDER @media 479px*/
.slider {
	height: 250px;
	width: 100%;
}
.slider__content {
	width: 480px;
	margin: 0 auto;
}
.slider__left-arrow {
	margin-top: 108px;
	margin-left: 1%;
}
.slider__right-arrow {
   margin-top: 108px;
   margin-right: 1%;
}  
.slider__content h2 {
 	padding-top: 100px; 
 	padding-left: 10%;
 	font-size: 36px;
 	line-height: 24px;
}
.slider__content h3 {
 	padding-left: 10%;
 	font-size: 18px;
 	line-height: 20px;
}
.slider__content p {
	display: none;
}
.slider__image  {
	margin: -162px 26px 0 0;
}
.slider__image img {
	height: 260px;
	width: 180px;
}
.slider__carousel {
    margin: 24% 0 0 44%;
}
/* END SLIDER @media 479px */
/* SECTION - ABOUT @media 479px*/
.about {
	height: 600px;
	width: 480px;
    margin-top: 98px;
 }
.about__content section {
    width: 380px; 
	float: none;
}
 .about__content .about--1 {
    margin: 78px 0 0 92px;
 }
 .about__content .about--2 {
 	margin: -16px 0 0 92px;
}
 .about__content .about--3 {
    margin: -12px 0 0 92px;
 }
.about__content h2 {
	font-size: 24px;
} 
.about__content .about__text {
	font-size: 16px;
	line-height: 24px;
}
.about__link {
	margin-top: -61px;
}
/* END SECTION - ABOUT @media 479px*/
/* SECTION - BLOG @media 479px**/
.blog__content {
    width: 480px;
    height: 722px;
    margin: 0px 7%;
    padding-top: 60px;
}
.blog__content--left {
	display: block;
	float: none;
	margin: 2% 0 0% 2%;
	width: 427px;
}
.blog__content--left h2 {
	padding: 6% 6% 0 11%;
	font-size: 30px;
	line-height: 24px;
}
.blog__content--left span {
	display: inline-block;
}
.blog__content--left p {
	padding: 4% 6% 0 11%;
}
.blog__carousel {
	display: inline-block;
	margin: 17px 0 0 37%;
}
.blog__content--right {
	margin: 46px 0 0 12%;
	width: 454px;
	height: 285px;
	float: none;
	position: relative;
}
.blog__content--right__posted {
	width: 256px;
}
.blog__content--right h2 {
	display: inline-block;
}
.blog__content--right--top,
.blog__content--right--middle,
.blog__content--right--bottom {
	font-size: 16px;
	line-height: 23px;
	margin: 20px 0 0 15%;
}
.blog__content__link--right {
	margin: 14px 26% 0 0;
}
.products {
	height: 230px;
}
.products__brand {
    width: 480px;
}
.products li {
	float: left;
	margin: 36px -35px 0 90px;
}
.products__brand .products__brand__item--4,
.products__brand .products__brand__item--5,
.products__brand .products__brand__item--6 {
	margin: 20px -32px 0 70px;
}
/* END SECTION - BLOG @media 479px**/
/* PREFOOTER @media 479px*/
.prefooter__content {
	height: 666px;
	width: 480px;
}
.prefooter__left,
.prefooter__center,
.prefooter__right {
	float: none;
	width: 440px;
	height: 234px;
	overflow: hidden;
	margin: -54px 0 0 6%;
}
.prefooter__center {
	margin: -10px 6%; 
}
.prefooter__content h2 {
	font-size: 24px;
}
.prefooter__text {
	font-size: 16px;
	line-height: 24px;
}
/* END PREFOOTER @media 479px*/
/* FOOTER @media 479px*/
footer {
	height: 200px;
	margin-top: -100px;
}
.footer__content {
	width: 480px;
}
.footer__menu li {
	display: inline;
	float: right;
	margin-right: 28px;
}

.footer__text--right{
	margin-top: 50px;
	float: none;
	text-align: center;
}
}
/* END FOOTER @media 479px */
/* 479px */

@media (max-width: 319px) {
/* 	319px */
/* HEADER @media 319px */
header {
	width: 280px;
	height: 190px;
}
.header__logo {
	margin-left: 28%;
}
/* END HEADER @media 319px */
/* MENU @media 319px*/
.wrapper__menu {
	float: none;
	display: none;
}
.drop__menu {
	display: inline-block;
	position: relative;
	margin: 135px 0 0 -34%;
}
.drop__menu:hover .dropdown__menu {
	position: absolute;
	top: -16px;	
	left: -104px;
	background-color: #2b2231;
	opacity: 0.8;
}
.dropdown__menu {
  position:absolute;
  left: -99999px;
  text-align: center;
  opacity:0;
}
.dropdown__link {
	font-size: 24px;
	line-height: 24px;
}
.dropdown__menu__link {
	font-size: 24px;
	line-height: 24px;
}
.dropdown__menu__item {
  border-top: 1px solid #5f486a;
  border-bottom: 2px solid #36283e;
  height: 36px; 
  padding-top: 15px;
  width: 245px;
}
.dropdown__menu__item:hover {
  background-color: rgba(45, 36, 51, 0.3);
  border-bottom: 2px solid #edbfff;
}
.dropdown__menu__link:hover {
  text-shadow: 2px 3px 5px #FFF;
}
/* END MENU @media 319px */
/* SLIDER @media 319px*/
.slider {
	height: 250px;
	background: rgba(0, 0, 0, 0);
}
.slider__content {
	width: 280px;
}
.slider__left-arrow {
	margin-top: 108px;
	margin-left: 0;
}
.slider__right-arrow {
   margin-top: 108px;
   margin-right: 0;
}  
.slider__content h2 {
 	padding-top: 110px; 
 	padding-left: 20%;
 	font-size: 36px;
 	line-height: 24px;
}
.slider__content h3 {
 	padding-left: 20%;
 	font-size: 18px;
 	line-height: 20px;
}
.slider__content p {
	display: none;
}
.slider__image  {
	margin: -162px 26px 0 0;
}
.slider__image img {
	display: none;
}
.slider__carousel {
    margin: 24% 0 0 41%;
}
/* END SLIDER @media 319px */
/* SECTION - ABOUT @media 319px*/
.about {
	height: 600px;
    margin-top: 66px;
 }
.about__content section {
    width: 200px; 
	float: none;
}
 .about__content .about--1 {
    margin: 70px 0 0 96px;
 }
 .about__content .about--2 {
 	margin: 54px 0 0 96px;
}
 .about__content .about--3 {
    margin: 68px 0 0 96px;
 }
.about__content h2 {
	font-size: 24px;
} 
.about__content .about__text {
	height: 76px;
	font-size: 16px;
	line-height: 24px;
	overflow: hidden;
}
.about__link {
	margin: 10px -12px 0 0;
}
/* END SECTION - ABOUT @media 319px*/
/* SECTION - BLOG @media 319px**/
.blog__content {
    width: 320px;
    height: 716px;
    margin: 0px 12%;
    padding-top: 66px;
}
.blog__content--left {
	display: block;
	float: none;
	margin: 2% 0 0% 2%;
	width: 260px;
}
.blog__content--left h2 {
	padding: 8% 6% 0 19%;
	font-size: 24px;
	line-height: 24px;
}
.blog__content--left span {
	display: block;
}
.blog__content--left p {
	padding: 1% 6% 0 20%;
}
.blog__carousel {
	margin: 17px 0 0 36%;
}
.blog__content--right {
	margin: 46px 0 0 -2%;
	width: 280px;
	height: 285px;
	float: none;
	position: relative;
}
.blog__content--right__text {
	height: 26px;
	overflow: hidden;
}
.blog__content--right__posted {
	width: 256px;
}
.blog__content--right h2 {
	display: inline-block;
}
.blog__content--right--top,
.blog__content--right--middle,
.blog__content--right--bottom {
	font-size: 16px;
	line-height: 24px;
	margin: 17px 0 0 24%;
}
.blog__content__link--right {
	margin: 14px 26% 0 0;
}
.products {
	height: 424px;
}
.products__brand {
    width: 320px;
}
.products li {
	float: left;
	margin: 54px -35px 0 84px;
}
.products li:nth-child(5){
	margin: 35px -44px 0 50px;
}
.products li:nth-child(6){
	margin-top: 35px;
}
/* END SECTION - BLOG @media 319px**/
/* PREFOOTER @media 319px*/
.prefooter__content {
	display: none;
}
/* END PREFOOTER @media 319px*/
/* FOOTER @media 319px*/
footer {
	height: 200px;
}
.footer__content {
	width: 320px;
}
.footer__menu {
	display: none;
}
.footer__text--right{
	margin-top: 50px;
	float: none;
	text-align: center;
}
}
/* END FOOTER @media 319px */
/* 319px */
/* HAPPY END */ 
