/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .top__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .top__header .right__side {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%;
      margin: 0 auto; }
    .top__header .logo {
      text-align: center;
      width: 100%; }
    .top__header .nav__list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .top__header .nav__item {
      margin-right: 8px; }
    .top__header .nav__item a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1.25rem; }
    .top__header .insta {
      margin: 0; }
    .top__header address {
      text-align: center;
      margin-top: 0; }
  .center__header {
    width: 100%;
    margin-top: 30px; }
    .center__header .slogan-title {
      text-align: center; }
    .center__header .slogan-detail {
      margin-top: 30px; }
    .center__header .slogan-left img {
      margin: auto;
      text-align: center; }
    .center__header .slogan-info {
      font-size: 2.25rem;
      line-height: 48px; }
    .center__header .flex {
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .center__header .slider {
      width: 300px; }
  .info__wrap {
    width: 80%;
    margin-top: 30px; }
  .info__text {
    font-size: 1.625rem;
    line-height: 36px; }
  .info .attention {
    width: 160px; }
  .info .info__form {
    margin: 40px 0; }
    .info .info__form .flex-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .info .info__form .line-mail {
      margin-left: 0; }
    .info .info__form .form-line {
      width: 80%; }
  .info .selectize-input {
    width: 80%; }
  .header__page2 {
    min-height: 720px; }
  .set {
    padding: 80px 0; }
    .set-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 50px 0; }
    .set .box__info {
      padding-left: 15px; }
    .set .gallery__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 15px;
      width: 450px; }
    .set .big img {
      width: 450px; }
    .set .fluid img {
      width: 225px; }
  .info-pg2 .flex-wrap {
    padding-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info-pg2 .line-width {
    width: 500px;
    margin-right: 25px; }
  .info-pg2 .form-num {
    width: 230px; }
  .info-pg2 .form-text {
    width: 230px;
    margin-left: 35px; }
  .info-pg2 .flex-click {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .footer-pg2 .nav__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-pg2 .law__link:first-child {
    padding-right: 0; }
  .footer-pg2 .law__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
    min-height: 800px;
    padding-top: 15px; }
  .center__header .slogan-title {
    font-size: 1.5rem; }
  .center__header .slogan-detail {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 0; }
  .center__header .slogan-left {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0; }
    .center__header .slogan-left img {
      max-width: 130px;
      display: none; }
  .center__header .slogan-right {
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-top: 15px; }
  .center__header .slogan-info {
    font-size: 2rem;
    line-height: 40px; }
  .center__header .flex {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .center__header .slider {
    width: 300px;
    margin: 20px auto; }
  .info__wrap {
    width: 80%;
    margin-top: 30px; }
  .info .info__form .flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .info .form-link {
    margin-top: 30px; }
  .footer {
    padding: 30px 0; }
    .footer .flex-wrap {
      padding-left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer .flex-left {
      width: 95%;
      margin: auto;
      text-align: left; }
    .footer .flex-right {
      width: 100%; }
    .footer .nav__list {
      margin-left: 2.5%;
      margin-top: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .footer .mb {
      margin-bottom: 15px; }
    .footer .mob {
      padding-left: 15px; }
    .footer .law__link {
      display: block;
      width: 100%; }
    .footer span {
      padding-left: 15px; }
  .header__page2 {
    min-height: 760px;
    padding-top: 20px; }
  .center__header-pg2 {
    padding-left: 0;
    padding-top: 40px;
    width: 100%; }
    .center__header-pg2 .title {
      font-size: 1.625rem;
      line-height: 36px; }
    .center__header-pg2 .userName {
      font-size: 2.25rem; }
    .center__header-pg2 .text {
      font-size: 1.375rem;
      line-height: 34px; }
    .center__header-pg2 .next {
      width: 109px;
      display: block;
      font-size: 0.875rem;
      line-height: 30px;
      z-index: 10000; }
    .center__header-pg2 .icon {
      text-align: center;
      display: block;
      font-size: 2.875rem; }
  .set {
    padding: 80px 0; }
    .set-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 50px 0; }
    .set .box-img {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .set .box__info {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      padding-left: 0; }
    .set__item a {
      padding: 10px 0 10px 0; }
    .set .gallery__list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 15px;
      width: 100%; }
    .set .gallery__item {
      margin: 5px; }
    .set .big img {
      width: 100%;
      margin: auto; }
    .set .fluid img {
      width: inherit;
      margin: auto; }
  .info-pg2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto; }
    .info-pg2 .info__wrap {
      padding-left: 0; }
    .info-pg2 .line-width {
      width: 100%;
      margin: 10px auto; }
    .info-pg2 .form-num {
      width: 45%;
      margin: 20px auto; }
    .info-pg2 .form-text {
      width: 45%;
      margin-left: 7%; }
    .info-pg2 .flex-click {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .top__header {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .top__header__item {
      display: none;
      padding: 0;
      margin: 0;
      text-align: center;
      background: rgba(112, 105, 100, 0.6); }
    .top__header .showMe {
      display: block; }
    .top__header .name__hidden {
      width: 50%;
      text-align: left;
      margin-left: 25px;
      display: block;
      font-size: 1.25rem;
      font-family: "GothamProMedium"; }
    .top__header .logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin: inherit; }
      .top__header .logo img {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; }
      .top__header .logo__text {
        text-align: left; }
    .top__header .nav {
      display: none; }
    .top__header .nav__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .top__header .nav__item {
      margin: 6px 8px 6px 0; }
    .top__header .nav__item a {
      font-size: 1rem; }
    .top__header address {
      text-align: left;
      font-size: 0.875rem;
      margin-top: 6px; }
  .center__header .slogan-title {
    font-size: 1.25rem; }
  .center__header .slogan-detail {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 0; }
  .center__header .slogan-info {
    font-size: 1.625rem;
    line-height: 30px; }
  .center__header [data-tooltip] {
    display: none; }
  .info__text {
    font-size: 1.625rem;
    line-height: 30px; }
  .info__wrap {
    width: 100%; }
  .info .info__form .form-line {
    line-height: 20px;
    width: 100%; }
  .info .info__form .click {
    margin: auto; }
  .selectize-control.single .selectize-input {
    width: 100%;
    font-size: 1.125rem;
    line-height: 40px;
    height: 40px; }
  .footer .flex-left {
    width: 100%; }
  .footer .nav__list {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer .nav__item a {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem; }
  .center__header-pg2 .title {
    font-size: 1.5rem;
    line-height: 30px; }
  .center__header-pg2 .userName {
    font-size: 1.875rem; }
  .center__header-pg2 .text {
    font-size: 1.25rem;
    line-height: 30px; }
  .center__header-pg2 .icon {
    text-align: center;
    display: block;
    font-size: 2.5rem; } }

/* Custom, iPhone Retina */
