@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

header {
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	padding: 8px 0;
	background: @black;
	opacity: 1;
	transition: opacity .3s linear;

	.contact {
		display: flex;
		align-items: center;
	}

	.header__logo {
		flex-basis: 11%;
		transition: all .3s linear;
	}

	.header__nav {
		flex-basis: 50%;
	}

	.header__link {
		position: relative;
		margin-right: 20px;

		transition: color .3s ease-in-out;
		&:before {
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			background-color: @red;
			transition: width .3s ease-in-out, left .3s ease-in-out;
			left: 50%;
			bottom: -5px;
		}
		&:after{
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			background-color: @red;
			transition: width .3s ease-in-out;
			left: 50%;
			bottom: -5px;
		}
		&:hover {
			&:before {
				width: 50%;
				left: 0;
			}
			&:after {
				width: 50%;
			}
		}
	}

	.contact {
		flex-basis: 25%;
	}

	.contact__item {
		list-style-type: none;
	}

	.contact__link {
		margin-right: 10px;
	}

	.btn {
		box-shadow: 1.046px 14.963px 19.14px 2.86px rgba(63, 69, 109, 0.1),0.349px 4.988px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		transition: box-shadow .3s linear;

		&:hover, &:focus {
			box-shadow: none;
		}
	}

	.tel {
		margin-left: 30px;
		transition: color .3s ease-in-out;
		&:hover {
			color: @red;
		}
	}
}



.header {
	background: url(../images/hero__images.jpg)no-repeat center/cover;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	z-index: 1;

	.container {
		height: 860px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50px;
			width: 15px;
			height: 124px;
			background: @blue;
			opacity: .55;
			z-index: -1;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__center {
		padding-top: 250px;
	}

	&__title {
		position: relative;
		font-size: 55px;
		font-weight: 900;
		letter-spacing: 2px;
		color: #fff;
		z-index: 10;

		span {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 12px;
				background: @blue;
				z-index: -1;
			}
		}
	}

	&__slogan {
		padding-top: 20px;
		font-size: 45px;
		font-weight: 300;
		position: relative;
		z-index: 2;
	}

	&__img {
		display: block;
		position: absolute;
		bottom: -130px;
		right: -180px;
		z-index: 1;
	}

	&__circle {
		display: block;
		position: absolute;
		z-index: 0;
		top: -110px;
		left: -540px;
	}

	&__decor {
		position: absolute;
		left: 400px;
		bottom: 150px;

		animation: pulsed 2.5s linear infinite;
	}
}



.arr-down {
	display: none;

	@media @desktop {
		display: block;
		position: absolute;
		bottom: 40px;
		left: 40px;
		display: block;
		width: 40px;

		animation: arrow-bounce 2s infinite;
		z-index: 10;

		&:hover {
			animation-play-state: paused;
		}
	}
}

.decorSection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




#fixedTopMenu.fixed{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	animation: smoothScroll .5s linear;
	transition: all .3s linear;

	.header__logo img {
		max-width: 45px;
	}

	.btn {
		height: 33px;
	}
}

#fixedTopMenu.menuHide{
	opacity: 0;
	transition: opacity .3s linear;
	animation: antiSmoothScroll .5s linear;

	.header__logo img {
		max-width: 45px;
	}

	.btn {
		height: 33px;
	}
}

#fixedTopMenu.menuDefault{
	opacity: 1;

}

#fixedTopMenu.menuResize{

	.header__logo img {
		max-width: inherit;
	}

	.btn {
		height: 40px;
	}
}




.ico_shape1, .ico_shape10, .ico_shape12, .ico_shape4, .ico_shape8, .ico_shape9, .ico_shape7, .ico_shape16, .ico_shape3, .ico_shape15, .ico_shape6, .ico_shape14, .ico_shape2, .ico_shape13, .ico_shape17, .ico_shape5, .ico_shape11 {
	display: inline-block;
	background-image: url(../images/decor/spritebox-sprite.png);
	background-repeat: no-repeat;
	position: absolute;

}

.ico_shape1 {
	background-position: -0px -0px;
	height: 57px;
	width: 57px;

	top: 180px;
	left: 160px;
}


.ico_shape2 {
	background-position: -18px -98px;
	height: 16px;
	width: 16px;

	top: 140px;
	left: 380px;
}

.ico_shape3 {
	background-position: -114px -63px;
	height: 18px;
	width: 18px;

	top: 225px;
	left: 525px;
}

.ico_shape4 {
	background-position: -37px -57px;
	height: 33px;
	width: 30px;

	top: 135px;
	left: 710px;
}

.ico_shape5 {
	background-position: -84px -98px;
	height: 13px;
	width: 26px;

	top: 210px;
	left: 915px;
}

.ico_shape6 {
	background-position: -0px -98px;
	height: 18px;
	width: 18px;

	top: 150px;
	right: 840px;
}

.ico_shape7 {
	background-position: -114px -24px;
	height: 21px;
	width: 22px;

	top: 135px;
	right: 640px;
}

.ico_shape8 {
	background-position: -67px -57px;
	height: 28px;
	width: 22px;

	top: 85px;
	right: 430px;
}

.ico_shape9 {
	background-position: -114px -0px;
	height: 24px;
	width: 28px;

	top: 150px;
	right: 50px;
}

.ico_shape10 {
	background-position: -57px -0px;
	height: 57px;
	width: 57px;

	top: 225px;
	right: 88px;
}

.ico_shape11 {
	background-position: -37px -90px;
	height: 7px;
	width: 33px;

	top: 540px;
	left: 150px;
}

.ico_shape12 {
	background-position: -0px -57px;
	height: 41px;
	width: 37px;

	top: 645px;
	left: 80px;
}

.ico_shape13 {
	background-position: -34px -98px;
	height: 15px;
	width: 25px;

	top: 735px;
	left: 470px;
}

.ico_shape14 {
	background-position: -114px -81px;
	height: 16px;
	width: 16px;

	top: 385px;
	right: 200px;
}

.ico_shape15 {
	background-position: -89px -57px;
	height: 18px;
	width: 18px;

	bottom: 125px;
	left: 230px;
}

.ico_shape16 {
	background-position: -114px -45px;
	height: 18px;
	width: 18px;

	top: 475px;
	right: 50px;
}

.ico_shape17 {
	background-position: -59px -98px;
	height: 15px;
	width: 25px;

	bottom: 85px;
	right: 70px;
}

.ico_shape18 {
	display: inline-block;
	background-image: url(../images/decor/shape18.png);
	background-repeat: no-repeat;
	position: absolute;

	width: 62px;
	height: 58px;

	top: 600px;
	right: 90px;
}
