@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	
	padding: 8px 0;
	background: @black;
	opacity: 1;
	transition: opacity .3s linear;

	.contact {
		order: 2;
		display: flex;
		align-items: center;
		@media @desktop {
			order: inherit;
		}
	}

	.header__logo {
		order: 1;
		flex: 1;
		transition: all .3s linear;

		@media @desktop {
			order: inherit;
			flex: inherit;
			flex-basis: 7%;
		}
		@media @desktop-xl {
			flex-basis: 11%;
		}
		@media @desktop-xl-2 {

		}
	}

	.header__logo img {
		max-width: 55px;

		@media @tablet {
			max-width: 45px;
		}

		@media @desktop-xl-2 {
			max-width: 100%;
		}
		
	}

	.header__nav {
		display: flex;
		order: 3;
		margin-left: 10px;
		@media @tablet {

		}
		@media @desktop {
			flex-basis: 48%;
			order: inherit;
		}
		@media @desktop-xl {
			flex-basis: 50%;
		}
	}

	.nav__list {
		display: flex;
		flex-direction: column;
		padding-left: 25px;
		

		@media @desktop {
			flex-direction: row;
			align-items: center;
			padding-left: inherit;
		}
	}

	.nav__item {
		margin-top: 25px;
		list-style-type: none; 
		font-size: 18px;

		@media @desktop {
			margin-top: inherit;
			font-size: inherit;
		}


	}

	.header__link {
		display: block;
		position: relative;

		@media @desktop {
			margin-right: 7px;
		}

		@media @desktop-xl {
			margin-right: 20px;
		}

		transition: color .3s ease-in-out;
		&:before {
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			background-color: @red;
			transition: width .3s ease-in-out, left .3s ease-in-out;
			left: 50%;
			bottom: -5px;
		}
		&:after{
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			background-color: @red;
			transition: width .3s ease-in-out;
			left: 50%;
			bottom: -5px;
		}
		&:hover {
			&:before {
				width: 50%;
				left: 0;
			}
			&:after {
				width: 50%;
			}
		}
	}

	.contact {
		
		@media @desktop {
			flex-basis: 27%;
		}
		@media @desktop-xl {
			flex-basis: 25%;
		}
	}

	.contact__item {
		list-style-type: none;

	}

	.contact__link {
		margin-right: 5px;
		@media @desktop-xl {
			margin-right: 10px;
		}
	}

	.smm {
		img {
			width: 30px;
			height: 30px;
		}
		@media @tablet {
			display: block;	
		}
	}

	.btn {
		box-shadow: 1.046px 14.963px 19.14px 2.86px rgba(63, 69, 109, 0.1),0.349px 4.988px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		transition: box-shadow .3s linear;
		text-align: center;
		display: none;

		&:hover, &:focus {
			box-shadow: none;
		}

		@media @desktop {
			width: 185px;
			display: block;
		}
		@media @desktop-xl {
			height: 33px;
			width: 200px;
		}
		@media @desktop-xl-2 {
			height: 40px;
		}
	}

	.tel {
		transition: color .3s ease-in-out;
		&:hover {
			color: @red;
		}
		span {
			display: none;
		}

		@media @tablet {
			margin-left: 10px;

			img {
				display: none;
			}
			span {
				display: inline-block;
			}
		}
		@media @desktop-xl {
			margin-left: 30px;
		}
	}
}



.header {
	background: url(../images/hero__images.jpg)no-repeat center/cover;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	z-index: 1;

	.container {
		height: 90vh;
		max-height: 450px;
		position: relative;

		@media only screen 
		and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) { 
			height: 450px;
		}

		@media only screen 
		and (device-width : 414px) 
		and (device-height : 736px) 
		and (-webkit-device-pixel-ratio : 3) { 
			height: 450px;
		}

		@media only screen 
		and (device-width : 736px) 
		and (device-height : 414px) 
		and (-webkit-device-pixel-ratio : 3)
		and (orientation : landscape) { 
			height: 360px;
		}



		@media @tablet {
			height: 450px;
			max-height: inherit;
		}
		@media @desktop {
			height: 560px;
		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {
			height: 860px;
		}

		&:before {
			@media @desktop {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50px;
				width: 15px;
				height: 124px;
				background: @blue;
				opacity: .55;
				z-index: -1;
			}
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__center {
		margin: auto;
		max-width: 360px;
		padding-top: 17vh;
		text-align: left;

		@media only screen 
		and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) { 
			padding-top: 55px;
		}

		@media only screen 
		and (device-width : 414px) 
		and (device-height : 736px) 
		and (-webkit-device-pixel-ratio : 3) { 
			padding-top: 60px;
		}

		@media @tablet {
			padding-top: 100px;
			max-width: 450px;
			margin: initial;
		}

		@media only screen 
		and (min-device-width : 375px) 
		and (max-device-width : 812px) 
		and (-webkit-device-pixel-ratio : 3)
		and (orientation : landscape) {
			padding-top: 60px;
		}

		@media @desktop {
			padding-top: 125px;
			max-width: inherit;

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			padding-top: 250px;
		}
	}

	&__title {
		position: relative;
		font-size: 23px;
		
		color: #fff;
		z-index: 10;

		@media only screen and (min-device-width : 360px) { 
			font-size: 27px;
			font-weight: 900;
		}

		@media @tablet {
			font-size: 30px;
		}
		@media @desktop {
			max-width: inherit;
			font-size: 45px;
			letter-spacing: 2px;
		}
		@media @desktop-xl {
			font-size: 50px;
		}
		@media @desktop-xl-2 {
			font-size: 55px;
		}

		br {
			display: none;
			@media @desktop {
				display: inline-block;
			}
		}

		span {
			position: relative;
			&:before {
				@media @desktop {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 8px;
					background: @blue;
					z-index: -1;
				}
				@media @desktop-xl {
					height: 10px;
				}
				@media @desktop-xl-2 {
					height: 12px;
				}
			}
		}
	}

	&__slogan {
		padding-top: 10px;
		font-size: 23px;
		font-weight: 400;
		position: relative;
		z-index: 2;

		@media @tablet {
			padding-top: 20px;
			font-size: 30px;
			font-weight: 300;
		}
		@media @desktop {
			font-size: 45px;
		}
		@media @desktop-xl {
			font-size: 40px;
		}
		@media @desktop-xl-2 {
			font-size: 45px;
		}
	}

	&__img {
		display: none;

		@media @desktop {
			display: block;
			position: absolute;
			z-index: 1;

			width: 550px;
			right: -130px;
			bottom: -140px;
		}
		@media @desktop-xl {
			width: 680px;
			right: -130px;
			bottom: -160px;
		}
		@media @desktop-xl-2 {
			width: 859px;
			right: -180px;
		}
	}

	&__circle {
		display: none;

		@media @desktop-xl {
			display: block;
			position: absolute;
			z-index: 0;
			top: -150px;
			left: -350px;
		}
		@media @desktop-xl-2 {
			left: -430px;
		}
	}

	&__decor {
		display: none;

		@media @desktop {
			display: block;
			position: absolute;
			width: 250px;
			left: 440px;
			bottom: 15px;

			animation: pulsed 2.5s linear infinite;
		}
		@media @desktop-xl {
			width: 310px;
			left: 510px;
			bottom: 45px;
		}
		@media @desktop-xl-2 {
			left: 400px;
			bottom: 125px;
		}
	}


	.girl {
		content: '';
		display: block;
		position: absolute;

		width: 300px;
		height: 286px;
		right: -10px;
		bottom: -34px;

		background: url(../images/girl-sm.png)no-repeat center/contain;


		@media @mobile-xl {
			bottom: -10px;
		}


		@media only screen 
		and (device-width : 414px) 
		and (device-height : 736px) 
		and (-webkit-device-pixel-ratio : 3) { 
			bottom: -60px;
		}

		@media only screen 
		and (min-device-width : 568px) 
		and (max-device-width : 812px) 
		and (orientation : landscape) {
			bottom: -60px;
		}

		

		@media @tablet {
			width: 500px;
			height: 477px;
			right: -25px;
			bottom: -90px;

			background: url(../images/girl-med.png)no-repeat center/contain;
		}

		@media only screen 
		and (min-device-width : 375px) 
		and (max-device-width : 812px) 
		and (-webkit-device-pixel-ratio : 3)
		and (orientation : landscape) {
			right: -60px;
			bottom: -30px;
		}

		@media only screen 
		and (-webkit-device-pixel-ratio: 3) 
		and (device-height: 812px) 
		and (device-width: 375px) {
			bottom: -30px;
		}

		@media only screen 
		and (device-width : 736px) 
		and (device-height : 414px) 
		and (-webkit-device-pixel-ratio : 3)
		and (orientation : landscape) { 
			right: 0;
		}

		@media @desktop {
			display: none;
		}
	}


}



.arr-down {
	display: none;

	@media @desktop {
		display: block;
		position: absolute;
		bottom: 40px;
		left: 40px;
		display: block;
		width: 40px;

		animation: arrow-bounce 2s infinite;
		z-index: 10;

		&:hover {
			animation-play-state: paused;
		}

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			bottom: 40px;
		}
	}
}



#fixedTopMenu.fixed{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	animation: smoothScroll .5s linear;
	transition: all .3s linear;

	.header__logo img {
		max-width: 45px;
	}

	.btn {
		height: 33px;
	}
}

#fixedTopMenu.menuHide{
	opacity: 0;
	transition: opacity .3s linear;
	animation: antiSmoothScroll .5s linear;

	.header__logo img {
		max-width: 45px;
	}

	.btn {
		height: 33px;
	}
}

#fixedTopMenu.menuDefault{
	opacity: 1;
}

#fixedTopMenu.menuResize{

	@media @desktop-xl-2 {
		.header__logo img {
			max-width: inherit;
		}

		.btn {
			height: 40px;
		}
	}	
}




.ico_shape1, .ico_shape10, .ico_shape12, .ico_shape4, .ico_shape8, .ico_shape9, .ico_shape7, .ico_shape16, .ico_shape3, .ico_shape15, .ico_shape6, .ico_shape14, .ico_shape2, .ico_shape13, .ico_shape17, .ico_shape5, .ico_shape11 {
	display: none;
	@media @desktop-xl {
		display: inline-block;
		background-image: url(../images/decor/spritebox-sprite.png);
		background-repeat: no-repeat;
		position: absolute;
	}
}

.ico_shape1 {
	background-position: -0px -0px;
	height: 57px;
	width: 57px;

	top: 120px;
	left: 30px;

	@media @desktop-xl {
		top: 120px;
		left: 30px;
	}
	@media @desktop-xl-2 {
		top: 180px;
		left: 160px;
	}
}

.ico_shape2 {
	background-position: -18px -98px;
	height: 16px;
	width: 16px;

	top: 140px;
	left: 380px;
}

.ico_shape3 {
	background-position: -114px -63px;
	height: 18px;
	width: 18px;

	top: 225px;
	left: 525px;
}

.ico_shape4 {
	background-position: -37px -57px;
	height: 33px;
	width: 30px;

	top: 135px;
	left: 710px;

	@media @desktop-xl {
		top: 135px;
		left: 950px;
	}
	@media @desktop-xl-2 {
		top: 135px;
		left: 710px;
	}
}

.ico_shape5 {
	background-position: -84px -98px;
	height: 13px;
	width: 26px;

	top: 210px;
	left: 915px;
}

.ico_shape6 {
	background-position: -0px -98px;
	height: 18px;
	width: 18px;

	top: 150px;
	right: 840px;
}

.ico_shape7 {
	background-position: -114px -24px;
	height: 21px;
	width: 22px;

	top: 135px;
	right: 640px;

	@media @desktop-xl {
		top: 100px;
		right: 640px;

	}
	@media @desktop-xl-2 {
		top: 135px;
		right: 640px;
	}
}

.ico_shape8 {
	background-position: -67px -57px;
	height: 28px;
	width: 22px;

	top: 85px;
	right: 430px;
}

.ico_shape9 {
	background-position: -114px -0px;
	height: 24px;
	width: 28px;

	top: 150px;
	right: 50px;
}

.ico_shape10 {
	background-position: -57px -0px;
	height: 57px;
	width: 57px;

	top: 225px;
	right: 88px;
}

.ico_shape11 {
	background-position: -37px -90px;
	height: 7px;
	width: 33px;

	top: 540px;
	left: 250px;

	@media @desktop-xl {
		left: 250px;
	}
	@media @desktop-xl-2 {
		left: 150px;
	}
}

.ico_shape12 {
	background-position: -0px -57px;
	height: 41px;
	width: 37px;

	top: 645px;
	left: 80px;
}

.ico_shape13 {
	background-position: -34px -98px;
	height: 15px;
	width: 25px;

	top: 735px;
	left: 470px;
}

.ico_shape14 {
	background-position: -114px -81px;
	height: 16px;
	width: 16px;

	top: 385px;
	right: 200px;
}

.ico_shape15 {
	background-position: -89px -57px;
	height: 18px;
	width: 18px;

	bottom: 125px;
	left: 230px;

	@media @desktop-xl {
		bottom: 105px;
		left: 420px;
	}
	@media @desktop-xl-2 {
		bottom: 125px;
		left: 230px;
	}
}

.ico_shape16 {
	background-position: -114px -45px;
	height: 18px;
	width: 18px;

	top: 475px;
	right: 50px;
}

.ico_shape17 {
	background-position: -59px -98px;
	height: 15px;
	width: 25px;

	bottom: 85px;
	right: 70px;
}

.ico_shape18 {
	display: none;

	@media @desktop-xl {
		display: inline-block;
		background-image: url(../images/decor/shape18.png);
		background-repeat: no-repeat;
		position: absolute;

		width: 62px;
		height: 58px;

		top: 600px;
		right: 90px;
	}
}