@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.about {
	background: url(../images/back__aboutl.jpg)no-repeat center/cover;
	color: #1f2329;

	&__title {
		padding-left: 30px;
	}



	&__decor {
		display: block;
		padding-top: 30px;
		padding-left: 30px;
	}

	.list {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;

		&__item {
			width: 300px;
			text-align: center;
		}

		&__title {
			padding-top: 19px;
			padding-bottom: 15px;
			font-size: 22px;
			font-weight: 700;
		}

		&__text {
			padding: 0 33px;
		}
	}
}





