@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.about {
	position: relative;
	background: url(../images/back__about-small.jpg) 0% 0%;
	color: #1f2329;
	overflow: hidden;

	@media @tablet {
		background: url(../images/back__aboutl.jpg)no-repeat center/cover;
	}


	&__title {
		@media @desktop {
			padding-left: 30px;
		}
	}

	&__decor {
		display: none;

		@media @desktop {
			display: block;
			padding-top: 30px;
			padding-left: 30px;
		}
	}

	.list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 40px;


		@media @tablet {
		}

		@media @desktop {
			margin-top: 20px;
			justify-content: space-between;
		}


		@media @desktop-xl {
			flex-wrap: nowrap;
		}

		@media @desktop-xl-2 {

		}

		@media @desktop-xll {
			margin-bottom: inherit;
		}

		&__item {
			position: relative;
			width: 300px;
			margin-bottom: 20px;
			text-align: center;
			list-style-type: none;

			@media @tablet {
				margin-bottom: 40px;
			}
			@media @desktop {
				width: 50%;
			}
			@media @desktop-xl {
				width: 300px;
			}
		}


		&__img {
			position: relative;
			z-index: 10;
			height: 200px;

			@media @desktop {
				height: inherit;
			}

			&:first-of-type {
				margin-left: 30px;
			}	
		}

		.img__wrap {
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				bottom: 25px;
				left: 50%;
				transform: translateX(-50%);
				width: 180px;
				height: 180px;
				border-radius: 50%;
				box-shadow: 0px 34.915px 13.92px 2.08px rgba(82, 109, 154, 0.18);

				@media @desktop-xl {
					left: 40px;
					transform: none;
					width: 220px;
					height: 220px;
				}
			}
		}

		.img__wrap2 {
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				bottom: 25px;
				left: 50%;
				transform: translateX(-50%);
				width: 180px;
				height: 180px;
				border-radius: 50%;
				box-shadow: 0px 34.915px 13.92px 2.08px rgba(82, 109, 154, 0.18);

				@media @desktop-xl {
					left: 35px;
					transform: none;
					width: 220px;
					height: 220px;
				}
			}
		}

		&__title {
			padding-top: 19px;
			padding-bottom: 15px;
			font-size: 22px;
			font-weight: 700;
		}

		&__text {
			padding: 0 15px;
			@media @tablet {
				padding: 0 33px;
			}
		}
	}

	&__mobile {
		display: none;
		position: absolute;
		transition: all .3s linear;

		@media @desktop-xl {
			display: block;
			position: absolute;
		}

		&:nth-of-type(1) {

			@media @desktop-xl {
				top: 0px;
				left: -66px;
				width: 160px;
			}
			@media @desktop-xl-2 {
				width: 160px;
				top: -10px;
				left: 0;
			}
			@media @desktop-xll {
				width: 188px;
			}
		}
		&:nth-of-type(2) {

			@media @desktop-xl {
				top: 350px;
				left: -40px;
				width: 140px;
			}
			@media @desktop-xl-2 {
				top: 170px;
				left: 0;
			}
			@media @desktop-xll {
				width: 167px;
			}
		}
		&:nth-of-type(3) {
			@media @desktop-xl {
				bottom: -55px;
				right: 0;
			}
			@media @desktop-xl-2 {
				bottom: 25px;
			}
		}
		&:nth-of-type(4) {

			@media @desktop-xl {
				bottom: -175px;
				right: 0;
				width: 270px;
			}
			@media @desktop-xl-2 {
				width: 270px;
				right: -50px;
				bottom: -125px
			}
			@media @desktop-xll {
				width: 317px;
				right: 0;
			}
		}
		&:nth-of-type(5) {
			@media @desktop-xl {
				bottom: -130px;
				right: 130px;
				width: 340px;
			}
			@media @desktop-xl-2 {
				right: 0px;
			}
			@media @desktop-xll {
				width: 389px;
				right: 50px;
			}
		}
	}
}





