@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.catalog {
	position: relative;
	background: url(../images/back__catalogue.jpg)no-repeat center/cover;
	background-attachment: fixed;
	overflow: hidden;
	text-align: center;

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {
		text-align: inherit;
	}

	&:before {
		content: '';
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		height: 0;
		box-shadow: -2.703px 12.716px 60px 15.12px rgba(27, 74, 113, 0.50),-2.703px 12.716px 17.22px 3.78px rgba(27, 74, 113, 0.20);
	}

	.title__box {
		text-align: center;
		@media @desktop-xl {
			float: right;
			text-align: right;
		}
	}

	&__title {
		color: #fff;

		@media @tablet {
			padding-left: 30px;
			text-align: right;
		}
		&:before {
			right: 0;
			background: #7dd2ff;
		}
	}

	&__decor {
		display: none;

		@media @desktop-xl {
			float: right;
			display: block;
			padding-top: 30px;
		}
	}

	&__list {
		clear: both;
		padding: 30px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 30px;

		@media @tablet {
			justify-content: space-around;
		}

		@media @desktop {
			justify-content: inherit;
		}

		@media @desktop-xl {
			margin-top: inherit;
		}
	}

	&__item {
		position: relative;
		width: 290px;
		margin-bottom: 30px;
		margin-left: 10px;
		margin-right: 10px;
		overflow: hidden;
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 1.325px 18.954px 19.14px 2.86px rgba(63, 69, 109, 0.15),0.907px 12.968px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		z-index: 1;
		transition: all .3s linear;

		@media @desktop {
			
			margin-bottom: 60px;
		}

		@media @desktop-xl {
			width: 360px;
			margin-left: 15px;
			margin-right: 15px;
		}

		&:hover {
			box-shadow: none;

			.catalog__model {
				&:before {
					width: 0;
					height: 0;
				}

				&:after{			
					width: 276px;
					height: 3px;
					background: #fc96be;
				}
			}

			.catalog__img img {
				transform: scale(1.1);
			}
		}
	}

	&__img {
		img {
			display: block;
			max-width: 100%;
			height: 185px;
			margin: 0 auto;
			transition: transform .3s linear;

			@media @desktop {

			}
			@media @desktop-xl {
				height: 235px;
			}

		}
	}

	&__model {
		padding: 20px 0 25px 0;
		position: relative;
		color: #000;
		font-size: 19px;
		text-align: center;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 276px;
			height: 3px;
			background: #ffa415;
			transition: all .3s linear;
		}

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;

			background: #fc96be;
			transition: all .3s linear;
		}
	}

	&__circle {
		display: none;

		@media @desktop-xl {
			display: block;
			position: absolute;
			z-index: 0;
			top: -110px;
			left: 0;
		}
	}

	&__logo {
		display: none;
		
		@media @desktop {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -35%);
			max-width: 100%;
			max-height: 80px;		

		}

		@media @desktop-xl {
			transform: translate(-50%, -20%);
		}

		@media @desktop-xl-2 {
			transform: translate(-50%, -50%);
			max-width: inherit;
			max-height: inherit;		
		}
	}
}

