@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.question {
	position: relative;
	padding: 95px 0;
	background: url(../images/back__ask.jpg)no-repeat center/cover;

	&__box {
		width: 780px;
		margin: auto;
	}

	&__title {
		color: #fff;
		&:before {
			background: #70cbfc;
		}
	}

	&__subtitle {
		padding-top: 5px;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
	}

	form {
		display: flex;
		justify-content: space-between;
		margin-top: 64px;
	}

	.form__line {
		width: 240px;
		padding: 0 15px;
		border: 1px solid #fff;
		border-radius: 5px;
		background-color: rgba(246, 250, 255, 0.302);
		box-shadow: 1.046px 14.963px 19.14px 2.86px rgba(63, 69, 109, 0.1),0.349px 4.988px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		transition: all .3s linear;

		&:hover, &:focus {
			box-shadow: none;
		}
	}
	.btn {
		width: 240px;
		box-shadow: 1.046px 14.963px 19.14px 2.86px rgba(63, 69, 109, 0.1),0.349px 4.988px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		transition: box-shadow .3s linear;

		&:hover, &:focus {
			box-shadow: none;
		}
	}


	.ico_shape-bottom1, .ico_shape-bottom10, .ico_shape-bottom12, .ico_shape-bottom4, .ico_shape-bottom8, .ico_shape-bottom9, .ico_shape-bottom7, .ico_shape-bottom16, .ico_shape-bottom3, .ico_shape-bottom15, .ico_shape-bottom6, .ico_shape-bottom14, .ico_shape-bottom2, .ico_shape-bottom13, .ico_shape-bottom17, .ico_shape-bottom5, .ico_shape-bottom11 {
		display: inline-block;
		background-image: url(../images/decor/spritebox-sprite-bottom.png);
		background-repeat: no-repeat;
		position: absolute;
	}



	.ico_shape-bottom1 {
		background-position: -23px -87px;
		height: 21px;
		width: 31px;

		top: 120px;
		left: 30px;
	}

	.ico_shape-bottom2 {
		background-position: -0px -0px;
		height: 51px;
		width: 51px;

		top: 110px;
		left: 70px;
	}

	.ico_shape-bottom3 {
		background-position: -0px -51px;
		height: 36px;
		width: 36px;

		bottom: 50px;
		left: 120px;
	}

	.ico_shape-bottom4 {
		background-position: -88px -0px;
		height: 28px;
		width: 29px;

		top: 40px;
		left: 230px;
	}

	.ico_shape-bottom5 {
		background-position: -117px -0px;
		height: 16px;
		width: 16px;

		bottom: 140px;
		left: 255px;
	}

	.ico_shape-bottom6 {
		background-position: -88px -55px;
		height: 24px;
		width: 28px;

		bottom: 30px;
		left: 495px;
	}

	.ico_shape-bottom7 {
		background-position: -36px -51px;
		height: 31px;
		width: 34px;

		bottom: 30px;
		left: 700px;
	}

	.ico_shape-bottom8 {
		background-position: -70px -51px;
		height: 18px;
		width: 18px;

		top: 30px;
		left: 880px;
	}

	.ico_shape-bottom9 {
		background-position: -88px -28px;
		height: 27px;
		width: 24px;

		top: 80px;
		right: 650px;
	}

	.ico_shape-bottom10 {
		background-position: -0px -110px;
		height: 15px;
		width: 25px;

		bottom: 30px;
		right: 450px;
	}

	.ico_shape-bottom11 {
		background-position: -25px -110px;
		height: 13px;
		width: 26px;

		top: 30px;
		right: 450px;
	}

	.ico_shape-bottom12 {
		background-position: -86px -87px;
		height: 18px;
		width: 18px;

		top: 180px;
		right: 350px;
	}

	.ico_shape-bottom13 {
		background-position: -51px -0px;
		height: 41px;
		width: 37px;

		bottom: 20px;
		right: 290px;
	}

	.ico_shape-bottom14 {
		background-position: -0px -87px;
		height: 23px;
		width: 23px;

		top: 50px;
		right: 230px;
	}

	.ico_shape-bottom15 {
		background-position: -117px -16px;
		height: 16px;
		width: 16px;

		top: 70px;
		right: 160px;
	}

	.ico_shape-bottom16 {
		background-position: -54px -87px;
		height: 19px;
		width: 32px;

		top: 220px;
		right: 100px;
	}



}