@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.question {
	padding: 95px 0;
	background: url(../images/back__ask.jpg)no-repeat center/cover;

	&__box {
		width: 780px;
		margin: auto;
	}

	&__title {
		color: #fff;
		&:before {
			background: #70cbfc;
		}
	}

	&__subtitle {
		padding-top: 5px;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
	}

	form {
		display: flex;
		justify-content: space-between;
		margin-top: 64px;
	}

	.form__line {
		width: 240px;
		padding: 0 15px;
		border: 1px solid #fff;
		border-radius: 5px;
		background-color: rgba(246, 250, 255, 0.302);
		box-shadow: 1.046px 14.963px 19.14px 2.86px rgba(63, 69, 109, 0.1),0.349px 4.988px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		transition: all .3s linear;

		&:hover, &:focus {
			box-shadow: none;
		}
	}
	.btn {
		box-shadow: 1.046px 14.963px 19.14px 2.86px rgba(63, 69, 109, 0.1),0.349px 4.988px 6.84px 2.16px rgba(63, 69, 109, 0.08);
		transition: box-shadow .3s linear;

		&:hover, &:focus {
			box-shadow: none;
		}
	}
}
