@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.headerInner {
	background: url(../images/hero__images.jpg)no-repeat center/cover;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 1.325px 18.954px 37.41px 5.59px rgba(63, 69, 109, 0.13),0.907px 12.968px 6.84px 2.16px rgba(63, 69, 109, 0.06);

	.container {
		height: 450px;
		position: relative;
		@media @desktop {
			height: 510px;
		}
	}


	&__center {
		padding-top: 190px;
	}


	&__title {
		position: relative;
		font-size: 30px;
		font-weight: 900;
		text-align: center;
		
		color: #fff;
		z-index: 10;

		@media @tablet {
			font-size: 40px;
		}
		@media @desktop {
			max-width: inherit;
			font-size: 45px;
			letter-spacing: 2px;
		}
		@media @desktop-xl {
			font-size: 50px;
		}
		@media @desktop-xl-2 {
			font-size: 55px;
		}

		span {
			position: relative;
			&:before {
				animation: growLine 2s linear;

				@media @desktop {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 8px;
					background: @blue;
					z-index: -1;
				}
				@media @desktop-xl {
					height: 10px;
				}
				@media @desktop-xl-2 {
					height: 12px;
				}
			}
		}
	}


	&__circle {
		display: none;

		@media @desktop-xl {
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
		}
	}


	.hand {
		position: absolute;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
	}

	.hand-1 {
		top: 80px;
		left: -20px;

		width: 250px;

		@media @tablet {

		}
		@media @desktop {
			width: 354px;
			top: 40px;
			left: -40px;
		}
		@media @desktop-xl {
			width: 354px;
			top: 40px;
			left: -40px;
		}
		@media @desktop-xl-2 {
			top: 68px;
			left: 0;
		}
	}
	.hand-2 {
		width: 190px;
		bottom: -40px;
		left: -35px;

		@media @tablet {

		}
		@media @desktop {
			width: 251px;
			bottom: -40px;
			left: -30px;
		}
		@media @desktop-xl {
			bottom: -40px;
			left: -50px;
		}
		@media @desktop-xl-2 {
			bottom: 19px;
			left: 0;
		}
	}
	.hand-3 {
		bottom: -34px;
		right: 20px;
		width: 130px;
		transform: rotate(35deg);

		@media @tablet {

		}
		@media @desktop {
			width: 165px;
			bottom: -30px;
			right: inherit;
			left: 50%;
			transform: translateX(35%) rotate(0);
		}
		@media @desktop-xl {
			bottom: -30px;
			left: 50%;
			transform: translateX(35%);
		}
		@media @desktop-xl-2 {
			bottom: -10px;
		}
	}

	.hand-4 {
		display: none;

		@media @desktop-xl {
			display: block;
			bottom: -50px;
			right: -100px;
		}
		@media @desktop-xl-2 {
			bottom: -50px;
			right: 0;
		}
	}


	.ico_shape18 {
		top: 240px;
		left: 50px;
		transform: rotate(95deg);
	}

	.ico_shape10 {
		background-position: -57px -0px;
		height: 57px;
		width: 57px;

		top: inherit;
		bottom: 70px;
		left: 530px;
	}

	.ico_shape7 {

		@media @desktop-xl{
			background-position: -114px -24px;
			height: 21px;
			width: 22px;

			top: 110px;
			right: 1230px;
			transform: rotate(50deg);
		}
		
	}

	.ico_shape6 {
		background-position: -0px -98px;
		height: 18px;
		width: 18px;

		top: 200px;
		right: 490px;
	}

	.ico_shape13 {
		background-position: -34px -98px;
		height: 15px;
		width: 25px;

		top: 185px;
		left: 1000px;
	}

	.ico_shape4 {
		background-position: -37px -57px;
		height: 33px;
		width: 30px;

		top: 115px;
		left: 1210px;
		transform: rotate(100deg);
	}

	.ico_shape2 {
		background-position: -18px -98px;
		height: 16px;
		width: 16px;

		top: 90px;
		left: inherit;
		right: 310px;
	}

	.ico_shape1 {
		background-position: -0px -0px;
		height: 57px;
		width: 57px;

		top: 160px;
		left: inherit;
		right: 128px;
	}

	.ico_shape5 {
		background-position: -84px -98px;
		height: 13px;
		width: 26px;

		top: inherit;
		bottom: 80px;
		left: inherit;
		right: 300px;
	}

}


