@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.catalogFull {
	position: relative;
	overflow: hidden;

	&:nth-of-type(odd) {
		background: #e5ebf9;

		.catalogFull__decor {
			display: none;
			@media @desktop-xl {
				display: block;
				top: -450px;
			}
		}
	}

	&:nth-of-type(even) {
		background: #f0f4ff;

		.catalogFull__decor {
			display: none;
			@media @desktop-xl {
				display: block;
				top: -150px;
			}
		}
	}

	&__decor {
		position: absolute;
		left: 0;
	}

	.catalogInner__decor {
		display: none;

		@media @desktop {
			display: block;
			padding-top: 30px;
			padding-left: 30px;
		}
	}

	.title__box {
		display: inline;
		text-align: center;
		@media @desktop {
			display: inline-block;
		}	
	}

	.catalogFull__title {
		max-width: 320px;
		margin: auto;
		position: relative;
		font-size: 21px;
		
		@media @desktop {
			max-width: inherit;
			display: inline-block;
			font-size: 30px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0;
			width: 100%;
			height: 12px;
			background: #fff;
			z-index: -1;

			@media @tablet {
				width: 105%;
			}
		}
	}

	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 10;
		text-align: center;

		@media @desktop {
			text-align: left;
			flex-direction: row;
			align-items: inherit;
		}

		a {
			outline: none;
		}

		/*  ¯\_(ツ)_/¯  */ /* IMAGES */ /*  ¯\_(ツ)_/¯  */

		.mainPhoto {
			width:  290px;

			@media @tablet {
				width:  400px;
			}
			@media @desktop {
				width:  360px;
			}
			@media @desktop-xl {
				width:  405px;
			}
		}

		.bigPhoto__item{
			margin-top: 35px;
			position: relative;
			display: none;

			width:  100%;
			height: 405px;
			background: #fff;
			border-radius: 7px;
			box-shadow: 0 12px 24px -2px rgba(63, 69, 109, 0.15);

			@media @desktop {
				height: 495px;
			}

			img {
				position: absolute;
				top : 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				max-width:  290px;
				max-height: 370px;

				@media @desktop {
					max-width:  405px;
					max-height: 500px;
				}
			}
		}

		.active {
			display: block;
		}

		.smallPhoto__list {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		.smallPhoto__item {
			list-style: none;
			background: #fff;
			box-shadow: 0 8px 8px -2px rgba(63, 69, 109, 0.15);
			transition: box-shadow .3s linear;

			&:hover {
				box-shadow: none;
			}
			
			img {
				border-radius: 7px;
				width: 68px;
				height: 68px;

				@media @tablet {

				}
				@media @desktop {
					width: 87px;
					height: 87px;
				}
			}
		}

		/*  ¯\_(ツ)_/¯  */ /* END IMAGES */ /*  ¯\_(ツ)_/¯  */

		.utube {
			padding-top: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			&__text {
				font-size: 20px;
				color: #2d3440;
				text-align: left;
				@media @desktop {
					font-size: 22px;
				}
				@media @desktop-xl {
					font-size: 25px;
				}
			}
			&__link {
				color: #f76c8b;
				font-size: 60px;
				cursor: pointer;
				position: relative;
				margin: 0 40px;

				@media @desktop {

				}
				@media @desktop-xl {

				}

				&:hover {
					color: @red;
				}

				&:before {
					content: '';
					position: absolute;
					left: -25px;
					top: 50%;
					width: 30px;
					height: 2px;
					background: #f71c8b;

					transform: translateY(-50%);

					@media @tablet {

					}
					@media @desktop {
						width: 30px;
						left: -25px;
					}
					@media @desktop-xl {
						width: 40px;
						left: -40px;
					}
				}

				&:after {
					content: '';
					position: absolute;
					right: -25px;
					top: 50%;
					width: 30px;
					height: 2px;
					background: #f71c8b;

					transform: translateY(-50%);

					@media @tablet {

					}
					@media @desktop {
						right: -25px;
						width: 30px;
					}
					@media @desktop-xl {
						right: -40px;
						width: 40px;
					}
				}
			}
		}


		&__info {		
			color: #2d3440;

			@media @desktop {
				margin-left: 50px;
			}
			@media @desktop-xl {
				margin-left: 170px;
			}
		}


		&__title {
			margin-top: 30px;
			display: inline-block;
			position: relative;
			font-size: 22px;
			font-weight: 700;
			color: #2d3440;

			&:before {
				content: '';
				position: absolute;
				bottom: 2px;
				left: 0;
				width: 100%;
				height: 6px;
				background: #fff;
				z-index: -1;

				@media @tablet {
					width: 105%;
				}
			}

			@media @desktop {
				margin-top: inherit;
				font-size: 25px;
			}
		}


		&__slider-decor {
			width: 270px;
			margin: auto;

			outline: none!important;

			@media @tablet {
				width: 500px;
				margin: 0;
				margin: initial;
				padding-bottom: 30px;
			}

			.slick-prev {
				width: 50px;
				height: 100%;
				left: -50px;

				@media @desktop {
					width: 50px;
					left: -50px;
				}
				@media @desktop-xl {
					width: 70px;
					left: -70px;
				}
			}

			.slick-next {
				width: 50px;
				height: 100%;
				right: -50px;	

				@media @desktop {
					width: 50px;
					right: -50px;
				}
				@media @desktop-xl {
					width: 70px;
					right: -70px;
				}	
			}

			.slick-prev:before, .slick-next:before {
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-54%);
				z-index: 10;
				color: #505762;
				font-size: 45px;
				padding: 110px 0;

				@media @desktop {
					font-size: 50px;
				}
				@media @desktop-xl {
					font-size: 74px;
				}
			}

			.slick-prev:before {
				left: 10px;
				content: '\e805';
			} 

			.slick-next:before {
				content: '\e806';
				right: 10px;
			}
		}

		&__decor {
			position: relative;
			padding: 10px 0;
			list-style: none;
			outline: none!important;
			
			.img__wrap {
				content-box: border-box; 
				position: relative;
				width: 80px;
				height: 120px;
				margin: auto;
				overflow: hidden;
				border: 4px solid transparent; 
				box-shadow: 0 8px 8px -2px rgba(63, 69, 109, 0.15);
				border-radius: 7px;	
				cursor: pointer;
				transition: all .3s linear;
				&:hover {
					box-shadow: none;
				}
			}

			img {
				position: absolute;
				top: 0;
				display: block;
				width: 100%;
				height: auto;

			}

			.img-active {
				border: 4px solid #fe6289; 
			}
		}

		.present {
			padding-top: 8px;
			width: 290px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			text-align: center;

			@media @tablet {
				width: 400px;
				padding-bottom: 20px;
			}
			@media @desktop {
				margin: 0;
				margin: initial;
			}

			&__img {
				display: block;
				position: relative;
				max-width: 68px;
				max-height: 68px;
				background: #fff;
				overflow: hidden;

				box-shadow: 0 8px 8px -2px rgba(63, 69, 109, 0.15);
				transition: all .3s linear;
				border-radius: 7px;	
				border: 1px solid #fff; 

				@media @tablet {
					max-width: 85px;
					max-height: 85px;
				}

				a {
					position: relative;
					z-index: 10;
				}

				&:hover {
					box-shadow: none;
					border: 1px solid #fff; 
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(194, 197, 212, 0);
					border-radius: 7px;	
					border: 4px solid transparent; 
					cursor: pointer;
					z-index: 10;
					transition: background-color .3s ease;
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 25px;
					height: 25px;
					transform: translate(-50%, -50%);
					background: url(../images/icons/zoom.png);
					background-size: contain;
					z-index: 11;
					opacity: 0;
					transition: opacity .3s ease;
					@media @tablet {
						width: 45px;
						height: 45px;
					}
				}
			}

			.presentActive {
				border: 4px solid #fe6289;

				&:before {
					background: rgba(194, 197, 212, .4);
				}
				&:after {
					opacity: 1;
				}
			}

			img {
				cursor: pointer;
				width: 60px;
				height: 60px;
				object-fit: contain;

				@media @tablet {
					width: 78px;
					height: 78px;	
				}		
			}

			label {
				position: inherit;
				cursor: pointer;

			}
			input[type="radio"] {
				margin: auto;
				text-align: center;
				width: 17px;
				height: 17px;
				border: 3px solid #fff;
				border-radius: 50%;
				cursor: pointer;
				margin-top: 15px;
				transition: all .3s ease;
				background: rgba(194, 197, 212, .4);
			}
			input[type="radio"]:active  {
				background-color: #f71c8b;
			}
			input[type="radio"]:checked {
				background-color: #f71c8b;
			}
		}

		.parameter {
			width: 270px;
			margin: auto;

			position: relative;
			font-size: 16px;
			font-weight: 700;
			color: #2d3440;
			text-align: left;

			@media @tablet {

			}
			@media @desktop {
				margin: 0;
				margin: initial;
				margin-bottom: 5px;
			}

			&__list {
				padding-top: 10px;
				list-style: none;
			}

			&__prop {

				position: relative;
				display: block;
				overflow: hidden;

				&:after {
					content: '';
					position: absolute;
					margin-left: 3px;
					bottom: 1px;
					width: 100%;
					border-bottom: 1px dotted;
				}
			}

			&__value {
				float: right;
				padding-left: .2em;
			}
		}

		&__price {
			padding-top: 15px;
			font-size: 30px;

			@media @tablet {

			}
			@media @desktop {
				font-size: 30px;
			}
			@media @desktop-xl {
				font-size: 34px;
			}

			span {
				padding-left: 37px;
				font-size: 21px;
				text-decoration: line-through;
				text-decoration-color: #ff7fa1; 

				@media @tablet {

				}
				@media @desktop {
					font-size: 21px;
				}
				@media @desktop-xl {
					font-size: 25px;
				}
			}
		}

		&__btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			width: 100%;
			margin-top: 25px;

			@media @desktop {
				margin-top: 11px;
				flex-direction: row;
			}

		}

		.btn {
			width: 240px;
			color: #fff;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}

		}

		.btn-gray {
			border: 2px solid #8e949f;
			margin-top: 15px;
			width: 240px;
			height: 42px;
			line-height: 40px;
			text-align: center;
			color: #2d3440;
			border-radius: 5px;

			&:hover {
				border: 2px solid transparent;
				color: #fff;
				background: @red;
			}

			@media @tablet {

			}
			@media @desktop {
				width: 280px;
				margin-top: 0;
				margin-left: 20px;
			}
			@media @desktop-xl {
				margin-left: 30px;
			}
			@media @desktop-xl-2 {
				margin-left: 85px;
			}
		}
	}
}