@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.catalogFull {
	position: relative;
	overflow: hidden;

	&:nth-of-type(odd) {
		background: #e5ebf9;

		.catalogFull__decor {
			top: -450px;
		}
	}

	&:nth-of-type(even) {
		background: #f0f4ff;

		.catalogFull__decor {
			top: -150px;
		}
	}

	&__decor {
		position: absolute;
		left: 0;
	}

	.catalogInner__decor {
		display: none;

		@media @desktop {
			display: block;
			padding-top: 30px;
			padding-left: 30px;
		}
	}

	.product {
		display: flex;
		position: relative;
		z-index: 10;

		a {
			outline: none;
		}

		/*  ¯\_(ツ)_/¯  */ /* IMAGES */ /*  ¯\_(ツ)_/¯  */

		.mainPhoto {
			width:  405px;
		}

		.bigPhoto__item{
			margin-top: 35px;
			position: relative;
			display: none;

			width:  100%;
			height: 495px;
			background: #fff;
			border-radius: 7px;
			box-shadow: 1.325px 18.954px 19.14px 2.86px rgba(63, 69, 109, 0.15),0.907px 12.968px 6.84px 2.16px rgba(63, 69, 109, 0.08);

			img {
				position: absolute;
				top : 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				max-width:  405px;
				max-height: 500px;
			}
		}

		.active {
			display: block;
		}

		.smallPhoto__list {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		.smallPhoto__item {
			list-style: none;
			background: #fff;
			box-shadow: 1.325px 18.954px 19.14px 2.86px rgba(63, 69, 109, 0.15),0.907px 12.968px 6.84px 2.16px rgba(63, 69, 109, 0.08);
			transition: box-shadow .3s linear;

			&:hover {
				box-shadow: none;
			}
			
			img {
				border-radius: 7px;
				width: 87px;
				height: 87px;
			}
		}

		/*  ¯\_(ツ)_/¯  */ /* END IMAGES */ /*  ¯\_(ツ)_/¯  */

		.utube {
			padding-top: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			&__text {
				font-size: 25px;
				color: #2d3440;
			}
			&__link {
				color: #f76c8b;
				font-size: 60px;
				cursor: pointer;
				position: relative;

/* 				transition: color .3s linear; */
				margin: 0 40px;

				&:hover {
					color: @red;
				}

				&:before {
					content: '';
					position: absolute;
					left: -40px;
					top: 50%;
					width: 40px;
					height: 2px;
					background: #f71c8b;

					transform: translateY(-50%);
				}

				&:after {
					content: '';
					position: absolute;
					right: -40px;
					top: 50%;
					width: 40px;
					height: 2px;
					background: #f71c8b;

					transform: translateY(-50%);
				}
			}
		}


		&__info {
			margin-left: 170px;
			color: #2d3440;
		}

		&__title {
			display: inline-block;
			position: relative;
			font-size: 25px;
			font-weight: 700;
			color: #2d3440;
			&:before {
				content: '';
				position: absolute;
				bottom: 2px;
				left: 0;
				width: 100%;
				height: 6px;
				background: #fff;
				z-index: -1;

				@media @tablet {
					width: 105%;
				}
			}
		}


		&__slider-decor {
			width: 500px;
			padding-bottom: 30px;
			outline: none!important;

			.slick-prev:before, .slick-next:before {
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 10;
				color: #505762;

				font-size: 74px;
			}

			.slick-prev:before {
				left: -60px;
				content: '\e805';
			} 
			.slick-next:before {
				right: -60px;
				content: '\e806';
			}
		}

		&__decor {
			position: relative;
			padding: 10px 0;
			list-style: none;
			outline: none!important;
			
			.img__wrap {
				position: relative;
				width: 80px;
				height: 120px;
				margin: auto;
				overflow: hidden;
				border: 1px solid #fff; 
				box-shadow: 0 8px 2px 0px rgba(63, 69, 109, 0.15);
				border-radius: 7px;	
				cursor: pointer;
				transition: all .3s linear;
				background: transparent;

				&:hover {
					box-shadow: none;
				}
			}

			img {
				position: absolute;

				top: -15px;
				display: block;
				width: 100%;
				height: auto;
				
				
			}

			.img-active {
				border: 5px solid #fff; 
			}
		}

		.present {
			padding-top: 8px;
			padding-bottom: 20px;
			width: 400px;
			display: flex;
			justify-content: space-between;
			text-align: center;


			&__img {
				display: block;
				position: relative;
				width: 88px;
				height: 88px;
				background: #fff;

				box-shadow: 0 8px 2px 0px rgba(63, 69, 109, 0.15);
				transition: all .3s linear;
				border-radius: 7px;	
				border: 1px solid #fff; 


				a {
					position: relative;
					z-index: 10;
				}

				&:hover {
					box-shadow: none;
					border: 1px solid #fff; 
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(194, 197, 212, 0);
					border-radius: 7px;	
					border: 1px solid #fff; 
					cursor: pointer;
					z-index: 10;
					transition: background-color .3s ease;
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 45px;
					height: 45px;
					transform: translate(-50%, -50%);
					background: url(../images/icons/zoom.png);
					z-index: 11;
					opacity: 0;
					transition: opacity .3s ease;
				}
			}

			.presentActive {
				&:before {
					background: rgba(194, 197, 212, .4);
				}
				&:after {
					opacity: 1;
				}
			}

			img {
				position: relative;
				cursor: pointer;				
			}

			label {
				position: inherit;
				cursor: pointer;

			}
			input[type="radio"] {
				margin: auto;
				text-align: center;
				width: 17px;
				height: 17px;
				border: 3px solid #fff;
				border-radius: 50%;
				cursor: pointer;
				margin-top: 15px;
				transition: all .3s ease;
				background: rgba(194, 197, 212, .4);
			}
			input[type="radio"]:active  {
				background-color: #f71c8b;
			}
			input[type="radio"]:checked {
				background-color: #f71c8b;
			}
		}

		.parameter {
			padding-right: 330px;
			margin-bottom: 4px;
			position: relative;
			font-size: 16px;
			font-weight: 700;
			color: #2d3440;

			&__list {
				padding-top: 10px;
				list-style: none;
			}

			&__prop {
				position: relative;
				display: block;
				overflow: hidden;

				&:after {
					content: '';
					position: absolute;
					margin-left: 3px;
					bottom: 1px;
					width: 100%;
					border-bottom: 1px dotted;
				}
			}

			&__value {
				float: right;
				padding-left: .2em;
			}
		}

		&__price {
			padding-top: 15px;
			font-size: 34px;

			span {
				padding-left: 37px;
				font-size: 25px;
				text-decoration: line-through;
				text-decoration-color: #ff7fa1; 
			}
		}

		&__btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-top: 11px;
		}

		.btn {
			width: 240px;
			color: #fff;

		}

		.btn-gray {
			border: 2px solid #8e949f;
			margin-left: 85px;
			width: 280px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #2d3440;
			border-radius: 5px;
/* 			transition: all .3s linear; */
			&:hover {
				border: 2px solid transparent;
				color: #fff;
				background: @red;
			}
		}
	}
}