@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.getToKnow {
	background: url(../images/back__getToKnow.jpg)no-repeat center/cover;

	

	.section__title-second {
		display: inline-block;
		position: relative;
		font-size: 30px;
		font-weight: 700;
		color: #272b35;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0;
			width: 100%;
			height: 12px;
			background: #fff;
			z-index: -1;

			@media @tablet {
				width: 105%;
			}
		}

		@media @tablet {
			font-size: 35px;
		}
		@media @desktop {
			font-size: 40px;
		}
		@media @desktop-xl {
			font-size: 45px;
		}
	}
}


