@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.footer {
	padding: 15px 0;
	background: #1b1e27;
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;


		@media @tablet {

		}
		@media @desktop {
			flex-direction: row;
		}
	}

	&__logo {
		width: 350px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		@media @tablet {
			justify-content: space-between;
		}
		@media @desktop {

		}


	}
	&__title {
		font-size: 13px;
		@media @tablet {
			font-size: 15px;
		}
	}

	.footer__copy {
		margin: 20px 0;
		text-align: center;
		font-size: 15px;
		@media @tablet {
			font-size: 15px;
		}
	}

	.agency {
		text-align: center;
		@media @desktop {
			text-align: right;
		}
		a {
			font-size: 11.5px;
		}
		p {
			font-size: 10px;
			margin-bottom: 5px;
		}
		img {
			width: 90px;
		}
	}
} 

