.container {
    @media @mobile {
        padding: 0 10px;
    }
    @media @tablet {
        padding: 0;
    }
}
a {
	outline: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

body {
    position: relative;
    z-index: 1;
    padding-right: 0 !important;
    font-size: @fs;
    line-height: @lh;
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-family: @ff1;
}

.fancybox-margin {
    margin-right: 0 !important;
}

address {
    font-style: normal;
}

section {
    padding: 110px;
}

header, footer {

}

.btn {
    padding: 0 50px;

    font-size: 18px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: rgb(213, 0, 50);
    box-shadow: 0.696px 4.951px 11.31px 1.69px rgba(27, 28, 29, 0.36);
    transition: background-color .3s linear;

    &:hover {
        background-color: rgb(179, 0, 42);
    }
}

.btn-white {
    padding: 0 50px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0.696px 4.951px 11.31px 1.69px rgba(27, 28, 29, 0.36);
    transition: background-color .3s linear;
    &:hover {
        background-color: @red;
    }
}

.section__title {
    position: relative;
    font-size: 40px;
    color: #222326;

    &:before {
        content: '';
        position: absolute;
        bottom: -20px;

        height: 5px;
        width: 130px;
        background: @red;
    }
    @media @mobile {

    }
    @media @tablet {

    }
    @media @desktop {

    }
    @media @desktop-xl {

    }
    @media @desktop-xl-2 {

    }
    @media @desktop-xll {

    }
}