@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {

	&__top {
		position: relative;
		background: #222326;
		
		height: 70px;
		&-link {
			position: absolute;
			left: -15px;
		}
		&-desc {
			padding-left: 165px;
			padding-top: 9px;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 300;
		}
		&-mail {
			font-size: 20px;
			font-weight: 300;
			line-height: 70px;
		}
		&-btn {
		}
		.col-right {
			float: right;
		}
	}
}



/* #fixedTopMenu.fixed{
	position: fixed;
	padding: 0 15px;
	top: 0;
	left: 0;
	width: 100%;
	background: #131313;
	z-index: 3000;
	animation: smoothScroll 1s forwards;
	&:after {
		display: none;
	}
}
*/


