@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	position: relative;
	background: url(../images/back__advantages.jpg)no-repeat center/cover;
	z-index: 10;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 390px;
		left: 50%;
		transform: translateX(-49%);
		width: 1920px;
		height: 1695px;
		background: url(../images/back__advantages-circle.png);
		z-index: 0;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	&__title {
		color: #fff;
		text-align: left;
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
		&:before {
			left: 0;
			transform: inherit; 
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
	}
	&__box {
		position: relative;
		z-index: 10;
	}
	&__item{
		display: flex;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}

		&-content {
			width: 560px;
			padding-top: 120px;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
		&-title {
			padding-bottom: 20px;
			font-size: 30px;
			font-weight: 700;
			text-align: right;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
		&-text {
			padding-left: 60px;
			font-weight: 300;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
		.text-rtl {
			text-align: right;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
	}
	&__item:nth-of-type(1) {
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		margin-left: 70px;
		img {
			margin-left: 100px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
		p {
			padding-left: 100px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
	}

	&__item:nth-of-type(2) {
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		margin-left: 0px;
		margin-top: -95px;
		img {
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
			margin-top: 40px;
			margin-left: 30px;
		}
	}

	&__item:nth-of-type(3) {
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		margin-left: 70px;
		margin-top: -115px;
		img {
			margin-top: 45px;
			margin-left: 108px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
	}

	&__item:nth-of-type(4) {
		margin-left: 0px;
		margin-top: -120px;
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
		img {
			margin-top: 65px;
			margin-left: 30px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
	}

	.btn {
		position: relative;
		float: right;
		margin-top: 15px;
		margin-right: 230px;
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}
}