@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	position: relative;
	background: url(../images/back__advantages.jpg)no-repeat center/cover;
	z-index: 10;
	overflow: hidden;
	&:before {
		@media @desktop {
			content: '';
			position: absolute;
			top: 430px;
			left: 50%;
			transform: translateX(-61%);
			width: 1920px;
			height: 1695px;
			background: url(../images/back__advantages-circle.png);
			z-index: 0;
		}
		@media @desktop-xl {
			top: 380px;
			left: 50%;
			transform: translateX(-49%);
		}
	}
	&__title {
		color: #fff;
		@media @desktop {
			text-align: left;
		}
		&:before {
			@media @desktop {
				left: 0;
				transform: inherit; 
			}
		}
	}
	&__box {
		position: relative;
		z-index: 10;
		margin: auto;
		@media @tablet {
			margin-top: 40px;
		}
		@media @desktop {
			margin-top: inherit;
		}
	}
	&__img {
		max-width: 250px;
		margin: auto;
		box-shadow: 13px 22.517px 37.41px 5.59px rgba(27, 28, 29, 0.16);
		@media @tablet {
			

		}
		@media @desktop {
			max-width: inherit;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center; 
		align-items: center;
		margin-bottom: 45px;
		@media @tablet {

		}
		@media @desktop {
			flex-direction: row;

		}
		@media @desktop-xl {
			align-items: unset;
			justify-content: flex-start; 

		}

		&-content {
			order: 1;
			margin-top: 30px;
			padding: 0 15px;
			text-align: center;
			max-width: 300px;
			@media @tablet {
				max-width: 500px;
			}
			@media @desktop {
				order: 0;
				margin-top: 0;
				padding: inherit;
				text-align: inherit;
			}
			@media @desktop-xl {
				margin-top: inherit;
				width: 560px;
				padding-top: 120px;
			}
		}

		&-title {
			padding-bottom: 20px;
			font-size: 24px;
			font-weight: 700;
			@media @desktop {
				font-size: 30px;
			}
			@media @desktop-xl {
				text-align: right;
			}
		}
		&-text {
			font-weight: 300;
			font-size: 18px;
			@media @tablet {

			}
			@media @desktop {
				font-size: inherit;
			}
			@media @desktop-xl {
				padding-left: 60px;
			}
		}
		.text-rtl {
			@media @desktop-xl {
				text-align: right;
			}
		}
	}
	&__item:nth-of-type(1) {
		@media @desktop-xl {
			margin-left: 130px;
		}
		img {
			@media @desktop-xl {
				margin-left: 130px;
			}
		}
		p {
			@media @desktop-xl {
				padding-left: 100px;
			}
		}
	}

	&__item:nth-of-type(2) {

		@media @desktop-xl {
			margin-left: 60px;
			margin-top: -45px;
		}
		
		img {
			@media @desktop-xl {
				margin-top: 10px;
				margin-left: 60px;
			}		
		}
	}

	&__item:nth-of-type(3) {
		@media @desktop-xl {
			margin-left: 140px;
			margin-top: -55px;
		}
		
		img {
			@media @desktop-xl {
				margin-top: 15px;
				margin-left: 108px;
			}
		}
		p {
			@media @desktop-xl {
				padding-left: 0px;
			}
		}
	}

	&__item:nth-of-type(4) {
		@media @desktop-xl {
			margin-left: 70px;
			margin-top: -60px;
		}
		img {
			@media @desktop-xl {
				margin-top: 20px;
				margin-left: 50px;
			}
		}
		p {
			@media @desktop-xl {
				padding-left: 0px;
			}
		}
	}

	.btn {
		display: block;
		position: relative;
		margin: auto;
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			float: right;
			margin-top: 35px;
			margin-right: 230px;
		}
	}
}