@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.gallery {
	background: #eff2f8;
	@media @tablet {
		background: url(../images/back__gallery.jpg)no-repeat center/cover;
	}
	&__title {
		@media @desktop {
			margin-left: 170px;
			text-align: left;
		}
		
		&:before {
			@media @desktop {
				left: 0;
				transform: inherit;
			}
		}
	}
	&__box {
		max-width: 1920px;
		text-align: center;
		margin: 60px auto;
	}
	&__item {
		margin: 20px 5px;
		display: inline-block;
		position: relative;
		width: 260px;
		height: 180px;
		border: 5px solid #fff;
		box-shadow: 0px 5px 10.56px 0.44px rgba(18, 49, 85, 0.38);
		overflow: hidden;
		transition: all .3s linear;
		&:hover {
			img {
				transform: translateY(-50%) scale(1.1);
			}
			border: 5px solid @red;
			box-shadow: 0px 5px 10.56px 0.44px rgba(18, 49, 85, 0.05);
		}
	}
	&__img {
		display: block;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		transition: transform .3s linear;
	}

	


}



