.slick-prev,
.slick-next {
	width: 65px;
	height: 114px;
	
	transition: all .3s linear;
	z-index: 10;

	top: 10%;

	@media @tablet {
		width: 30px;
		height: 53px;

	}
	@media @desktop {
		top: 50%;
		transform: translateY(-50%);
	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
	@media @desktop-xll {

	}
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	/* 	background: rgba(0,0,0, .6); */
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
/* 	opacity: 1; 
color: #1a46a8; */
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	/* opacity: 0.25;  */
}

.slick-prev {
	left: 0; 

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {
		left: -60px; 
	}
	@media @desktop-xll {

	}
}

.slick-prev:before {
	display: block;
	position: absolute;


	z-index: 10;

	width: 30px;
	height: 53px;




	@media @tablet {

		width: 65px;
		height: 114px;

	}
	@media @desktop {
		top: 200px;
		left: 300px;
	}
	@media @desktop-xl {
		top: 20%;
		transform: translateY(-50%);
		left: 54px;
	}
	@media @desktop-xl-2 {

	}
	@media @desktop-xll {

	}
}


.slick-next {
	right: 0; 

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {
		right: -60px; 
	}
	@media @desktop-xll {

	}
}

.slick-next:before {
	display: block;
	position: absolute;

	
	z-index: 10;

	width: 30px;
	height: 53px;
	right: 0;
	

	@media @tablet {
		width: 65px;
		height: 114px;
	}
	@media @desktop {
		top: 200px;
		right: 300px;

	}
	@media @desktop-xl {
		top: 20%;
		transform: translateY(-50%);
		right: -20px;
	}
	@media @desktop-xl-2 {

	}
	@media @desktop-xll {

	}
}


.slick-dots {
	bottom: -55px;
/* 	left: 5px; */
	border-image: transparent;

	@media @desktop-xl {
		bottom: -15px;
	}
	li {
		button {
			background: #81d4fb;
			display: block;
			height: 20px;
			width: 20px;
			font-size: 0px;
			color: #fff;
			padding: 5px;
			border-radius: 50%;
			box-shadow: 0px 5px 7px 1px rgba(0, 45, 86, 0.15);
			&:before {
				font-size: 0;
				opacity: 0;
			}
		}
		&.slick-active button {
			background: #fff;
			border-radius: 50%;
			opacity: 1;
		}
	}
}
