@import "_reset";
@import "_vars";
@import "_mixin and function";



.header {
	position: relative;
	box-shadow: -0.5px 4px 9px 0px rgba(0, 0, 0, 0.5);

}


.top-header {
	position: relative;
	padding-top: 10px;
	padding-bottom: 5px;
	.box {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width: 767.98px) { 
			display: block;
			float: right;
		}
	}
	.logo {
		@media only screen and (max-width: 767.98px) { 
			position: absolute;
			left: 48%;
			transform: translateX(-50%);
		}
	}
	.box__nav {
		width: 600px;
		@media only screen and (max-width: 767.98px) {
			width: auto;
			.hide__mob {
				display: none;
			}
		}
		@media only screen and (max-width: 575.98px) { 
			.hide__mob-sm {
				display: none;
			}
		}
	}


	.header__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: 60px;
		line-height: 40px;

		@media only screen and (max-width: 767.98px) { 
			flex-direction: column;
		}

		@media only screen and (max-width: 575.98px) { 

		}
	}

	.header__item {

		margin-left: 50px;

		@media only screen and (max-width: 767.98px) { 
			text-align: right;
		}
	}

	.header__link {
		position: relative;
		padding-left: 25px;
		i {
			display: none;
		}
		&:before {
			position: absolute;
			left: 2px;
			top: 50%;
			transform: translateY(-50%);
			font-family: "fontello";
			color: $green;
			font-size: 16px;
		}
		&:after {
			position: absolute;
			content: '';
			display: block;
			left: -8px;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			border: 1px solid $green;
			border-radius: 50%;
		}
		@media only screen and (max-width: 767.98px) { 
			padding-left: 0;
			&:before, &:after  {
				display: none;
			}
		}

		@media only screen and (max-width: 575.98px) { 

			span {
				display: none;
			}
			i {
				font-size: 40px;
				line-height: 80px;
				display: block;
				color: $green;
			}
		}
		
	}
	.link-address{
		&:before {
			content: '\e801';
		}
	}
	.link-phone {
		&:before {
			left: 1px;
			content: '\e81a';
		}
	}
	.link-mail{
		&:before {
			left: -1px;
			content: '\e802';

		}
	}
	.header__item-btn {
		display: inline-block;
		margin-left: 40px;
	}
}


.nav { 
	position: relative;
	background: #343a3d;
	color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.9);
	z-index: 2;
	
	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		width: 100%;

		// Small devices (landscape phones, less than 768px)

		@media only screen and (max-width: 767.98px) { 

		}
		
		// Extra small devices (portrait phones, less than 576px)
		@media only screen and (max-width: 575.98px) { 

		}


	}
	&__item {	
		width: 100%;
		transition: all .3s ease;
		text-align: center;
		border-right: 2px solid #4f585f;
		&:hover {
			border-right: 2px solid transparent;
			background: #4f585f;
			box-shadow: inset 0px -2px 3.68px 0.32px rgba(0, 0, 0, 0.64);
		}
		@media only screen and (max-width: 767.98px) { 
			border-right: 2px solid transparent;
		}
	}
	&__item:last-child {
		border-right: none;
		&:hover {
			border-right: none;
		}
	}
	&__link {
		display: block;
		padding: 15px 5px;
		position: relative;
		width: 100%;
		height: 100%;
	}
}


.center-header {
	height: 800px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@media only screen and (max-width:  991.98px) { 
		height: auto;
	}
	&-box {
		position: relative;
		padding: 55px 15px 0 35px;
		@media only screen and (max-width: 991.98px) { 
			padding: 30px 0;
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 25px;
			background: url(../img/border.png)no-repeat center;
			@media only screen and (max-width: 1199.98px) { 
				display: none;
			}
		}
		.header__title {
			text-align: center;
			font-size: rem(36);
			line-height: 1.33;
			font-weight: 700;
			text-transform: uppercase;
			color: #fff;
			@media only screen and (max-width: 575.98px) { 
				font-size: rem(25);
			}
			&-accent {
				display: inline-block;
				padding-top: 20px;
				font-size: rem(30);
				color: #86ff00;
				@media only screen and (max-width: 575.98px) { 
					font-size: rem(22);
				}
			}
			
		}

		.center-list {
			margin-top: 100px;
			margin-bottom: 160px;
			display: flex;
			justify-content: space-between;
			@media only screen and (max-width: 991.98px) { 
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 50px 0 30px 0;
			}
		}

		.center-item {
			display: flex;
			align-items: center;
			width: 31%;
			position: relative;
			@media only screen and (max-width: 991.98px) { 
				width: 350px;
				padding-bottom: 10px;
				margin-bottom: 40px;
			}
			@media only screen and (max-width: 575.98px) { 
				width: 290px;
				flex-wrap: wrap;
			}
			
			.text {
				padding-left: 32px;
				font-size: rem(18);
				color: #fff;
				font-weight: 500;
				@media only screen and (max-width: 575.98px) {
					padding-top: 30px;
					padding-left: 0;
					text-align: center;
				}
			}
			.img {
				position: relative;
				height:40px;
				width: 40px;
				z-index: 3;
				@media only screen and (max-width: 575.98px) {
					margin: auto;

				}
				&:before {
					content: '';
					position: absolute;
					top: -10px;
					left: -15px;

					height: 70px;
					width: 70px;
					border-radius: 50%;
					border: 3px solid $green;
					z-index: 3;
					box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.8);
					@media only screen and (max-width: 575.98px) {
						top: 50%;
						border-radius: 0;
					}
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -18px;
					left: 30px;
					height: 3px;
					width: 270px;
					background: $green;
					box-shadow: -0.035px 2px 4px 0px rgba(0, 0, 0, 0.5);
					z-index: 0;
					@media only screen and (max-width: 575.98px) {
						display: none;
					}
				}
			}
		}

		.btn-green {
			position: relative;
			display: block;
			width: 290px;
			margin: auto;
			
			margin-top: -15px;
			padding: 15px 5px;
			border-radius: 25px;
			@media only screen and (max-width: 991.98px) { 
				margin-bottom: 30px;
			}
		}
	}
	

	.center-text {
		padding: 30px 0;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		@media only screen and (max-width: 991.98px) { 
			display: none;
		}
		.text {
			padding-top: 10px;
			font-size: 14px;
			font-weight: 300;
			&-accent {
				font-size: 16px;
				font-weight: 500;
			}
		}
		.arrowBtn {
			position: relative;
			display: block;
			margin-top: 20px;
			font-weight: 400;
			font-size: 30px;
			animation: arrow-bounce 3s infinite;
			color: $green;
			&:hover {
				animation-play-state: paused;
			}
		}
	}


}


@keyframes arrow-bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}





/* #fixedTopMenu.fixed{
	position: fixed;
	padding: 0 15px;
	top: 0;
	left: 0;
	width: 100%;
	background: #131313;
	z-index: 3000;
	animation: smoothScroll 1s forwards;
	&:after {
		display: none;
	}
}
*/



// Large devices (desktops, less than 1680px) 
@media only screen and (max-width: 1680px) { 



} 



// Large devices (desktops, less than 1366px)
@media only screen and (max-width: 1366px) { 

}


// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) { 


}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) { 

}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) { 

}