@import "_reset";
@import "_fonts";
@import "_vars";
@import "_carousel";

body {
	min-width: 320px;
	position: relative;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
a:focus,
a:hover,
a:active {
	text-decoration: none;
}

*:hover {
	transition: all 0.3s;
}
.main-wrapper {
	max-width: 1200px;
	min-width: 320px;
	padding: 0 10px;
	margin: auto;
}
.wrapper {
	max-width: 940px;
	margin: 0 auto;
	border-left: 4px solid #fff;
	border-right: 4px solid #fff;
}
.layout__flex {
	display: flex;
	justify-content: space-between;
}
.articles {
width: 70%;
}
.aside {
	width: 23%;
}

/* HEADER  */
.header {
	font-family: $fontFamily-title;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 10%;
		color: $orange;
		font-size: 44px;
		font-family: $fontFamily-title;
		span {
			color: $orangeLight;
		}
	}
	&__list {
		padding-top: 10px;
		display: flex;
		&-item {
			margin-left: 28px;
			color: $gray;
		}
		&-link {
			display: block;
			font-size: 22px;
			color: $gray;
			&:hover, &:active {
				color: $orange;	
			}
		}
		.active {
			color: $orange;
		}
	}
}
/* END HEADER  */
/* SECTION - ARTICLE  */

.blog {
	.title__wrapper {
		background: $orange;
	}
	&__title {
		padding-top: 6px;
		padding-left: 15px;
		margin-bottom: 20px;
		
		color: $white;
		font-size: 32px;
		font-family: $fontFamily-title;
	}
}
.article__wordpress {
	position: relative;
	display: block;
	&:before {
		content: '';
		position: absolute;
		display: inline-block;
		left: -80px;
		right: 0;
		width: 80px;
		height: 80px;
		background: url(../img/icon1.png) no-repeat;
	}
}
.owl-carousel {
	.owl-item {
		img {
			display: block;
			width: 100%;
			height: auto;	
		}
	}
}
.owl-nav {
	color: $white;
	font-weight: bold;
	font-size: 60px;
	&:hover {
		cursor: pointer;
	}
}
.icon-angle-right {
	position: absolute;
	content: '';
	top: 30%;
	right: 0;
	z-index: 10;
}
.icon-angle-left {
	position: absolute;
	content: '';
	top: 30%;
	left: 0;
	z-index: 10;
} 
.article__flexbox {
	display: flex;
	padding-top: 20px;
}
.article__detail {
	padding-right: 11%;
	&-item {
		display: inline-block;
		width: 100%;
		color: $gray;
		padding-bottom: 4px;
	}
	.main-item {
		text-transform: uppercase;
		color: $orange;
		font-family: $fontFamily-title;
	}
}
.article__content {
	&-title {
		text-transform: uppercase;
		font-family: $fontFamily-title;
		font-size: 20px;
		font-weight: bold;
		color: $orange;
		letter-spacing: 1.6px;
	}
	&-text {
		margin: 10px 0;
		line-height: 16px;
	}
}
.content-flexbox {
	display: flex;
}
.article__devider {
	margin-top: 50px;
	margin-bottom: 40px;
	width: 100%;
	height: 16px;
}
.article__jesus {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		display: inline-block;
		left: -80px;
		right: 0;
		width: 80px;
		height: 80px;
		background: url(../img/icon2.png) no-repeat;
	}
	&-img {	
		max-width: 100%;
		height: auto;
		margin-bottom: -10px;
	}
}
.article__quotes {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		display: inline-block;
		left: -80px;
		right: 0;
		width: 80px;
		height: 80px;
		background: url(../img/icon3.png) no-repeat;
	}
	.article__content {	
		display: flex;
		margin: 0;
		padding-left: 20px;
		background: #f3f3f3; 
		font-family: "HelveticaNeueLight", sans-serif;
		font-size: 15px;
		font-style: italic;
		line-height: 15px;
	}
	.icon-quote {
		align-self: flex-start;
		-moz-transform:rotate(-180deg);
		-webkit-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		-ms-transform:rotate(-180deg); 
		font-size: 32px;
		color: $orange;
	}
}
.article__freebies {
	position:relative;
	&:before {
		content: '';
		position: absolute;
		display: inline-block;
		left: -80px;
		right: 0;
		width: 80px;
		height: 80px;
		background: url(../img/icon4.png) no-repeat;
	}
}
.aside {
	&__text {
		padding-bottom: 30px;
		font-size: 12px;
		line-height: 14px;
	}
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-logo {
			font-size: 18px;
			font-family: $fontFamily-title;
			text-transform: uppercase;
			color: $orange;
		}
	}
	.aside__list {
		padding-bottom: 20px;
		&-item {
			margin-bottom: 1%;
			line-height: 14px;			
		}
		&-link {
			&:hover {
				color: $orange;
			}
		}
	}
	.aside__gallery {
		.gallery__list {
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap; 
			justify-content: space-between;
			&-item {
				width: 50px;
				height: 50px;
				margin-bottom: 3%;
				background: $orangeLight;
				border: 1px solid $orange;
			}
		}
	}
}
.pages {
	&__list {
		margin-bottom: 20px;
		&-item {
			display: inline-block;
			background: $orangeLight;
			padding: 2px 10px;
			&:hover {
				background: $orange;	
			}
		}
		.active {
			background: $orange;
		}
		&-link {
			font-family: $fontFamily-title;
			font-size: 18px;
			line-height: 20px;
			color: #fff;
		}
	}
}
.footer {
	background: $orange;
	.content-flexbox{
		min-height: 280px;
		padding-top: 30px;
		color: #fff;	
	}
	.footer__title {
		padding-bottom: 16px;
		font-family: $fontFamily-title;
		font-size: 24px; 
	}
	.footer__text {
		padding-bottom: 6px;
		font-size: 13px;
		line-height: 16px;
		font-family: "HelveticaNeueRegular";
		span {
			font-family: "HelveticaNeueLight";
			color: $orangeLight;
		}
		.date {
			display: block;
			padding-bottom: 16px;
		}
	}
	.footer__info {
		padding-left: 30px;
		width: 30%;
	}
	.footer__widget {
		margin-left: 5%;
		width: 25%;

	}
}

@import "_media"; 