@import "_vars";

/*  Large Devices, Wide Screens  */
@media only screen and (max-width : 1080px) {

	article {
		padding-top: 80px;
	}
	.article__wordpress {
		&:before {
			top: 0;
			left: 0;
		}
	}
	.article__jesus {
		&:before {
			top: 0;
			left: 0;
		}
	}
	.article__quotes {
		position: relative;
		&:before {
			top: 0;
			left: 0;
		}
	}
	.article__freebies {
		&:before {
			top: 0;
			left: 0;
		}
	}  
	.article__devider {
		margin: 2% 0;
	}
}

@media only screen and (max-width : 840px) {
	.aside__title-img {
		display: none;
	}
	.footer {
		.footer__info {
			padding-left: 30px;
			width: 50%;
		}
		.footer__widget {
			margin-left: 30px;
			width: 50%;
		}
	}
}  

@media only screen and (max-width : 640px) {
	.icon-angle-right {
		top: 20%;
	}
	.icon-angle-left {
		top: 20%;
	} 
}

@media only screen and (max-width: 480px) {
	
	.header {
		&__logo {
			font-size: 32px;
		}
		&__list {
			padding-top: 0;
			&-item {
				margin-left: 8px;
			}
			&-link {
				display: block;
				font-size: 20px;
			}
		}
	}
	.articles {
		width: 100%;
	}
	.aside {
		display: none;
	}
	article {
		padding-top: 80px;
	}
	.article__flexbox {
		flex-direction: column;
	}
	.article__detail {
		order: 2;
	}
	.article__wordpress {
		&:before {
			top: 0;
			left: 0;
		}
	}
	.article__jesus {
		&:before {
			top: 0;
			left: 0;
		}
	}
	.article__quotes {
		position: relative;
		&:before {
			top: 0;
			left: 0;
		}
		.article__content {	
			padding-left: 0;
		}
	}
	.article__freebies {
		&:before {
			top: 0;
			left: 0;
		}
	}  
	.article__devider {
		margin: 2% 0;
	}
	.owl-nav {
		font-size: 40px;
	}
	.icon-angle-right {
		top: 20%;
	}
	.icon-angle-left {
		top: 20%;
	} 

	.footer {
		.content-flexbox{
			flex-wrap: wrap;
		}
		.footer__title {
			padding-bottom: 12px;
		}
		.footer__info {
			padding-left: 30px;
			width: 100%;
		}
		.footer__widget {
			margin-left: 30px;
			width: 100%;
		}
	}
}


@media only screen and (max-width: 400px)  {

	.header {
		&__list {
			&-link {
				font-size: 16px;
			}
		}
	}

}