@import "_vars";
@import "_mixin and function";

/* Medium Devices, Desktops */

@media only screen and (max-width : 1200px) {

	.review__page {
		&:before {
			top: -60%;
			left: 0%;
			width: 5000px;
			height: 3000px;	
		}
		.review__container {
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.review-content {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 520px;
		}
		.review-name {
			font-size: rem(18);
		}
		.review-video {
			max-width: 520px;
			height: 600px;
			margin:  50px auto;
			iframe {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}

}

@media only screen and (max-width : 992px) {
	.header {
		background-position: 68%;
	}
	.center__header {
		&-text {
			width: 70%;
			font-size: rem(34);
			line-height: 36px;
		}
		&-form {
			margin-top: 30px;
			.line-name {
				width: 60%;
			}
			.btn {
				margin-top: 30px;
			}
		}
	}
	.nav {
		&__item {
			margin-left: 15px;
		}
		&__link {
			font-size: rem(16);
		}
	}
	.content {
		.consult__about {
			padding-top: 40px;
			padding-bottom: 40px;
			margin: 0 auto;
			.flex-wrap {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				align-content: center;
				margin: 0 auto;
			}
			.flex-bottom {
				margin: 30px 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0px;
			}
			.img-box {
				display: block;
				width: 100%;
				height: auto;
				img {
					margin: auto;
					max-width: 100%;
					height: auto;
				}
			}
			.text-box {
				width: 100%;
				margin-left: 0 auto;
				padding-right: 0;
			}
			.consult__about-title {
				padding-top: 20px;
			}
			.consult__about-text {
				padding-top: 20px;
			}
			.consult__about-link {
				padding-left: 0;
			}
			.btn-orange {
				display: inline-block;
				margin-top: 30px;
				width: 300px;
				margin-right: 0;
			}
		}
	}
	.footer {
		padding-bottom: 40px;
		&-flex {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.flex__wrap-left {
			display: flex;
			flex-basis: 100%;
			margin: auto;
			margin-left: 0;
		}
		.flex__wrap-right {
			flex-basis: 100%;
			margin: auto;
			text-align: center;
		}
		.politics__list {
			padding-bottom: 0;
		}
		.link__studio {
			position: relative;
			top: inherit;
			right: inherit;
		}
	}
	.crumbs {
		margin: 30px 0;
	}
	.action {
		padding: 60px 0;
		.flex-wrap {
			padding-top: 20px;
			display: flex;
			flex-wrap: wrap;
		}
		.mail {
			top: 230px;
		}
		.messenger {
			top: 230px;
		}

		.timer__content {
			margin: auto;
			width: 300px;
			display: flex;
		}
		.btn-link {
			margin: auto;
			margin-top: 20px;
			width: 300px;
			text-align: center;
		}
	}
	.action__page {
		.page__flex {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.img-wrap {
			margin-bottom: 40px;
		}
		.aside {
			width: 100%;
			padding-top: 0;
			padding-bottom: 30px;
			margin-left: 0;
			text-align: center;
		}
	}
	.about {
		.box-img {
			max-width: 360px;
		}
	}
	.blog__page {
		.blog-wrap {
			margin: auto;
			padding: 0 15px;
			background: #fff;
			z-index: 9;
		}
		.social-list {
			display: flex;
		}
		.content {
			width: 100%;
		}
		.aside {
			position: relative;
			margin-top: 25px;
			z-index: 100;
		}
	}
}  

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header {
		min-height: 600px;
		background: url(../img/background__header1.jpg) no-repeat center/cover;
		.top__header {
			padding-top: 30px;
		}
	}
	.center__header {
		display: table;
		padding-top: 90px;
		&-text {
			width: 100%;
			font-size: rem(30);
			line-height: 34px;
		}
		&-form {
			margin-top: 50px;
		}
		.arrow {
			display: none;
		}
	}
	.nav {
		&__link {
			&:before {
				width: 0;
				background-color: none;
			}
			&:after{
				width: 0;
				background-color: none;
			}
			&:hover {
				&:before {
					width: 0;
					left: 0;
				}
				&:after {
					width: 0;
				}
			}
		}
		.active {
			position: inherit;
			&:before {
				width: 0;
				background-color: none;
			}
			&:after{
				width: 0;
				background-color: none;
			}
		}
	}
	.overlay {
		position: absolute;
		width: 200px;
		height: 1000px;
		top: 0;
		right: -305px;
		background-image: -moz-linear-gradient( -15deg, rgba(135,224,148, .8) 0%, rgba(85,176,235, .8) 100%);
		background-image: -webkit-linear-gradient( -15deg, rgba(135,224,148, .8) 0%, rgba(85,176,235, .8) 100%);
		background-image: -ms-linear-gradient( -15deg, rgba(135,224,148, .8) 0%, rgba(85,176,235, .8) 100%);
		z-index: 1000;
	}
	.nav {
		position: fixed;
		z-index: 10000;
		&__list {
			display: block !important;
			padding-top: 50%;
		}
		&__item{
			margin-right: 0;
			margin-left: 0;
			text-align: center;
		}
		&__link {
			display: block;
			text-transform: uppercase;
			padding-bottom: 1rem;
		}
	}
	.open {
		transform: translateX(-300px);
		transition-duration: 0.5s;
		position: fixed;
	}
	.burger {
		width: 50px;
		height: 50px;
		transition: all 0.6s ease-in-out;
		position: fixed;
		z-index: 10000;
		top: 30px;
		right: 20px;
		z-index: 10000;
		background: transparent;
		border: none;
		outline: none;
		display: block;
		&:hover {
			cursor: pointer;
		}
	}
	.burger i {
		display: block;
		width: 40px;
		height: 2px;
		background: $blue;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
	.burger i:before, .burger i:after {
		content: '';
		position: absolute;
		height: 2px;
		background: $blue;
		width: 40px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
	.burger i:before {
		margin-top: -12px;
	}
	.burger i:after {
		margin-top: 12px;
	}
	.burger:hover i:before {
		margin-top: -14px;
	}
	.burger:hover i:after {
		margin-top: 14px;
	}
	.burger.active i {
		background: transparent;
	}
	.burger.active i:before, .burger.active i:after {
		left: -5px;
		width: 50px;
	}
	.burger.active i:before {
		transform: rotate(45deg);
		top: 12px;
	}
	.burger.active i:after {
		transform: rotate(-45deg);
		top: -12px;
	}
	.burger.active:hover i:before, .burger.active:hover i:after {
		width: 60px;
		margin: 0;
		left: -10px;
		top: 0;
	}
	.main-flex {
		flex-wrap: wrap;
	}
	.content {
		width: 100%;
		.calendar {
			.flex {
				justify-content:center;
				flex-wrap: wrap;
			}
			.calendar__iframe {
				width: 100%;
				margin: auto;
				text-align: center;
			}
			.btn__wrap {
				width: 100%;
				margin-left: 0;
				width: 260px;
				font-size: rem(14);
			}
			.btn-bottom {
				padding-top: 25px;
				text-align: left;
				font-size: rem(14);
				font-family: "GothamProMedium";
			}
			.brn-calendar {
				display: flex;
				img {
					margin-left: 15px;
					align-self: center;
					display: block;
					width: 32px;
					height: 32px;
				}
				span {
					margin-left: -70px;
				}
			}
		}
		.articles__title {
			margin-top: 0;
			text-align: center;
		}
		.marginTop {
			margin-top: 0;
		}
		.box-news {
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 60px;
			&-img {
				width: 100%;
				img {
					display: block;
					margin: auto;
				}
			}
			&-text {
				width: 100%;
				margin-left: 0;
				padding-left: 0;
			}
			.articles__title{
				margin-top: 15px;
				text-align: left;
			}
		}
		.review {
			margin-bottom: 60px;
		}
		.mission {
			margin-bottom: 60px;
			&__list {
				flex-direction: column;
			}
			&__item {
				position: relative;
				margin: auto;
				width: 70%;
			}
			&__text {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
	.header__pages {
		min-height: 150px;
	}
	.page {
		.aside {
			padding-left: 0;
		}
	}
	.services {
		&__text {
			width: 100%;
		}
		.box-news {
			margin: 0 auto;
			flex-wrap: wrap;
			position: relative;
			&-img {
				width: 100%;
			}
			img {
				margin: auto;
			}
			&-text {
				width: 90%;
				margin: 0 auto;
				padding-left: 0;
			}
			.articles__title{
				text-align: center;
			}
		}
		.news-link {
			float: none;
			display: block;
			width: 250px;
			text-align: center;
			padding: 10px 0;
			margin: 20px auto 50px auto;
		}
	}
	.action {
		padding: 0;
		padding-bottom: 40px;
		.wrapper {
			display: flex;
			justify-content: center;
			flex-wrap:wrap;
		}
		&-title {
			text-align: center;
		}
		&-img {
			margin-right: 0;
		}
		&-text {
			width: 80%;
			margin: auto;
		}
		.flex-wrap {
			flex-direction: column;
			align-items: center;
		}
	}
	.review__page {
		.page__flex {
			flex-wrap: wrap;
		}
		.aside {
			width: 100%;
			padding-top: 0;
			padding-bottom: 30px;
			padding-left: 0;
			margin-left: 0;
			text-align: center;
		}
	}
	.consult-page {
		.consult__list {
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.consult__item {
			width: 80%;
			text-align: center;
		}
	}
	.consult__about {
		padding-top: 30px;
		.flex-wrap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.flex-wrap-bottom {
			padding: 30px 0 0 0;
		}
		.img-box {
			width: 100%;
			margin: auto;
			height: auto;
			img {
				margin: auto;
			}
		}
		.text-box {
			margin: auto;
			width: 100%;
			margin-left: 0;
		}
		.consult__about-title {
			padding-top: 10px;
			text-align: center;
		}
		.consult__about-text {
			width: 100%;
			margin: auto;
		}
		.consult__about-link {
			display: block;
			padding-top: 15px;
			padding-left: 10%;
		}
		.list {
			text-align: center;
			width: 100%;
		}
		.btn-orange {
			display: block;
			width: 300px;
			margin-top: 20px;
			padding: 10px 0;
			text-align: center;
			margin-right: 0;
		}
	}
	.consult__theme {
		.consult__theme-title {
			font-size: rem(22);
		}
		button {
			padding: 10px;
			font-size: 15px;
			outline: none;
			word-break: break-all;
		}
		.tabcontent {
			padding:  25px 15px;
		}
		.btn-tab {
			margin: 15px auto;
		}
	}
	.consult__review {
		.consult__theme-title {
			font-size: rem(22);
		}
		.review__container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			flex-direction: column;
		}
		.review__box {
			flex: auto;
			margin-bottom: 15px;
			width: 80%;
			margin: auto;
			&:nth-child(2) {
				margin: 15px auto;
				margin-bottom: 15px;
			}
		}
	}
	.consult__form {
		padding: 50px 0;
		.flex-wrap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: auto;
		}
		.box-content {
			width: 100%;
			margin: auto;
			margin-right: 0;
		}
		.title {
			font-size: rem(22);
		}
		.text {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.box__list {
			padding-left: 50px;
			margin-bottom: 0;
		}
		.box-form {
			width: 80%;
			margin: 20px auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			justify-content: center;
			text-align: center;
		}
		.form-line {
			display: flex-inline;
			border: none;
			width: 300px;
			padding: 10px;
			margin-bottom: 10px;
			text-align: center;
		}
		.select-line {
			border: none;
			width: 300px;
			padding: 0;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.form-link {
			margin: auto;
			color: #fff;
		}
	}
	.about {
		&__text {
			width: 100%;
		}
		.box-text-marg {
			width: 100%;
			margin: 60px 0 20px 0;
		}
		.box-img {
			display: table;
			max-width: 100%;
			margin: 15px auto;
		}
	}
	.about__video {
		margin: auto;
		padding-left: 0;
		padding-bottom: 0;
		width: 100%;
		&-text {
			width: 100%;
			margin: 20px 0;
		}
		&-video{
			margin-top: 20px;
			margin-bottom: 40px;
			max-width: 700px;
		}
	}
	.contact__page {
		&:before {
			display: none;
		}
		.box-form-form {
			margin-top: 15px;
			text-align: center;
		}
		.flex-wrap {
			width: 90%;
			margin: auto;
		}
		.form-line {
			width: 90%;
			text-align: center;
		}
		.form-line-text {
			width: 90%;
		}
		.form-link {
			width: 300px;
			margin: auto;
		}
	}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.main-page .wrapper {
		padding: 0;
	}
	.center__header {
		&-text {
			width: 100%;
			font-size: rem(26);
			line-height: 36px;
		}
		&-form {
			margin-top: 40px;
			.line-name {
				width: 95%;
				padding-left: 20px;
				font-size: rem(18);
				line-height: 20px;
				font-family: "GothamProRegular";
			}
			.btn {
				width: 95%;
				display: block;
				margin-top: 20px;
				line-height: 20px;
			}
		}
	}
	.content {
		.section__title {
			text-align: center;
		}
		.calendar {
			padding-top: 20px;
			.flex {
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				flex-direction: column;
			}
			.btn__wrap {
				width: 300px;
				font-size: rem(15);
			}
		}
		.mission {
			&__item {
				width: 95%;
			}
		}
	}
	.aside {
		width: 100%;
		padding-top: 0;
		padding-bottom: 30px;
		margin-left: 0;
		text-align: center;
	}

	.footer {
		padding-top: 60px;
		.flex__wrap-left {
			flex-wrap: wrap;
			text-align: center;
		}
		.img-wrap {
			margin: auto;
		}
		&-contact {
			display: flex;
			justify-content: center;
		}

		.politics__list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.politics__item {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.header__pages {
		min-height: 100px;
	}
	.page {
		position: relative;
		overflow-x: hidden;	
		&:before{
			display: none;
		}
		.aside {
			padding-left: 0;
		}
	}
	.services {
		&:before {
			display: none;
		}
		.box-news {
			&-text {
				width: 100%;
				margin-left: 5%;
			}
		}
	}

	.action {
		padding-top: 0;
		&-img {
			padding-top: 30px;
			margin-right: 0;
			position: relative;
			max-width: 300px;
		}
		.img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
		.mail {
			top: 180px;
		}
		.messenger {
			top: 180px;
		}
		&-title {
			padding-top: 30px;
			font-size: rem(22);
		}
		&-text {
			width: 100%;
		}
		.flex-wrap {
			padding-top: 30px;
		}
	}
	.review__page {
		&:before {
			display: none;
		}
	}
	.consult__about {
		.flex-wrap {
			width: 100%;
		}
		.list__item {
			margin: 0 5px;
		}
		.text-box {
			margin-left: 0x;
		}
		.list {
			margin-left: 0;
		}
	}
	.consult__theme {
		button {
			font-size: 13px;
		}
	}
	.consult__review {
		.review__box {
			width: 100%;
		}
	}
	.about {
		&:before {
			display: none;
		}
		&-info {
			display: flex;
			flex-direction: column;
		}
		.box-left-cv {
			padding-left: 0;
			text-align: center;
			&:after {
				display: none;
			}
		}
		.box-right-cv {
			text-align: center;
			padding-right: 0;
		}
		.box-title {
			padding: 10px 0;
		}
	}
	.formOrder{
		padding: 10px;
		&__text {
			padding: 40px 0;
			font-size: rem(20);
			line-height: 22px;
		}
		&-line {
			width: 95%;
		}

		&-select {
			padding-left: 5%;
			label {
				padding-left: 10%;
			}
		}
		.agree-text {
			font-size: rem(13);
		}
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)  {

}