body {
	font: 12px/18px 'OpenSansRegular', sans-serif;
	box-sizing: border-box;
	background: #f8f8f8; 
}
img {
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	cursor: pointer; 
	color: inherit;
}
*:hover {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.clearfix:after {
	content: " ";
	display: table; 
	clear: both;
}	
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
/* rules for all button in sections */
.button-wrapper {
	text-align: center; 
	padding: 40px 0 120px 0;
}
.button-link {
	padding: 10px 20px ; 
	border: 1px solid #16a085;
	border-radius: 30px;
	background: #16a085;
	color: #fff;
	font-size: 14px;
}
.button-link:hover {
	background: #fff;
	border-color: #16a085;
	color: #16a085; 
}
/* HEADER */
.header {
	position: relative;
	height: 620px;
	width: 100vw;
	background: url(../img/header_background.jpg) 50% 50%;		
	background-size: cover; 
	color: #fff;
}
.top-header {
	height: 80px;
}
.top-header__logo {
	float: left;
	display: inline-block;
	padding-top: 20px;
	margin-right: 100px;	
}
.top-header__navigation {
	float: left;	
	display: inline-block;	
	padding-top: 30px;
}
.top-header__navigation-item {
	float: left;
	margin-left: 100px;
}
.top-header__navigation-link:hover {
	color: #16a085; 
}
.top-header__right {
	float: right;
	display: inline-block;
	line-height: 18px; 
}
.top-header__right-phone {
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 18px;	
	letter-spacing: 1.1px;	
}
.top-header__right-callback {
	padding: 10px 34px; 
	border: 1px solid #fff;
	border-radius: 22px;
	font-weight: bold;
}
.top-header__right-callback:hover {
	background: #16a085;
	border-color: #16a085; 
}
.center-header__title {
	padding: 120px 0 0 100px;
	font: 87px/72px 'GothamProBlack', sans-serif;
}
.center-header__title-top {
	letter-spacing: 5px;
}
.center-header__title-undertop {
	margin-top: 10px;
	font-size: 52px;
	line-height: 72px;
	letter-spacing: 3px;	
}
.center-header__title-item {
	padding: 55px 0 0 100px;	
}
.center-header__title-link {
	padding: 14px 50px; 
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	background: #16a085;
	border: 1px solid #16a085;
	border-radius: 30px;
	-webkit-box-shadow: 4px 0px 45px 0px rgba(22,160,133,1);
	-moz-box-shadow: 4px 0px 45px 0px rgba(22,160,133,1);
	box-shadow: 4px 0px 45px 0px rgba(22,160,133,1);
}
.center-header__title-link:hover {
	background: transparent;
	color: #16a085;	
}
.center-header__title-scollDown:after{
	position: absolute;
	content: '';
	background:url(../img/scoll_down.png)no-repeat;
	bottom: 9%;
	left: 50%;
	width: 26px;
	height: 58px;
}

/* RULES FOR ALL SECTIONS */

.section__title {
	padding-top: 125px;	
	font: 36px/72px 'GothamProBlack', sans-serif;	
	text-align: center;
}

/* SECTION SMM BENEFITS */
.benefitsSMM {
	background: url(../img/smm.png) no-repeat 50% 50%;
	background-size: contain;	
}
.benefitsSMM__content-text {
	padding-top: 66px;		
	letter-spacing: 1.5px;
}
.benefitsSMM__column {
	padding-top: 112px;
	width: 20%;
	float: left;
	position: relative;
}
.benefitsSMM__column:not(:last-child) {
	padding-right: 50px;
}
.benefitsSMM__column:before {
	position: absolute;
	content: '';
	top: 44px;
	left: 6px;
}
.benefitsSMM__column-title {
	font: 16px/20px 'GothamProBlack', sans-serif;
}
.benefitsSMM__text-title {
	padding-top: 10px;
}
.column1:before {
	background: url(../img/smm-icon1.png);
	width: 34px;
	height: 43px;		
}
.column2:before {
	background: url(../img/smm-icon2.png);
	width: 34px;
	height: 41px;
	top: 44px;
	left: 6px;	
}
.column3:before {
	background: url(../img/smm-icon3.png);
	width: 34px;
	height: 34px;
	top: 54px;
	left: 2px;		
}
.column4:before {
	background: url(../img/smm-icon4.png);
	width: 34px;
	height: 34px;
	top: 54px;
	left: 0px;			
}
/* SECTION the power of SMM */ 
.powerSMM__title {
	font-weight: bold;
	letter-spacing: 1.4px;
}
.powerSMM__title-text {
	width: 60%;
	margin: 0 auto;
	padding: 40px 0 20px 0;
	text-align: center;
}
/* CAROUSEL */
.powerSMM-carousel {
	position: relative;
}
.owl-carousel:before {
	position: absolute;
	content: '';	
	height: 400px;
	width: 300px;
	left: 0;
	top: 0;
	z-index: 20;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.owl-carousel:after {
	position: absolute;
	content: '';	
	height: 400px;
	width: 300px;
	right: 0;
	top: 0;
	z-index: 20;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.owl-nav:hover {
	cursor: pointer;
}
.owl-carousel-img {
	height: 400px;
	width: 770px;
	margin-bottom: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 8px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 7px 8px -1px rgba(0,0,0,0.35);
	box-shadow: 0px 7px 8px -1px rgba(0,0,0,0.35); 
}
/* PAGINATION */
.owl-controls {
	position: relative;
}
.owl-prev {
	position: absolute;
	content: '';
	bottom: 200px;
	left: 40px;
	z-index: 30;
}
.owl-prev:before {
	position: absolute;
	content: '';
	width: 32px;
	height: 32px;
	top: -7px;
	right: 40px;
	background: url(../img/left_arrow.png);
	z-index: 30;
}
.owl-next {
	position: absolute;
	content: '';
	bottom: 200px;
	right: 40px;
	z-index: 30;
}
.owl-next:before {
	position: absolute;
	content: '';
	width: 32px;
	height: 32px;
	top: -7px;
	left: 40px;
	background: url(../img/right_arrow.png);
	z-index: 30;
}
/* SECTION CASES */
.cases__content {
	padding-bottom: 56px;
}
.cases__title {
	padding: 170px 0 60px 0;
}
.carousel2__owl-item, 
.carousel3__owl-item, 
.carousel4__owl-item,
.carousel5__owl-item {
	width: 540px;	
	margin: 40px 0; 
	padding-left: 40px;
	background: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 10px 7px 8px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 7px 8px -1px rgba(0,0,0,0.35);
	box-shadow: 10px 7px 8px -1px rgba(0,0,0,0.35);
}
.carousel2__owl-item:after {
	position: absolute;
	content: '';
	background: url(../img/carousel2.png);
	width: 340px;
	height: 320px;
	top: -50px;
	right: -10px;
}
.owl-item__title {
	position: relative;
	padding-top: 50px;
	font: 14px/24px 'GothamProBlack', sans-serif;	
	color: #b8b7b7;
}
.carousel2__owl-item:before {
	position: absolute;
	content: '';
	background: url(../img/social_icon---VK.png);
	background-size: cover;		
	width: 68px;
	height: 40px;
	top: -20px;
	left: 20px;
}
.text__left {
	float: left;
	width: 160px;
	font: 14px/24px 'GothamProBlack', sans-serif;	
}
.text__right {
	font: 12px/24px 'OpenSansRegular', sans-serif;	
}
.owl-item__button-wrapper {
	padding: 40px 0 40px 0;
	margin-left: -10px;
	clear: both;
}
.owl-item__button {
	clear: both;
	padding: 14px 40px ; 
	border: 1px solid #fff;
	border-radius: 30px;
	background: #16a085;
	color: #fff;
	font-size: 16px;
}
.owl-item__button:hover {
	background: #fff;
	border-color: #16a085;
	color: #16a085; 
}

/* case #2 */
.carousel3__owl-item:after {
	position: absolute;
	content: '';
	background: url(../img/carousel3.png) no-repeat;
	width: 360px;
	height: 350px;
	top: -40px;
	right: -66px;
} 
.carousel3__owl-item:before {
	position: absolute;
	content: '';
	background: url(../img/social_icon---FB.png);
	background-size: cover;		
	width: 54px;
	height: 54px;
	top: -20px;
	left: 20px;
}
/* case #3 */
.carousel4__owl-item:after {
	position: absolute;
	content: '';
	background: url(../img/carousel4.png) no-repeat;
	width: 360px;
	height: 380px;
	top: -40px;
	right: -66px;
} 
.carousel4__owl-item:before {
	position: absolute;
	content: '';
	background: url(../img/social_icon---sprite.png) no-repeat;
	width: 161px;
	height: 39px;
	top: -20px;
	left: 20px;
}
/* case #4 */
.carousel5__owl-item:after {
	position: absolute;
	content: '';
	background: url(../img/carousel5.png) no-repeat;
	width: 364px;
	height: 404px;
	top: -32px;
	right: -166px;
} 
.carousel5__owl-item:before {
	position: absolute;
	content: '';
	background: url(../img/social_icon---sprite.png) no-repeat;
	width: 161px;
	height: 39px;
	top: -20px;
	left: 20px;
}

/* section - promotion */
.promotion {
	background: url(../img/section1_background.jpg) no-repeat;
	background-size: cover; 
	color: #fff;
	width: 100%;
}
.promotion__title {
	padding: 103px 0 28px 0;
	letter-spacing: 2.5px;
}
.promotion__list {
	margin-left: 216px; 
	color: #fff;	
	counter-reset: li;
}
.promotion__list-text {
	font: 14px/32px 'OpenSansRegular', sans-serif; 
	letter-spacing: 0.7px;
	position: relative;
} 
.promotion__list div{
	position: relative;
	display: block;
	padding-bottom: 40px;
}
.promotion__list div:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -40px;
	margin-top: 5px;
	background: #fff;
	color: #000;
	height: 16px;
	width: 16px;
	line-height: 16px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	border: .3em solid #fff;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.promotion__list-text span {
	display: inline-block;
	width: 30px;
	height: 1px;
	margin: 0 10px 3px 0;
	background: #b8b7b7;
}
/* section - subscriber */
.subscriber{
	background: #fff;
}
.subscriber__title {
	padding-top: 76px;
	padding-bottom: 40px;
}
.subscriber__pictureBlock {
	margin: 0 auto;
	max-width: 770px;
	height: auto;
	margin-bottom: 30px;
} 
.subscriber__pictureBlock-img {
	background: url(../img/subscriber__video.jpg) no-repeat 50% 50%;
	max-width: 770px;
	height: 400px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
}
.subscriber__button-link {
	padding: 12px 64px;
}
/* section - team */
.team {
	background: url(../img/section2_background.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}
.team__title {
	padding-top: 70px;
}
.team__members-list {
	padding: 160px 0 40px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;	
}
.team__members-item {
	display: inline;
	position: relative;
	line-height: 24px; 
	text-align: center;	
	margin-right: 10px;
}

.team__members-item:before {
	position: absolute;
	content: ''; 
	width: 30px;
	height: 50px;
	top: -40px;
	left: 20px; 
	background: url(../img/sprite.png) 0 0 no-repeat;
	color: #fff;
}
.item2:before {
	left: 40px; 
	background-position: -184px 0;
}
.item3:before {
	left: 30px; 
	background-position: -366px 0;	
}
.item4:before {
	background-position: -550px 0;	
}
.item5:before {
	width: 40px;
	background-position: -728px 0;	
}
.item6:before {
	left: 30px; 	
	background-position: -915px 0;	
}
.item7:before {
	left: 16px; 	
	background-position: -1100px 0;	
}
.team__members-text {
	padding: 0 10%;
	text-align: center;
	line-height: 24px;
}


/* section - attention */
.attention {
	background: #fff;
}
.wrapper__attention {
	position: relative;
	overflow: hidden;		
}
.wrapper__attention:before {
	content: "";
	position: absolute;
	top: 100px;
	right: -660px;
	background: url(../img/roboto.png)  no-repeat;
	background-position: 260px 0;		
	width: 150%;
	height: 150%;
	background-size: contain;
}
.attention__title {
	padding: 70px 0 33px 0;
}
.attention__title, 
.attention__button-wrapper {
	text-align: left;
}
.attention__text {
	position: relative;
	line-height: 24px;
	padding-right: 45%;
}
.attention__button-link {
	padding: 12px 64px;
}

/* section - question */
.advertisingСost {
	background: url(../img/section3_background.jpg);
	background-size: cover;
	color: #fff; 
}
.advertisingСost__wrapper {
	margin: 0 auto;
	text-align: center;
}
.advertisingСost__title {
	padding-top: 80px;
}
.advertisingСost__title-range {
	text-align: left;
	padding: 40px 0 60px 0;
	font: 14px/24px 'GothamProBlack', sans-serif;
}
.advertisingСost__range {
	width: 100%;
}
.range__result {
	display: inline-block;
	margin-bottom: 80px;
}
.range__output {
	display: inline-block;
	font: 24px/24px 'GothamPro', sans-serif;	
}
.range__result-text {
	font: 14px/24px 'GothamProBlack', sans-serif;	
}
.advertisingСost__button-link {
	padding: 10px 80px;
}



/* section socialLink */

.socialLink {
	background: #fff;
}
.socialLink__title {
	padding-top: 70px;
	padding-bottom: 160px;	
}
.socialLink__list {
	padding-bottom: 100px;	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;	
}
.socialLink-item {
	display: inline;
	position: relative;
	line-height: 24px; 
	opacity: 0.3;	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.socialLink-item:before {
	position: absolute;
	content: ''; 
	width: 50px;
	height: 80px;
	top: -100px;
	background: url(../img/social_icon---sprite2.png) 0 0 no-repeat;
}
.socialLink__list-item2:before {
	background-position: -200px 0;
}
.socialLink__list-item3:before {
	background-position: -200px 0;	
}
.socialLink__list-item4:before {
	background-position: -600px 0;	
}
.socialLink__list-item5:before {
	background-position: -800px 0;	
}
.socialLink__list-item6:before {
	background-position: -1000px 0;	
}
.socialLink-text {
	opacity: 0;
	font-size: 10px;
	-webkit-transition: all  300ms ease-in-out;
	-moz-transition: all  300ms ease-in-out;
	-ms-transition: all  300ms ease-in-out;
	-o-transition: all  300ms ease-in-out;
	transition: all 300ms ease-in-out;
} 
.socialLink-item:hover .socialLink-text{
	opacity: 1;
}
.socialLink-item:hover {
	opacity: 1;
	-webkit-transform: scale(1.11);
	-moz-transform: scale(1.11);
	-o-transform: scale(1.11); 	
}

/* section price */
.price {
	background: url(../img/section4_background.jpg) no-repeat;
}
.price__title {
	padding-top: 72px;
	color: #fff;
}
.price__column {
	width: 32%;
	float: left;
}
.price__column-title {
	color: #fff;
	background: #ff7043;
	text-align: center;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;		
}
.price__column-textTop {
	padding-top: 22px;
	font: 16px/24px 'GothamProBlack', sans-serif;	
}
.price__column-textBottom {
	padding-bottom: 14px;
	font-size: 12px;
	line-height: 24px;	
}
.price__column__description {
	padding: 0 30px;
	background: #fff;
	line-height: 20px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;	
}
.column_description-item {
	letter-spacing: 0.8px;
	height: 60px;
}
.column_description-item:not(:last-child) {
	border-bottom: 1px solid #e8e8e8;
}
.column_description-item:last-child {
	padding-bottom: 10px;
}
.price__column-bottom {
	padding: 50px 0;
	color: #fff;
	text-align: center;		
}
.price__column-text {
	font: 30px/50px 'GothamProBlack', sans-serif;
	vertical-align: middle;
}
.price__column-link{
	margin-left: 5%;
	padding: 8px 50px;
	border: 2px solid #16a085;	
	border-radius: 30px;
	font: 14px/14px 'OpenSansRegular', sans-serif;
	font-weight: bold;
	color: #fff;	
	vertical-align: middle;	
}
.price__column-link:hover {
	background: #16a085;
}
.price__column2 {
	padding: 0 20px;
}
.column__title2 {
	background: #004d40;
}
.column__title3 {
	background: #1a237e;
}
.price__personalOrder-wrapper {
	text-align: center;
	padding-bottom: 100px;
}
.price__personalOrder {
	color: #fff;
	font: 16px/72px 'GothamProBlack', sans-serif;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #636767;	
}
.price__personalOrder-link {
	margin-left: 4%; 
	padding: 8px 30px;
	border: 2px solid #16a085;	
	border-radius: 30px;
	font: 14px/18px 'OpenSansRegular', sans-serif;
	font-weight: bold;
	color: #fff;	
	vertical-align: middle;		
}
.price__personalOrder-link:hover {
	background: #16a085;
}

/* section settings */

.setting__title {
	padding-top: 80px;
	padding-bottom: 50px;
	letter-spacing: 1.7px;
	color: #000;
}
.setting__content {
	width: 48%;
	height: 232px;
	background: #fff;
	margin-bottom: 100px;
	-webkit-box-shadow: 3px 1px 17px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 1px 17px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 1px 17px -2px rgba(0,0,0,0.75);
}
.setting__content-wrapper {
	padding: 40px 0 0 50px;
}
.setting__left {
	float: left;
	position: relative;
}
.setting__left:after {
	position: absolute;
	content: '';
	width: 291px;
	height: 172px;
	top: 24px;
	right: -36px;
	background: url(../img/macbook1.png);
}
.setting__right {
	float: right;
	position: relative;	
}
.setting__right:after {
	position: absolute;
	content: '';
	width: 291px;
	height: 172px;
	top: 24px;
	right: -36px;
	background: url(../img/macbook2.png);
}
.setting__text1 {
	font: 16px/16px 'GothamProBlack', sans-serif;	
}
.setting__text2 {
	font: 12px/16px 'OpenSansRegular', sans-serif;	
}
.setting__text-price {
	font: 30px/40px 'GothamProBlack', sans-serif;
	padding-bottom: 20px;		
}
.setting__link {
	display: inline-block;
	padding: 14px 50px;	
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	border: 2px solid #16a085;		
	border-radius: 30px;	
}
.setting__link:hover {
	background: #16a085;	
}

/* section trust */
.trust {
	background: #263238;
	color: #fff;
}
.trust__title {
	padding-top: 70px;
	padding-bottom: 50px;
}
.trust__pictureBlock-left {
	margin: 0 auto;
	margin-bottom: 100px;
	margin-left: 10% ;
	padding-right: 20px;
	width: 60%;
	float: left;
} 
.trust__pictureBlock-right {
	width: 22%;
	float: right;	
}
.trust__pictureBlock-imgLeft {
	background: url(../img/subscriber__video.jpg) no-repeat 50% 50%;
	max-width: 770px;
	height: 400px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
} 
.trust__pictureBlock-imgRight {
	background: url(../img/subscriber__video.jpg) no-repeat 50% 50%;
	background-size: cover;
	margin-bottom: 15px; 
	max-width: 170px;
	height: 90px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
} 
/* section our team */
.ourTeam__title {
	padding-top: 70px;
	padding-bottom: 33px;
}
.ourTeam__owl-item {
	width: 430px;	
	margin: 0 0 20px 60px; 
	padding: 0 0 50px 60px;
	background: #fff;
	background: url(../img/ourteam1.png) no-repeat #fff 0 11%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 10px 7px 8px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 7px 8px -1px rgba(0,0,0,0.35);
	box-shadow: 10px 7px 8px -1px rgba(0,0,0,0.35);
}
.owl-item__title {
	font: 14px/24px 'GothamProBlack', sans-serif;
	color: #b8b7b7;
}
.ourTeam__name {
	font: 14px/24px 'GothamProBlack', sans-serif;
	color: #000;	
}
.owl-item .ourTeam__text {
	padding-left: 45%;
	font: 12px/24px 'OpenSansRegular', sans-serif;	
}
.ourTeam__name-position {
	line-height: auto;
}
.casePrev5 {
	bottom: 120px;
}
.caseNext5 {
	bottom: 120px;
}
.ourTeam__button-wrapper {
	padding: 50px 0 120px 0;
}
.ourTeam__button-link {
	padding: 10px 70px;
}
.faq {
	background: url(../img/section5_background.jpg) no-repeat;
	color: #fff;
	padding-bottom: 146px;
}
/* ACCORDION */
.accordions {
	padding: 0 80px;
}
.accordion__header {
	display: block;
	height: 40px;
	line-height: 60px;
	transition: 0.5s;
	-webkit-transition: 0.5s; 
	margin-top: 15px;
}
.accordion:not(:last-child){
	border-bottom: 2px solid #303031;
}
.accordion__pointer {
	float: left;
	position: relative;
	width: 40px;
	height: 100%;
	transition: 0.5s;
	-webkit-transition: 0.5s; 
}
.accordion__pointer:before {
	content: "";
	position: absolute;
	top: 30%;
	left: 50%;
	width: 9px;
	height: 2px; 
	font-size: 10px;
	transition: 0.5s;
	-webkit-transition: 0.5s; 
	transform: translate(-50%, -50%);
	background-color: #fff;
}
.accordion__pointer:after {
	content: "";
	position: absolute;
	top: 30%;
	left: 50%;
	width: 2px;
	height: 9px; 	
	font-size: 10px;
	transition: 0.5s;
	-webkit-transition: 0.5s; 
	transform: translate(-50%, -50%);
	background-color: #fff;
}
.accordion__link {
	font: 14px/24px 'GothamProBlack', sans-serif;	
	color: #fff;
}
.accordion-body {
	display: none; 
}
.accordion-body__article {
	margin: 30px 0 30px 80px;
	color: #fff;
	line-height: 24px;
}
.accordions .active .accordion__pointer:after {
	background-color: transparent; 
}
.accordions .active .accordion__link {
	color: #fff; 
}
.accordions .active .accordion-body {
	display: block; 
}
/* section with map - findUs */
.findUs {
	position: relative;
	text-align: center;
}
.findUs iframe {
	width: 100%;
	height: 500px; 
}
.findUs__window {
	position: absolute;
	top: 120px;
	left: 60px;
	width: 460px;
	height: 260px;
	background: #fff;
	opacity: 0.6;
}
.findUs__title {
	padding-top: 70px;
}
/* footer */
.footer {
	background: #263238;
	height: 270px;
	line-height: 270px;
	color: #fff;
}
.top-footer__logo {
	float: left;
	margin-left: 16px;
	margin-right: 190px;	
}
.top-footer__navigation {
	float: left;	
	line-height: 260px;
}
.top-footer__navigation-item {
	float: left;
	margin-left: 100px;
}
.top-footer__navigation-link:hover {
	color: #16a085; 
}
.top-footer__right {
	float: right;
	line-height: 18px; 
}
.top-footer__right-phone {
	padding-top: 100px;
	padding-bottom: 18px;
	font-size: 18px;	
	letter-spacing: 1.1px;	
}
.top-footer__right-callback {
	padding: 10px 34px; 
	border: 1px solid #fff;
	border-radius: 22px;
	font-weight: bold;
}
.top-footer__right-callback:hover {
	background: #16a085;
	border-color: #16a085; 
}