/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .formInfo .wrapper {
    padding: 60px 15px;
    margin: 0 auto; }
  .formInfo__title {
    width: 70%;
    margin: auto; }
  .formInfo .formInfo__proposal .arrow {
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: .4; }
  .formInfo .formInfo__form {
    padding: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .formInfo .form-line {
    width: 60%;
    padding: 15px 30px;
    margin: 10px auto;
    color: #919191;
    text-align: center; }
  .formInfo .form-button {
    padding: 15px 30px;
    width: 60%;
    margin: 10px auto; }
  .media .media__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .media .box__left {
    width: 100%;
    margin: auto; }
  .media .box__right {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin: auto; }
  .media .media__box-press {
    margin-left: auto;
    text-align: center; }
    .media .media__box-press .list__wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .media .media__box-tv {
    padding-top: 40px;
    margin-left: auto; }
    .media .media__box-tv .box__title {
      text-align: center; }
    .media .media__box-tv .media__box-tv__wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .media .media__box-person {
    margin-bottom: 40px; }
    .media .media__box-person .box__title {
      text-align: center; }
    .media .media__box-person .box__description {
      width: 70%;
      margin: auto;
      padding: 20px 0; }
    .media .media__box-person .list__wrap {
      width: 80%;
      margin: auto; }
    .media .media__box-person .person__list {
      padding: 30px 60px; }
  .choiceUS__title {
    padding: 60px 0; }
  .form .flex__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-bottom: 50px; }
  .form__item {
    width: 50%;
    margin: 20px auto; }
  .form__list {
    margin-top: -100px; }
  .form .form__email .form-line {
    width: 50%;
    margin: 8px auto;
    padding: 15px 20px;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    text-align: center; }
  .form .form__email .form-button {
    width: 50%;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin: 10px auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 900px) {
  .header__top {
    padding-top: 10px; }
  .header__contact .mobile {
    font-size: 1.25rem; }
  .header__center {
    padding-top: 60px; }
  .header__end {
    margin: 60px 0;
    font-size: 1.375rem; }
  .proposal {
    padding: 30px 15%; }
    .proposal .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .proposal__content {
      position: inherit;
      float: none;
      width: 100%;
      margin: 0 auto;
      padding: 40px 0;
      color: #fff; }
    .proposal__title {
      font-size: 1.625rem; }
    .proposal__text {
      padding-top: 15px;
      font-size: 1.375rem; }
    .proposal__form {
      text-align: center;
      position: inherit;
      top: auto;
      bottom: auto;
      left: auto;
      height: inherit;
      margin: 0 auto;
      padding: inherit;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      width: 320px; }
    .proposal img {
      margin-top: 25px; }
    .proposal .callback {
      margin: 0 auto;
      padding: 0;
      width: 300px; }
    .proposal .form-button {
      display: inline-block; }
  .header-order {
    background: url(../img/background_order.jpg) no-repeat 23% 0%; }
    .header-order .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header-order .header__text-order {
      padding-top: 150px;
      margin-bottom: 20px;
      width: 70%; }
    .header-order .header__video-order {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 70%;
      height: 350px; }
    .header-order .registration {
      padding-top: 10px;
      padding-bottom: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0;
      width: 70%; }
      .header-order .registration img {
        width: 120px; }
      .header-order .registration__text {
        text-align: center; }
    .header-order .form-button {
      margin: 5px auto; }
  .details__item-img {
    width: 150px;
    height: 150px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header .header__logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .header .header__logo img {
      height: 100px; }
  .header__nav {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .header__item {
    font-size: 1.125rem; }
  .header__contact {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .header__center {
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.1875rem; }
  .header__end {
    margin: 60px 0;
    font-size: 1.25rem; }
  .typeAd {
    padding-bottom: 0; }
    .typeAd__list {
      width: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .typeAd__item {
      text-align: center;
      margin-bottom: 110px; }
      .typeAd__item:last-child {
        margin-bottom: 0; }
      .typeAd__item span {
        display: inherit;
        left: 23%; }
        .typeAd__item span:after {
          margin-left: -10px;
          position: absolute;
          width: 0; }
  .advantages {
    padding: 60px 5%;
    text-align: center; }
    .advantages__list {
      padding-top: 80px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0 auto; }
    .advantages__item {
      width: auto; }
    .advantages span {
      width: auto; }
  .about {
    padding: 60px 5%; }
    .about__title {
      font-size: 1.875rem; }
    .about .info {
      padding-bottom: 10px; }
      .about .info-term {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto; }
      .about .info-text {
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
        padding-left: 0;
        padding-right: 0; }
      .about .info-list {
        padding-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto; }
      .about .info__item {
        margin-bottom: 25px; }
        .about .info__item span {
          width: auto; }
  .photoText .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0; }
  .photoText .photo {
    min-height: 600px;
    width: 100%;
    padding: 0;
    background: no-repeat 50% 40%;
    -webkit-background-size: cover;
            background-size: cover; }
  .photoText .text {
    width: 100%;
    padding: 25px; }
    .photoText .text__name {
      padding-top: 4%;
      padding-bottom: 4%;
      font-size: 1.375rem; }
    .photoText .text__text {
      padding-bottom: 10px;
      font-size: 1.125rem;
      font-family: "GothamProLight"; }
  .review__video {
    margin: auto;
    padding-top: 30px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto; }
  .review .box__video {
    margin: 20px 2%;
    width: auto;
    height: 330px; }
  .question {
    padding-bottom: 30px; }
    .question__list {
      padding-top: 70px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .question__item {
      width: auto; }
    .question__contact {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .question .contact__link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: auto; }
      .question .contact__link object {
        padding-right: 10px; }
  .header-order {
    background: url(../img/background_order.jpg) no-repeat 72%; }
    .header-order .wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .header-order .header__text-order {
      padding-top: 100px;
      margin-bottom: 20px;
      width: 100%;
      text-align: right; }
    .header-order .header__video-order {
      width: 100%;
      height: 300px; }
    .header-order .registration {
      width: 100%; }
      .header-order .registration img {
        width: 80px; }
      .header-order .registration__text {
        text-align: center; }
      .header-order .registration .form-line {
        text-align: center; }
  .mission__list {
    padding-bottom: 40px;
    width: 90%; }
  .mission__item {
    margin: 25px 0; }
    .mission__item:before {
      left: 50%; }
  .details__list {
    background: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .details__item {
    width: 30%; }
    .details__item-text {
      min-height: 90px;
      padding-bottom: 20px;
      text-align: center; }
    .details__item-img {
      width: 150px;
      height: 150px; }
  .details .top {
    width: 28%; }
  .details .center {
    width: 28%; }
  .details .end {
    margin-left: auto; }
  .comment__title {
    padding-bottom: 40px; }
  .comment .flex__wrap {
    padding-bottom: 40px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .comment .flex__wrap iframe {
      display: block;
      min-height: 300px;
      min-width: 300px;
      width: 90%;
      height: 100%;
      margin: 0 auto; }
    .comment .flex__wrap p {
      padding: 10px 0 25px 0;
      text-align: center; }
  .choiceUS__title {
    padding: 30px 0 0 0; }
  .form__item {
    width: 90%; }
  .form .form__attention {
    margin-bottom: 55px; }
  .form__list {
    margin-top: -50px; }
  .form .form__email .form-line {
    width: 70%;
    margin: 8px auto;
    padding: 15px 20px;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    text-align: center; }
  .form .form__email .form-button {
    width: 70%;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin: 10px auto; }
  .form .form__email .flex__wrap {
    margin: 15px auto;
    margin-bottom: 0; }
  .form .form__email p {
    font-size: 1.5rem; }
  .bonus__thank {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bonus__thank .bonus__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 10% 0;
      border: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .tv {
    display: none; }
  .video-wrapper {
    min-height: 730px; }
  .video-overlay {
    display: none; }
  .header {
    background: url(../img/background.jpg) no-repeat 45% 0%; }
    .header .wrapper {
      padding: 5px; }
    .header__list {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .header__item {
      font-size: 1.125rem; }
      .header__item:last-child {
        width: 100%;
        text-align: center; }
    .header__contact .mobile {
      text-align: right;
      font-size: 1rem; }
    .header__center {
      padding-top: 120px;
      font-size: 1.625rem; }
  .typeAd__title-top {
    font-size: 1.75rem; }
  .typeAd__title-center {
    font-size: 1.25rem; }
  .typeAd__title-end {
    font-size: 1.25rem; }
  .typeAd span {
    left: 15%; }
  .formInfo {
    padding: 0; }
    .formInfo__title {
      font-size: 1.25rem;
      width: 95%; }
    .formInfo .formInfo__proposal .arrow {
      display: none; }
    .formInfo .formInfo__form {
      padding: 40px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .formInfo .form-line {
      width: 80%; }
    .formInfo .form-button {
      width: 80%; }
  .advantages {
    padding: 60px 15px; }
    .advantages__title {
      font-size: 1.75rem; }
    .advantages__item {
      margin-bottom: 30px; }
    .advantages span {
      width: 300px; }
  .about {
    padding: 60px 15px; }
    .about__title {
      padding-top: 0;
      font-size: 1.75rem; }
    .about .info-term {
      padding: auto;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto; }
    .about .info-text {
      padding: auto;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto; }
    .about .info__item {
      margin: auto;
      padding-bottom: 15px; }
      .about .info__item span {
        width: 100%;
        text-align: center; }
  .promise__text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.75rem; }
  .media .media__box-person .box__title {
    font-size: 1.75rem; }
  .media .media__box-person .box__description {
    width: 80%; }
  .media .media__box-press .box__title {
    font-size: 1.75rem; }
  .media .media__box-press .list__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .media .media__box-press .list__item {
    margin-bottom: 25px; }
  .media .media__box-press .press__controls {
    display: inherit; }
    .media .media__box-press .press__controls i {
      position: absolute;
      display: block;
      top: 50%;
      z-index: 100;
      color: #333;
      font-size: 3.5rem; }
      .media .media__box-press .press__controls i:hover {
        cursor: pointer; }
    .media .media__box-press .press__controls .owl-prev i {
      left: 0; }
    .media .media__box-press .press__controls .owl-next i {
      right: 0; }
  .media .media__box-tv {
    padding-top: 40px;
    margin-left: 0; }
    .media .media__box-tv .box__title {
      font-size: 1.75rem; }
    .media .media__box-tv .media__box-tv__wrap {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
  .review__title {
    font-size: 1.75rem; }
  .question__title {
    font-size: 1.75rem; }
  .question .contact__link {
    font-size: 1rem; }
    .question .contact__link object {
      padding-right: 6px; }
  .proposal {
    padding: 20px 15px; }
    .proposal__form {
      width: 100%; }
    .proposal img {
      margin-top: 25px; }
    .proposal .callback {
      margin: 0 auto;
      padding: 0;
      width: 100%; }
    .proposal .form-line {
      width: 220px; }
    .proposal .form-button {
      text-align: center;
      display: inline-block;
      width: 220px;
      padding-left: 0;
      padding-right: 0; }
  .footer__item {
    line-height: 20px; }
  .header-order {
    background: none; }
    .header-order .wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header-order .header__text-order {
      padding-top: 80px;
      margin-bottom: 20px;
      text-align: center; }
    .header-order .registration {
      width: 100%; }
      .header-order .registration img {
        width: 80px; }
      .header-order .registration__text {
        text-align: center; }
      .header-order .registration .form-line {
        text-align: center;
        padding: 8px 0;
        width: 300px; }
      .header-order .registration .form-button {
        width: 300px; }
  .details__title {
    padding: 40px 0;
    font-size: 1.375rem; }
  .details__list {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .details__item {
    width: 100%; }
    .details__item-text {
      min-height: auto;
      padding-bottom: 20px; }
  .details .top {
    width: 100%; }
  .details .center {
    width: 100%; }
  .details .end {
    margin-left: 0; }
  .partners__title {
    padding: 40px 0;
    font-size: 1.375rem; }
  .choiceUS__title {
    padding: 20px 0;
    font-size: 1.375rem; }
  .form__item {
    width: 95%; }
    .form__item-title {
      font-size: 1.375rem; }
  .form .form__attention {
    margin-top: 50px;
    margin-bottom: 80px; }
  .form__list {
    margin-top: -50px; }
  .form .form__email .form-line {
    width: 95%; }
  .form .form__email .form-button {
    width: 95%; }
  .form .form__email p {
    font-size: 1.375rem; }
  .header-thank {
    height: 180px; }
    .header-thank .invite__title {
      padding: 35px 0;
      font-size: 1.875rem; }
    .header-thank:before {
      height: 180px; } }
