.container {
    @media @mobile {
        padding: 0 10px;
    }
    @media @tablet {
        padding: 0;
    }
}
a {
    outline: none!important;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

body {
    position: relative;
    z-index: 1;
    padding-right: 0 !important;
    font-size: @fs;
    line-height: @lh;
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-family: @ff1;

    background: #f4f6f6;
}

.fancybox-margin {
    margin-right: 0 !important;
}

.section__title {
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #000;

    br {
        display: none;
    }

    &:before {
        content: '';
        position: absolute;
        width: 93px;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: @yellow;

        @media @tablet {
            height: 7px;
        }
    }

    @media @tablet {
        font-size: 30px;
        br {
            display: inline;
        }
    }
    @media @desktop-xl {
        font-size: 35px;
    }
}

.page-inner {
    background: url(../images/road-2.png)no-repeat bottom;
    background-attachment: fixed; 
    color: #000;
    &__title {
        padding-top: 80px;
        @media @desktop {
            padding-top: 140px;
            text-align: left;
            &:before {
                left: 0;
                transform: none;
            }
        }
    }

    &__subtitle {
        font-size: 20px;
        text-align: center;
        @media @desktop {
            text-align: left;
            font-size: 22px;
        }
    }

    &__desc {
        font-size: 17px;
        padding: 15px;
        margin: 0;
        @media @tablet {
            padding: 0 15px;
        }
        @media @desktop {
            padding: inherit;
            font-size: 20px;
        }
    }
    &__box {
        padding-top: 25px;
        @media @desktop {
            padding-top: inherit;
        }
    }
}