.container {
    @media @mobile {
        padding: 0 10px;
    }
    @media @tablet {
        padding: 0;
    }
}
a {
    outline: none!important;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

body {
    position: relative;
    z-index: 1;
    padding-right: 0 !important;
    font-size: @fs;
    line-height: @lh;
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-family: @ff1;

    background: #f4f6f6;
}

.fancybox-margin {
    margin-right: 0 !important;
}

section {


}

header, footer {
    /*     overflow: hidden; */
}

button, .button {

}

.section__title {
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #000;

    &:before {
        content: '';
        position: absolute;
        width: 93px;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: @yellow;

        @media @tablet {
            height: 7px;
        }
    }

    @media @tablet {
        font-size: 30px;
    }
    @media @desktop-xl {
        font-size: 35px;
    }
}