@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {
	position: relative;
	overflow: hidden;
	min-height: 680px;
	background: url(../images/back-hero-sm.jpg) no-repeat 75% 50%;

	@media @tablet {

	}
	@media @desktop {
		background: url(../images/back-hero.jpg) no-repeat center/cover;
	}
	@media @desktop-xl {
		height: 100%;
		height: 100vh;
	}

	&__top {
		padding: 8px 0;
		position: relative;
		z-index: 1;
		background: #f4f6f6;

		&:before {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			height: 0;
			box-shadow: 4.298px 10.126px 32.2px 2.8px rgba(0, 0, 0, 0.4);
		}
	}

	.logo__img {
		float: left;
		margin-left: 50px;
		max-width: 130px;
		@media @tablet {
			/* 	margin-top: 20px; */
			max-width: inherit;
		}
		@media @desktop {

			margin-left: 0;
		}
	}

	.nav {
		&__list {
			float: right;
			padding-right: 80px;
			padding-top: 70px;
			@media @desktop {
				padding: 20px 0; 
			}
		}

		.nav__list-submenu,
		.nav__list-submenu2 {
			position: absolute;
			top: 52px;
			background: #fff;
			visibility: hidden;
			opacity: 0;
			transition: all .3s linear;
			
			.nav__item {
				padding: 5px 0 5px 5px;	
			}
			.nav__link-sub {
				display: block;
				padding: 5px 10px;
				font-size: 16px;
				color: #000;
				transition: all .3s ease;
				border-bottom: 2px solid #f4f6f6;
			}
			.nav__item-sub-first{
				border-bottom: 1px solid #f4f6f6;
			}
		}

		.nav__list-submenu2 {
			/* left: 220px; */
		}

		&__item{
			@media @desktop {
				display: inline-block;
				margin-right: 35px;
			}

		}
		&__link {
			display: block;
			padding-bottom: 10px; 
			position:relative;
			color: #000;
			font-size: 18px;
			font-weight: 500;
			transition: all .5s;
			text-decoration:none;

			&:after {
				content: '';
				position: absolute;

				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;

				background-color: @yellow;
				transition: transform .3s  linear;		
				transform: scaleX(0);
				transform-origin: bottom right; //TIP point
				z-index: 10;
			}
			&:hover, &:focus {
				transition: all .5s;
				&:after{
					-webkit-transform-origin: bottom left; //TIP point
					-ms-transform-origin: bottom left;
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
		}

		.linkForSubMenu:hover {
			.nav__link {
				&:after {
					content: '';
					position: absolute;

					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;

					background-color: @yellow;
					transition: transform .3s  linear;		
					transform: scaleX(1);
					transform-origin: bottom left; //TIP point
				}
			}
			.nav__list-submenu, 
			.nav__list-submenu2 {
				visibility: visible;
				opacity: 1;
			}
			.nav__link-sub {
				&:hover {
					background: #f4f6f6;
					border-bottom: 2px solid @yellow;
				}
			}
		}
	}



	/* RESPONSIVE MENU TO 992px*/

	.overlay {
		position: absolute;
		width: 250px;

		background: #f4f6f6;
		height: 110vh; 
		top: -10px;
		left: -450px;



		@media @desktop {
			position: inherit;
			width: inherit;
			height: inherit;
		}
	}
	.open {
		transform: translateX(400px);
		transition-duration: 0.5s; 
		position: fixed;  
		z-index: 10;
		@media @desktop {
			display: none;
		}
	}


	.burger {
		width: 50px;
		height: 50px;
		transition: all 0.6s ease-in-out;
		position: absolute;
		z-index: 10000;
		top: -3px;
		left: 0;
		z-index: 100;
		background: transparent;
		border: none;
		outline: none;
		display: block;
		&:hover {
			cursor: pointer;
		}
		@media @tablet {
			top: 10px;
		}
		@media @desktop {
			display: none;
		}
	}
	.burger i {
		display: block;
		width: 40px;
		height: 2px;
		background: @yellow;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
	.burger i:before, .burger i:after {
		content: '';
		position: absolute;
		height: 2px;
		background: @yellow;
		width: 40px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
	.burger i:before {
		margin-top: -12px;
	}
	.burger i:after {
		margin-top: 12px;
	}
	.burger:hover i:before {
		margin-top: -14px;
	}
	.burger:hover i:after {
		margin-top: 14px;
	}
	.burger.active i {
		background: transparent;
	}
	.burger.active i:before, .burger.active i:after {
		left: -5px;
		width: 50px;
	}
	.burger.active i:before {
		transform: rotate(45deg);
		top: 12px;
	}
	.burger.active i:after {
		transform: rotate(-45deg);
		top: -12px;
	}
	.burger.active:hover i:before, .burger.active:hover i:after {
		width: 60px;
		margin: 0;
		left: -10px;
		top: 0;
	}	

	/* END RESPONSIVE MENU TO 992px*/

	.lang__box {
		float: right;
		margin-top: 6px;
		@media @tablet {
			padding: 6px 0; 
		}

		.lang__btn {
			padding: 2px 4px;
			border: 2px solid @yellow;
			border-radius: 5px;
			background: #fff;		
			transition: all .3s linear;
			color: #000;
			font-size: 14px;
			
			@media @tablet {
				margin-right: 5px;
				padding: 6px 12px;
				box-shadow: 2.735px 6.444px 4.6px 0.4px rgba(240, 216, 20, 0.21);
				font-size: 16px;
				&:hover {
					box-shadow: none;
					background-color: #fab900;
					border: 2px solid #fab900;
				}
			}
		}
		.lang__btn-active {
			background: @yellow;
			border: 2px solid @yellow;
			box-shadow: none;
			transition: all .3s linear;
		}
	} 


	.center__text {	
		margin-top: 100px;
		padding: 6px 15px;
		border-left: 10px solid @yellow;
		background: rgba(0,0,0, .6);


		@media @tablet {
			text-align: left;
		}
		@media @desktop {
			padding: 6px 50px;
			margin-top: 100px;
			width: 900px;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			margin-top: 310px;
		}


		&-main {
			font-size: 26px;
			font-weight: 700;

			@media @desktop {
				font-size: 30px;
			}
			@media @desktop-xl {
				font-size: 42px;
				line-height: 1.1;
			}
		}
		&-desc {
			font-size: 24px;
			padding-bottom: 20px;			
			letter-spacing: .2px;
			
			font-weight: 500;

			@media @tablet {

			}
			@media @desktop {
				font-size: 28px;
			}
			@media @desktop-xl {
				padding-left: 15px;
				font-size: 28px;
				line-height: 1.1;
			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
	}


	.arrow__btn {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			animation: arrow-bounce 5s infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}

} 



#fixedTopMenu.fixed{
	padding: 5px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	background: #f4f6f6;
	z-index: 3000;
	animation: smoothScroll 1s forwards;

	.logo__img {
		padding-top: 0px;
		width: 130px;

		@media @tablet {
			padding-top: 5px;
		}
	}

	.burger {
		@media @tablet {
			top: 2px;
		}
	}

	/* HIDE SHADOW */
	&:before {
		display: none;
	}

	.nav {
		&__list {
			@media @desktop {
				margin-top: 5px;
				padding: 5px 0;
			}
		}
	}

	.lang__box {
		@media @tablet {
			margin-top: 0;
			padding: 5px 0;
		}
	} 

	.nav__list-submenu,
	.nav__list-submenu2 {
		position: absolute;
		top: 42px;
	}
}



