@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header__top {
	padding: 8px 0;
	position: fixed; 
	width: 100%;
	z-index: 1000;
	background: #f4f6f6;

	@media @desktop {

		&:before {
			content: '';
			position: absolute;
			bottom: 10px;
			left: -4px;
			width: 100%;
			height: 0;
			box-shadow: 4.298px 10.126px 32.2px 2.8px rgba(0, 0, 0, 0.4);
		}
	}
}

.header__top-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media @desktop {

	}
	.box-logo {
		order: 0;
		flex: 1;
		@media @desktop {
			flex: inherit;
		}
	}

	.logo__img {
		max-width: 130px;
		transition: all .3s linear;
		@media @desktop {
			max-width: inherit;
		}
	}

	.nav {
		order: 2;
		@media @desktop {
			order: 2;
		}
		&__list {
			padding: 35px 20px;
			@media @desktop {
				padding: 12px 0; 
			}
		}

		.nav__list-submenu,
		.nav__list-submenu2 {
			display: none;
			@media @desktop {
				display: inherit;
				min-width: 210px;
				position: absolute;
				top: 43px; 
				visibility: hidden;
				opacity: 0;
				background: #fff;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
			}

			.nav__link-sub {
				display: block;

				padding: 10px;
				font-size: 16px;
				color: #000;
				transition: all .3s ease;
				border-bottom: 2px solid #f4f6f6;


			}
			.nav__item-sub-first{
				border-bottom: 1px solid #f4f6f6;
			}
		}


		&__item{
			@media @desktop {
				display: inline-block;
				margin-right: 35px;
			}
		}

		&__link {
			display: block;
			padding-bottom: 10px; 
			margin-bottom: 10px;
			position:relative;
			color: #000;
			font-size: 18px;
			font-weight: 500;
			transition: all .5s;
			text-decoration:none; 
			@media @desktop {
				padding: 10px 0; 
				margin-bottom: inherit;
			}

			&:after {
				content: '';
				position: absolute;

				bottom: 8px;
				left: 0;
				width: 100%;
				height: 2px;

				background-color: @yellow;
				transition: transform .3s  linear;		
				transform: scaleX(0);
				transform-origin: bottom right; 
				z-index: 10;
				@media @desktop {
					bottom: 0;
				}
			}
			&:hover, &:focus {
				transition: all .5s;
				&:after{
					-webkit-transform-origin: bottom left; 
					-ms-transform-origin: bottom left;
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
		}

		.link-active {
			transition: all .5s;
			&:after{
				-webkit-transform-origin: bottom left; 
				-ms-transform-origin: bottom left;
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}

		.linkForSubMenu {
			position: relative;
			cursor: pointer;
			&:before {
				content: '\e80a';
				position: absolute;
				right: 0;

				color: #000;
				font-size: 18px;
				font-family: 'Fontello';
				@media @desktop {
					display: none;
				}
			}


			&:hover {
				.nav__link {
					&:after {
						content: '';
						position: absolute;

						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;

						background-color: @yellow;
						transition: transform .3s  linear;		
						transform: scaleX(1);
						transform-origin: bottom left; 
					}
				}
				.nav__list-submenu, 
				.nav__list-submenu2 {
					@media @desktop {
						visibility: visible;
						opacity: 1;
					}
				}
				.nav__link-sub {
					&:hover {
						background: #f4f6f6;
						border-bottom: 2px solid @yellow;
					}
				}
			}
		}

		.linkForSubMenu.active {
			&:before {
				content: '\e80f';
			}
		}
	}


	.lang__box {
		order: 0;
		margin-right: 3%;
		@media @desktop {
			order: 3;
			width: 180px;
			margin-right: inherit;
		}

		.lang__btn {
			padding: 2px;
			border: 2px solid @yellow;
			border-radius: 5px;
			background: #fff;		
			transition: all .3s linear;
			color: #000;
			font-size: 14px;

			@media @desktop {
				margin-right: 5px;
				padding: 4px 6px;
				box-shadow: 2.735px 6.444px 4.6px 0.4px rgba(240, 216, 20, 0.21);
				font-size: 16px;
				&:hover {
					box-shadow: none;
					background-color: @yellow;
					border: 2px solid @yellow;
				}
			}
		}
		.lang__btn-active {
			background-color: @yellow;
			border: 2px solid @yellow;
			box-shadow: none;
			transition: all .3s linear;
		}
	}
}


.header-main {
	position: relative;
	overflow: hidden;
	min-height: 680px;
	background: url(../images/back-hero-sm.jpg) no-repeat 75% 50%;


	@media @tablet {
		min-height: 400px;
	}
	@media @desktop {
		background: url(../images/back-hero.jpg) no-repeat center/cover;
		min-height: 680px;
	}

	@media @desktop-xl-2 {
		min-height: 960px;
	}



	.center__text {	
		margin-top: 160px;
		margin-bottom: 100px;
		padding: 6px 15px;
		border-left: 10px solid @yellow;
		background: rgba(0,0,0, .6);


		@media @tablet {
			text-align: left;
		}
		@media @desktop {
			padding: 6px 50px;
			margin-top: 200px;
			width: 900px;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			margin-top: 310px;
		}


		&-main {
			font-size: 24px;
			font-weight: 700;

			@media @desktop {
				font-size: 30px;
			}
			@media @desktop-xl {
				font-size: 42px;
				line-height: 1.1;
			}
		}
		&-desc {
			font-size: 19px;
			padding-bottom: 20px;			
			letter-spacing: .2px;

			font-weight: 500;

			@media @tablet {

			}
			@media @desktop {
				font-size: 28px;
			}
			@media @desktop-xl {
				font-size: 28px;
				line-height: 1.1;
			}
		}
	}


	.arrow__btn {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			animation: arrow-bounce 5s infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}




#fixedTopMenu.fixed{

	@media @desktop {
		padding: 5px 0;
		position: fixed;  
		width: 100%;
		background: #fff;
		z-index: 3000;
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);


		.logo__img {
			padding-top: 0px;
			width: 130px;
			@media @tablet {
				padding-top: 5px;
			}
		}


		/* HIDE SHADOW */
		&:before {
			display: none;
		}

		.nav {
			&__list {
				padding: 5px 0;
				transition: all .3s linear;
			}
		}



		.nav__list-submenu,
		.nav__list-submenu2 {
			position: absolute;
			top: 43px;
		}

	}

	@media @tablet {
		.lang__box {
			margin-top: 0;
			padding: 5px 0;
		}
	} 
}