@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {

	&__top {
		padding: 6px 0;
		position: relative;
		z-index: 1;

	}


	.nav {
		padding: 20px 0; 
		position: relative;
		.nav__list-submenu {
			position: absolute;
			bottom: -50px;
			left: 0;
			background: #fff;
			opacity: 0;
			transition: .3s all linear;
			.nav__item {
				padding: 5px 0 5px 5px;
				
			}
			.nav__link-sub {
				display: block;
				padding: 5px;
				font-size: 14px;
				color: #000;
				transition: all .3s ease;
			}
			.nav__item-sub-first{
				border-bottom: 1px solid #f4f6f6;
			}
		}

		.about__link:hover {
			.nav__link {
				&:after {
					content: '';
					position: absolute;

					bottom: -5px;
					left: 0;
					width: 100%;
					height: 2px;

					background-color: @yellow;
					transition: transform .3s  linear;		
					transform: scaleX(1);
					transform-origin: bottom left; //TIP point
				}
			}
			.nav__list-submenu {
				opacity: 1;
			}
			.nav__link-sub {
				&:hover {
					background: #f4f6f6;
				}
			}
		}

		&__item {
			display: inline-block;
			margin-right: 35px;
		}
		&__link {
			position:relative;
			color: #000;
			font-size: 18px;
			font-weight: 500;
			transition: all .5s;
			text-decoration:none;

			&:after {
				content: '';
				position: absolute;
				
				bottom: -5px;
				left: 0;
				width: 100%;
				height: 2px;

				background-color: @yellow;
				transition: transform .3s  linear;		
				transform: scaleX(0);
				transform-origin: bottom right; //TIP point
			}
			&:hover, &:focus {
				transition: all .5s;
				&:after{
					-webkit-transform-origin: bottom left; //TIP point
					-ms-transform-origin: bottom left;
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
		}

		
	}

	.lang__box {
		padding: 17px 0; 
		.lang__btn {
			padding: 6px 12px;
			margin-right: 5px;
			border: 2px solid @yellow;
			border-radius: 5px;
			background: #fff;
			box-shadow: 2.735px 6.444px 4.6px 0.4px rgba(240, 216, 20, 0.21);
			transition: all .3s linear;
			color: #000;
			font-size: 16px;
			&:hover {
				box-shadow: none;
				background-color: #fab900;
				border: 2px solid #fab900;
			}
		}
		.lang__btn-active {
			background: @yellow;
			border: 2px solid @yellow;
			box-shadow: none;
			transition: all .3s linear;
		}
	} 


	&__center {
		height: 100%;
		height: 92vh;
		position: relative;
		background: url(../images/back-hero.jpg) no-repeat center/cover;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			box-shadow: 4.298px 10.126px 32.2px 2.8px rgba(0, 0, 0, 0.4);
		}
	}

	.center__text {
		
		width: 900px;
		margin-top: 310px;
		padding: 6px 50px;

		border-left: 10px solid @yellow;
		background: rgba(0,0,0, .6);

		&-main {
			font-size: 42px;
			line-height: 1.1;
			font-weight: 700;
		}
		&-desc {
			padding-left: 15px;
			padding-bottom: 20px;

			font-size: 28px;
			letter-spacing: .2px;
			line-height: .5;
			font-weight: 500;
		}
	}

	.arrow__btn {
		display: block;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		animation: arrow-bounce 5s infinite;
		&:hover {
			animation-play-state: paused;
		}
	}

} 







/* #fixedTopMenu.fixed{
	position: fixed;
	padding: 0 15px;
	top: 0;
	left: 0;
	width: 100%;
	background: #131313;
	z-index: 3000;
	animation: smoothScroll 1s forwards;
	&:after {
		display: none;
	}
}
*/


