@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	padding-bottom: 40px;
	position: relative; 
	background: #f4f6f6;
	overflow: hidden;
	clear: both;


	&-wrap {
		max-width: 1920px;
		margin: auto; 
		box-shadow: 0 0 32px 3px rgba(0, 0, 0, .3);

	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/road-2.png)no-repeat center/cover;
		background-size: cover; 
	}
	&__title {
		padding-top: 40px;
	}




	&__box {
		position: relative;

		@media @tablet {

		}
		@media @desktop {
			padding: 30px 0;
		}
		@media @desktop-xl {
			padding: 40px 100px 10px 100px;
		}
		@media @desktop-xl-2 {

		}
	} 

	&__item {
		width: 300px;
		margin: auto;
		padding-bottom: 25px;
		color: #000;
		text-align: center;

	}

	&__item-title {
		padding-top: 0;
		font-size: 20px;
		line-height: 1;
		font-weight: 700;
	}
	&__text {
		padding: 0 25px;
		line-height: 1.2;
		font-weight: 300;
	}
}
