@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header__news {
	min-height: auto;
	height: auto;
	background: #fff;
	overflow: visible;

	.header__top {
		background: #fff;
	}

}

.news {
	background: url(../images/road-2.png)no-repeat bottom;
	color: #000;
	background-attachment: fixed; 
	&__title {
		padding-top: 60px;

		@media @desktop {
			padding-top: 140px;
			text-align: left;
			&:before {
				left: 0;
				transform: none;
			}
		}
		
	}

	&__box {
		padding: 30px 0;
	}

	.post {
		width: 300px;
		margin: auto;
		margin-bottom: 30px;
		background: #fff;
		box-shadow: 17.732px 19.015px 26.19px 0.81px rgba(171, 171, 171, 0.25);
		overflow: hidden;

		&:hover {
			.post__img {
				filter: sepia(0);
			}
		}

		@media @tablet {
			width: inherit;
		}

		.img__wrap {
			display: block;
			max-height: 245px;
		}
		&__img {
			display: block;
			max-width: 100%;
			filter: sepia(0.5);
			transition: filter .3s linear; 
		}
		&__wrap {
			padding: 10px 25px;

		}
		&__title {
			margin: 5px 0;
			font-size: 21px;
			font-weight: 700;
			transition: color .3s linear;
			&:hover {
				color: #999;
			}
			@media @desktop {
				font-size: 24px;
			}
		}
		&__time {
			font-size: 18px;
		}
		&__content {
			margin-top: 20px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: -8px;
				left : 0;
				height: 2px;
				width: 100%;
				background-color: @yellow;
			}
		}
		&__text {
			margin: 0;
		}

		&__btn {
			display: block;
			margin: 15px 0;
			padding: 5px 15px;
			width: 156px;
			height: 28px;
			border-radius: 6px;
			background-color: @yellow;
			box-shadow: 1.172px 2.762px 4.6px 0.4px rgba(240, 216, 20, 0.21);	
			text-align: center;
			transition: all .3s linear;
			&:hover {
				box-shadow: none;
				background-color: #fab900;
			}
		}
	}
}

.newsInfo {
	background: url(../images/road-2.png)no-repeat bottom;
	background-attachment: fixed; 
}

.postInfo {
	max-width: 1130px;
	margin: auto;
	position: relative;
	&:before {	
		@media @tablet {
			content: '';
			position: absolute;
			right: 30px;
			bottom: -30px;
			width: 100%;
			height: 100%;
			border: 8px solid @yellow;
			z-index: 1;
		}
		@media @desktop {
			right: 40px;
			bottom: -40px;
		}
	}
	.wrap {
		position: relative;
		margin-top: 40px;
		margin-bottom: 100px;
		padding: 30px 15px;
		z-index: 10;
		background: #fff;
		box-shadow: 7.625px 11.741px 29.2px 10.8px rgba(65, 77, 86, 0.09);

		@media @tablet {
			margin-top: 60px;
		}
		@media @desktop {
			padding: 40px;
		}
		@media @desktop-xl {
			padding: 55px 100px;
		}
		@media @desktop-xl-2 {

		}
	}


	&__title {
		margin: 10px 0;
		font-size: 22px;

		@media @tablet {

		}
		@media @desktop {
			font-size: 28px;
		}
	}
	&__subtitle {
		margin-bottom: 1em;
		font-size: 20px;
		font-weight: 700;
	}
	time {
		font-weight: 400;
	}
	&__img {
		display: block;
		margin: auto;
		margin-bottom: 40px;
		width: 100%;
	}

	&__text {
		font-size: 20px;
	}

	.hare {
		padding-top: 10px;
		font-weight: 700;
	}

	.icon {
		font-size: 36px;
		opacity: .4;
		transition: opacity .3s linear;
		&:hover, &:focus {
			opacity: 1;
		}
	}
}


.pagination {
	margin-bottom: 40px;
	text-align: center;
	@media @desktop {
		text-align: left;
	}
	.page-numbers {
		position: relative;
		display: inline-block;
		width: 45px;
		height: 36px;
		font-size: 18px;
		line-height: 36px;
		text-align: center;
		box-shadow: 4.774px 5.119px 15.52px 0.48px rgba(171, 171, 171, 0.39);
		transition: background-color .3s linear;
		z-index: 1;
		&:hover, &:focus {
			background-color: @yellow;
		}
		@media @desktop {
			width: 71px;
			height: 44px;
			font-size: 20px;
			line-height: 44px;
		}
	}
}
