@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.sale {
	padding: 25px 0;
	display: flex;
	
	
	align-items: center;
	flex-direction: column;
	@media @tablet {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	
	&__items {
		position: relative;

		min-width: 300px;
		margin-bottom: 30px;
		box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.2);
		overflow: hidden;
		@media @tablet {
			width: 48%;
			min-width: inherit;
		}
		
		@media @desktop {
			width: 32%;
			margin-bottom: 50px;
		}

		
		&-title {
			padding: 10px 20px;
			position: absolute;
			bottom: -20px;
			transform: translateY(0);
			left: 0;
			width: 100%;
			background: rgba(0, 0, 0, .5);
			color: #fff;
			font-size: 20px;
			font-weight: 700;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 4px;
				width: 100%;
				background: @yellow;
			}
		}
	}

	&__img-wrap {
		position: relative;
		height: 200px;
		max-width: 100%;
		width: 100%;
		box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
		overflow: hidden;
		@media @tablet {

		}
		@media @desktop {
			width: 300px;
		}
		@media @desktop-xl {
			width: 100%;
		}
		@media @desktop-xl-2 {

		}
	}

	&__img {
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		transition: transform .3s linear;
		
		&:hover {
			transform: scale(1.05);
		}
	}

	&__content {
		padding-top: 15px;
	}

	ul {
		background: #fff;
		padding: 10px 0;
		width: 100%;
	}

	li {
		position: relative;
		padding: 2px 5px 2px 30px;
		width: 100%;
		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 10px;
			width: 11px;
			height: 11px;
			background: url(../images/icons/vehicle.png);
		}
	}
	span {
		float: right;
	}
}