@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.map {
	margin: 30px 0 0 0;
	width: 100%;
	height: 400px; 
	border-top: 5px solid @yellow;
	border-bottom: 5px solid @yellow;

	@media @desktop-xl-2 {
		height: 500px; 
	}

}
iframe {
	display: block;
	border: none;
	border: 0;
}


.feedback {
	
	p {
		margin: 0;
	}

	span {
		display: block;
		margin: 5px 0;
		font-weight: 700;
		@media @tablet {
			display: inline;
			margin: inherit;
		}
	}

	address {
		font-style: normal;
	}

	a {
		transition: color .3s linear;
		&:hover {
			color: #0082d7;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 10px;

		@media @tablet {

		}
		@media @desktop {
			padding: 70px 0;
			align-items: flex-end;
			flex-direction: row;
			justify-content: space-between;
		}
		@media @desktop-xl {
			padding: 70px;
		}
	}


	&__title {
		margin-top: 0; 
		position: relative;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
		@media @tablet {

		}
		@media @desktop {
			text-align: inherit;
		}

		@media @tablet {
			font-size: 30px;
		}
		@media @desktop-xl {
			font-size: 35px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 93px;
			height: 4px;
			bottom: -12px;
			left: 50%;
			transform: translateX(-50%);
			background: @yellow;

			@media @tablet {
				height: 6px;
			}
			@media @desktop {
				left: 0;
				transform: none;
			}

		}
	}
	&__list {
		padding-top: 20px;
		padding-left: 30px;
		@media @desktop {
			padding-left: inherit;
		}
	}
	&__item {
		position: relative;
		margin-bottom: 25px;
		&:before {
			position: absolute;
			top: 0;
			left: -30px;
			font-size: 18px;
			font-family: 'Fontello';
			color: @yellow;
		}
		&:nth-of-type(1){
			&:before {
				top: -5px;
				font-size: 24px;
				content: '\e810';
			}
		}
		&:nth-of-type(2){
			&:before {
				content: '\e803';
			}
		}
		&:nth-of-type(3){
			&:before {
				content: '\f0e0';
			}
		}
	}


	&__form {
		order: 2;
		@media @tablet {

		}
		@media @desktop {
			order: inherit;
		}
		@media @desktop-xl {
			width: 500px;
		}
	}

	.form__line {
		padding: 6px 10px;
		border: none;
		border-top: 4px solid @yellow;
		box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
		transition: box-shadow .3s linear;
		&:focus {
			box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0);
		}
	}
	.form__row {
		width: 100%;
	}

	.row__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		

		@media @tablet {
			margin-bottom: 15px;
		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		input {
			width: 100%;
			margin-bottom: 15px;
			@media @tablet {
				width: 48%;
				margin-bottom: inherit;
			}
		}
	}

	.btn {
		display: block;
		margin: 20px auto;
		padding: 6px 25px;
		border: none;
		background: @yellow;
		box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0.18);
		transition: box-shadow .3s linear;
		&:hover {
			box-shadow: 17px 19px 26px 0.81px rgba(171, 171, 171, 0);
		}

		@media @desktop {
			margin: 20px 0;
		}
	}
}