@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.footer {
	padding: 40px 0;
	background: #1e1e1e;
	overflow: hidden;
	text-align: center;
	@media @desktop {
		padding: 70px 0;
		text-align: inherit;
	}
	.logo__img {
		display: block;
		@media @desktop {
			display: inherit;
		}
	}
	.logo__text {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 300;
		@media @desktop {
			display: inherit;
		}
	}
	.logo__road {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-140%);
		}
	}

	.footer__contact {
		margin: 25px 0;
		@media @desktop {
			margin: inherit;
		}
	}

	.footer__box {
		padding: 0 20px;
		position: relative;
		margin: auto;
		&:before {
			@media @desktop {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 6px;
				min-height: 100%;
				background: @yellow;
			}
			
			@media @desktop-xl {
				min-height: 160px;
			}
		}
	}
	.contact__item {
		font-size: 18.6px;
		font-weight: 300;
	}
	.address, .phone {
		margin-bottom: 20px;
	}

	.footer__text {
		margin: 0;
		
		font-size: 18.6px;
		font-weight: 300;
		@media @desktop {
			padding-right: 30px;
		}
	}
}

.agency {
	padding: 15px 0;
	text-align: center;
	font-size: 90%;
	opacity: 0.5;
	font-weight: 300;

	@media @desktop {
		text-align: left;
	}
	@media @desktop-xl {
		text-align: right;
		padding-top: 60px;
/* 		padding-right: 60px; */
	}
}