@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.footer {
	padding: 70px 0 100px 0;
	background: #1e1e1e;

	.logo__text {
		font-size: 16px;
		font-weight: 300;
	}
	.logo__road {
		position: absolute;

		bottom: -100px;
		left: -370px;
	}

	.footer__box {
		padding: 0 20px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 6px;
			min-height: 160px;
			background: @yellow;
		}
	}
	.contact__item {
		font-size: 18.6px;
		font-weight: 300;
	}
	.address, .phone {
		margin-bottom: 20px;
	}

	.footer__text {
		margin: 0;
		padding-right: 30px;
		font-size: 18.6px;
		font-weight: 300;
	}
}