@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 					10px;

/* @fs: 						      	1.6rem;
@fss: 						    	2rem;
@fsb: 						    	1.6rem;


@h1: 						      	4rem;
@h2: 						      	3rem;
@h3: 						      	2rem;
@h4: 						      	2rem;
@h5: 						      	2rem;
@h6: 						      	2rem; */


@fs: 						      	16px;
@lh: 						      	1.33;

@ff1: 								'Avanti', fallback, sans-serif;
@ff2: 								'Avanti', fallback, sans-serif;

@black: 							#272b35;
@grey: 								#e2e8ee;
@lime:                              #89ff00;
@green:                             #55c202;
@yellow:                            #f0d91a;
@red:                               #ff405a;
@blue:                              #007fe3;

@text-color: 						@black;
@text-margin: 						0 0 0rem;

@mobile:      ~"only screen and (min-width: 320px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:  ~"only screen and (min-width: 1920px)";

@dekstop15:    ~"only screen and(width: 1366px)";


@font-face {
    font-family: 'Avanti';
    src: url('../fonts/Avanti/avanti.woff2') format('woff2'), 
    url('../fonts/Avanti/avanti.woff') format('woff'), 
    url('../fonts/Avanti/avanti.ttf') format('ttf');

    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Avanti';
    src: url('../fonts/AvantiBold/avanti-bold.woff2') format('woff2'), 
    url('../fonts/AvantiBold/avanti-bold.woff') format('woff'), 
    url('../fonts/AvantiBold/avanti_bold.ttf') format('ttf');

    font-weight: 700;
    font-style: normal;

}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/Fontello/fontello.woff2') format('woff2'),
       url('../fonts/Fontello/fontello.woff') format('woff'),
       url('../fonts/Fontello/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-bold:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e801'; } /* '' */
.icon-right-bold:before { content: '\e802'; } /* '' */
.icon-left-bold:before { content: '\e803'; } /* '' */
.icon-down-bold:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-right-open-big:before { content: '\e806'; } /* '' */
.icon-up-open-big:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-play-1:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */