@dir: 						    	"../images/";
@dir-fonts: 				  		"../fonts/";

@html-size-base: 					10px;

/* @fs: 						      	1.6rem;
@fss: 						    	2rem;
@fsb: 						    	1.6rem;


@h1: 						      	4rem;
@h2: 						      	3rem;
@h3: 						      	2rem;
@h4: 						      	2rem;
@h5: 						      	2rem;
@h6: 						      	2rem; */


@fs: 						      	16px;
@lh: 						      	1.33;

@ff1: 								'Avanti', fallback, sans-serif;
@ff2: 								'Avanti', fallback, sans-serif;

@black: 							#272b35;
@grey: 								#e2e8ee;
@lime:                              #89ff00;
@green:                             #55c202;
@yellow:                            #f0d91a;
@red:                               #ff405a;
@blue:                              #007fe3;

@text-color: 						@black;
@text-margin: 						0 0 0rem;

@mobile:      ~"only screen and (min-width: 320px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:  ~"only screen and (min-width: 1920px)";



@font-face {
    font-family: 'Avanti';
    src: url('../fonts/Avanti/avanti.woff2') format('woff2'), 
    	   url('../fonts/Avanti/avanti.woff') format('woff'), 
    	   url('../fonts/Avanti/avanti.ttf') format('ttf');

    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Avanti';
    src: url('../fonts/AvantiBold/avanti-bold.woff2') format('woff2'), 
         url('../fonts/AvantiBold/avanti-bold.woff') format('woff'), 
         url('../fonts/AvantiBold/avanti_bold.ttf') format('ttf');
         
    font-weight: 700;
    font-style: normal;

}
