

.anchor {
	visibility: hidden;
	display: block;
	height: 72px;
	margin-top: -72px;
}




.scrollup {
	position: fixed;
	bottom: 50px;
	right: 15px;
	display: none;
	z-index: 100;
	color: #fff;
	font-size: 40px;
	background: @red;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@media @tablet {
		right: 100px;
	}
}