@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	overflow: hidden;
	&__top {
		padding: 12px 0;
		background: #1f232c;
		position: relative;
		z-index: 10;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			box-shadow: 0px 2px 11px 1px rgba(0, 45, 86, .8);
		}
	}

	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			display: flex;
			align-items: center;
		}
		.logo__desc {
			display: none;
			@media @desktop {
				display: block;
				padding-left: 28px;
				font-size: 16px;
				color: #fff;
			}
		}
		&__right {
			display: flex;
			align-items: center;
		}
		.phone__list {
			margin-right: 30px;
		}
		.phone__item {
			padding: 0;
			margin: 0;
			line-height: 1;
		}
		.phone__link {
			display: block;
			font-size: 14px;
			line-height: 16px;
			transition: color .3s ease;
			&:hover {
				color: @red;
			}
		}
		.btn {
			

			@media @mobile {

			}
			@media @tablet {
				display: none;
			}
			@media @desktop {
				display: block;
				padding: 0 58px;
				margin-bottom: 0;
			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {
				margin-right: -90px;
			}
			@media @desktop-xll {

			}
		}
	}

	&__center {
		position: relative;
		
		line-height: 1;
		height: 100%;
		background: url(../images/back__model-pre.jpg)no-repeat center/cover;
		@media @mobile {

		}
		@media @tablet {
			padding-top: 70px;
		}
		@media @desktop {
			height: 700px;
		}
		@media @desktop-xl {
			height: 740px;
			background: @blue;
		}
		@media @desktop-xl-2 {
			height: 880px;
			padding-top: 214px;
		}

		.container {
			position: relative;
			&:before {
				@media @desktop-xl {
					content: '';
					position: absolute;
					top: -240px;
					right: -370px;
					width: 1920px;
					height: 978px;
					background: url(../images/back__hero.png) no-repeat center/cover;
					z-index: 0;
				}
			}
		}

	}

	&__title {
		position: relative;
		padding-bottom: 20px;

		font-weight: 700;
		text-align: center;

		@media @mobile {

		}
		@media @tablet {
			font-size: 26px;
			text-align: left;
		}
		@media @desktop {
			font-size: 34px;
			
		}
		@media @desktop-xl {
			font-size: 42.3px;
			br {
				display: none;
			}
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	&__slogan {
		position: relative;

		font-weight: 400;
		text-align: center;

		@media @mobile {

		}
		@media @tablet {
			font-size: 24px;
			text-align: left;
		}
		@media @desktop {
			font-size: 35px;
		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	&__content {
		position: relative;		

		@media @mobile {

		}
		@media @tablet {
			padding-top: 20px;
		}
		@media @desktop {
			padding-top: 80px;
		}
		@media @desktop-xl {
			padding-top: 134px;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	&__list {
		padding-top: 50px;
		@media @desktop {
			padding-top: 30px;	
		}
		@media @desktop-xl {
			padding-top: 0;	
		}
	}
	&__item {
		position: relative;
		padding-left: 34px;
		padding-bottom: 20px;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			background: url(../images/icons/flash.png)no-repeat;
			border-radius: 50%;
		}
	}

	.laptopImg {

		@media @mobile {

		}
		@media @tablet {
			.laptop {
				display: none;
			}
		}
		@media @desktop {
			position: absolute;
			top: 0;
			right: -20px;
			.battery {
				max-width: 70px;
			}
			.laptop {
				display: inline-block;
				max-width: 350px;
			}
		}
		@media @desktop-xl {
			top: -38px;
			right: -100px;
			.battery {
				max-width: 100%;
			}
			.laptop {
				max-width: 100%;
			}
		}

		@media @desktop-xll {
			top: -38px;
			right: -110px;

		}
	}
	.wrap {
		top: 10px;
		left: -8px;
		display: inline-block;
		position: inherit;

		@media @desktop {
			position: relative;
		}

		&:before {
			@media @desktop-xl {
				content: '';
				position: absolute;
				left: 0px;
				top: -10px;
				width: 100%;
				height: 100%;
				background: url(../images/battery_border.png)no-repeat;
				opacity: .2;
			}
			
		}
	}
	.wrap2 {
		left: -2px;
		&:before {
			left: -2px;
		}
	}
	.wrap3 {
		left: 6px;
		&:before {
			left: 6px;
		}
	}


	.battery1 {
		position: absolute;
		top: 0;
		right: 200px;
		@media @tablet {
			top: 20px;
		}
		@media @desktop {
			position: inherit;
			right: auto;
			top: 0;
		}
	}
	.battery2 {
		position: absolute;
		top: 0;
		right: 100px;
		@media @tablet {
			top: 20px;
		}
		@media @desktop {
			position: inherit;
			right: auto;
			top: 0;
		}
	}
	.battery3 {
		position: absolute;
		top: 0;
		right: 0;
		@media @tablet {
			top: 20px;
		}
		@media @desktop {
			position: inherit;
			right: auto;
			top: 0;
		}
	} 



	.fork__btn {
		position: relative;
		margin-top: 86px;
		margin-bottom: 50px;
		&:after {
			content: '';
			position: absolute;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			width: 399px;
			height: 395px;
			background: url(../images/fork.png);

			@media @mobile {

			}
			@media @tablet {

			}
			@media @desktop {
				left: 170px;
				margin-bottom: inherit;
			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
		}
		.fork {
			
			position: relative;
			margin: 0 auto;

			border-radius: 25px;
			width: 250px;
			background: #1f232c;
			z-index: 1;
			transition: all .3s ease;
			@media @mobile {

			}
			@media @tablet {

			}
			@media @desktop {
				margin-left: 30px;
			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}
			&:hover {
				background: @red;
			}
		}
		a {
			display: block;
			position: relative;
			padding: 15px 10px 15px 35px;
			font-size: 16px;
			font-weight: 700;
			z-index: 10;

			@media @mobile {

			}
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {

			}

			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 18px;
				top: 19px;
				width: 6px;
				height: 6px;
				animation: light 5s infinite;
				background: #00ffff;
				box-shadow: 0px 0px 4px 2px rgba(0,255,255,1);
				transition: all linear;
				z-index: 10;
			}
		}
	}


	.arrow {
		display: none;
		@media @desktop-xl {
			display: block;
			position: absolute;
			left: 50%;
			bottom: -50px;
			img {
				display: block;
				margin: 3px auto;
				&:nth-of-type(1){
					animation: arrow-bounce 2.8s;
					animation-iteration-count: 5;
				}
				&:nth-of-type(2){
					animation: arrow-bounce 2.7s;
					animation-iteration-count: 5;
				}
				&:nth-of-type(3){
					animation: arrow-bounce 2.6s;
					animation-iteration-count: 5;
				}
			}
		}
	}
}






#fixedTopMenu.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #131313;
	z-index: 30;
	animation: smoothScroll .5s linear;
	transition: all .3s linear;
	&:after {
		display: none;
	}
}



