@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.advantages {
	background: #e9eef6;
	.wrapper {
		max-width: 1920px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1941px;
			height: 683px;
			background: url(../images/back__advant.jpg);
		}
	}
	&__box {
		padding-top: 80px;
	}
	&__item {
		padding: 0 5px;
		text-align: center;
	}
	&__item-title {
		margin-top: -10px;
		font-size: 18px;
		font-weight: 700;
	}
}

