@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.models {
	background-color: @blue;
	background: url(../images/back__models.jpg)no-repeat center/cover;

	@media @desktop-xl {
		padding-top: 55px;
		margin-top: -100px;
	}

	&__title {
		color: #fff;
		line-height: 1.33;
		font-size: 28px;

		@media @tablet {
			display: block;
			font-weight: 400;
			line-height: 1;
		}

		.clear-accent {
			font-size: 28px;
			font-weight: 700;

			@media @tablet {
				display: block;
				font-weight: 400;
			}

			@media @desktop-xl {
				font-size: 35px;
			}
		}
	}

	&__slider {
		margin: 0 auto;
		margin-top: 50px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		@media @tablet {
			margin-top: 0;
			display: flex;
			justify-content: space-around;
		}
		@media @desktop {

			max-width: 1920px;
			overflow: hidden;
		}
		@media @desktop-xl {
			padding: 76px 40px 145px 40px;
		}
	}

	&__item {
		
		position: relative;
		display: block;
		margin: 40px 5px;

		width: 180px;
		height: 92px;
		background: #fff;
		border-radius: 46px;
		box-shadow: 0px 21px 36.1px 1.9px rgba(0, 45, 86, 0.09),
		inset -5px -5px 36px 2px rgba(0, 45, 86, 0.2);


		&:hover, &:focus {
			outline: none!important;
		}

	}
}

.ico_apple, .ico_asus, .ico_samsung, .ico_hp, .ico_lg, .ico_acer, .ico_msi, .ico_sony, .ico_lenovo, .ico_compaque {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../images/laptop__sprite.png);
	background-repeat: no-repeat;
	
}


.ico_apple {
	background-position: -0px -0px;
	height: 61px;
	width: 108px;
}

.ico_asus {
	background-position: -108px -0px;
	height: 61px;
	width: 108px;
}

.ico_samsung {
	background-position: -0px -61px;
	height: 61px;
	width: 108px;
}

.ico_hp {
	background-position: -108px -61px;
	height: 61px;
	width: 98px;
}

.ico_lg {
	background-position: -0px -122px;
	height: 59px;
	width: 124px;
}

.ico_acer {
	background-position: -0px -181px;
	height: 33px;
	width: 138px;
}

.ico_msi {
	background-position: -216px -0px;
	height: 30px;
	width: 132px;
}

.ico_sony {
	background-position: -0px -214px;
	height: 29px;
	width: 162px;
}

.ico_lenovo {
	background-position: -162px -214px;
	height: 28px;
	width: 174px;
}

.ico_compaque {
	background-position: -0px -243px;
	height: 26px;
	width: 172px;
}
