@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.premium {
	padding-top: 68px;
	padding-bottom: 140px;
	margin-top: -140px;
	background-color: @blue;
	background: url(../images/back__model-pre.jpg)no-repeat top/cover;
	color: #fff;
	overflow: hidden;
	
	&__title {
		padding-top: 80px;
		padding-left: 160px;
		font-size: 40px;
		color: #fff;
	}
	.title__text {
		padding-left: 380px;
		margin: 0;
		font-size: 30px;
	}
	&__box {
		position: relative;

	}
	&__list {
		position: relative;
		margin-top: 110px;
		padding-left: 100px;
		text-align: right;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			left: 374px;
			top: 20px;
			width: 1px;
			height: 96%;
			background: #fff;
		}
	}
	&__item {
		position: relative;
		width: 250px;
		margin-bottom: 130px;
		letter-spacing: .6px;
		&:before {
			content: '';
			position: absolute;
			width: 14px;
			height: 14px;
			top: 50%;
			right: -31px;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: rgb(240, 245, 249);
			box-shadow: 0px 0px 8px 4px rgba(217, 238, 255, .8);
		}
	}
	&__item:nth-of-type(1) {
		margin-top: 10px;
	}

	&__item:nth-of-type(2) {
		margin-bottom: 110px;
	}
	&__item:nth-of-type(3) {
		margin-bottom: 100px;
	}
	&__item:nth-of-type(4) {
		margin-bottom: 0;
	}
	h4 {
		font-weight: 700;
		
	}
	&__text {
		margin: 0;
	}


	&__inside {
		position: absolute;
		top: 0;
		right: 0;
		
		.img1 {
			position: absolute;
			top: -210px;
			right: 90px;
			width: 592px;
			height: 354px;
			z-index: 10;
		}
		.img2 {
			position: absolute;
			top: 0;
			right: 100px;
			width: 569px;
			height: 298px;
			z-index: 9;
		}
		.img3 {
			position: absolute;
			top: 200px;
			right: 250px;
			width: 357px;
			height: 183px;
			z-index: 8;
		}
		.img4 {
			position: absolute;
			top: 300px;
			right: 90px;
			width: 590px;
			height: 341px;
			z-index: 7;
		}
		.img5 {
			position: absolute;
			top: 350px;
			right: 90px;
			width: 628px;
			height: 380px;
			z-index: 10;
		}
	}



	.flyUp {
		background: no-repeat;
		background-size: cover;
	}


}


