@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.premium {
	background-color: @blue;
	color: #fff;
	overflow: hidden;

	@media @desktop-xl {
		padding-top: 68px;
		padding-bottom: 140px;
		margin-top: -140px;
		background: url(../images/back__model-pre.jpg)no-repeat top/cover;
	}

	
	&__title {
		text-align: center;
		color: #fff;
		font-size: 28px;

		@media @tablet {
			text-align: left;
		}
		@media @desktop-xl {
			padding-top: 80px;
			padding-left: 160px;
			font-size: 40px;
		}
	}

	.title__text {
		margin: 0;
		font-size: 28px;
		text-align: center;

		@media @tablet {
			text-align: left;
		}
		@media @desktop-xl {
			padding-left: 380px;
			font-size: 30px;
		}
	}

	&__box {
		position: relative;
	}

	&__list {
		position: relative;
		margin: 60px auto;
		margin-bottom: 0;
		padding-left: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		overflow: hidden;

		@media @tablet {
			margin: 0;
			padding-left: 0;
			text-align: right;
		}
		@media @desktop-xl {
			margin-top: 110px;
			padding-left: 170px;
		}
		@media @desktop-xl-2 {
			padding-left: 100px;
		}

		&:before {
			@media @tablet {
				content: '';
				position: absolute;
				left: 274px;
				top: 30px;
				width: 1px;
				height: 90%;
				background: #fff;
			}

			@media @desktop-xl {
				left: 444px;
			}
			@media @desktop-xl-2 {
				left: 374px;
			}
		}
	}

	&__item {
		position: relative;
		width: 250px;
		margin: auto;
		margin-bottom: 160px;
		letter-spacing: .6px;

		@media @mobile {

		}
		@media @tablet {
			margin: inherit;
			margin-bottom: 130px;
		}
		@media @desktop {
			width: 250px;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}

		&:before {
			content: '';
			position: absolute;
			width: 14px;
			height: 14px;
			top: 50%;
			left: -30px;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: rgb(240, 245, 249);
			box-shadow: 0px 0px 8px 4px rgba(217, 238, 255, .8);

			@media @tablet {
				left: inherit;
				right: -31px;
			}
		}
	}

	&__item:nth-of-type(1) {
		@media @tablet {
			margin-top: 10px;
		}
		
	}
	&__item:nth-of-type(2) {
		@media @tablet{
			margin-bottom: 110px;
		}
		
	}
	&__item:nth-of-type(3) {
		@media @tablet {
			margin-bottom: 100px;
		}
		
	}
	&__item:nth-of-type(4) {
		@media @tablet {
			margin-bottom: 0;
		}
		
	}
	h4 {
		font-weight: 700;
	}
	&__text {
		margin: 0;
	}


	&__inside {

		.img1 {
			display: block;
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translateX(-50%);
			width: 237px;
			height: 142px;
			z-index: 10;
			@media @tablet {
				top: -100px;
				left: inherit;
				transform: inherit;
				right: 0;
				width: 356px;
				height: 213px;
			}
			@media @desktop {
				top: -150px;
				right: 90px;
				width: 474px;
				height: 284px;
			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {
				top: -180px;
				width: 592px;
				height: 354px;
			}
		}
		.img2 {
			position: absolute;
			top: 275px;
			left: 50%;
			transform: translateX(-50%);
			width: 228px;
			height: 120px;
			z-index: 9;
			@media @tablet {
				top: -96px;
				right: 0;
				left: inherit;
				transform: inherit;
				width: 342px;
				height: 179px;
			}
			@media @desktop {
				top: -140px;
				right: 90px;
				width: 456px;
				height: 239px;
			}
			@media @desktop-xl {

				
			}
			@media @desktop-xl-2 {
				top: -165px;
				width: 569px;
				height: 298px;
			}
		}
		.img3 {
			position: absolute;
			top: 520px;
			left: 50%;
			transform: translateX(-50%);
			width: 215px;
			height: 110px;
			z-index: 8;
			@media @tablet {
				top: -50px;
				right: 100px;
				left: inherit;
				transform: inherit;
				width: 215px;
				height: 110px;
			}
			@media @desktop {
				top: -90px;
				right: 250px;
				width: 286px;
				height: 147px;
			}
			@media @desktop-xl {

				
			}
			@media @desktop-xl-2 {
				top: -120px;
				width: 357px;
				height: 183px;
			}
		}
		.img4 {
			position: absolute;
			top: 680px;
			left: 50%;
			transform: translateX(-50%);
			width: 236px;
			height: 137px;
			z-index: 7;
			@media @tablet {
				top: -80px;
				right: 0;
				left: inherit;
				transform: inherit;
				width: 354px;
				height: 205px;
			}
			@media @desktop {
				top: -130px;
				right: 90px;
				width: 472px;
				height: 273px;
			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {
				top: -160px;
				width: 590px;
				height: 341px;
			}
		}
		.img5 {
			position: absolute;
			top: 600px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			z-index: 6;
			@media @tablet {
				top: -50px;
				right: 0;
				left: inherit;
				transform: inherit;
				width: 377px;
				height: 228px;
			}
			@media @desktop {
				top: -140px;
				right: 90px;
				width: 503px;
				height: 304px;
			}
			@media @desktop-xl {

				
			}
			@media @desktop-xl-2 {
				top: -170px;
				width: 628px;
				height: 380px;
			}
		}
	}
}