@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.order {
	padding-top: 40px;
	padding-bottom: 120px;
	margin-top: -50px;
	background: url(../images/back__order.png)no-repeat center/cover;
	z-index: 10;
	height: 1377px;

	@media @mobile {

	}
	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {
		
	}
	@media @desktop-xl-2 {

	}
	@media @desktop-xll {
		
	}
	.container {
		position: relative;
	}
	&__title {
		padding-left: 250px;
		font-size: 40px;
		z-index: 1;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	&__back {
		top: 7px;
		left: 260px;
		font-size: 180px;
		font-weight: 700;
	}
	&__logo {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	&__list {
		padding-top: 70px;
		padding-left: 200px;
		margin: 0 auto;
		margin-top: 50px;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	&__item {
		position: relative;
		display: flex;
		align-items: center;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	.arr1 {
		position: absolute;
		top: 120px;
		left: 274px;
	}
	.arr2 {
		position: absolute;
		top: 80px;
		left: 250px;
	}
	.arr3 {
		position: absolute;
		top: 140px;
		left: 260px;
	}
	.arr4 {
		position: absolute;
		top: 100px;
		left: 310px;
	}

	.mt {
		margin-top: 20px;
	}
	.mt2 {
		margin-left: 36px;
	}

	&__text {
		margin-top: -100px;
		margin-left: 30px;
		width: 280px;
	}
	.text-rtl {
		margin-left: 150px;
		text-align: right;
	}

	&__img {
		margin-top: -50px;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {
			
		}
	}
	.img-rtl {
		margin-top: -100px;
		order: 1;
	}

	.btn {
		color: #fff;
		padding: 0 60px;
	}
}




