@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.mass {
	background: #ecf4fa;
	@media @desktop-xl {
		padding-top: 40px;
		padding-bottom: 100px;
		margin-top: -60px;
		height: 624px;
		background: url(../images/back__form.png)no-repeat center/cover;
		z-index: 10;
	}
	p {
		margin: 0;
	}
	.container {
		position: relative;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media @tablet {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		@media @desktop-xl {
			display: inherit;
			padding-bottom: 0;
		}
	}

	&__box {
		text-align: center;
		@media @tablet {
			text-align: left;
		}
		@media @desktop-xl {
			position: relative;
			padding-top: 22px;
			padding-left: 70px;
		}
	}

	&__title {
		text-align: center;
		font-size: 30px;
		@media @mobile {

		}
		@media @tablet {
			text-align: left;
		}
		@media @desktop {
			font-size: 40px;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}
	&__title-next {
		margin: 0;
		padding-top: 30px;
		font-size: 26px;
		@media @desktop {
			padding-top: 12px;
			font-size: 30px;
		}
	}
	&__text {
		margin-top: 20px;

		@media @desktop-xl {
			margin-top: 78px;
		}
	}
	&__proposal {
		position: relative;
		padding-left: 10px;
		font-size: 21px;
		color: #272b35;
		@media @tablet {
			font-size: 18px;
		}
		&:before {
			@media @tablet {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 2px;
				height: 100%;
				background: #000;
			}
			
		}
	}
	&__accent {
		padding-left: 5px;
		padding-top: 25px;
		font-size: 12px;

		@media @desktop-xl {
			padding-top: 38px;
		}
	}

	.form {
		width: 300px;
		margin-top: 30px;

		text-align: center;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 13px 19.92px 4.08px rgba(0, 45, 86, 0.09);
		@media @tablet {
			width: 100%;
			margin-top: 60px;
			padding-top: 20px;
			padding-bottom: 50px;
			padding-left: 50px;

			border-radius: none;
			box-shadow: none;
			background: url(../images/back__forms-small.png)no-repeat center/contain;
		}
		@media @desktop {

		}
		@media @desktop-xl {
			margin-top: inherit;
			padding-top: inherit;
			padding-bottom: inherit;
			padding-left: inherit;

			position: absolute;
			top: 72px;
			right: 48px;
			width: 467px;
			height: 100%;
			padding-left: 130px;
			background: url(../images/back__forms.png)no-repeat center/cover;
			background-size: contain;
			text-align: center;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	.formBox__title-mass {
		padding-top: 30px;
		font-weight: 700;
		font-size: 26px;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			padding-top: 57px;
			font-size: 20px;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}
	.formBox__text {
		padding-top: 12px;
		margin-bottom: 10px;
		font-size: 16px;
		color: #000;
	}
	.form__line {

		margin: auto;
		margin-top: 0;
		margin-bottom: 25px;
		padding: 10px 15px;
		width: 250px;
		border: none;
		background: #ecf1f6;
		display: block;

		@media @desktop-xl {
			margin-bottom: 14px;
		}
	}
	.btn {
		padding: 0 80px;
		margin-bottom: 30px;
		color: #fff;
	}

	.btn-mobile {
		margin: auto;
		margin-top: 20px;

		@media @tablet {
			display: none;
		}
	}

	input {
		border-bottom-color: none!important;
	}

}