@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.mass {
	padding-top: 40px;
	padding-bottom: 100px;
	margin-top: -60px;
	background: url(../images/back__form.png)no-repeat center/cover;
	z-index: 10;

	p {
		margin: 0;
	}
	.container {
		position: relative;
	}

	&__box {
		position: relative;
		padding-top: 20px;
		padding-left: 70px;
	}

	&__title {
		font-size: 40px;
	}
	&__title-next {
		margin: 0;
		padding-top: 10px;
		font-size: 30px;
	}
	&__proposal {
		position: relative;
		padding-left: 10px;
		margin-top: 73px;
		font-size: 18px;
		color: #272b35;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			height: 100%;
			background: #000;

		}
	}
	&__accent {
		padding-left: 5px;
		padding-top: 38px;
		font-size: 12px;
	}

	.form {
		position: absolute;
		top: 60px;
		right: 45px;
		width: 475px;
		height: 100%;
		padding-left: 120px;
		background: url(../images/back__forms.png)no-repeat center/cover;
		text-align: center;
	}

	.formBox__title-mass {
		padding-top: 13px;
		font-weight: 700;
		font-size: 20px;
	}
	.formBox__text {
		padding-top: 10px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.form__line {

		margin: auto;
		margin-bottom: 25px;
		padding: 10px 15px;
		width: 250px;
		border: none;
		background: #ecf1f6;
	}
	.btn {
		padding: 0 50px;
	}

	input {
		border-bottom-color: none!important;
	}

}