@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.award {
	padding-top: 60px;
	padding-bottom: 100px;
	margin-top: -90px;
	height: 943px;
	background: url(../images/back__award.png)no-repeat center/cover;
	z-index: 10;

	a {
		outline: none!important;
	}
	&__title {
		font-size: 50px;
		line-height: 1.2;
		padding-left: 74px;
	}
	&__logo {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}



	&__item {
		padding: 70px 0;
		transition: .5s ease all;
	}


	&__img {
		position: relative;
		display: block;
		margin: auto;
		padding: 0;
		width: 280px;
		height: 400px;
		
		
		img {
			display: block;
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			border: 10px solid #fff;
			box-shadow: 0px 15px 36.1px 1.9px rgba(0, 45, 86, 0.09);
			/* height: 100%; */
		}
	}


	.slick-current  {
		transform: scale(1.2);
	}

	.slick-dots {
		left: -14px;
		li {
			button {
				background: #f1f6fb;
			}
		}
	}
}

