@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.contact {
	padding-bottom: 30px;
	position: relative;
	background: @black;
	@media @desktop {
		padding-bottom: 0;
	}
	&__title {
		display: none;
	}
	.map {
		width: 100%;
		height: 450px; 

		@media @desktop {
			height: 580px; 
		}
	}
	iframe {
		display: block;
		border: none;
		border: 0;
	}
	.container {
		position: relative;

	}

	&__box {
		margin: auto;
		width: 300px;
		height: 580px;
		padding-top: 70px;
		padding-left: 15px;
		padding-right: 15px;



		background: @black;
		color: #fff;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {
			position: absolute;

			top: -580px;
			right: 0;
			width: 405px;
			height: 580px;
			padding-left: 78px;
			padding-top:  58px;

			margin: inherit;

		}
	}

	.box__title {
		padding-bottom: 5px;
		font-size: 20px;
		font-weight: 700;
	}
	address {
		font-style: normal;
		padding-bottom: 7px;
	}
	.mail {
		i {
			&:before {
				margin: 0;
				text-align: left;
				font-size: 22px;
				color: #00AFF0;
			}
			margin-right: 10px;
		}
		margin-top: 27px;
		margin-bottom: 5px;
		font-weight: 700;
	}
	.skype {
		span {
			margin-right: 10px;
		}
	}
	.accent {
		margin-bottom: 7px;
		font-weight: 700;
	}
	.contact__ask {
		margin-top: 40px;
		margin-bottom: 5px;
		padding-bottom: 5px;
		font-size: 20px;
		font-weight: 700;
		@media @desktop {
			margin-top: 68px;
		}
	}
	.contact__text {
		margin-top: 0;
		margin-bottom: 18px;
		
	}
	.btn {
		padding: 0 60px;
	}

}

