@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.footer {
	padding: 15px 0 15px 0;
	text-align: center;
	background: #15181f;


	&__logo {	
		padding-top: 10px;
		margin-right: 20px;

		@media @desktop {
			float: left;
		}
	}
	&__title {
		padding-top: 20px;
		font-size: 16px;
		font-weight: 400;
		@media @desktop {
			padding-top: 3px;
		}
	}
	.agency {
		margin: 35px 0;
		font-size: 16px;
		@media @desktop {
			margin-top: 10px;
		}
		a {
			font-size: 16px;
			color: #fff;
		}
		p {
			margin: 0;
		}

	}
} 


.scrollup {

	position: fixed;
	bottom: 50px;
	right: 15px;
	display: none;
	z-index: 100;
	color: #fff;
	font-size: 40px;
	background: @red;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@media @tablet {
		right: 100px;
	}
}