.slick-prev,
.slick-next {
	width: 60px;
	height: 60px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s linear;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: rgba(0,0,0, .6);
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
/* 	opacity: 1; 
color: #1a46a8; */
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	/* opacity: 0.25;  */
}

.slick-prev {
	left: -60px; 
	background: rgba(0,0,0, .8);
}

.slick-prev:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url(../images/icons/arrow-left.png)no-repeat;
	width: 25px;
	height: 33px;
}


.slick-next {
	right: -60px; 
	background: rgba(0,0,0, .8);
}

.slick-next:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url(../images/icons/arrow-right.png)no-repeat;
	width: 25px;
	height: 33px;
}
