.slick-prev,
.slick-next {
	width: 60px;
	height: 60px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s linear;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
/* 	background: rgba(0,0,0, .6); */
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
/* 	opacity: 1; 
color: #1a46a8; */
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	/* opacity: 0.25;  */
}

.slick-prev {
	left: -60px; 
/* 	background: rgba(0,0,0, .8); */
}

.slick-prev:before {
	display: block;
	position: absolute;
	top: -20px;
	left: 54px;
/* 	background: url(../images/icons/arrow_left.png)no-repeat; */
	width: 65px;
	height: 114px;
}


.slick-next {
	right: -60px; 
/* 	background: rgba(0,0,0, .8); */
}

.slick-next:before {
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
/* 	background: url(../images/icons/arrow_right.png)no-repeat; */
	width: 65px;
	height: 114px;
}


.slick-dots {
	bottom: -15px;
	left: 5px;
	border-image: transparent;
	li {
		button {
			background: #81d4fb;
			display: block;
			height: 20px;
			width: 20px;
			font-size: 0px;
			color: #fff;
			padding: 5px;
			border-radius: 50%;
			box-shadow: 0px 5px 7px 1px rgba(0, 45, 86, 0.15);
			&:before {
				font-size: 0;
				opacity: 0;
			}
		}
		&.slick-active button {
			background: #fff;
			border-radius: 50%;
			opacity: 1;
		}
	}
}
