/* COMPONENTS */
@import "_01_reset.scss";
@import "_02_vars.scss";
@import "_03_mixin and function.scss";
@import "_04_fonts.scss";
@import "_05_general.scss";
@import "_06_loader.scss";
@import "_07_bonusElements.scss";
@import "_08_forms.scss";
@import "_09_keyframes.scss";


/* MAIN STYLE */
@import "_menuResponsiveEffect.scss";



#fixedTopMenu.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	animation: smoothScroll .5s linear;
	transition: all .3s linear;
}


#fixedTopMenu.menuHide{
	opacity: 0;
	transition: opacity .3s linear;
	animation: antiSmoothScroll .5s linear;
}

#fixedTopMenu.menuDefault{
	opacity: 1;
}

#fixedTopMenu.menuResize{

}