@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.reasons {
	background: url(../images/back__reason.jpg)no-repeat center/cover;

	.list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 60px 0;

		&__item {
			width: 24%;
			text-align: center;
			color: #000;
			
		}
		&__img {
			position: relative;
			display: inline-block;
			margin: 15px auto;
			height: 227px;
			border-radius: 50%;
			box-shadow: 0px 24px 12px 0.52px rgba(39, 34, 35, 0.07);
		}
		&__title {
			padding: 23px 0;
			font-size: 18px;
			font-weight: 700;
		}
	}
}