@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.assortment {
	padding: 0;

	&__title {
		padding-top: 60px;
		color: #fff;
		@media @desktop-xl {
			padding-top: 80px;
		}
	}

	
	/* ¯\_(ツ)_/¯ */
	/* COMMON STYLE FOR SECTION */

	li, a {
		outline: none;
	}


	.big__img {
		display: block;
		max-width: 100%;
		height: auto;
		border: 2px solid #fff;
	}

	.color__list {
		padding-top: 5px;
		display: flex;
	}

	.color__item {
		width: 66px;
		text-align: center;
		margin-bottom: 12px;
		font-size: 14px;
		font-weight: 300;
	}

	.btn {
		padding: 10px 14px;
	}

	.barbecue__box {
		display: flex;
		justify-content: space-between;
		padding: 80px 120px;

		.box__img {
			width: 416px;
		}

		.big__item {
			display: none;
		}

		.active {
			display: block;
		}

		.click__img {
			display: block;
			max-width: 100%;
			height: auto;
			border: 2px solid #fff;
			transition: all .3s linear;
		}
		.borderActive {
			border: 4px solid #ff9c00;
		}

		.slider__barbecue {
			width: 100%;
		}
		.slider__item {
			float: left;
			width: 80px!important;
			height: 80px;
			margin-right: 4px;
			margin-top: 8px;
			border: 1px solid #a1a1a1;
			&:last-of-type {
				margin-right: 0;
			}
		}


		.box__info {
			padding-left: 20px;
			width: 460px;
			.title {
				font-size: 30px;
				font-weight: 700;
				padding-bottom: 12px;
			}
		}
		.btn__box {
			display: flex;
			justify-content: space-between;
			padding-bottom: 8px;
		}


		.construction {
			&__text {
				font-weight: 300;
			}
			&__list {
				padding-top: 5px;
				display: flex;
			}
			&__item {
				width: 66px;
				height: 66px;
				margin-right: 10px;
				&:hover {
					cursor: pointer;
				}
			}

			.color__item {
				margin-right: 10px;
			}
		}


		.tabletop {
			position: relative;
			&__text {
				text-align: right;
				font-weight: 300;
			}
			&__list {
				padding-top: 5px;
				display: flex;
			}
			&__item {
				width: 66px;
				height: 66px;
				margin-left: 10px;
				&:hover {
					cursor: pointer;
				}
			}

			.color__item {
				margin-left: 10px;
			}
		}


		.info {

			&__item {
				margin-bottom: 1px;
				position: relative;
				list-style-type: disc;
				list-style-position: inside;
				&:after {
					content: '';
					position: absolute;
					height: 1px;
					bottom: 0;
					background: url(../images/icons/lines.png);
				}
				&:nth-of-type(1) {
					&:after {
						width: 66px;
						left: 200px;
					}
				}
				&:nth-of-type(2) {
					&:after {
						width: 140px;
						left: 130px;
					}
				}
				&:nth-of-type(3) {
					&:after {
						width: 180px;
						left: 170px;
					}
				}
				&:nth-of-type(4) {
					&:after {
						width: 222px;
						left: 120px;
					}
				}
				&:nth-of-type(5) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(6) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(7) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(8) {
					&:after {
						width: 320px;
						left: 55px;
					}
				}
			}

			&__item-dark {
				margin-bottom: 1px;
				position: relative;
				list-style-type: disc;
				list-style-position: inside;
				&:after {
					content: '';
					position: absolute;
					height: 1px;
					bottom: 0;
					background: url(../images/icons/lines-dark.png);
				}
				&:nth-of-type(1) {
					&:after {
						width: 66px;
						left: 200px;
					}
				}
				&:nth-of-type(2) {
					&:after {
						width: 140px;
						left: 130px;
					}
				}
				&:nth-of-type(3) {
					&:after {
						width: 180px;
						left: 170px;
					}
				}
				&:nth-of-type(4) {
					&:after {
						width: 222px;
						left: 120px;
					}
				}
				&:nth-of-type(5) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(6) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(7) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(8) {
					&:after {
						width: 320px;
						left: 55px;
					}
				}
			}
		}

		.price {
			padding: 24px 0;
			font-size: 30px;
			font-weight: 700;
			color: #fff;
		}

		.old__price {
			padding: 0 10px;
			text-decoration: line-through;
			text-decoration-color: @red;
			font-weight: 300;
		}

		.text-right {
			float: right;
		}
	}



	/* ¯\_(ツ)_/¯ */
	.barbecue__single {
		position: relative;
		background: url(../images/back__assortment.jpg)no-repeat center/cover;
		z-index: 10;
	}


	/* ¯\_(ツ)_/¯ */
	.barbecue__complex {
		position: relative;
		color: #000;
		background-color: rgb(238, 244, 249);

		.price {
			color: #000;
		}

		.btn {
			color: #fff;
		}
	}


	/* ¯\_(ツ)_/¯ */
	.barbecue__other {
		position: relative;
		padding: 100px 0;
		color: #000;
		background: url(../images/back__barbecue-more.jpg)no-repeat center/cover;

		&-box {
			display: flex;
			justify-content: space-between;
		}

		.product {
			width: 350px;
			margin: auto;
			margin-bottom: 25px;
			text-align: center;

			&__desc {
				margin-bottom: 25px;
				min-height: 60px;
			}

			&__title {
				font-size: 20px;
				font-weight: 700;
			}
			&__model {
				padding-top: 5px;
				font-size: 19px;
			}
			&__img img{
				width: 100%;
				height: 317px;
				border: 1px solid #a1a1a1;
			}
		}



		.slider__item {
			float: left;
			width: 66px!important;
			height: 66px;
			margin-right: 5px;
			margin-top: 8px;
			border: 1px solid #a1a1a1;

			&:last-of-type {
				margin-right: 0;
			}
		}

		.price {
			padding: 20px 0;
			font-size: 19px;
			font-weight: 700;
			color: #000;
		}

		.old__price {
			padding: 0 5px;
			text-decoration: line-through;
			text-decoration-color: @red;
			font-weight: 300;
		}

		.btn {
			color: #fff;
		}
	}
}


.decor1 {
	position: absolute;
	left: 0;
	top: 60px;
}

.decor2 {
	position: absolute;
	left: 25px;
	top: 270px;
}

.decor3 {
	position: absolute;
	left: 0;
	top: 715px;
}

.decor4 {
	position: absolute;
	right: 25px;
	top: 570px;
}


.decor5 {
	position: absolute;
	left: 180px;
	top: 70px;
}

.decor6 {
	position: absolute;
	left: 80px;
	top: 400px;
}

.decor7 {
	position: absolute;
	left: 180px;
	top: 250px;
}

.decor8 {
	position: absolute;
	right: 80px;
	top: 350px;
}

.decor9 {
	position: absolute;
	right: 80px;
	top: 350px;
}

.decor10 {
	position: absolute;
	right: 80px;
	top: 350px;
}
