
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}



.assortment {
	padding: 0;

	&__title {
		padding-top: 60px;
		color: #fff;
		@media @desktop-xl {
			padding-top: 80px;
		}
	}

	
	/* ¯\_(ツ)_/¯ */
	/* COMMON STYLE FOR SECTION */

	li, a {
		outline: none;
	}


	.big__img {
		display: block;
		max-width: 100%;
		height: auto;
		border: 2px solid #fff;
	}

	.big__img-gray {
		border: 2px solid #a1a1a1;
	} 

	.color__list {
		padding-top: 5px;
		display: flex;
	}

	.color__item {
		width: 66px;
		text-align: center;
		margin-bottom: 12px;
		font-size: 14px;
		font-weight: 300;
	}

	.btn {
		padding: 10px 14px;

		transition: all .3s linear;
		box-shadow: 1.568px 14.918px 17.4px 2.6px rgba(220, 52, 0, 0.1);
		&:hover{
			box-shadow: 1.568px 14.918px 17.4px 2.6px rgba(220, 52, 0, 0);
		}
	}

	.barbecue__box {

		position: relative;
		padding: 80px 0px;

		@media @tablet {

		}
		@media @desktop {

			padding: 80px 30px;
		}
		@media @desktop-xl {
			padding: 100px 120px;
		}
		

		.big__item, .big__item2 {
			display: none;
		}

		.active {
			display: block;
		}

		.click__img {
			display: block;
			max-width: 100%;
			height: auto;
			transition: all .3s linear;
		}


		.itemActive a {
			display: block;
			position: relative;
			border: 2px solid #ff9c00!important;	 
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0, .15);
			} 
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 27px;
				height: 27px;
				background: url(../images/icons/zoom-in.png);
			}
		} 

		.slider__barbecue {
			width: 100%;
		}


		.slider__item {
			float: left;
			width: 80px!important;
			height: 80px;
			margin-right: 4px;
			margin-top: 8px;
			border: 1px solid #a1a1a1;
			&:last-of-type {
				margin-right: 0;
			}
		}



		.box__img {	

			@media @tablet {

			}

			@media @desktop {
				position: absolute;
				left: 30px;
				top: 80px;
				width: 416px;
			}

			@media @desktop-xl {
				left: 120px;
				top: 100px;
			}

		}




		.box__info {

		
			width: 440px;

			@media @tablet {

			}

			@media @desktop {
				margin-left: 460px;
			}

			@media @desktop-xl {
				margin-left: 500px;
			}

			@media @desktop-xl-2 {

			}

			.title {
				font-size: 30px;
				font-weight: 700;
				padding-bottom: 12px;

				@media @tablet {

				}
				@media @desktop {

				}
				@media @desktop-xl {

				}
				@media @desktop-xl-2 {

				}
			}

		}

		.btn__box {
			display: flex;
			justify-content: space-between;
			padding-bottom: 8px;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
		}


		.construction {
			&__text {
				font-weight: 300;
			}
			&__list {
				padding-top: 5px;
				display: flex;
			}
			&__item {
				position: relative;
				width: 66px;
				height: 66px;
				margin-right: 10px;

				&:hover {
					cursor: pointer;
				}

				a {
					display: block;
					border: 2px solid #fff;
					transition: .3s linear;	 
				}
			}

			&__item2 {
				position: relative;
				width: 66px;
				height: 66px;
				margin-right: 10px;

				&:hover {
					cursor: pointer;
				}

				a {
					display: block;
					border: 2px solid #a1a1a1;
					transition: .3s linear;	 
				}
			}

			.color__item {
				margin-right: 10px;
			}
		}


		.tabletop {
			position: relative;
			&__text {
				text-align: right;
				font-weight: 300;
			}
			&__list {
				padding-top: 5px;
				display: flex;
			}
			&__item {
				width: 66px;
				height: 66px;
				margin-left: 10px;
				
				&:hover {
					cursor: pointer;
				}
				a {
					display: block;
					border: 2px solid #fff;
					transition: .3s linear;	 
				}

			}

			&__item2 {
				width: 66px;
				height: 66px;
				margin-left: 10px;
				
				&:hover {
					cursor: pointer;
				}
				a {
					display: block;
					border: 2px solid #a1a1a1;
					transition: .3s linear;	 
				}

			}

			.color__item {
				margin-left: 10px;
			}
		}


		.info {

			&__item {
				margin-bottom: 1px;
				position: relative;
				list-style-type: disc;
				list-style-position: inside;
				&:after {
					content: '';
					position: absolute;
					height: 1px;
					bottom: 0;
					background: url(../images/icons/lines.png);

					@media @tablet {

					}
					@media @desktop {

					}
					@media @desktop-xl {

					}
					@media @desktop-xl-2 {

					}
				}
				&:nth-of-type(1) {
					&:after {
						width: 66px;
						left: 200px;
					}
				}
				&:nth-of-type(2) {
					&:after {
						width: 140px;
						left: 130px;
					}
				}
				&:nth-of-type(3) {
					&:after {
						width: 180px;
						left: 170px;
					}
				}
				&:nth-of-type(4) {
					&:after {
						width: 222px;
						left: 120px;
					}
				}
				&:nth-of-type(5) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(6) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(7) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(8) {
					&:after {
						width: 320px;
						left: 55px;
					}
				}
			}

			&__item-dark {
				margin-bottom: 1px;
				position: relative;
				list-style-type: disc;
				list-style-position: inside;
				&:after {
					content: '';
					position: absolute;
					height: 1px;
					bottom: 0;
					background: url(../images/icons/lines-dark.png);

					@media @tablet {

					}
					@media @desktop {

					}
					@media @desktop-xl {

					}
					@media @desktop-xl-2 {

					}
				}
				&:nth-of-type(1) {
					&:after {
						width: 66px;
						left: 200px;
					}
				}
				&:nth-of-type(2) {
					&:after {
						width: 140px;
						left: 130px;
					}
				}
				&:nth-of-type(3) {
					&:after {
						width: 180px;
						left: 170px;
					}
				}
				&:nth-of-type(4) {
					&:after {
						width: 222px;
						left: 120px;
					}
				}
				&:nth-of-type(5) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(6) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(7) {
					&:after {
						width: 270px;
						left: 88px;
					}
				}
				&:nth-of-type(8) {
					&:after {
						width: 320px;
						left: 55px;
					}
				}
			}
		}

		.price {
			padding: 24px 0;
			font-size: 30px;
			font-weight: 700;
			color: #fff;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
		}

		.old__price {
			padding: 0 10px;
			text-decoration: line-through;
			text-decoration-color: @red;
			font-weight: 300;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
		}

		.text-right {
			float: right;
		}
	}



	/* ¯\_(ツ)_/¯ */
	.barbecue__single {
		position: relative;
		background: url(../images/back__assortment-single.jpg)no-repeat center/cover;
		z-index: 10;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			background: url(../images/back__assortment-med.jpg)no-repeat center/cover;
		}
		@media @desktop-xl-2 {
			background: url(../images/back__assortment.jpg)no-repeat center/cover;
		}
	}


	/* ¯\_(ツ)_/¯ */
	.barbecue__complex {
		position: relative;
		color: #000;
		background-color: rgb(238, 244, 249);

		.price {
			color: #000;
		}

		.btn {
			color: #fff;
		}

	}


	/* ¯\_(ツ)_/¯ */
	.barbecue__other {
		position: relative;
		padding: 100px 0;
		color: #000;
		background: url(../images/back__barbecue-more.jpg)no-repeat center/cover;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}

		&-box {
			display: flex;
			justify-content: space-between;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
		}

		.product {
			width: 350px;
			margin: auto;
			margin-bottom: 25px;
			text-align: center;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}

			&__desc {
				margin-bottom: 25px;
				min-height: 60px;

				@media @tablet {

				}
				@media @desktop {

				}
				@media @desktop-xl {

				}
				@media @desktop-xl-2 {

				}
			}

			&__title {
				font-size: 20px;
				font-weight: 700;

				@media @tablet {

				}
				@media @desktop {

				}
				@media @desktop-xl {

				}
				@media @desktop-xl-2 {

				}
			}
			&__model {
				padding-top: 5px;
				font-size: 19px;
			}
			&__img img{
				width: 100%;
				height: 317px;
				border: 1px solid #a1a1a1;

				@media @tablet {

				}
				@media @desktop {

				}
				@media @desktop-xl {

				}
				@media @desktop-xl-2 {

				}
			}
		}



		.slider__item {
			float: left;
			width: 66px!important;
			height: 66px;
			margin-right: 5px;
			margin-top: 8px;
			border: 1px solid #a1a1a1;

			&:last-of-type {
				margin-right: 0;
			}
		}

		.price {
			padding: 20px 0;
			font-size: 19px;
			font-weight: 700;
			color: #000;
		}

		.old__price {
			padding: 0 5px;
			text-decoration: line-through;
			text-decoration-color: @red;
			font-weight: 300;
		}

		.btn {
			color: #fff;
		}
	}
}




.decor1 {
	display: none;

	@media @tablet {

	}
	@media @desktop {
		display: block;
		position: absolute;
		left: 0;
		top: 60px;
		img {
			width: 100px;
		}
	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {
		display: none;
	}
}

.decor2 {
	display: none;

	@media @desktop-xl {
		display: block;
		position: absolute;
		left: 0;
		top: 380px;
	}

	@media @desktop-xl-2 {
		display: none;
	}
}

.decor3 {
	position: absolute;
	left: 0;
	bottom: -70px;

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
}

.decor4 {
	display: none;

	@media @desktop-xl {
		display: block;
		position: absolute;
		right: 0;
		bottom: 50px;

		img {
			width: 200px;
		}

	}

	@media @desktop-xl-2 {
		display: none;
	}
}


.decor5 {
	position: absolute;
	left: 170px;
	top: 200px;

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
}

.decor6 {
	position: absolute;
	left: 60px;
	top: 310px;

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
}

.decor7 {
	position: absolute;
	left: 90px;
	top: 580px;

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
}

.decor8 {
	position: absolute;
	left: 200px;
	top: 450px;
}



.decor9 {
	position: absolute;
	right: 80px;
	top: -95px;
}

.decor10 {
	position: absolute;
	right: 180px;
	top: 300px;
}

.decor11 {
	position: absolute;
	right: 80px;
	top: 400px;
}