
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.consult {
	margin-top: -74px;
	margin-bottom: -110px;
	position: relative;
	background: url(../images/back__consult.png)no-repeat 30% center/cover ;

	z-index: 12;
	height: 690px;

	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

		height: 639px;
		background: url(../images/back__consult.png)repeat-x center;
	}
	@media @desktop-xll {

	}

	.container {
		position: relative;
	}

	&__box {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;

		@media @tablet {

		}
		@media @desktop {
			margin-top: 90px;
		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	&__ask {
		margin: auto;
		margin-top: 0px;
		width: 300px;



		@media @tablet {
			width: 350px;
		}
		@media @desktop {
			padding-right: 20px;
			max-width: inherit;
		}
		@media @desktop-xl {
			margin-left: 105px;
			padding-right: 0;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	&__title {
		margin-top: 25px;
		font-size: 26px;
		font-weight: bold;
		text-align: center;
		@media @tablet {

		}
		@media @desktop {
			text-align: left;
			font-size: 30px;
		}
		@media @desktop-xl {
			font-size: 40px;
		}
	}

	&__text {
		position: relative;
		margin-top: 25px;
		padding-left: 22px;
		font-size: 20px;

		@media @tablet {

		}
		@media @desktop {
			margin-top: 66px;
		}
		@media @desktop-xl {
			font-size: 25px;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			height: 100%;
			background: #fff;
		}
	}


	&__form {
		position: relative;
		width: 290px;
		margin: 0 auto;
		margin-top: 70px;
		padding-top: 7px;
		text-align: center;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			margin-right: 130px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 327px;
			height: 353px;
			top: -40px;
			left: 50%;
			transform: translateX(-40%);
			background: url(../images/forms.png)no-repeat;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {
				width: 402px;
				height: 468px;
				top: -120px;
				left: 50%;
				transform: translateX(-40%);
				background: url(../images/forms-big.png)no-repeat;
			}

		}
		form {
			position: relative;
		}
	}

	.formBox__title {
		font-size: 25px;
		font-weight: 700;
		color: #fff;
	}
	.form__line {
		display: block;
		padding: 8px 25px;
		margin: 10px auto;
		background: transparent;
		border: 1px solid #726f6c;
		width: 100%;
		border-radius: 20px;
		&:hover, &:focus {
			border: 1px solid #726f6c!important;
		}
	}
	.btn {
		margin-top: 8px;
	}
}

.decor19 {
	position: absolute;
	left: -376px;
	top: -105px;
	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
	@media @desktop-xll {

	}
}