
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.consult {
	position: relative;
	background: url(../images/back__consult-small.jpg)no-repeat center/cover;
	z-index: 12;
	
	overflow: hidden;

	@media @tablet {
		background: url(../images/back__consult-med.jpg) center/cover;
	}

	@media @desktop {
		background: url(../images/back__consult.png)repeat-x center;
		overflow: visible;
		height: 639px;

		margin-top: -74px;
		margin-bottom: -110px;
	}


	.container {
		position: relative;
	}

	&__box {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media @desktop {
			margin-top: 28px;
			flex-direction: row;
			justify-content: space-between;
			align-items: inherit;
		}

	}

	&__ask {
		margin: auto;
		margin-top: 0px;
		max-width: 300px;

		@media @tablet {
			max-width: 500px;
		}
		@media @desktop {
			padding-right: 20px;
			max-width: 580px;
		}
		@media @desktop-xl {
			margin-left: 105px;
			padding-right: 0;
		}
		@media @desktop-xl-2 {

		}
		@media @desktop-xll {

		}
	}

	&__title {

		font-size: 23px;
		font-weight: bold;
		text-align: center;
		@media @tablet {
			font-size: 30px;
		}
		@media @desktop {
			margin-top: 70px;
			text-align: left;
			font-size: 36px;
		}
		@media @desktop-xl {
			margin-top: 40px;
			font-size: 40px;
		}
		@media @desktop-xl-2 {

			font-size: 40px;
		}
	}

	&__text {
		position: relative;
		margin-top: 25px;

		font-size: 18px;
		text-align: center;

		br {
			display: none;
			@media @desktop {
				display: inline;
			}
		} 

		@media @tablet {
			font-size: 22px;
		}

		@media @desktop {
			margin-top: 66px;
			padding-left: 22px;
			text-align: left;
			font-size: 24px;
		}
		@media @desktop-xl {
			font-size: 25px;
		}

		&:before {
			@media @desktop {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 2px;
				height: 100%;
				background: #fff;
			}

		}
	}



	&__form {
		position: relative;
		width: 290px;
		margin: 60px auto;

		padding-top: 7px;
		text-align: center;

		@media @desktop-xl {
			margin-right: 140px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 311px;
			height: 351px;
			top: -40px;
			left: 50%;
			transform: translateX(-46%);
			background: url(../images/forms-sm.png)no-repeat;



			@media @tablet {
				width: 327px;
				height: 353px;
				top: -40px;
				left: 50%;
				transform: translateX(-40%);
				background: url(../images/forms.png)no-repeat;
			}

			@media @desktop-xl-2 {
				width: 402px;
				height: 468px;
				top: -130px;
				left: 50%;
				transform: translateX(-38%);
				background: url(../images/forms-big.png)no-repeat;
			}

		}



		form {
			position: relative;
		}

		.formBox__title {
			font-size: 25px;
			font-weight: 700;
			color: #fff;
		}

		.form__line {
			display: block;
			padding: 8px 25px;
			margin: 10px auto;
			background: transparent;
			border: 1px solid #726f6c;
			width: 80%;
			border-radius: 20px;
			&:hover, &:focus {
				border: 1px solid #726f6c!important;
			}
			@media @desktop-xl-2 {
				width: 84%;
			}
		}

		.btn {
			margin-top: 8px;
		}

	}
}


.decor19 {
	position: absolute;
	left: -376px;
	top: -105px;
	@media @tablet {

	}
	@media @desktop {

	}
	@media @desktop-xl {

	}
	@media @desktop-xl-2 {

	}
	@media @desktop-xll {

	}
}