@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.consult {
	margin-top: -74px;
	margin-bottom: -110px;
	position: relative;
	background: url(../images/back__consult.png)no-repeat center;
	z-index: 11;
	height: 639px;

	&__box {

		display: flex;
		justify-content: space-between;
		margin-top: 90px;
	}

	&__ask {
		margin-top: 0px;
		margin-left: 105px;
	}

	&__title {
		font-size: 40px;
		font-weight: bold;
	}

	&__text {
		position: relative;
		margin-top: 66px;
		padding-left: 22px;
		font-size: 25px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			height: 100%;
			background: #fff;
		}
	}


	&__form {
		position: relative;
		width: 290px;
		margin: 0 auto;
		margin-right: 130px;
		padding-top: 7px;
		text-align: center;
		&:before {
			content: '';
			position: absolute;
			width: 402px;
			height: 468px;
			top: -136px;
			left: 50%;
			transform: translateX(-40%);
			background: url(../images/forms-big.png)no-repeat center/cover;
		}
		form {
			position: relative;
		}
	}

	.formBox__title {
		font-size: 25px;
		font-weight: 700;
		color: #fff;
	}
	.form__line {
		display: block;
		padding: 8px 25px;
		margin: 10px auto;
		background: transparent;
		border: 1px solid #726f6c;
		width: 100%;
		border-radius: 20px;
		&:hover, &:focus {
			border: 1px solid #726f6c!important;
		}
	}
	.btn {
		margin-top: 8px;
	}
}