@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.details {
	background: #E7F5FA;
	&__title {
		color: #272b35;
	}

	&__box {
		margin-top: 116px;
		display: flex;
		justify-content: space-between;
	}

	.box__left {
		text-align: right;
	}

	&__item {
		min-height: 150px;
		margin-bottom: 35px;
	}


	.content {
		width: 300px;
		&__title {
			padding: 14px 0;
			font-size: 20px;
			font-weight: 700;
			color: #272b35;
		}
		&__text {

			font-weight: 300;
			color: #272b35;
		}
	}
}



