@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.details {
	position: relative;
	z-index: 10;
	background-color: rgb(245, 250, 254);

	.container {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 580px;
			background: url(../images/barbecue-shadow.png)no-repeat center/contain;
			z-index: 10;
			
		}
	}
	
	&__title {
		color: #272b35;
	}

	&__box {
		position: relative;
		margin-top: 116px;
		display: flex;
		justify-content: space-between;
	}

	.box__left {
		text-align: right;

		.details__item {
			&:before {
				right: -150px;
			}
			&:after {
				right: -150px;
			}
		}
	}

	.box__right {

		.details__item {
			&:before {
				left: -150px;
			}
			&:after {
				left: -150px;
			}
		}

		.last__item {
			&:before {
				content: '';
				position: absolute;
				top: 47px;
				width: 50px;
				left: -50px;
				height: 1px;
				background: #bdbdbd;
			}
			&:after {
				content: '';
				position: absolute;
				top: 42px;
				width: 20px;
				left: -68px;
				height: 1px;
				background: #bdbdbd;
				transform: rotate(30deg);
			}
		}
	}

	&__item {
		min-height: 150px;
		margin-bottom: 32px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 47px;
			width: 150px;
			height: 1px;
			background: #bdbdbd;
		}
		&:after {
			content: '';
			position: absolute;
			top: 42px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #bdbdbd;
		}
	}

	


	.content {
		position: relative;
		width: 300px;
		z-index: 12;
		&__title {
			padding: 14px 0;
			font-size: 20px;
			font-weight: 700;
			color: #272b35;
		}
		&__text {
			font-weight: 300;
			color: #272b35;
		}
	}

	.barbecue {
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translate(-50%);
		z-index: 11;
	}

	.details1 {
		position: absolute;
		top: 0;
		right: -220px;
		z-index: 10;
	}
	.details2 {
		position: absolute;
		top: -20px;
		right: -200px;
		z-index: 10;
	}
	.details3 {
		position: absolute;
		top: -20px;
		left: -200px;
		z-index: 10;
	}
	.details4 {
		position: absolute;
		top: -30px;
		left: -122px;
		z-index: 10;
	}
}

.video {
	padding-top: 100px;
	padding-bottom: 60px;
	text-align: center;
	position: relative;
	&__title {
		font-size: 30px;
		font-weight: 700;
		color: #272b35;
	}
	&__img {
		position: absolute;
		top: 140px;
		left: 50%;
		transform: translateX(-54%);
	}

	&__play {
		position: relative;
		display: inline-block;
		margin: auto;
		padding-top: 70px;
		font-size: 52px;
		z-index: 10;
		opacity: 0.5;
		transition: opacity .3s linear;
		
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
}



.decor12 {
	position: absolute;
	left: 50px;
	top: 250px;
}
.decor13 {
	position: absolute;
	left: 180px;
	top: 500px;
}


.decor14 {
	position: absolute;
	left: 0px;
	top: 180px;
}
.decor15 {
	position: absolute;
	left: -55px;
	bottom: -110px;
}


.decor16 {
	position: absolute;
	right: 220px;
	top: 120px;
}
.decor17 {
	position: absolute;
	right: 50px;
	top: 250px;
}
.decor18 {
	position: absolute;
	right: 160px;
	top: 450px;
}