
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.details {
	position: relative;
	background-color: rgb(245, 250, 254);
	overflow: hidden;
	
	@media @tablet {
		overflow: visible;
	}

	.container {
		position: relative;
		&:before {

			@media @desktop {
				content: '';
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 580px;
				background: url(../images/barbecue-shadow.png)no-repeat center/contain;
				z-index: 10;
			}
		}
	}
	
	&__title {
		color: #272b35;
	}

	&__box {
		position: relative;
		margin-top: 55px;
		display: flex;
		flex-direction: column;
		align-items: center;
		

		@media @tablet {
			align-items: flex-end;
		}

		@media @desktop {
			margin-top: 116px;
			flex-direction: row;
			justify-content: space-between;
			align-items: inherit;
		}
	}

	.box__left {
		order: 1;
		@media @desktop {
			text-align: right;
			order: 1;
		}

		.details__item {
			&:before { /* LINES */
				
				@media @desktop {
					right: -50px;
				}
				@media @desktop-xl {
					right: -150px;
				}

			}
			&:after { /* DOTS */
				@media @desktop {
					right: -50px;
				}
				@media @desktop-xl {
					right: -150px;
				}
			}
		}
	}

	.box__right {
		@media @desktop {
			order: 2;
		}
		.details__item { /* LINES */
			&:before {

				@media @desktop {
					left: -50px;
				}

				@media @desktop-xl {
					left: -150px;
				}
			}
			&:after { /* DOTS */
				left: -50px;

				@media @tablet {

				}
				@media @desktop {

				}
				@media @desktop-xl {
					left: -150px;
				}
				@media @desktop-xl-2 {

				}
			}
		}

		.last__item {
			&:before {
				@media @desktop {
					content: '';
					position: absolute;
					top: 47px;
					width: 50px;
					left: -50px;
					height: 1px;
					background: #bdbdbd;
				}
			}
			&:after {
				
				@media @desktop {
					content: '';
					position: absolute;
					top: 42px;
					width: 20px;
					left: -68px;
					height: 1px;
					background: #bdbdbd;
					transform: rotate(30deg);
				}
			}
		}
	}

	&__item {
		margin-bottom: 5px;
		position: relative;

		@media @desktop {
			min-height: 150px;
			margin-bottom: 32px;
		}

		&:before {

			@media @desktop {
				content: '';
				position: absolute;
				top: 47px;
				width: 70px;
				height: 1px;
				background: #bdbdbd;
			}
			@media @desktop-xl {
				width: 150px;
			}
		}
		&:after {
			@media @desktop {
				content: '';
				position: absolute;
				top: 42px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #bdbdbd;
			}
		}
	}


	.content {
		position: relative;
		max-width: 320px;
		margin: auto;
		z-index: 12;
		text-align: center;
		@media @tablet {
			max-width: 400px;
			text-align: inherit;
		}
		@media @desktop {
			max-width: 300px;
		}
		&__title {
			padding: 14px 0;
			font-size: 20px;
			font-weight: 700;
			color: #272b35;
		}
		&__text {
			font-weight: 300;
			color: #272b35;
		}
	}


	.barbecue {
		display: none;
		
		@media @tablet {
			display: block;
			position: absolute;
			top: 55px;
			left: -40px;
			z-index: 9;
		}
		@media @desktop {
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.details1 {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			top: 0;
			right: -130px;
			z-index: 10;
			width: 80px;
		}

		@media @desktop-xl {
			width: 100px;
			right: -220px;
		}
	}

	.details2 {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			top: 0px;
			right: -120px;
			z-index: 10;
			width: 85px;
		}

		@media @desktop-xl {
			width: 130px;
			top: -20px;
			right: -200px;
		}
	}

	.details3 {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			top: 0px;
			left: -120px;
			z-index: 10;
			width: 85px;
		}

		@media @desktop-xl {
			width: 130px;
			top: -20px;
			left: -200px;
		}
	}

	.details4 {
		display: none;
		@media @desktop {
			display: block;
			position: absolute;
			top: -30px;
			left: -122px;
			z-index: 10;
		}

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}
	}
}

.video {
	padding: 30px 0;
	text-align: center;
	position: relative;

	@media @tablet {
		padding: 60px 0;
	}


	@media @desktop {
		padding-top: 100px;
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		color: #272b35;

		@media @desktop {
			font-size: 30px;
		}
	}

	&__img {
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translateX(-54%);
		width: 400px;

		@media @tablet {
			top: 90px;
			width: 590px;
		}
		@media @desktop {
			top: 140px;
		}

	}

	&__link {
		position: relative;

		&:hover {
			&:before {
				background: rgba(0,0,0,.2);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: -20px;
			left: -7px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: rgba(251,45,25,.2);
			z-index: 10;
			transition: background-color .3s linear;

			@media @tablet {
				top: -35px;
				left: -5px;
				width: 70px;
				height: 70px;
			}
		}
	}

	&__play {
		position: relative;
		display: inline-block;
		margin: auto;
		padding-top: 50px;
		font-size: 30px;
		z-index: 10;
		cursor: pointer;

		@media @tablet {
			padding-top: 70px;
			font-size: 52px;
		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {

		}

	}
}



.decor12 {
	display: none;
	@media @desktop-xl {
		display: block;

		position: absolute;
		left: 15px;
		top: 350px;
	}
	@media @desktop-xl-2 {
		left: 50px;
		top: 250px;
	}
}

.decor13 {
	display: none;
	@media @desktop-xl {
		display: block;
		position: absolute;
		left: 70px;
		top: 740px;
	}
	@media @desktop-xl-2 {
		top: 550px;
		left: 180px;
	}
}

.decor14 {
	display: none;
	@media @desktop-xl {
		display: block;
		position: absolute;
		left: 0px;
		top: 100px;
	}
	@media @desktop-xl-2 {
		top: 180px;
	}
}

.decor15 {
	display: none;
	@media @desktop-xl {
		display: block;
		position: absolute;
		left: -55px;
		bottom: -110px;
	}	
}

.decor16 {
	display: none;
	@media @desktop-xl {
		display: block;
		position: absolute;
		right: 50px;
		top: 50px;
	}
	@media @desktop-xl-2 {
		right: 220px;
		top: 120px;
	}
}

.decor17 {
	display: none;
	@media @desktop-xl {
		display: block;
		position: absolute;
		right: 10px;
		top: 350px;
	}
	@media @desktop-xl-2 {
		right: 50px;
		top: 250px;
	}
}

.decor18 {
	display: none;
	@media @desktop-xl {
		display: block;

		position: absolute;
		right: 15px;
		top: 680px;

		img {
			max-width: 70%;
		}
	}	
	@media @desktop-xl-2 {
		right: 160px;
		top: 480px;

		img {
			max-width: 100%;
		}
	}
}