@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.step {
	background: url(../images/back__step.jpg)no-repeat center/cover;
	z-index: -1;


	.list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 60px 0 30px 0;

		&__item {
			align-self: baseline;
			width: 20%;
			text-align: center;
			color: #000;
			
		}
		&__img {
			position: relative;
			display: block;
			margin: 15px auto;
			height: 227px;
			border-radius: 50%;
			box-shadow: 0px 14px 12px 0.52px rgba(39, 34, 35, 0.07);
		}
		&__title {
			padding: 23px 0;
			font-size: 20px;
			font-weight: 700;
		}
	}

	.btn {
		display: block;
		margin: 20px auto 0 auto;
		color: #fff;

		box-shadow: 1.568px 14.918px 17.4px 2.6px rgba(220, 52, 0, 0.1);
		transition: all .3s linear;
		&:hover {
			box-shadow: 1.568px 14.918px 17.4px 2.6px rgba(220, 52, 0, 0);
		}
	}

}





