@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.step {
	background: url(../images/back__step-small.jpg)no-repeat center/cover;
	z-index: -1;

	@media @tablet {
		background: url(../images/back__step.jpg)no-repeat center/cover;
	}

	br {
		display: none;

		@media @tablet {
			display: inline;
		}
	}


	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: baseline;
		margin: 60px 0;
		margin-bottom: 0;

		@media @tablet {
			justify-content: space-around;
		}
		@media @desktop {
			margin-bottom: 30px;
		}
		@media @desktop-xl {
			justify-content: space-between;
			
		}

		&__item {
			margin-bottom: 40px;
			align-self: baseline;
			width: auto;
			text-align: center;
			color: #000;

			@media @tablet {
				width: 48%;
			}
			@media @desktop {
				width: 20%;
				margin-bottom: inherit;
			}
			
		}

		&__img {
			position: relative;
			display: block;
			margin: 15px auto;
			height: 166px;
			border-radius: 50%;
			box-shadow: 0px 16px 12px 0.52px rgba(39, 34, 35, 0.07);

			@media @desktop {
				height: 180px;
			}

			@media @desktop-xl {
				height: 227px;
				box-shadow: 0px 24px 12px 0.52px rgba(39, 34, 35, 0.07);
			}
		}

		&__title {
			padding: 10px 0;
			font-size: 18px;
			font-weight: 700;

			@media @desktop-xl {
				padding: 23px 0;
				font-size: 20px;
			}
		}

		&__text {
			max-width: 290px;
			text-align: center;
			margin: auto;
			padding: 0 5px;

			@media @desktop {
				padding: 0;
			}
		}
	}

	.btn {
		display: block;
		margin: 20px auto 0 auto;
		color: #fff;

		box-shadow: 1.568px 14.918px 17.4px 2.6px rgba(220, 52, 0, 0.1);
		transition: all .3s linear;
		&:hover {
			box-shadow: 1.568px 14.918px 17.4px 2.6px rgba(220, 52, 0, 0);
		}
	}

}





