
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}



.recipe {
	background: url(../images/back__recipe.jpg)no-repeat center/cover;
	

	@media @tablet {

	}
	@media @desktop {
		min-height: 940px;
	}
	@media @desktop-xl {

	}


	&__title {
		color: #fff;
	}

	&__box {
		padding-top: 120px;
		
		margin: auto;

		@media @tablet {

		}
		@media @desktop {
			width: 900px;
		}
		@media @desktop-xl {

		}

	}

	&__products {
		padding: 15px 0;
		@media @desktop {
			padding-top: 0;
		}
	}

	.accent {
		font-weight: 700;
	}

	.slider {
		&__item {
			position: relative;
			cursor: grab;
			user-select: text;
		}
		&__title {
			width: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			color: #fefeff;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
		}
	}

	&__item {
		list-style-type: decimal; 
		list-style-position: inside; 
		color: #fefeff;
	}	

	.slider-nav-recipe {
		margin-bottom: 20px;
		.slider__item {
			width: 300px;

			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: transparent;
				transition: all .3s linear;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: transparent;
				transition: all .3s linear;
			}
		}
		.slick-current { 
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: #fca214;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: #fca214;
			}
		}
		.slider__img {
			height: 225px;
			width: 100%;
		}
	}

	.recipe__item {
		padding-bottom: 10px;
	}

}

.slick-slider {
	user-select: text;
}
.slick-list.draggable {
	user-select: none;
}