
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}



.recipe {
	background: url(../images/back__recipe-sm.jpg);
	

	@media @tablet {

	}

	@media @desktop {
		min-height: 940px;
		background: url(../images/back__recipe.jpg)no-repeat center/cover;
	}


	&__title {
		color: #fff;
	}

	&__box {
		padding-top: 120px;
		
		margin: auto;

		@media @tablet {

		}
		@media @desktop {
			width: 900px;
		}
		@media @desktop-xl {

		}

	}

	&__products {
		padding: 15px 10px;
		@media @desktop {
			padding: 0 0 10px 0;
		}
	}

	.recipe__item {
		padding: 0 10px 10px 10px;
		
		@media @desktop {
			padding: 10px 0 0 0;
		}
	}

	.accent {
		font-weight: 700;
	}

	.slider {
		&__item {
			position: relative;
			cursor: grab;
			user-select: text;
		}
		&__title {
			width: 95%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			color: #fefeff;
			font-size: 18px;
			font-weight: 700;
			text-align: center;

			@media @tablet {
				width: 80%;
				font-size: 20px;
			}
		}
	}

	&__item {
		list-style-type: decimal; 
		list-style-position: inside; 
		color: #fefeff;
	}	

	.slider-nav-recipe {
		margin: 0 auto;
		margin-bottom: 20px;
		.slider__item {

			

			
			@media @tablet {

			}
			@media @desktop {
				max-width: 100%;
			}
			@media @desktop-xl {

			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: transparent;
				transition: all .3s linear;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: transparent;
				transition: all .3s linear;
			}
		}
		.slick-current { 
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: #fca214;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background: #fca214;
			}
		}
		.slider__img {
			height: auto;
			width: 150px;

			@media @tablet {
				height: 225px;
				width: 100%;
			}

			@media @tablet {

			}
			@media @desktop {
				max-width: 300px;
			}
			@media @desktop-xl {

			}
		}
	}


	.slick-prev,
	.slick-next {
		font-family: 'Fontello'; 
		transition: all .3s linear;

		top: -70px;
		transform: translateY(-50%);
		z-index: 10;

	}

	.slick-prev {
		left: 10vh; 
	}

	.slick-next {
		right: 10vh; 
	}


	.slick-prev:before,
	.slick-next:before {
		display: block;
		position: absolute;

		top: 50%;
		transform: translateY(-25%);
		z-index: 10;
		color: #fff;
		font-size: 60px;

		@media @desktop-xl {
			font-size: 120px;
		}
	}

	.slick-prev:before {
		left: 0;
	}

}

.slick-slider {
	user-select: text;
}
.slick-list.draggable {
	user-select: none;
}