@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.contact {
	padding-top: 0;
	padding-bottom: 30px;
	position: relative;
	background: #15181f;
	overflow: hidden;
	@media @desktop {
		padding-bottom: 0;
	}
	&__title {
		display: none;
	}

	.map {
		width: 100%;
		height: 450px; 

		@media @desktop {
			height: 530px; 
		}
	}

	iframe {
		display: block;
		border: none;
		border: 0;
	}
	.container {
		position: relative;

	}

	&__box {
		margin: auto;
		width: 300px;
		height: 530px;
		padding-top: 60px;
		padding-left: 15px;
		padding-right: 15px;

		background: #15181f;
		color: #fff;

		@media @mobile {

		}
		@media @tablet {

		}
		@media @desktop {
			position: absolute;
			top: -532px;
			right: 0;
			width: 360px;
			height: 532px;
			padding-left: 50px;
			padding-top:  66px;
			margin: inherit;
		}
		@media @desktop-xl-2 {
			right: -40px;
		}
	}

	.box__title {
		padding-bottom: 20px;
		font-size: 20px;
		font-weight: 700;
	}
	address {
		font-style: normal;
		padding-bottom: 7px;
	}

	.tel {
		margin-bottom: 8px;
	}

	.mail {
		margin-top: 72px;
		font-weight: 700;
	}

	.contact__ask {
		margin-top: 40px;
		margin-bottom: 5px;
		padding-bottom: 5px;
		font-size: 20px;
		font-weight: 700;
		@media @desktop {
			margin-top: 25px;
		}
	}
	.contact__text {
		margin-top: 0;
		margin-bottom: 35px;
	}
}