.remodal-overlay {

 background: rgba( 160, 159, 158, 0.8) !important;
}


.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;

    @media @mobile {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
        
    }
    @media @tablet {

        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0px;
        background: url('@{dir}form.png') no-repeat top center;
        padding: 120px 0 0 109px;

    }

    .remodal-close {

        @media @mobile {
            color: #000 !important;
        }
        @media @tablet {
            color: #fff !important;

        }
    }
    &:before {
        display: none;
    }
}





.btn-remodal {
    margin: 30px 0 0 15px;

}






.remodal-close { 
    top: -25px !important;
    right: 30px !important;
    width: 35px !important;
    height: 30px !important;
    color: #fff !important;
    font-weight: 700;

    &:before {
        font-size: 40px !important;
        top: 0 !important;
        left: 0 !important;
    }
}

.remodal-common {

    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;

    @media @mobile {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        
    }
    @media @tablet {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
    .remodal-close {
        color: #000 !important;
    }
}



.error-input{
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;

    margin: 0 auto;
    text-align: center;
    
}

#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
label {
    position: absolute;
    top: 0;
    border: 0;
    font-size: 0 !important;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.formBox {

    position: relative;
    width: 311px;
    margin: auto;

    padding-top: 7px;
    text-align: center;
    font-family: @ff1;
    &:before {
        content: '';
        position: absolute;
        width: 311px;
        height: 358px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -44%);
        background: url(../images/forms-sm.png)no-repeat center/contain;
    }
    form {
        position: relative;
        z-index: 10;
        max-width: 290px;
    }

    &__title {
        font-size: 25px;
        font-weight: 700;
        color: #fff; 
    }
    &__text {
        display: block;
        padding: 10px 15px;

        font-size: 16px;
        color: #fff;
    }

    .form__line {
        display: block;
        padding: 8px 25px;
        margin: 15px auto;
        background: transparent;
        border: 1px solid #726f6c;
        width: 230px;
        border-radius: 20px;
        &:hover, &:focus {
            border: 1px solid #726f6c!important;
        }
    }
    .btn {
        width: 230px;
    }

}


.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}