@import "_mixin and function";

/*==========  Desktop First  ==========*/


 @media only screen and (max-width : 1200px) {

}  

/* Medium Devices, Desktops */

 @media only screen and (max-width : 992px) {

.greeting, .footer {
	&__content {
		width: 100%;
		text-align: center;
	}
}  

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.header, .prefooter {
	&__text {
		font-size: rem(32);
	}
}
.icon-play {
	position: absolute;
	bottom: -50%;
	left: 40%;
}
.form {
	&-line {
		display: block;
		margin: 0 auto;
		width: 80%;
		text-align: center;
		padding-left: 0;
		font-size: rem(20);
	}
	&-button {
		margin-top: 30px;
		font-size: rem(20);
	} 
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {


}
		

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)  {

}