	@font-face {
		font-family: "GothamProRegular";
		src: url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff");
		font-style: normal;
		font-weight: normal;
	}

	@font-face {
		font-family: "GothamProBold";
		src: url("../fonts/GothamProBold/GothamProBold.woff") format("woff");
		font-style: normal;
		font-weight: normal;
	}

	@font-face {
		font-family: "GothamProBlack";
		src: url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff");
		font-style: normal;
		font-weight: normal;
	}


	@font-face {
		font-family: "GothamProItalic";
		src: url("../fonts/GothamProItalic/GothamProItalic.woff");
		font-style: normal;
		font-weight: normal;
	}

	@font-face {
		font-family: "GothamProLight";
		src: url("../fonts/GothamProLight/GothamProLight.woff");
		font-style: normal;
		font-weight: normal;
	}

	@font-face {
		font-family: "GothamProLightItalic";
		src: url("../fonts/GothamProLightItalic/GothamProLightItalic.woff");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "GothamProMedium";
		src: url("../fonts/GothamProMedium/GothamProMedium.woff");
		font-style: normal;
		font-weight: normal;
	}