@import "_vars";
@import "_mixin and function";

@media only screen and (max-width : 1100px) {
	.product {
		&__info {
			padding-left: 3%;
		}
		.old__price {
			padding-left: 5px;
		}
		&__link {
			padding: 14px 40px;
		}
	}
	.product__right {
		.product__info {
			padding-right: 3%;
		}
	}
	.aboutUs {
		padding-bottom: 60px;
		.aboutUs__info-left {
			width: 50%;
		}
		.aboutUs__info-right {
			width: 50%;
		}
	}
}  

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

	.header {
		.top__header {
			padding: 15px 0;
		}
		.navigation__item {
			margin-left: 15px;
		}
		.contacts__list {
			flex-direction: column;
		}
	}
	.topVideoCard {
		padding: 60px 0;
		padding-left: 0;
		&__title {
			padding-bottom: 20px;
			position: relative;
			text-align: center;
			left: 0;
			top: auto;
			transform: rotate(0);
			font-size: rem(36);
		}
		&__list {
			margin: 0 auto;
			justify-content: space-between;
		}
		&__model {
			margin-top: 30px;
		}
		&__text {
			padding-top: 5%;
			padding-left: 10%;
			line-height: 1.4;
		}
	}
	.product {
		flex-wrap: wrap;
		&__img {
			flex-basis: 355px;
		}
		.big__img {
			width: 355px;
		}
		.small__img {
			max-width: 160px;
		}
		&__order {
			padding-top: 0;
			flex-wrap: wrap;
		}
		&__link {
			margin-top: 20px;
			width: 100%;
			text-align: center;
		}
	}
	.section__guarantees {
		.section__guarantees__title {
			padding-top: 60px;
		}
		.faq {
			padding: 15px;
		}
	}

	.aboutUs {
		&__info {
			flex-wrap: wrap;
		}
		.title {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.aboutUs__info-left {
			width: 100%;
			p {
				padding-right: 0;
			}
		}
		.aboutUs__info-right {
			width: 100%;
			p {
				padding-right: 0;
			}
		}
		li {
			display: flex;
			align-items: center;
			padding-bottom: 40px;
			width: 80%;
			margin: auto;
		}
		p {
			padding-left: 25px;
		}
	}
	

}  

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header {
		.logo__flex {
			order: 1;
			flex: 1;
		}
		.navigation__flex {
			order: 3;
			width: 100%;
		}
		.navigation__list {
			justify-content: center;
		}
		.contacts__flex {
			order: 2;
		}
		.center__header {
			padding-top: 15%;
		}
		.header__text {
			padding-bottom: 60px;
			font-size: rem(34);
			line-height: 1.5;
		}
	}
	.topVideoCard {
		&__title {
			font-size: rem(30);
		}
		&__list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: auto;
		}
		&__item {
			text-align: center;
			margin-bottom: 50px;
		}
		&__text {
			padding-top: 0;
			padding-left: 10%;
		}
	}
	.product {
		padding: 60px 0;
		&__img {
			flex-basis: 200px;
			.big__img {
				width: 300px;
			}
			.small__img {
				max-width: 120px;
			}
		}
		&__info {
			ul {
				padding-bottom: 20px;
			}
			li {
				font-size: rem(18);
			}
		}
	}
	.section__guarantees {
		padding-bottom: 40px;
		.faq {
			flex-wrap: wrap;
			div {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.question{
			padding-top: 20px;
		}
	}
	.selectVideoCard {
		.ask {
			font-size: rem(34);
		}
		.img-wrap {
			img {
				max-width: 100%;
			}
			&:before {
				left: 5%;
			}
		}
		.product__link {
			border: none;
			color: #fff;
			margin-top: 40px;
			margin-bottom: 40px;
			width: 300px;
		}
	}
	.footer {
		.flex-wrap {
			flex-direction: column;
			width: 80%;
			margin: 0 auto;
		}
		.location {
			padding-left: 30px;
			&:before {
				left: 5px;
				top: -10px;
				font-size: rem(25);
			}
		}
		.location-left {
			padding-left: 30px;
		}
		.politics__link {
			padding-left: 15%;
		}
	}




}

@media only screen and (max-width : 640px) {

	.product {
		&__img {
			flex-basis: auto;
			margin: auto;
			ul {
				justify-content: space-around;
				flex-wrap: wrap;
			}
			.big__img {
				width: auto;
				margin: auto;
			}
			.small__img {
				margin-top: 35px;
				max-width: 250px;
			}
		}
		&__info {
			flex-basis: auto;
			margin: auto;
			padding-top: 25px;
			&:before {
				top: 25px;
			}
		}
	}
	.product__right {
		.product__info {
			order: 0;
		}
	}
	.aboutUs {
		li {
			flex-direction: column;
			text-align: center;
			padding-bottom: 10px;
			width: 95%;
		}
		p {
			padding-top: 15px;
			padding-left: 0;
		}
	}




}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.selectVideoCard {
		.ask {
			font-size: rem(26);
			line-height: 30px;
		}
	}
	.footer {
		.flex-wrap {
			width: 100%;
			font-size: rem(17);
			li {
				padding-bottom: 10px;
			}
		}
		.location {
			padding-left: 40px;
			&:before {
				left: 5px;
				top: -10px;
				font-size: rem(25);
			}
		}
		i {
			padding-right: 10px;
		}

		.location-left {
			padding-left: 40px;
		}
		.politics__link {
			padding-left: 12%;
			font-size: rem(15);
		}
	}


}

@media only screen and (max-width: 420px) {

	.header {
		text-align: center;
		min-height: 560px;
		&:before {
			min-height: 560px;
		}
		.contacts__item {
			margin-left: 0;
			padding-top: 5px;
		}
		.navigation__list {
			padding-top: 5px;
		}
		.navigation__item {
			margin-left: 10px;
			font-size: rem(14.5);
		}
		.contacts__flex {
			width: 100%;
		}
		.center__header {
			padding-top: 10vh;
		}
		.header__text {
			font-size: rem(26);
			padding-bottom: 40px;
		}
	}

	.footer {
		.location {
			padding-left: 40px;
			font-size: rem(15);
		}
		.politics__link {
			font-size: rem(15);
		}
	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)  {

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}


/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {


}


/* ----------- iPhone 4 and 4S ----------- */

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {


}

