@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}
body {
	background: #fafafa;
}

#panorama {
	width: 600px;
	height: 400px;
	margin: 200px auto;


}





