body {
	width: 1366px;
	min-height: 950px;
	background-color: #f9f9f9;
	font: 13px 'Open Sans', sans-serif;
}
.wrapper { 
	width: 966px;
	min-height: 840px; 
	margin: 0 auto;
	padding: 50px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
a {
	display: block;	
	text-decoration: none; 
}
/* HEADER */	
.menu {
	margin-top: 40px;
	margin-bottom: 40px;
	font size: 15px;
	line-height: 29px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.menu li {
	display: inline-block;
}
.menu li a {
	padding: 1px 35px;
	color: #eee;
} 
.menu a:hover {
	background: #353535;
	border-left : 1px solid #f9f9f9;
	border-right: 1px solid #f9f9f9;
}
/*CONTENT */	
aside {
	float: left;
	width: 240px;
	line-height: 37px;
}
.content {
	position: relative;
	overflow: hidden;
}
.goods{
	float:right;
	width: 680px;
}
aside li a{
	padding: 5px 20px;
	color: #7a7878;
	border: 1px solid #e1e1e1;
}
aside li a:active {
	padding-left: 37px;
	background: #f9f9f9;
}
.goods-description p{
	margin: 40px 25px 80px;
	line-height: 21px;
}	
/*FOOTER */	
.footer {
	position: relative;
	overflow: hidden;
	background: #e1e1e1;
	line-height: 29px;
}
.footer-menu {
	float:left;
}
.copyright {
	float:right;
	margin-right: 25px;
}
.footer li {
	display: inline-block;
	padding: 1px 40px;
}
.footer li a{
	color: #000;
}
.footer a:hover {
	text-decoration: underline;
}