@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.contacts {
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	position: relative;


	.map {
		width: 100%;
		height: 400px; 
		@media @tablet {
			height: 500px; 
		}
	}

	.container {
		position: relative;
		z-index: 10;
	}

	&__box {
		position: absolute;
		padding-top: 70px;
		padding-left: 50px;
		padding-right: 100px;
		top: -500px;
		right: 0;
		width: 440px;
		height: 500px;
		background: url(../images/form__back.jpg)no-repeat center/cover;
		color: #494f63;
		box-shadow: 0px 12px 41.82px 9.18px rgba(61, 76, 133, 0.14);

	}

	.box__title {
		padding-bottom: 10px;
		font-size: 30px;
		font-weight: 700;
		color: #000;
	}
	.contacts__list {
		padding-left: 20px;
	}
	.contacts__item {
		padding-bottom: 10px;
	}
	.mail {

	}
	.ask {
		padding-top: 30px;
		padding-bottom: 10px;
		color: #000;
		font-size: 30px;
		font-weight: 700;
	}
	.text {
		padding-left: 20px;
		padding-bottom: 30px;
	}

	.btn {
		box-shadow: 0px 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
		transition: all .3s linear;
		&:hover {
			box-shadow: none;
		}
	}

}