@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.footer {
	padding: 15px 0;
	background: #23252c;

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	img {
		margin-right: 25px;
	}
	&__logo {
		display: flex;
		align-items: center;
		font-weight: 700;
		color: #fefefe;
	}
	.agency {
		color: #ebf4ff;
		img {
			margin-top: 7px;
		}
	}
}

