@import "_reset";
@import "_fonts";
@import "_vars";
@import "_mixin and function";
@import "_magnific-popup";
@import "_carousel";

body {
	min-width: 320px;
	position: relative;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: 1.3;
	overflow-x: hidden;
	box-sizing: border-box;
}
ul, li {
	list-style-type: none;
}
a {
	color: inherit;
}
section {
	margin: 5% 0; 
	text-align: center;
}
.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section__title {
	padding: 20px 0;
	position: relative;
	font-size: rem(36);
	font-family: "GothamProMedium";
	color: #333;
}
.responsive {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.line {
	width: 522px;
	height: 3px;
}
/* ------------	LOADER ------------*/
#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	background: #fff; 
	z-index: 1001;
}
#preloader i {
	width: 70px; 
	height: 70px; 
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/preloader.gif') no-repeat 50% 50%; 
	margin: -35px 0 0 -35px;
}

/* ------------	PAGE 1 ------------*/
.header {
	padding-top: 40px;
	height: 750px;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	&__wrap {
		position: relative;
		display: flex;
		height: 750px;
		flex-direction: column;
		align-content: space-around;
		align-items: stretch;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 750px;
			background-color: rgba(#000, 0.2);	
		}
		.slogan {
			position: relative;
			width: 40%;
			font-size: rem(36);
			&-accent {
				font-family: "GothamProBold";
				text-decoration: underline dashed;
				text-decoration-color: rgba(#fff, .3);
			}
			[data-tooltip] {
				position: relative;
				z-index: 2;
				cursor: pointer;
			}
			[data-tooltip]:before,
			[data-tooltip]:after {
				visibility: hidden;
				opacity: 0;
				pointer-events: none;
			}
			[data-tooltip]:before {
				position: absolute;
				top: 100%;
				left: 50%;
				margin-top: 13px;
				margin-left: -80px;
				padding: 7px;
				width: 200px;
				border-radius: 3px;
				background-color: #000;
				background-color: hsla(0, 0%, 20%, 0.9);
				content: attr(data-tooltip);
				font-size: 14px;
				@include transition (all .5s ease);
			}
			[data-tooltip]:after {
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: 5px;
				width: 0;
				border-top: 10px solid #fff;
				border-top: 10px solid hsla(0, 0%, 20%, 0.9);
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				content: " ";
				font-size: 0;
				line-height: 0;
			}
			[data-tooltip]:hover:before,
			[data-tooltip]:hover:after {
				visibility: visible;
				opacity: 1;
			}
		}
		.logo {
			position: relative;
			padding-top: 30px;
			padding-bottom: 10vh;
		}
		.contact {
			position: relative;
			padding-top: 20%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&__btn {
				padding: 20px 50px;
				background: $blue;
				border-radius: 50px;
				font-family: "GothamProMedium";
				@include transition(all .5s ease);
				&:hover {
					background-color: darken($blue, 10%);
					transform: scale(1.1);
				}
			}
			&__link {
				display: flex;
				align-items: center;
			}
			&__text {
				padding-left: 20px;
				&-accent {
					font-family: "GothamProBold";
				}
			}
		}
	}
}

.about {
	.about__img {
		box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	} 
	.flex__wrap {
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
	}
	&__content {
		padding: 10% 0 10% 15%; 
		text-align: left;
	}
	.text {
		padding-bottom: 40px;
		font-size: rem(24);
		color: #cfcfcf;
	}
	.accent {
		font-family: "GothamProMedium";
		color: #333;
	}
}

.comment {
	position: relative;
	background: #f2f2f2;
	z-index: 1;
	&__carousel {
		position: relative;
		padding: 60px 0;
		text-align: left;
	}
	.owl-item {
		display: flex;
	}
	.owl__img {
		/* border-radius:50% 50% 50% 50%/60% 60% 40% 40%; */

	}
	.owl__content {
		padding: 0 10%;
		&-name {
			font-family: "GothamProBold";
			font-size: rem(24);
		}
		&-position {
			line-height: 1.6;
			color: #888;
		}
		&-text {
			padding-top: 20px;
			line-height: 1.5;
			color: #333;
		}		
	}
	.comments__controls {
		i {
			position: absolute;	
			display: block;
			bottom: -20px;
			z-index: 100;
			background: #333;
			border-radius: 50%;
			color: #fff;
			font-size: rem(26);
			box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.7);
			@include transition (box-shadow .3s ease);
			&:hover {
				cursor: pointer;
				box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
			}
		}
		.owl-prev i {	
			right: 53%;
			padding: 7px 10px 5px 5px;
		}
		.owl-next i {
			right: 45%;
			padding: 7px 5px 5px 10px;
		}
	}
}

.mission {
	padding-top: 50px;
	&__list {
		padding-top: 200px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		counter-increment: li;
		flex-basis: 300px;
		&:before {
			content: '' counter(li);
			position: absolute;
			top: -100px;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 10px 40px;
			background: #333;
			border-radius: 50%;
			font-size: rem(72);
			color: #fefefe;
		}
		&:first-child:before{
			padding: 10px 50px;
		}
	} 
	&__btn {
		position: relative;
		display: inline-block;
		padding: 20px 50px;
		margin: 60px 0;
		background: $blue;
		border-radius: 50px;
		font-family: "GothamProMedium";
		color: #fff;
		text-transform: uppercase;
		box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.7);
		@include transition(all .5s ease);
		&:hover {
			background-color: darken($blue, 10%);
			transform: scale(1.1);
			box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.4);
		}
	}
	svg {
		position: absolute;
		bottom: 20%;
		right: 20%;
	}
}

.publication {
	padding: 0 20%;
	background-image: -webkit-linear-gradient(#fff 50%, #f2f2f2 50%);
	svg {
		fill: $blue;
		stroke: $blue;
		display: inline-block;
		width: 100%;
		height: 3px;
	}
	&__carousel {
		padding: 60px 0;
	}
	.owl-item {
		position: relative;
	}
	&__img {
		box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.7);
	}
	&__content {
		position: relative;
		margin: auto;
		width: 80%;
		text-align: left;
		line-height: 1.6;
	}
	&__title {
		padding: 30px 0;
		font-size: rem(24);
		font-family: "GothamProBold";
	}
	&__text {
		text-align: justify;
	}
	&__link {
		display: inline-block;
		padding-top: 40px;
		font-family: "GothamProMedium";
		color: #000;
		padding-bottom: 4px;
		border-bottom: 1.5px dashed #000 ;
		@include transition (color .5s ease);
		&:hover {
			color: $blue;
		}
	}
}

.publication__controls {
	i {
		position: absolute;	
		display: block;
		bottom: 60px;
		z-index: 100;
		background: #333;
		border-radius: 50%;
		color: #fff;
		font-size: rem(26);
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.7);
		@include transition (box-shadow .3s ease);
		&:hover {
			cursor: pointer;
			box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
		}
	}
	.owl-prev2 i {	
		right: 25%;
		padding: 7px 10px 5px 5px;
	}
	.owl-next2 i {
		right: 15%;
		padding: 7px 5px 5px 10px;
	}
}

.callback {
	padding-bottom: 10%;
	padding-left: 160px;
	color: #333;
	&__text {
		font-family: "GothamProMedium";
		font-size: rem(36);
	}
	&__ask {
		padding-top: 100px;
		width: 50%;
	}
	form {
		padding-top: 60px;
		display: flex;
	}
	.form-line {
		width: 50%;
		margin-right: 60px;
		border: none;
		border-radius: 20px;
		padding: 20px 20px;
		box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
		font-size: rem(20);
		color: #a9a8a8;
	}
	.form-button {
		display: inline-block;
		padding: 20px 50px;
		background: $blue;
		border: none;
		border-radius: 50px;
		color: #fff;
		text-transform: uppercase;
		font-family: "GothamProMedium";
		box-shadow: 0 2px 3px 0px rgba(0,0,0,0.4);
		@include transition(all .5s ease);
		&:hover {
			background-color: darken($blue, 10%);
			transform: scale(1.1);
			box-shadow: 0 2px 3px 0px rgba(0,0,0,0.1);
		}
	}
}

.footer {
	padding: 2% 0 2% 0;
	text-align: center;
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		margin-left: 5px;
		padding-right: 10px;
		border-right: 1px solid #000;
		line-height: 14px;
		margin-bottom: 10px;
		&:last-child {
			border-right: none;
		}
	}
	.seo-text {
		padding-top: 15px;
		font-size: rem(10);
	}
}



/* ------------	PAGE 2------------*/

.section__title-order {
	padding: 0;
	font-size: rem(30);
}
.header-order{
	padding-top: 25px;
	background-position: center;
	background-size: cover;
	min-height: 800px;	
	color: #fff;
	.logo-order {
		display: block;
	}
	.logo-order img{
		width: 165px;
		height: 50px;
	} 
	.slogan-order {
		padding-top: 3%;
		text-align: center;
		font-size: rem(25);
	}
	iframe {
		display: block;
		margin: 30px auto 40px auto;
		width: 640px;
		height: 360px;
	}
	.contact {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__link {
			display: flex;
			align-items: center;
		}
		&__text {
			padding-left: 20px;
			&-accent {
				font-family: "GothamProBold";
			}
		}
	}
}

.question {
	margin: 0;
	padding: 50px 0;
	background-image: -webkit-linear-gradient(85deg, #f2f2f2 55%, #fff 45% );
	&__list {
		padding: 40px 0 50px 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: left;
	}
	&__item {
		position: relative;
		padding-bottom: 36px;
		padding-left: 70px;
		flex-basis: 460px;
		counter-increment: li;
		&:before {
			content: '' counter(li);
			position: absolute;
			top: 10px;
			left: -50px;
			padding: 8px 26px;
			background: #333;
			border-radius: 50%;
			font-size: rem(52);
			color: #fefefe;
		}
		&:first-child:before{
			top: 0;
			padding: 8px 33px;
		}
	}
	&__item:nth-child(2n) {
		padding-top: 50px;
		padding-left: 130px;
		&:before {
			left: 20px;
			top: 54px;
		}
	}
	.item__title {
		font-size: rem(25);
	}
	.item__text {
		padding-top: 10px;
		font-family: "GothamProLight";
		font-size: rem(18);
	}
}
.section__title-choice {
	padding-top: 20px;
}
.choice {
	padding-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: left;
	&__item {
		display: flex;
		flex-basis: 400px;
		padding-bottom: 5%;
		svg {
			width: 90px;
		}
		.partners {
			display: inline-block;
			padding-bottom: 10px;
			color: $red;
		}
	}
	&__item:nth-child(2n) {
		padding-top: 50px;
	}
	&__content {
		padding-left: 15px;
	}
	&__title {
		font-size: rem(25);
	}
	&__text {
		padding: 15px 0;
		font-family: "GothamProLight";
	}
	.brand {
		padding-right: 10px;
	}
}

.picture {
	position: relative;
	height: 620px;
	background-size: cover;
	background-position: center;
	&__text {
		padding: 20% 10%;
		text-align: center;
		font-size: rem(50);
		font-family: "GothamProMedium";
		color: #fff;
	}
}

.gallery {
	text-align: center;
	&__content{
		padding: 50px 10%;
		text-align: left;
		font-size: rem(20);
	}
	&__text {
		padding-bottom: 30px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 15px;
	}
	&__item {
		position: relative;
		margin-bottom: 50px;
		flex-basis: 340px;
		box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.4);
		color: #fff;
		@include transition (all .5s ease);
		&:hover {
			cursor: pointer;
			.overlay {
				opacity: 1;
			}
			.products {
				transform: translateY(-60px);
			}
			.consist {
				transform: translateY(-20px);
			}

		}
	} 
	.products, .consist {
		padding: 0 10px;
		position: absolute;
		bottom: 0;
		text-align: left;
		@include transition (all .5s ease);
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background: rgba($blue, .5);
		@include transition (all .5s ease);
		&__icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
			font-size: 2rem;
		}
	}
}

.order {
	background: #f3f2f2;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 150px;
	&__text {
		font-size: rem(35);
		font-family: "GothamProMedium";
		text-align: left;
	}
	&__bonus {
		padding: 15px 0 50px 0;
		width: 38%;
		font-size: rem(20);
		text-align: left;
	}
	form {
		position: relative;
		text-align: left;
		#email-error {
			position: absolute;
			left: 24px;
			top: -32px;
			color: $red;
			font-family: "GothamProBold";
		}
		.form-line {
			width: 40%;
			padding: 15px 25px;
			margin-right: 20px;
			border: none;
			border-radius: 50px;
			font-size: rem(20);
		}
		.form-button {
			padding: 15px 60px;
			border-radius: 50px;
			border: none;
			background: $blue;
			color: #fff;
			text-transform: uppercase;
			font-size: rem(20);
			@include transition(background-color .5s ease);
			&:hover {
				background: darken($blue, 10%)
			}
		}
	}
	.timer {
		text-align: left;
		&__content {
			margin: 20px 0 60px 0;
			padding: 10px 20px;
			display: inline-block;
			background: #fff;
			border-radius: 10px;
		}
		.remain {
			display: inline-block;
			width: 40%;
			font-size: rem(15);
		}
		.num {
			font-size: rem(30);
			font-family: "GothamProMedium";
		}
		p {
			display: inline-block;
		}
	}
}

.footer-order {
	background: #f3f2f2;
}

/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
 	opacity: 0;
 	transition: all 0.15s ease-out;
 }
 .mfp-fade.mfp-bg.mfp-ready {
 	opacity: 0.8;
 }
 .mfp-fade.mfp-bg.mfp-removing {
 	opacity: 0;
 }

 .mfp-fade.mfp-wrap .mfp-content {
 	opacity: 0;
 	transition: all 0.15s ease-out;
 }
 .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
 	opacity: 1;
 }
 .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
 	opacity: 0;
 }
 .white-popup {
 	position: relative;
 	background: #FFF;
 	padding: 20px;
 	width: auto;
 	max-width: 500px;
 	margin: 20px auto;
 }
 .popup-modal-dismiss {
 	background: $red;
 }


 .paraxify {
 	background-attachment: fixed;
 	background-position: center center;
 	background-size: cover;
 }

/* ------------	PAGE 3 ------------*/

.header-invite {
	.wrapper {
		position: relative;
	}
	max-height: 1300px;
	min-height: 120vh;
	background-size: cover;
	background-repeat: no-repeat;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 120vh;
		background-color: rgba(#000, .75);	
	}
	.invite__title {
		padding: 5vh 0;
		text-align: center;
		font-size: rem(35);
		font-family: "GothamProBold";
		color: #fff;
	}
}
.bonus {
	position: relative;
	padding: 8vh;
	background: #fff;
	.wrapper {
		display: flex;	
		justify-content: space-between;	
	}
	iframe {
		width: 500px;
		height: 281.5px;
	}
	&__text {
		flex-basis: 400px;
		padding: 38px;
		border: 2px dashed #000;
		font-size: rem(20);
		font-family: "GothamProMedium";
		p:first-child{
			padding-bottom: 50px;
		}
	}
}
.form__invite {
	form {
		margin: auto;
		margin-top: 8vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.form-line {
		padding: 15px 20px;
		flex-basis: 300px;
		border: none;
		border-radius: 50px;
		font-size: rem(18);
		color: #919191;
	}
	.form-button {
		flex-basis: 300px;
		margin-top: 25px;
		padding: 15px 0;
		border: none;
		border-radius: 50px;
		background: $blue;
		color: #fff;
		font-size: rem(16);
		box-shadow: 0 2px 3px 0px rgba(0,0,0,0.4);
		@include transition(all .5s ease);
		&:hover {
			background-color: darken($blue, 10%);
			transform: scale(1.1);
			box-shadow: 0 2px 3px 0px rgba(0,0,0,0.1);
		}
	}
}

/* ------------	PAGE 4 ------------*/
.header-thank {
	.invite__title {
		padding: 5vh 0;
		text-align: center;
		font-size: rem(35);
		color: #fff;
	}
	.wrapper {
		position: relative;
	}
	height: 20vh;
	background-size: cover;
	background-repeat: no-repeat;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 20vh;
		background-color: rgba(#000, .75);	
	}
}
.bonus__thank {
	.bonus__list {
		display: flex;
		justify-content: space-around;
		padding-top: 20%;
	}
	.bonus__item {
		margin-left: 10px;
		.icons {
			font-size: 3rem;
			color: #fff;
			z-index: 10;
			display: block;
			width: 90px;
			height: 90px;
			border-radius: 50%;
			text-align: center;
			padding-top: 12px;
			@include transition (opacity .5s ease);
			&:hover {
				opacity: .7
			}

		}
		.vk {
			background-color: #4d76a1;
		}
		.fb {
			background-color: #3b5998;
			/* padding: 16px 26px; */
		}
		.tw {
			background-color: #55acee;
			/* padding: 16px 14px; */
		}
		.insta {
			background-color: #6a453b;
			/* padding: 16px 14px; */
		}
	}
}

.about__box {
	div {
		height: 100vh;
		background: no-repeat;
	}
}

/* @import "media.scss"; */