@import "_vars";
@import "_mixin and function";

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1200px) {

	.about {
		.flex__wrap {
			flex-wrap: nowrap;
		}
		&__content {
			padding: 10% 0 10% 20px; 
			text-align: left;
			width: 100%;
		}
	}
	.question {
		&__item {
			padding-left: 100px;
			&:before {
				left: 0px;
			}
		}
	}
}  

/* Medium Devices, Desktops */

@media only screen and (max-width : 960px) {
	.question {
		background-image: -webkit-linear-gradient(85deg, #f2f2f2 50%, #fff 50% );
		&__item {
			flex-basis: 600px;
			padding-bottom: 40px;
		}
		&__item:nth-child(2n) {
			padding-top: 0;
			padding-left: 100px;
			&:before {
				left: 0;
				top: 0;
			}
		}
	}
	.choice {
		padding-top: 40px;
		&__item {
			display: flex;
			flex-basis: 600px;
			padding-bottom: 40px;
			svg {
				width: 90px;
			}
		}
		&__item:nth-child(2n) {
			padding-top: 0;
		}
	}
	.order {
		padding-left: 0;
	}
	.callback {
		padding-left: 100px;
	}
}

@media only screen and (max-width : 775px) {
	.header {
		padding-top: 0;
		&__wrap {
			background-position: 100%;
		}
		.slogan {
			width: 50%;
		}
		.contact {
			flex-wrap: wrap;
			&__btn {
				margin: auto;
				margin-bottom: 30px;
			}
			&__link {
				padding-bottom: 30px;
			}
		}
	}
	.about {
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
		.flex__wrap {
			flex-wrap: wrap;
		}
		&__content {
			padding: 10% 0; 
			width: 100%;
			text-align: center;
		}
		svg {
			width: 300px;
		}
	}
	.comment {
		.owl-item {
			display: flex;
			flex-wrap: wrap;
		}
		.owl__img {
			padding: 0 15px;
			max-height: 350px;
			max-width: 300px;
		}
		.owl__content {
			padding: 0 10px;
		}
		.comments__controls {
			.owl-prev i {	
				right: 50%;
			}
			.owl-next i {
				right: 30%;
			}
		}
	}
	.publication {
		padding: 0;
		background-image: -webkit-linear-gradient(#fff 50%, #f2f2f2 50%);
		&__carousel {
			padding: 60px 0;
		}
		&__content {
			width: 100%;
		}
		.publication__controls {
			.owl-prev2 i {	
				right: 25%;
			}
			.owl-next2 i {
				right: 5%;
			}
		}
	}
	.callback {
		padding-bottom: 10%;
		padding-left: 0;
	}


	.line {
		width: 300px;
	}
	.header-order {
		padding-top: 0;
		iframe {
			width: 440px;
			height: 247.5px;
		}
		.contact {
			text-align: center;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto;
			&__text {
				padding-left: 10px;
				text-align: left;
			}
			&__link {
				padding-bottom: 30px;
			}
		}
	}
	.picture {
		height: auto;
		&__text {
			padding: 20% 15px;
			font-size: rem(40);
		}
	}
	.gallery {
		&__content{
			padding: 30px 0;
			font-size: rem(20);
		}
		&__text {
			padding-bottom: 20px;
		}
		&__list {
			padding: 0;
		}
		&__item {
			margin-bottom: 30px;
			flex-basis: 300px;
		}
	}
	.order {
		&__text {
			font-size: rem(30);
		}
		&__bonus {
			padding: 15px 0 50px 0;
			width: 70%;
		}
		form {
			.form-line {
				width: 100%;
				text-align: center;
				margin-right: 0;
				margin-bottom: 25px;
			}
			.form-button {
				width: 100%;
			}
		}
	}
}  

/* Small Devices, Tablets */
@media only screen and (max-width : 550px) {
	.header {
		.slogan {
			width: 80%;
			font-size: rem(30);
		}
		.contact {
			padding-top: 20vh;
			&__link {
				flex-basis: 300px;
				width: 100%;
				margin: auto;
			}
		}
	}
	.mission {
		&__list {
			padding-top: 50px;
			flex-wrap: wrap;
			flex-direction: column;
		}
		&__item {
			flex-basis: auto;
			position: relative;
			padding-bottom: 20px;
			&:before {
				display: none;
			}
			span {
				position:relative;
			}
		} 
		&__btn {
			margin: 0;
			padding: 15px 40px;
		}
		svg {
			display: none;
		}
	}
	.callback {
		padding-bottom: 10%;
		color: #333;
		&__text {
			font-family: "GothamProMedium";
			font-size: rem(30);
		}
		&__ask {
			padding-top: 50px;
			width: 100%;
		}
		&__text {
			font-size: rem(24);
		}
		form {
			display: flex;
			flex-direction: column;
		}
		.form-line {
			display: inherit;
			width: 100%;
			margin-bottom: 25px;
			text-align: center;
		}
		.form-button {
			display: inline-block;
			width: 100%;
			padding: 20px 50px;
			box-shadow: 0 2px 3px 0px rgba(0,0,0,0.4);
		}
	}
	.header-order {
		min-height: 600px;	
		iframe {
			width: 400px;
			height: 225px;
		}
		.contact {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&__link {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin: auto;
			}
		}
	}
	.section__title-order {
		padding: 0;
		font-size: rem(30);
	}
	.section__title-choice {
		padding-top: 40px;
	}
	.question {
		background-image: -webkit-linear-gradient(90deg, #f2f2f2 54%, #fff 30% );
		&__list {
			padding-top: 40px;
		}
		&__item {
			padding-left: 50px;
			padding-bottom: 20px;
			flex-basis: auto;
			&:before {
				top: -10px;
				left: -40px;
				padding: inherit;
				background: none;
				color: #000;
			}
			&:first-child:before{
				top: -10px;
				left: -20px;
			}
		}
		&__item:nth-child(2n) {
			padding-left: 50px;
			padding-bottom: 20px;
			&:before {
				top: -10px;
				left: -40px;
			}
		}
	}
	.picture {
		&__text {
			padding: 15% 0;
			font-size: rem(40);
		}
	}
	.order {
		&__bonus {
			width: 100%;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.header {
		.logo {
			margin: 0 auto;
			padding-top: 200px;
			padding-bottom: 10vh;
		}
		.slogan {
			width: 100%;
			text-align: center;
			font-size: rem(26);
		}
		.wrapper {
			padding: 0;
		}
		.header__wrap {
			background-size: cover; 
			&:before {
				background-color: rgba(#000, .5);	
			}
			.contact {
				padding-top: 10vh;
			}
		}
	}

	.header-order {
		.logo {
			margin: 0 auto;
			padding-bottom: 10vh;
		}
		.slogan-order {
			width: 100%;
			font-size: rem(26);
		}
		iframe {
			width: 300px;
			height: 168.75px;
		}
	}
	.question {
		background-image: -webkit-linear-gradient(90deg, #f2f2f2 58%, #fff 45% );
	}
	.order {
		.firstName {
			display: block;
			text-align: center;
		}
		&__text {
			text-align: justify;
			font-size: rem(30);
		}
	}
}


@media only screen and (max-width: 400px)  {

	.order {
		.timer {
			&__content { 
				display: block;
			}
		}
	}

}