@media only screen and (max-width: 1100px) {
  .product__info {
    padding-left: 3%; }
  .product .old__price {
    padding-left: 5px; }
  .product__link {
    padding: 14px 40px; }
  .product__right .product__info {
    padding-right: 3%; }
  .aboutUs {
    padding-bottom: 60px; }
    .aboutUs .aboutUs__info-left {
      width: 50%; }
    .aboutUs .aboutUs__info-right {
      width: 50%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header .top__header {
    padding: 15px 0; }
  .header .navigation__item {
    margin-left: 15px; }
  .header .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .topVideoCard {
    padding: 60px 0;
    padding-left: 0; }
    .topVideoCard__title {
      padding-bottom: 20px;
      position: relative;
      text-align: center;
      left: 0;
      top: auto;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      font-size: 2.25rem; }
    .topVideoCard__list {
      margin: 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .topVideoCard__model {
      margin-top: 30px; }
    .topVideoCard__text {
      padding-top: 5%;
      padding-left: 10%;
      line-height: 1.4; }
  .product {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .product__img {
      -webkit-flex-basis: 355px;
          -ms-flex-preferred-size: 355px;
              flex-basis: 355px; }
    .product .big__img {
      width: 355px; }
    .product .small__img {
      max-width: 160px; }
    .product__order {
      padding-top: 0;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .product__link {
      margin-top: 20px;
      width: 100%;
      text-align: center; }
  .section__guarantees .section__guarantees__title {
    padding-top: 60px; }
  .section__guarantees .faq {
    padding: 15px; }
  .aboutUs__info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .aboutUs .title {
    padding-top: 30px;
    padding-bottom: 30px; }
  .aboutUs .aboutUs__info-left {
    width: 100%; }
    .aboutUs .aboutUs__info-left p {
      padding-right: 0; }
  .aboutUs .aboutUs__info-right {
    width: 100%; }
    .aboutUs .aboutUs__info-right p {
      padding-right: 0; }
  .aboutUs li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    width: 80%;
    margin: auto; }
  .aboutUs p {
    padding-left: 25px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header .logo__flex {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .header .navigation__flex {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%; }
  .header .navigation__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header .contacts__flex {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .header .center__header {
    padding-top: 15%; }
  .header .header__text {
    padding-bottom: 60px;
    font-size: 2.125rem;
    line-height: 1.5; }
  .topVideoCard__title {
    font-size: 1.875rem; }
  .topVideoCard__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto; }
  .topVideoCard__item {
    text-align: center;
    margin-bottom: 50px; }
  .topVideoCard__text {
    padding-top: 0;
    padding-left: 10%; }
  .product {
    padding: 60px 0; }
    .product__img {
      -webkit-flex-basis: 200px;
          -ms-flex-preferred-size: 200px;
              flex-basis: 200px; }
      .product__img .big__img {
        width: 300px; }
      .product__img .small__img {
        max-width: 120px; }
    .product__info ul {
      padding-bottom: 20px; }
    .product__info li {
      font-size: 1.125rem; }
  .section__guarantees {
    padding-bottom: 40px; }
    .section__guarantees .faq {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .section__guarantees .faq div {
        padding-left: 0;
        padding-right: 0; }
    .section__guarantees .question {
      padding-top: 20px; }
  .selectVideoCard .ask {
    font-size: 2.125rem; }
  .selectVideoCard .img-wrap img {
    max-width: 100%; }
  .selectVideoCard .img-wrap:before {
    left: 5%; }
  .selectVideoCard .product__link {
    border: none;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px; }
  .footer .flex-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto; }
  .footer .location {
    padding-left: 30px; }
    .footer .location:before {
      left: 5px;
      top: -10px;
      font-size: 1.5625rem; }
  .footer .location-left {
    padding-left: 30px; }
  .footer .politics__link {
    padding-left: 15%; } }

@media only screen and (max-width: 640px) {
  .product__img {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin: auto; }
    .product__img ul {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .product__img .big__img {
      width: auto;
      margin: auto; }
    .product__img .small__img {
      margin-top: 35px;
      max-width: 250px; }
  .product__info {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin: auto;
    padding-top: 25px; }
    .product__info:before {
      top: 25px; }
  .product__right .product__info {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
  .aboutUs li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    width: 95%; }
  .aboutUs p {
    padding-top: 15px;
    padding-left: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .selectVideoCard .ask {
    font-size: 1.625rem;
    line-height: 30px; }
  .footer .flex-wrap {
    width: 100%;
    font-size: 1.0625rem; }
    .footer .flex-wrap li {
      padding-bottom: 10px; }
  .footer .location {
    padding-left: 40px; }
    .footer .location:before {
      left: 5px;
      top: -10px;
      font-size: 1.5625rem; }
  .footer i {
    padding-right: 10px; }
  .footer .location-left {
    padding-left: 40px; }
  .footer .politics__link {
    padding-left: 12%;
    font-size: 0.9375rem; } }

@media only screen and (max-width: 420px) {
  .header {
    text-align: center;
    min-height: 560px; }
    .header:before {
      min-height: 560px; }
    .header .contacts__item {
      margin-left: 0;
      padding-top: 5px; }
    .header .navigation__list {
      padding-top: 5px; }
    .header .navigation__item {
      margin-left: 10px;
      font-size: 0.90625rem; }
    .header .contacts__flex {
      width: 100%; }
    .header .center__header {
      padding-top: 10vh; }
    .header .header__text {
      font-size: 1.625rem;
      padding-bottom: 40px; }
  .footer .location {
    padding-left: 40px;
    font-size: 0.9375rem; }
  .footer .politics__link {
    font-size: 0.9375rem; } }

/* Custom, iPhone Retina */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 4 and 4S ----------- */
/* Landscape */
