body {
  min-width: 320px;
  position: relative;
  font-family: "GothamProRegular", serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  color: inherit; }

.wrapper {
  position: relative;
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px; }

.responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%; }

::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

/* ------------	LOADER ------------*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001; }

#preloader i {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/preloader.gif") no-repeat 50% 50%;
  margin: -35px 0 0 -35px; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .flex {
    margin-top: 0; }
  .description__content {
    padding-left: 50px; }
  .description .text {
    padding-right: 0; }
  .action {
    padding-bottom: 60px; }
    .action .greeting {
      padding: 40px 0;
      text-align: center; }
    .action .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .action .flex__img {
        text-align: center;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
      .action .flex__form {
        padding-left: 0;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
  .nextPage {
    margin: 20px auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .greeting {
    font-size: 1.625rem;
    line-height: 30px; }
  .room {
    padding: 80px 0 80px 0; }
  .description {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .description__slider {
      margin: auto;
      width: 80%; }
    .description__content {
      margin: auto;
      width: 80%;
      padding-top: 20px;
      padding-left: 0; }
  .slick-prev,
  .slick-next {
    right: 0;
    top: 50%; }
    .slick-prev:before,
    .slick-next:before {
      font-family: 'Fontello';
      font-size: 2.625rem;
      color: #fff; }
  .slick-prev {
    left: 0;
    right: inherit;
    z-index: 100; }
    .slick-prev:before {
      content: '\f177';
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      padding: 8px; }
  .slick-next {
    right: 50px;
    z-index: 100; }
    .slick-next:before {
      content: '\f178';
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      padding: 5px; }
  .nextPage {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .description__slider {
    width: 100%; }
  .description__content {
    width: 100%; } }

/* Custom, iPhone Retina */
