body {
  min-width: 320px;
  position: relative;
  font-family: "GothamProRegular", serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  color: inherit; }

.wrapper {
  position: relative;
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px; }

.responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%; }

::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

/* ------------	LOADER ------------*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001; }

#preloader i {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/preloader.gif") no-repeat 50% 50%;
  margin: -35px 0 0 -35px; }

/*==========  Desktop First  ==========*/
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
    margin-top: 0; }
  .logo {
    width: 300px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-right: 5vw;
    margin-bottom: 10px; }
  .content {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-right: 5vw;
    padding: 15px 10px;
    width: 300px; }
    .content__title {
      text-align: center;
      padding: 10px 15px;
      font-size: 1.5rem; }
  .text__hidden {
    display: block;
    padding-bottom: 30px;
    text-align: center;
    color: #dbc3d0;
    text-transform: uppercase;
    font-family: "GothamProBlack";
    font-size: 2.625rem;
    line-height: 1; }
  .main__title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.625rem;
    line-height: 22px; }
  .details {
    background: url(../img/diamond.png) no-repeat center; }
    .details__decor {
      display: none; }
    .details__text {
      position: relative;
      -webkit-flex-basis: 80%;
          -ms-flex-preferred-size: 80%;
              flex-basis: 80%;
      margin: 30px auto;
      padding-right: 0; }
  .gallery {
    margin: 35px auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .gallery__item {
      -webkit-flex-basis: 60%;
          -ms-flex-preferred-size: 60%;
              flex-basis: 60%;
      margin-bottom: 50px;
      height: 230px; }
  .section__about {
    margin-top: 40px;
    padding-bottom: 0;
    background: url(../img/background_middle.jpg) no-repeat center/cover; }
    .section__about .text__hidden {
      padding-top: 50px; }
  .about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .about__decor {
      display: none; }
    .about .about__text-text {
      padding-left: 25px; }
    .about__text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-flex-basis: 80%;
          -ms-flex-preferred-size: 80%;
              flex-basis: 80%;
      margin: 30px auto;
      padding-right: 0;
      padding-top: 0; }
    .about img {
      margin-top: 20px;
      position: relative;
      top: inherit;
      left: auto; }
    .about .list {
      margin-top: 15px; }
    .about .item {
      margin-bottom: 20px;
      color: #5e0231;
      font-size: 1rem;
      line-height: 24px;
      font-family: "GothamProBold"; }
    .about .icon {
      padding-right: 15px; }
  .section__process {
    margin-top: 40px;
    padding-bottom: 0; }
    .section__process .text__hidden {
      padding-top: 50px; }
  .process {
    background: url(../img/rubin.png) no-repeat center; }
    .process__decor {
      display: none; }
    .process__text {
      position: relative;
      -webkit-flex-basis: 80%;
          -ms-flex-preferred-size: 80%;
              flex-basis: 80%;
      margin: 30px auto;
      padding-right: 0;
      padding-top: 0; }
  .action {
    padding: 60px 15px; }
    .action__title {
      font-size: 1.625rem;
      line-height: 30px;
      padding-bottom: 30px; }
  .nextPage {
    margin-top: 20px; }
    .nextPage .form-line {
      margin-bottom: 20px;
      width: 60%;
      margin-right: 0;
      text-align: center; }
    .nextPage .form-link {
      width: 60%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .logo {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-right: 0; }
  .logo, .content {
    background: rgba(255, 255, 255, 0.8); }
  .content {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-right: 0; }
  .text__hidden {
    font-size: 1.5rem; }
  .main__title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.625rem;
    line-height: 1.5; }
  .details__text {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: 15px auto; }
  .gallery {
    margin: 25px auto; }
    .gallery__item {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      margin-bottom: 40px;
      height: auto; }
  .section__about {
    margin-top: 40px; }
    .section__about .text__hidden {
      padding-top: 40px; }
  .about__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: 0;
    padding-right: 0;
    padding-top: 0; }
  .about .about__text-text {
    padding-top: 20px;
    padding-left: 0; }
  .section__process .text__hidden {
    padding-top: 40px; }
  .process__text {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: 15px auto; }
  .action {
    padding: 60px 0; }
    .action__title {
      font-size: 1.625rem;
      line-height: 30px;
      padding-bottom: 20px; }
  .nextPage {
    margin-top: 20px; }
    .nextPage .form-line {
      width: 100%; }
    .nextPage .form-link {
      width: 100%; } }
