@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
	url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Intro";
	src: url("../fonts/IntroRegular/IntroRegular.eot");
	src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/IntroRegular/IntroRegular.woff") format("woff"),
	url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Intro";
	src: url("../fonts/IntroInline/IntroInline.eot");
	src: url("../fonts/IntroInline/IntroInline.eot?#iefix")format("embedded-opentype"),
	url("../fonts/IntroInline/IntroInline.woff") format("woff"),
	url("../fonts/IntroInline/IntroInline.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/Fontello/fontello.woff2') format('woff2'),
       url('../fonts/Fontello/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up-open-big:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-left-open-big:before { content: '\e80a'; } /* '' */
.icon-down-open-big:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e81a'; } /* '' */
.icon-phone-1:before { content: '\e81b'; } /* '' */
.icon-mobile:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-search-1:before { content: '\e81e'; } /* '' */
.icon-mail:before { content: '\e81f'; } /* '' */
.icon-basket:before { content: '\e820'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */

