//StyleForm

.white-popup {
	position: relative;
	background: #fff;
	padding: 40px 30px;
	max-width: 400px;
	margin: 20px auto;
	text-align: center;
	.form__text {
		font-size: rem(30);
		line-height: 1.7;
		font-weight: 600;		
		letter-spacing: .6px;
	}
	.form__text-next {
		padding-bottom: 40px;
		color: #8388a5;
		font-size: rem(18);
		line-height: 1.1;
		letter-spacing: .6px;
	}
	.form-line {
		width: 80%;
		padding: 10px;
		border: none;
		background: #e4ebf6;
		font-size: 1.125rem;
		line-height: 1.66;
		padding: 10px 15px;
		margin: 0 auto 25px auto; 
		font-size: rem(15);
		line-height: 18px;
		border: none;
		color: #333;
		box-shadow: -2px 3px 10px 2px rgba(24, 29, 41, 0.17);
	}
	.btn__callback {
		padding-top: 0;
		display: block;
		margin: auto;
		border: none;
	}

	input:focus {
		@include transition (all .3s ease);
		box-shadow: 0px 0px 8px 0px rgba(0,119,237,1);
	}
}


//Text after mail send

.success {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: bold;
	display: flex;
	z-index: 10;
	display: none;
}
.success span {
	margin: auto;
}
.success ~ * {
	transition: all 0.5s ease;
}
.success.active ~ * {
	opacity: 0.5;
	filter: blur(10px);
} 

//Style placeholders

::-webkit-input-placeholder { 
	font-size: rem(18);
	font-family: $fontFamily;
	line-height: 1.66;
	color: #000;
}
::-moz-placeholder { 
	font-size: rem(18);
	font-family: $fontFamily;
	line-height: 1.66;
	color: #000;
}
:-ms-input-placeholder { 
	font-size: rem(18);
	font-family: $fontFamily;
	line-height: 1.66;
	color: #000;
}
:-moz-placeholder {
	font-size: rem(18);
	font-family: $fontFamily;
	line-height: 1.66;
	color: #000;
}