@import "_vars";
@import "_mixin and function";

@media only screen and (max-width : 1700px) {

}
.believer {
	.goodMaster {
		&:before {
			background-position: -150px 0%;
		}
	}
}

@media only screen and (max-width : 1300px) {
	.top__header {
		.logo__box {
			width: 30%;
		}
		.logo__img {
			max-width: 100px;
		}
		.contact__box {
			width: 40%;
			justify-content: space-evenly;
		}
		.btn__callback {
			display: block;
		}
	}
	.header {
		min-height: 900px;
		&__content {
			top: 30%;
		}
		&__img {
			position: absolute;
			top: 30%;
			right: 1%;
			z-index: 0;
			width: 450px;
		}
	}
	.request {
		.request__img-master {
			right: 1%;
		}
	}
	.callback {
		right: 120px;
		width: 420px;
		.btn__callback {
			margin: auto;
		}
	}
	.believer {
		.goodMaster {
			&:before {
				background-position: -360px 0%;
			}
		}
	}
	
}  

@media only screen and (max-width : 1200px) {
	.request {
		.request__img-master {
			display: none;
		}
		.request__img-shelf {
			right: 35%;
			top: 525px;

		}
		.request__img-clock {
			right: 36.5%;
		}
	}
	.callback {
		position: absolute;
		top: 15%;
		right: 15px;
		width: 400px;
		padding: 30px 10px;
		background: #fff;
	}
	.proposal {
		padding: 70px 0;
		&__img {
			img {
				width: 380px;
			}
		}
	}
	.guarantee {
		.item__title {
			font-size: rem(22);
		}
		.mr {
			margin-right: 20px;
		}
		.ml {
			margin-left: 20px;
		}
	}
	.formBox {
		&__callback {
			max-width: 80%;
		}
		&__line {
			width: 30%;
		}
	}
	.believer {
		&__box {
			margin-top: 30px;
		}
		&__img {
			padding: 0;
		}
	}
}


/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

	.section__title {
		font-size: rem(32);
	}
	.flexBox, .flex {
		flex-wrap: wrap;
	}
	.top__header {
		.logo__box {
			width: 10%;
		}
		.logo__text {
			display: none;
		}
		.nav__box {
			width: auto;
			width: 40%;
		}
		.contact__box {
			width: 50%;
			justify-content: space-around;
		}
	}
	.request {
		&__border {
			margin: auto;
		}
		.border-sm {
			margin: 50px auto;
		}
		&__item {
			font-size: rem(22);
			&:before {
				top: 22%;
			}
		}
		&__text {
			font-size: rem(22);
		}
		.request__img-shelf {
			position: absolute;
			right: auto;
			left: 2%;
			top: auto;
			bottom: 37%;
			z-index: 100;
			box-shadow: -20px 20px 20px 0px rgba(166,144,141,.7);
		}
		.request__img-clock {
			position: absolute;
			right: auto;
			left: 3%;
			top: auto;
			bottom: 39%;
			z-index: 100;
		}
	}
	.callback {
		position: relative;
		top: auto;
		right: auto;
		margin: auto;
	}
	.services {
		min-height: auto;
		padding-bottom: 100px;
		&__box {
			margin-left: 0px;
			margin-right: 0px;
			justify-content: space-around;
		}
		&__item {
			max-width: 50%;
			margin-bottom: 50px;
		}
		&__details {
			padding: 15px 0;
			font-size: rem(20);
			font-family: 'Roboto', $fontFamily;
		}
		.img__border {
			max-width: 300px;
		}
		.secondLine {
			margin-top: 0;
		}
	}
	.guarantee {
		padding-top: 0;
		padding-bottom: 50px;
		&__title {
			padding-top: 0px;
			padding-bottom: 50px;
		}
		&__item {
			display: flex;
			justify-content: space-between;
			width: 80%;
			margin: auto;
		}
	}
	.proposal {
		&__title {
			font-size: rem(30);
			letter-spacing: 0;
		}
		&__item {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
		}
		&__item-rtl {
			position: relative;
			text-align: right;
			.proposal__img {
				order: 1;
			}
			.item__title-rtl {
				padding-right: 20px;
				margin-bottom: 10px;
				font-size: rem(22);
				letter-spacing: 0;
				&:before {
					content: '';
					position: absolute;
					top: 25%;
					right: -20px;
					background-image: url(../img/icons.png);
					width: 19px;
					height: 21px;
				}
			}
			.item__text {
				float: right;
			}
		}
		&__text {
			width: 45%;
		}
		&__img {
			margin: auto;
			border: 10px solid #fff;
			background: #fff;
			box-shadow: 0px 7px 16.74px 1.26px rgba(69, 67, 99, 0.2);
			position: relative;
			img {
				width: 300px;
			}
		}
		.item__title {
			padding-left: 20px;
			margin-bottom: 10px;
			font-size: rem(22);
			letter-spacing: 0;
			&:before {
				top: 10%;
				left: -20px;
			}
		}
		.item__text {
			padding: 0px 20px;
			width: 100%;
		}
	}
	.info {
		&__title {
			font-size: rem(32);
		}
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: 50px;
		}
		&__img {
			margin: auto;
		}
		&__item {
			width: 50%;
			margin: auto;
			margin-bottom: 25px;
		}
		&__img {
			margin-bottom: 25px;
		}
	}
	.believer {
		&__box {
			flex-wrap: wrap;
		}
		.master {
			width: 100%;
			margin: auto;
		}
		.believer__list-title {
			text-align: center;
		}
		&__list {
			width: 70%;
		}
		.master__box {
			justify-content: space-around;
			align-items: center;
		}
		&__item {
			position: relative;
			max-width: 100%;
		}
		&__img {
			margin: auto;
		}
		.goodMaster {
			&:before {
				background: none;
			}
			img {
				order: -1;
			}
		}
		.goodMaster__title {
			padding-left: 0;
			text-transform: uppercase;
			font-size: rem(29);
		}
		.badMaster__title {
			text-transform: uppercase;
			font-size: rem(29);
			text-align: center;
			padding-right: 0;
		}
	}
	.review {
		padding: 100px 0;
		&__title {
			font-size: rem(30);
			letter-spacing: 0;
		}
		&__slider {
			padding-top: 50px;
		}
		&__img {
			margin-left: 10%;
			margin-right: 30px;
			width: 250px;
			height: 250px;
		}
		&__content {
			margin: 10px auto;
			width: 85%;
		}
		&__name {
			font-size: rem(22);
		}
		&__text {
			padding-bottom: 20px;
			font-size: rem(17);
			line-height: 1.1;
		}
	}
	.example {
		&__slide {
			width: 300px;
			margin: 50px 15px;
		}
		.before {
			left: 20px;
		}
		.after {
			top: -50px;
			right: 50px;
		}
		.before-down {
			bottom: -50px;
			left: 50px;
		}
		.after-down {
			top: auto;
			bottom: -50px;
			left: auto;
			right: 50px;
		}
	//change plugin setting - arrow
	.slick-prev {
		top: 55%;
		left: 15px;
	}
	.slick-next {
		top: 55%;
		right: 15px;
	}
	//Change plugin setting - dots
	.slick-dots {
		li {
			button {
				color: #000;
				&:hover, &:focus {
					border: 2px solid #fff;
					&:before {
						opacity: 1;
					}
				}
				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: -2px;
					font-size: rem(20);
					line-height: 1;
					opacity: 1;
					color: #000;
				}
			}
			&.slick-active button:before {
				color: #fec519;
				opacity: 1;
			}
		}
	}
}
}  

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header {
		min-height: 820px;
	}
	.top__header {
		.logo__box {
			width: 10%;
		}
		.logo__text {
			display: none;
		}
		.nav__box {
			display: none;
		}
		.contact__box {
			width: 80%;
			justify-content: space-beteer;
		}
	}
	.services {
		background: url(../img/background__top.jpg) center/cover;
		&__title {
			padding-top: 250px;
		}
		&__box {
			justify-content: center;
		}
		&__item {
			max-width: 100%;
		}
		.more {
			padding-top: 20px;
			margin-bottom: 80px;
		}
	}
	.guarantee {
		&__title {
			padding-top: 30px;
		}
		&__box {
			margin-top: 30px;
		}
		&__item {
			display: flex;
			margin: auto;
			margin-bottom: 20px;
		}
		.item__title {
			padding-top: 10px;
			font-size: rem(20);
		}
		.img__border {
			border: 10px #fff solid;
		}
	}
	.believer {
		&__title {
			font-size: rem(26);
		}
		&__box {
			display: flex;
			justify-content: center;
			padding: 0;
		}
		.master__box {
			margin: 0 5%;
		}
		&__list-title {
			font-size: rem(24);
			letter-spacing: 0px;
		}
		&__list {
			width: 90%;
		}
		&__img {
			display: none;
		}	
	}
	.formBox {
		&__title {
			padding-bottom: 50px;
			font-size: rem(23);
			letter-spacing: 0;
		}
		&__callback {
			padding: 100px 0;
			max-width: 100%;
			margin: 0;
		}
		&__line {
			padding-left: 25px;
			width: 221px;
			margin: auto;
			margin-bottom: 25px;
		}

		.btn__callback {
			margin: 0 auto;
			display: block;
			align-self: flex-start;
		}
	}
	.review {
		&__img {
			float: none;
			margin: auto;
			width: 280px;
			height: 280px;
		}
		&__name {
			text-align: center;
		}
		&__text {
			padding-bottom: 20px;
			font-size: rem(17);
			line-height: 1.1;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 580px) {
	.section__title {
		font-size: rem(26);
	}
	.wow {
		animation: none;
	}
	.guarantee {
		&__title {
			padding-top: 0;
		}
		&__box {
			margin-top: 30px;
		}
		&__item {
			display: flex;
			margin: auto;
			margin-bottom: 20px;
			width: 100%;
		}
		.item__title {
			padding-top: 10px;
			font-size: rem(20);
		}
		.img__border {
			border: 10px #fff solid;
		}
	}
	.believer {
		background: none;
		&__box {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 0;
			margin-top: 50px;
		}
		&__item {
			max-width: 100%;
		}
		.badMaster__title {
			text-align: left;
			padding-left: 30px;
			padding-right: inherit;
		}
		.master__box {
			margin: 0;
		}
		&__list-title {
			font-size: rem(24);
			letter-spacing: 0px;
		}
		&__img {
			display: none;
		}	
	}
	.services {
		.more {
			margin-bottom: 60px;
		}
	}
	.request {
		&__border {
			margin: auto;
		}
		.border-sm {
			margin: 50px auto;
		}
		&__item {
			font-size: rem(22);
			&:before {
				top: 22%;
			}
		}
		&__text {
			font-size: rem(22);
		}
		.request__img-shelf {
			display: none;
		}
		.request__img-clock {
			display: none;
		}
	}
	.proposal {
		&__title {
			font-size: rem(26);
		}
		&__item-rtl {
			position: relative;
			text-align: right;
			.proposal__img {
				order: 0;
			}
			.item__title-rtl {
				padding-left: 20px;
				margin-bottom: 10px;
				font-size: rem(22);
				letter-spacing: 0;
				text-align: left;
				&:before {
					top: 25%;
					right: auto;
					left: -20px;
				}
			}
			.item__text {
				float: none;
			}
		}
		&__text {
			padding-top: 30px;
			padding-left: 30px;
			width: 100%;
		}
		&__img {
			img {
				width: 300px;
			}
		}
		.item__title {
			padding-left: 20px;
			margin-bottom: 10px;
			font-size: rem(22);
			letter-spacing: 0;
			&:before {
				top: 10%;
				left: -20px;
			}
		}
		.item__text {
			padding: 0px 20px;
			width: 100%;
			text-align: left;
		}
	}
	.formBox {
		&__title {
			font-size: rem(20);
			line-height: 1.5;
		}
	}
	.info {
		padding: 70px 0;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 8px 106px 0px rgba(33, 35, 47, 0.35);
		&__item {
			width: 80%;
		}
	}
}

@media only screen and (max-width: 480px) {
	.top__header {
		.logo__box {
			width: 100%;
			justify-content: center;
			margin-bottom: 10px;
		}
		.contact__box {
			width: 100%;
			justify-content: center;
		}
		.btn__callback {
			display: none;
		}
		.hide {
			display: block;
		}
	}
	.header {
		min-height: 650px;
		&__title {
			font-size: rem(22);
			text-align: center;
			br {
				display: none;
			}
		}
		&__content {
			position: relative;
			display: block;
			padding-left: 0;
			top: auto;
			left: auto;
			margin: auto;
		}
		&__list {
			padding-top: 10px;
			text-align: left;
			width: 300px;
			margin: 0 auto;
		}
		&__img {
			display: block;
			position: inherit;
			margin: 20px auto;
			max-width: 200px;
			height: auto;
			right: auto;
			top: auto;
		}
		.hide {
			display: block;
			margin: 20px auto;
			text-align: center;
		}
	}
	.services {
		background-image: none !important;
		background-color: #fff;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		&__title {
			padding-top: 50px;
		}
		&__box {
			margin-top: 30px;
		}
	}
	.guarantee {
		padding-bottom: 100px;
		&__box {
			margin: 0 auto;
		}
		&__title {
			padding-top: 50px;
			padding-bottom: 20px;
		}
		&__item {
			flex-wrap: wrap;
			width: 100%;
			margin: auto;
		}
		.img__border {
			order: -1;
			margin: 0 auto;
		}
		.item__title {
			text-align: center;
		}
		.item__text {
			width: 100%;
			margin: 0 auto 20px auto;
			text-align: center;
		}
		.rtl {
			text-align: left;
		}
		.mr {
			margin-right: 0;
		}
		.ml {
			margin-left: 0;
			margin-right: 30px;
		}
	}
	.request {
		.border-sm {
			margin: 50px auto;
			padding: 15px;
		}
		&__border {
			margin: auto;
			padding: 20px 0;
		}
		&__item {
			font-size: rem(18);
			&:before {
				top: 5%;
				left: 2%;
			}
		}
		&__text {
			font-size: rem(20);
		}
		.request__img-shelf {
			display: none;
		}
		.request__img-clock {
			display: none;
		}
	}
	.callback {
		width: 100%;
		&__title {
			font-size: rem(24);
			letter-spacing: 0px;
		}
	}
	.slick-next:before, .slick-prev:before {
		display: none;
	}
}




/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)  {

}