@import "_reset.scss";
@import "_fonts.scss";
@import "_vars.scss";
@import "_carousel.scss";
@import "_formstyler.scss";
@import "_formstyler.theme.scss";
@import "_countdown.scss";
@import "_animate.min.scss";

body {
	min-width: 320px;
	position: relative;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: 1.75;
	overflow-x: hidden;
	box-sizing: border-box;
	opacity: 1;
}
html, body {
	height: 100%;
}
/* 	LOADER */
#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	background: #fff; 
	z-index: 1001;
}
#preloader i {
	width: 70px; 
	height: 70px; 
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/preloader.gif') no-repeat 50% 50%; 
	margin: -35px 0 0 -35px;
}

ul {
	list-style-type: none;
}
a {
	color: inherit;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.button {
	display: inline-block;
	padding: 12px 40px;
	border-radius: 6px;
	margin-top: 40px;
	background: $yellow;
	color: #333;
	font-family: "GothamProMedium";
	font-size: rem(14);
	text-transform: uppercase;
	@include transition(transform 0.7s ease);	
	&:hover {
		transform: scale(1.1);
	}
}
.headline {
	font-size: rem(30);
	text-align: center;	
}

.header {
	padding-top: 42px;
	height: 670px;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	color: #fff;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 670px;	
		background-color: rgba(#333333, .6);
		z-index: 0;	
	}
	.wrapper {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}
	.navigation {
		&__list {
			display: flex;
			justify-content: space-between;
		}
		&__item {
			margin-left: 20px;
			font-family: "GothamProMedium";
			font-size: rem(16);
			text-transform: uppercase;
			@include transition(color 0.4s ease);
			&:hover {
				color: $yellow;
			}
		}
	}
	&__text {
		padding-top: 7%;
		padding-left: 100px;
		.headline {
			text-align: left;
			padding-bottom: 50px;
			font-size: rem(60);
			line-height: 50px;
		}
		.content {
			width: 45%;
		}
	}
}

.advantages {
	.wrapper {
		background: url(../img/advantages__background.jpg) no-repeat center;
		margin: 0 auto;
	}
	&__headline {
		padding: 45px 0;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-between;
		margin: 0 auto;
		padding: 0 110px;
	}
	&__item {
		position: relative;
		flex: 1 0 33%;
		padding: 0 40px;
		margin-bottom: 40px;
		font-size: rem(18);
		text-align: center;
		counter-increment: li;
		&:before {
			content: "0" counter(li);
			position: absolute;
			top: 0;
			left: 33%;
			font-size: rem(72);
			color: #e9e9ea;
			font-weight: bold;
		}
		&-headline {
			position: relative;
			width: 85%;
			margin: auto;
			line-height: 20px;
			padding-bottom: 24px;
			font-family: "GothamProBold";
		}
		&-text {
			font-size: rem(16);
			z-index: 10;
			position: relative;
		}
	}
}

.video {

	&__headline {
		margin: 55px 0 85px 0;
	}
	&__content {
		height: 500px;
		margin: 0 auto;

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.builder {
	&__headline {
		margin: 50px 0;
	}
}

.owl-carousel {
	display: block;
	.owl-carousel-item {
		width: 100%;
		height: 525px;
	}
	.item1 {
		background: url(../img/preference__gallery.jpg) no-repeat center;
		background-size: cover;
		position: relative;
	}
	.item2 {
		background: url(../img/preference__gallery.jpg) no-repeat center;
		background-size: cover;
	}
	.owl-carousel-headline {
		margin-bottom: 20px;
		font-size: rem(24);
		font-family: "GothamProBold";
		text-transform: uppercase;	
	}
	.owl-carousel-content {
		padding: 40px 30px;
		position: absolute;
		bottom: 0;
		left: 20.1%;
		background: #fff;
		width: 30%;
		z-index: 3;
	}
}
.owl-controls {
	position: relative;
	display: block;
}
.owl-nav {
	position: absolute;
	display: flex;
	left: 50%;
	top: -50px;
	font-size: 1.9rem;
	background: #fff;
	z-index: 1;
}
.divider {
	position: absolute;
	content: '';
	display: inline-block;
	width: 3px;
	height: 70%;
	background: #ddd;
	top: 15%;
	left: 50%;
}
.owl-prev, .owl-next {
	margin: 0 15px;
	&:hover {
		cursor: pointer;
	}
}

.reserv {
	&__headline {
		padding-top: 40px;
		padding-bottom: 70px;
		margin: auto;
		line-height: 34px;
	}
	&__content {
		margin: auto;
		width: 50%;
		padding: 0 20px;
		text-align: center;
	}
}

.callback {
	padding-top: 50px;	
}


/* Благодарочка за отправленное сообщение */
.success {
	position: absolute;
	top: -40%;
	left: 0;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	color: #00beca;
	display: flex;
	z-index: 10;
	display: none;
}
.success span {
	margin: auto;
}
.success ~ * {
	transition: all 0.5s ease;
}
.success.active ~ * {
	opacity: 0.5;
	filter: blur(10px);
}
/* еnd */
.radio__wrap {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	label {
		display: flex;
	}
}
.jq-radio {
	margin: 20px 20px 0 10px;
}
.jq-radio.checked .jq-radio__div {
	width: 8px;
	height: 8px;
	background: #3c3c3c;
	border-color: #3c3c3c; 
}

.placeholder__wrap {
	display: flex;
	justify-content: center;
}

.offer__form-line {
	width: 70%;
	height: 50px;
	padding-left: 50px;
	text-transform: uppercase;
	background: #e8e8e8;
	border: none;
}
.offer__form-button {
	width: 150px;
	border: none;
	background: $yellow;
	text-transform: uppercase;
	@include transition(background 0.2s ease);	
	&:hover {
		background: #dbcf2e;
	}
}

.footer {
	padding-top: 100px;
	&__menu {
		padding: 50px 0;
		display: flex;
		justify-content: space-around;
	}
}

@import "media.scss";















/* @import "media.scss"; */