@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLight/RobotoLight.woff2') format('woff2'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 3px;
}
@media (min-width: 768px) {
    .container {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
    text-decoration: none;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
            text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
    /* 1 */
    text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
    resize: none;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}
.b-lazy {
    -webkit-transition: opacity 0.5s linear;
         -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}
.offscreen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* ONLY FOR IE11 */
/* ONLY FOR EDGE */
.ico_arr-right {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 62px;
    width: 74px;
}
.ico_arr-left {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -74px 0;
    height: 62px;
    width: 74px;
}
.ico_agency {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -148px 0;
    height: 39px;
    width: 156px;
}
.ico_tg {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -62px;
    height: 29px;
    width: 29px;
}
.ico_fb {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -148px -39px;
    height: 16px;
    width: 16px;
}
.ico_vk {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -164px -39px;
    height: 16px;
    width: 16px;
}
.ico_tg-small {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -180px -39px;
    height: 15px;
    width: 15px;
}
.ico_list-dots {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -195px -39px;
    height: 13px;
    width: 19px;
}
.ico_title__line-white {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -148px -55px;
    height: 7px;
    width: 98px;
}
.ico_title__line {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -214px -39px;
    height: 7px;
    width: 81px;
}
.ico_lines-right {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -304px 0;
    height: 5px;
    width: 468px;
}
.ico_lines-left {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -304px -5px;
    height: 5px;
    width: 200px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
a {
    outline: none;
    color: inherit;
}
li {
    list-style-type: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
strong {
    font-weight: 700;
}
address {
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    padding-right: 0 !important;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background: #000;
    overflow: hidden;
}
.fancybox-margin {
    margin-right: 0 !important;
}
section {
    /*     overflow: hidden; */
    padding: 60px 0;
}
@media only screen and (min-width: 1200px) {
    section {
        padding: 80px 0;
    }
}
@media only screen and (min-width: 1600px) {
    section {
        padding: 110px 0;
    }
}
.white {
    background: #fff;
    color: #121221;
}
.link__accent {
    font-weight: 700;
    color: #009dd9;
}
.section__title {
    display: table;
    position: relative;
    margin: auto;
    font-size: 36px;
    font-weight: 700;
}
.section__title:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 77px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -110px;
    background: #b0b0b0;
}
.section__title:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -110px;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -214px -39px;
    height: 7px;
    width: 81px;
}
.section__undertitle {
    padding: 60px 0;
    font-size: 21px;
    text-align: center;
}
::-webkit-input-placeholder {
    font-size: 16px;
}
::-moz-placeholder {
    font-size: 16px;
}
:-ms-input-placeholder {
    font-size: 16px;
}
:-moz-placeholder {
    font-size: 16px;
}
.header {
    position: relative;
    height: 100vh;
    min-height: 700px;
    max-height: 1200px;
    z-index: 10;
}
.header__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 10px 15px 0;
    z-index: 10;
}
.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__logo-img {
    margin-right: 15px;
}
.header__link {
    margin-right: 50px;
    position: relative;
}
.header__link:after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px solid #fff;
    -webkit-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s;
}
.header__link:hover:after {
    width: 100%;
}
.header__center {
    position: relative;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 10;
}
.header__img {
    margin-left: -20px;
}
.header__title {
    font-size: 55px;
    font-weight: 300;
}
.header__text {
    padding-top: 20px;
    font-size: 30px;
    color: #ed901a;
}
.header__animation {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    bottom: -35vh;
}
.header__animation img {
    display: none;
}
.header #canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.system__box {
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.system__box-img {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.system__box-img img {
    margin: auto;
}
.system__box-content {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
}
.system__titles {
    padding-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
}
.system__accent {
    display: block;
    font-size: 18px;
    margin-bottom: 25px;
}
.system__item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    max-width: 420px;
}
.system__item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -195px -39px;
    height: 13px;
    width: 19px;
}
.system .reorder .system__box-content {
    padding-left: 50px;
}
.system .reorder .system__box-img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.ask {
    padding: 40px 0 80px 190px;
    background: url(../images/back__small.jpg) no-repeat center / cover;
    color: #000;
}
.ask__box {
    position: relative;
}
.ask__title {
    font-size: 38px;
    font-weight: 700;
}
.ask__accent {
    display: inline-block;
    padding: 5px 0;
    font-size: 28px;
    font-weight: 700;
}
.ask__text {
    padding-top: 5px;
    font-size: 22px;
}
.ask__img {
    position: absolute;
    top: -250px;
    right: -110px;
}
.advantages__title:after {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -148px -55px;
    height: 7px;
    width: 98px;
}
.advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 100px 0;
}
.advantages__item {
    position: relative;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 300;
    counter-increment: li;
}
.advantages__item svg {
    display: block;
    position: absolute;
    top: -60px;
    width: 130px;
    height: 130px;
}
.advantages__item div {
    display: inline-block;
    margin-left: 15px;
}
.advantages__item:before {
    content: counter(li);
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    font-size: 54px;
    z-index: 10;
}
.advantages__item:nth-of-type(1) {
    padding-left: 80px;
    max-width: 790px;
}
.advantages__item:nth-of-type(1):before {
    left: -19px;
}
.advantages__item:nth-of-type(1) svg {
    left: -70px;
}
.advantages__item:nth-of-type(2) {
    max-width: 790px;
}
.advantages__item:nth-of-type(2):before {
    top: -10px;
    right: -130px;
}
.advantages__item:nth-of-type(2) svg {
    top: -70px;
    right: -180px;
}
.advantages__item:nth-of-type(3) {
    padding-left: 48px;
    padding-top: 15px;
    width: 800px;
}
.advantages__item:nth-of-type(3):before {
    left: -80px;
}
.advantages__item:nth-of-type(3) svg {
    left: -130px;
}
.advantages__item:nth-of-type(4) {
    padding-left: 150px;
    max-width: 730px;
}
.advantages__item:nth-of-type(4):before {
    top: -9px;
    right: -75px;
}
.advantages__item:nth-of-type(4) svg {
    top: -70px;
    right: -130px;
}
.advantages__item:nth-of-type(5) {
    padding-left: 120px;
    width: 860px;
}
.advantages__item:nth-of-type(5):before {
    top: -5px;
    left: 6px;
}
.advantages__item:nth-of-type(5) svg {
    top: -70px;
    left: -45px;
}
.efficiency__box {
    padding: 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}
.efficiency__box-side {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
}
.efficiency__titles {
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
}
.efficiency__img {
    max-width: 436px;
    height: 255px;
}
.price__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.price__item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
    background: #e1e1e1;
}
.price__item-active {
    margin-top: -10px;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
}
.price__titles {
    position: relative;
    padding: 15px 0;
    background: #ebebeb;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    z-index: 10;
}
.price__titles:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 30px solid transparent;
    border-top: 30px solid #fab915;
    border-right: 30px solid #fab915;
}
.price__sum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 275px;
    background-image: -webkit-linear-gradient(180deg, #e1e1e1 0%, #fff 100%);
    background-image:     -ms-linear-gradient(180deg, #e1e1e1 0%, #fff 100%);
    -webkit-box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
            box-shadow: 0 11px 16.74px 1.26px rgba(0, 0, 0, 0.27);
    text-align: center;
}
.price__period {
    padding-bottom: 15px;
    font-size: 20px;
}
.price__price {
    font-size: 60px;
}
.price__price-old {
    font-size: 18px;
    font-weight: 700;
    text-decoration: line-through;
}
.price__details {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e1e1e1;
}
.price__list {
    min-height: 80px;
}
.price__items {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.price__items:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 6px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -195px -39px;
    height: 13px;
    width: 19px;
}
.price blockquote {
    padding-top: 15px;
    font-size: 10px;
    text-align: center;
}
.price blockquote span {
    font-size: 20px;
    line-height: 0;
    font-weight: 700;
}
.price__btn {
    display: table;
    margin: auto;
    padding-top: 15px;
    width: 241px;
    height: 55px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background: url(../images/btn.png) no-repeat center / contain;
    text-align: center;
    -webkit-transition: -webkit-transform 0.3s linear;
            transition: -webkit-transform 0.3s linear;
         -o-transition:         transform 0.3s linear;
            transition:         transform 0.3s linear;
            transition:         transform 0.3s linear, -webkit-transform 0.3s linear;
}
.price__btn:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}
.price .item3 .price__period {
    margin-top: 55px;
}
.team__list {
    padding: 120px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.team__item {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    margin-bottom: 40px;
}
.team__img {
    max-width: 226px;
    height: 233px;
}
.team__name {
    padding-top: 10px;
    font-size: 23px;
    font-weight: 700;
}
.team__job {
    font-size: 18px;
    color: #f7941d;
}
.team__text {
    padding: 10px 0;
    min-height: 85px;
    font-size: 14px;
}
.team__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.team__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 5px;
}
.team__link span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #f7941d;
}
.review__slider {
    padding: 100px 0;
}
.review__slide img {
    margin: auto;
}
.proposal {
    padding-bottom: 40px;
    background: url(../images/back__last.jpg) no-repeat center / cover;
    color: #121221;
}
.proposal__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.proposal__text {
    padding-bottom: 20px;
    font-size: 26px;
}
.proposal__btn {
    display: block;
    margin-top: 20px;
    width: 241px;
    height: 55px;
    font-size: 22px;
    line-height: 55px;
    font-weight: 700;
    background: url(../images/btn.png) no-repeat center / contain;
    text-align: center;
    -webkit-transition: -webkit-transform 0.3s linear;
            transition: -webkit-transform 0.3s linear;
         -o-transition:         transform 0.3s linear;
            transition:         transform 0.3s linear;
            transition:         transform 0.3s linear, -webkit-transform 0.3s linear;
}
.proposal__btn:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}
.proposal__img {
    margin-top: -50px;
}
.footer__box {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__desc {
    margin-left: 15px;
}
.footer__item {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
}
.footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
}
.footer__link span {
    margin-left: 5px;
    color: #009dd9;
    font-weight: 700;
}
.footer .agency {
    font-size: 16px;
    color: #8e939b;
}
.footer .agency div {
    margin-top: 5px;
}
.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;
}
@media only screen and (min-width: 320px) {
    .remodal-first {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first {
        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0;
        background: url('../images/form.png') no-repeat top center;
        padding: 120px 0 0 109px;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-first .remodal-close {
        color: #000 !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first .remodal-close {
        color: #fff !important;
    }
}
.remodal-first:before {
    display: none;
}
.btn-remodal {
    margin: 30px 0 0 15px;
}
.remodal-close {
    top: 12px !important;
    right: 15px !important;
    color: #fff !important;
    font-weight: 900;
}
@media only screen and (min-width: 320px) {
    .remodal-close {
        width: 10px !important;
        height: 16px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close {
        width: 35px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-close:before {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close:before {
        font-size: 50px !important;
        top: 0 !important;
        left: 0 !important;
    }
}
.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;
}
@media only screen and (min-width: 320px) {
    .remodal-common {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-common {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
}
.remodal-common .remodal-close {
    color: #000 !important;
}
.error-input {
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;
    margin: 0 auto;
    text-align: center;
}
#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
label {
    position: absolute;
    top: 0;
    border: 0;
    font-size: 0 !important;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.formBox {
    position: relative;
    background: #fff;
    padding: 30px 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
.formBox .form__line {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 7px;
    border: none!important;
    outline: none;
    font-size: 18px;
}
.formBox .btn {
    margin: 15px 0 5px 0;
    color: #fff;
}
.formBox .btn:hover {
    color: #000;
}
.video {
    max-width: 780px;
}
.video iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}
@-webkit-keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@-webkit-keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.slick-prev, .slick-next {
    width: 50px;
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
    z-index: 10;
}
.slick-prev {
    left: -25px;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -74px 0;
    height: 62px;
    width: 74px;
}
.slick-next {
    right: -25px;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 62px;
    width: 74px;
}
.slick-prev:before, .slick-next:before {
    width: 0;
    height: 0;
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
.slick-prev:focus, .slick-next:focus {
    opacity: 1;
}
.slick-disabled {
    opacity: 0.35!important;
}
.slick-dots {
    display: inline-block !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 20px;
}
.slick-dots li {
    margin: 7px;
    width: 13px;
    height: 13px;
}
.slick-dots li button {
    background: #000;
    display: block;
    height: 5px;
    width: 5px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 0.75;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.slick-dots li button:before {
    font-size: 0;
    opacity: 0;
    display: none;
}
.slick-dots li.slick-active button {
    opacity: 1;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    border: 1px solid #000;
    background: transparent;
}
.slick-dots li.slick-active button {
    background: transparent;
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
/*# sourceMappingURL=style.css.map */
