@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratRegular/MontserratRegular.woff2') format('woff2'), url('../fonts/MontserratRegular/MontserratRegular.woff') format('woff'), url('../fonts/MontserratRegular/MontserratRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratMedium/MontserratMedium.woff2') format('woff2'), url('../fonts/MontserratMedium/MontserratMedium.woff') format('woff'), url('../fonts/MontserratMedium/MontserratMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratBold/MontserratBold.woff2') format('woff2'), url('../fonts/MontserratBold/MontserratBold.woff') format('woff'), url('../fonts/MontserratBold/MontserratBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratExtraBold/MontserratExtraBold.woff2') format('woff2'), url('../fonts/MontserratExtraBold/MontserratExtraBold.woff') format('woff'), url('../fonts/MontserratExtraBold/MontserratExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLight/RobotoLight.woff2') format('woff2'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBlack/RobotoBlack.woff2') format('woff2'), url('../fonts/RobotoBlack/RobotoBlack.woff') format('woff'), url('../fonts/RobotoBlack/RobotoBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
small {
    font-size: 80%;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
pre {
    overflow: auto;
}
select {
    text-transform: none;
}
button, html input[type='button'] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type='reset'], input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
[role='button'] {
    cursor: pointer;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 3px;
}
@media (min-width: 768px) {
    .container {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
}
.container:before, .container:after {
    content: ' ';
    display: table;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after {
    clear: both;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
            text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
    /* 1 */
    text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}
.slider {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.scrollup {
    width: 37px;
    height: 84px;
    position: fixed;
    bottom: 50px;
    right: 15px;
    display: none;
    text-indent: -9999px;
    background: url('../images/arrow-top.png') no-repeat;
    z-index: 100;
}
@media only screen and (min-width: 768px) {
    .scrollup {
        right: 100px;
    }
}
.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ONLY FOR IE11 */
/* ONLY FOR EDGE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
a {
    outline: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
input {
    border: none;
    outline: none;
}
.btn {
    width: 240px;
    top: 24px;
    width: 236px;
    height: 43px;
}
.btn-white {
    background: #fff;
    color: #162f40;
    font-size: 18px;
    font-weight: 500;
    -webkit-box-shadow: -0.628px 8.978px 6.72px 1.28px rgba(144, 114, 87, 0.11);
            box-shadow: -0.628px 8.978px 6.72px 1.28px rgba(144, 114, 87, 0.11);
    -webkit-transition: -webkit-box-shadow 0.3s linear;
            transition: -webkit-box-shadow 0.3s linear;
         -o-transition:         box-shadow 0.3s linear;
            transition:         box-shadow 0.3s linear;
            transition:         box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}
.btn-white:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}
address {
    font-style: normal;
}
body {
    position: relative;
    z-index: 1;
    padding-right: 0 !important;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.fancybox-margin {
    margin-right: 0 !important;
}
section {
    padding: 68px 0;
    font-family: 'Roboto', sans-serif;
}
.section__title {
    font-size: 45px;
    font-weight: 400;
    line-height: 0.8;
    color: #2c2b30;
}
.section__title-accent {
    position: relative;
    font-weight: 700;
    line-height: 1.5;
}
.section__title-accent:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -220px -2px;
    height: 2px;
    width: 344px;
}
::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e222d;
    padding: 7px;
}
::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e222d;
    padding: 7px;
}
:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e222d;
    padding: 7px;
}
:-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e222d;
    padding: 7px;
}
.header {
    position: relative;
    background: url(../images/header__hero.jpg) no-repeat center / cover;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 658px;
    height: 652px;
    background: url('../images/decor/header__decor-left.png');
}
.header:after {
    content: '';
    position: absolute;
    bottom: -170px;
    right: 0;
    width: 830px;
    height: 1107px;
    background: url('../images/decor/header__decor-right.png');
}
.header__top {
    position: relative;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
}
.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 530px;
    flex-basis: 530px;
}
.header__title {
    padding-left: 15px;
}
.header__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}
.header .ico_mobile {
    margin-right: 15px;
}
.siteInfo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 10;
}
.siteInfo__left {
    padding-top: 260px;
}
.siteInfo__right {
    position: relative;
    padding-top: 80px;
    margin-right: -220px;
}
.siteInfo__title {
    position: relative;
    padding-bottom: 8px;
    font-size: 40px;
    font-weight: 900;
}
.siteInfo__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 2px;
    background: #fff;
}
.siteInfo__title-accent {
    font-size: 46.5px;
}
.siteInfo__slogan {
    font-size: 39px;
}
.siteInfo__listTitle {
    padding-top: 48px;
    font-size: 31.23px;
    font-weight: 700;
}
.siteInfo__list {
    padding-top: 15px;
}
.siteInfo__item {
    font-size: 21.83px;
    list-style: disc inside;
    vertical-align: middle;
}
.siteInfo__guarantee {
    position: relative;
    font-size: 56.7px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.siteInfo__guarantee:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.siteInfo__guarantee-accent {
    position: relative;
    display: block;
    font-size: 35px;
    font-weight: 300;
}
.siteInfo__guarantee-accent:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.siteInfo .guarantee__text {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 95%);
        -ms-transform: translate(50%, 95%);
            transform: translate(50%, 95%);
}
.arrow-down {
    margin: 25px auto 30px auto;
}
.arrow-down a {
    display: block;
    -webkit-animation: arrow-bounce 2s infinite;
            animation: arrow-bounce 2s infinite;
    z-index: 10;
}
.arrow-down a:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.arrow-down .ico_arr_down {
    margin: auto;
}
.advantages {
    position: relative;
    overflow: hidden;
    background: url(../images/advantages__back.jpg) no-repeat center / cover;
}
.advantages:before {
    content: '';
    position: absolute;
    right: 225px;
    top: 0;
    width: 603px;
    height: 1200px;
    background: url(../images/decor/advantages__decor.png);
}
.advantages .container {
    padding-left: 105px;
    padding-right: 70px;
    position: relative;
}
.advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 82px 0;
}
.advantages__item {
    position: relative;
    width: 455px;
    counter-increment: li;
    -webkit-box-shadow: 19.013px 28.187px 19.68px 4.32px rgba(114, 122, 142, 0.24);
            box-shadow: 19.013px 28.187px 19.68px 4.32px rgba(114, 122, 142, 0.24);
}
.advantages__item img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
}
.advantages__item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    min-height: 185px;
    position: relative;
    padding-left: 60px;
    padding-right: 50px;
}
.advantages__item div:before {
    content: '' counter(li);
    position: absolute;
    padding: 0 5px;
    top: 0;
    right: 20px;
    font-size: 74px;
    font-weight: 700;
    color: #fff;
}
.advantages__item:nth-of-type(odd):before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: -18px;
    height: 48px;
    width: 2px;
    background: #636166;
}
.advantages__item:nth-of-type(odd):after {
    content: '';
    position: absolute;
    right: -15px;
    bottom: -18px;
    height: 2px;
    width: 48px;
    background: #636166;
}
.advantages__item:nth-of-type(even) {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.advantages__item:nth-of-type(even):before {
    content: '';
    position: absolute;
    left: -18px;
    bottom: -18px;
    height: 48px;
    width: 2px;
    background: #636166;
}
.advantages__item:nth-of-type(even):after {
    content: '';
    position: absolute;
    left: -18px;
    bottom: -18px;
    height: 2px;
    width: 48px;
    background: #636166;
}
.advantages__item:nth-of-type(1) {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 525px;
    margin-left: -35px;
    margin-bottom: -60px;
}
.advantages__item:nth-of-type(1) div {
    padding-left: 85px;
    min-height: 245px;
    background: url(../images/advantages__back-item.png) no-repeat center / cover;
}
.advantages__item:nth-of-type(1) div:before {
    right: 50px;
}
.advantages__item:nth-of-type(1) h3 {
    margin-top: -56px;
}
.advantages__item:nth-of-type(1):before {
    right: 20px;
    bottom: 38px;
}
.advantages__item:nth-of-type(1):after {
    right: 20px;
    bottom: 38px;
}
.advantages__item:nth-of-type(2) div {
    position: relative;
    background: url(../images/advantages__back-item2.jpg) no-repeat center / cover;
    z-index: 10;
}
.advantages__item:nth-of-type(2) img {
    bottom: 120px;
    right: 20px;
}
.advantages__item:nth-of-type(3) div {
    position: relative;
    background: url(../images/advantages__back-item3.jpg) no-repeat center / cover;
    z-index: 10;
}
.advantages__item:nth-of-type(3) img {
    top: -30px;
    left: -70px;
}
.advantages__item:nth-of-type(4) div {
    position: relative;
    background: url(../images/advantages__back-item4.jpg) no-repeat center / cover;
    z-index: 10;
}
.advantages__item:nth-of-type(4) img {
    bottom: 140px;
    right: 0;
}
.advantages__box-title {
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}
.advantages__text {
    line-height: 1;
}
.statistics {
    background: url(../images/statistics__back.jpg);
}
.statistics__list {
    padding: 58px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.statistics__item {
    text-align: center;
    width: 250px;
    margin: auto;
}
.statistics__title {
    position: relative;
    display: inline-block;
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.statistics__title:before {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background: #ff4a3c;
}
.statistics__title-accent {
    padding-left: 15px;
    color: #8e959c;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.statistics__title-accent2 {
    color: #8e959c;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.statistics__text {
    font-size: 20px;
    font-weight: 700;
}
.idea {
    background: url('..//images/form-sec__back.jpg') no-repeat center / cover;
}
.idea__title {
    color: #fff;
    font-size: 32.84px;
}
.idea__title-accent {
    font-size: 55.51px;
}
.idea__title-accent:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -564px -2px;
    height: 2px;
    width: 270px;
}
.idea__text {
    font-size: 20px;
    font-weight: 300;
    padding-top: 33px;
}
.idea__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 100px;
}
.idea__content {
    padding-top: 55px;
}
.idea__form {
    margin-top: -5px;
    position: relative;
}
.idea__form:before {
    position: absolute;
    content: '';
    top: 0;
    left: -280px;
    width: 401px;
    height: 390px;
    background: url(../images/decor/form-decor.png);
}
.idea .form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    background: url(../images/form__back.png) no-repeat center / contain;
    width: 319px;
    min-height: 352px;
    padding: 40px 25px 30px 50px;
}
.idea .form__title {
    padding-bottom: 18px;
    font-size: 23px;
    font-weight: 700;
    color: #000;
    text-align: center;
}
.idea .form__text {
    padding-left: 20px;
    padding-bottom: 28px;
    color: #010101;
}
.idea .input__wrap {
    position: relative;
    width: 247px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.idea .input__wrap:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 244px;
    height: 40px;
    background: url(../images/decor/form__wrap.png);
}
.idea .form__line {
    position: relative;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e222d;
}
.idea .form__btn {
    background: #ff4a3c;
    color: #fff;
    font-weight: 700;
    -webkit-transition: background-color 0.3s linear;
         -o-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;
}
.idea .form__btn:hover {
    background: #d50f00;
}
.advantagesStone {
    position: relative;
    background: url(../images/advantagesStone__back.jpg) no-repeat center / cover;
    overflow: hidden;
}
.advantagesStone:before {
    content: '';
    position: absolute;
    right: 0;
    top: -740px;
    width: 423px;
    height: 1269px;
    background: url(../images/decor/roundDecor__right.png);
}
.advantagesStone:after {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    width: 790px;
    height: 1618px;
    background: url(../images/decor/advantagesStone-decor-left.png);
}
.advantagesStone .container {
    position: relative;
    z-index: 10;
}
.advantagesStone__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.advantagesStone__img {
    position: relative;
    padding-top: 52px;
    width: 640px;
}
.advantagesStone__img:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -66px;
    width: 445px;
    height: 590px;
    background: #fff;
    -webkit-box-shadow: 0 12px 17.22px 3.78px rgba(66, 107, 141, 0.14);
            box-shadow: 0 12px 17.22px 3.78px rgba(66, 107, 141, 0.14);
}
.advantagesStone__img img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 10;
}
.advantagesStone__content {
    width: 590px;
    padding-top: 28px;
}
.advantagesStone__title {
    font-size: 34px;
}
.advantagesStone__title-accent {
    font-size: 45px;
}
.advantagesStone__list {
    padding-top: 60px;
    color: #0d0f11;
}
.advantagesStone__item {
    padding-left: 12px;
    margin-bottom: 20px;
}
.advantagesStone__item-title {
    position: relative;
    padding-bottom: 8px;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
}
.advantagesStone__item-title:before {
    content: '';
    position: absolute;
    left: -21px;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #ff4a3c;
    border-radius: 50%;
    -webkit-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
            transform: translateY(-80%);
}
.advantagesStone__text {
    font-weight: 300;
}
.step {
    position: relative;
    background: #fafbfc;
    color: #0d0f11;
}
.step:before {
    content: '';
    position: absolute;
    top: 0;
    left: 249px;
    width: 541px;
    height: 100%;
    background: url(../images/decor/lines__back-vertical2.png);
}
.step .container {
    position: relative;
    padding-right: 200px;
}
.step__box {
    float: right;
    width: 500px;
}
.step__title {
    font-size: 40px;
}
.step__list {
    padding-top: 66px;
}
.step__item {
    position: relative;
    margin-bottom: 50px;
    color: #0d0f11;
}
.step__item-title {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}
.step__item-text {
    position: relative;
    max-width: 350px;
}
.step__item-text:before {
    content: '';
    position: absolute;
    right: -60px;
    width: 50px;
    height: 1px;
    background: #b1b1b1;
}
.step__item:nth-of-type(1):before {
    content: '';
    position: absolute;
    left: -350px;
    top: -40px;
    width: 240px;
    height: 250px;
    background: url(../images/stone1.png);
}
.step__item:nth-of-type(1) p:before {
    top: 20px;
}
.step__item:nth-of-type(2):before {
    content: '';
    position: absolute;
    left: -190px;
    top: -20px;
    width: 165px;
    height: 165px;
    background: url(../images/stone2.png);
}
.step__item:nth-of-type(2) p:before {
    top: 30px;
}
.step__item:nth-of-type(3):before {
    content: '';
    position: absolute;
    left: -350px;
    top: -30px;
    width: 201px;
    height: 201px;
    background: url(../images/stone3.png);
}
.step__item:nth-of-type(3) p:before {
    top: 8px;
}
.step__item:nth-of-type(4):before {
    content: '';
    position: absolute;
    left: -160px;
    top: -10px;
    width: 114px;
    height: 120px;
    background: url(../images/stone4.png);
}
.step__item:nth-of-type(4) p:before {
    top: 10px;
}
.step .step-img {
    position: absolute;
    right: 8px;
}
.step .step-img1 {
    top: 38px;
}
.step .step-img2 {
    top: 45px;
}
.step .step-img3 {
    top: 28px;
}
.step .step-img4 {
    top: 18px;
}
.step .btn {
    margin-top: 28px;
    margin-bottom: 15px;
    background: #ff4a3c;
    color: #fff;
    -webkit-transition: -webkit-box-shadow 0.3s linear;
            transition: -webkit-box-shadow 0.3s linear;
         -o-transition:         box-shadow 0.3s linear;
            transition:         box-shadow 0.3s linear;
            transition:         box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
    -webkit-box-shadow: 0 12px 12px 3.24px rgba(255, 74, 60, 0.33);
            box-shadow: 0 12px 12px 3.24px rgba(255, 74, 60, 0.33);
}
.step .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.sample {
    padding: 66px 0;
    background: url(../images/sample__back.jpg) no-repeat center / cover;
    font-family: 'Roboto', sans-serif;
}
.sample__title {
    position: relative;
    font-size: 36.53px;
    font-weight: 300;
    text-align: center;
}
.sample__title strong {
    font-weight: 700;
}
.sample__title:before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -220px 0;
    height: 2px;
    width: 854px;
}
.sample .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 34px;
}
.sample .form__line {
    width: 319px;
    margin-left: 15px;
    padding-left: 15px;
}
.sample .btn {
    margin-left: 15px;
    background: #ff4a3c;
    color: #fff;
    -webkit-transition: background-color 0.3s linear;
         -o-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;
}
.sample .btn:hover {
    background: #d50f00;
}
.production {
    position: relative;
    padding-bottom: 160px;
    background: #fafbfc;
    color: #0d0f11;
}
.production:before {
    content: '';
    position: absolute;
    top: 0;
    left: 249px;
    width: 541px;
    height: 100%;
    background: url(../images/decor/lines__back-vertical2.png);
}
.production .container {
    position: relative;
}
.production__title {
    text-align: right;
    font-size: 40px;
}
.production__box {
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.production__box-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 560px;
}
.production__box-sm > div {
    width: 50%;
}
.production__box img {
    display: block;
    max-width: 100%;
    height: auto;
}
.production .img__wrap-big {
    position: relative;
    max-width: 580px;
    height: 390px;
    z-index: 10;
}
.production .img__wrap-big:before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: -66px;
    width: 590px;
    height: 380px;
    background: #fff;
    -webkit-box-shadow: 0 12px 17.22px 3.78px rgba(66, 107, 141, 0.14);
            box-shadow: 0 12px 17.22px 3.78px rgba(66, 107, 141, 0.14);
    z-index: -1;
}
.production .img__wrap-sm {
    width: 268px;
    height: 180px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 12px 17.22px 3.78px rgba(8, 8, 8, 0.14);
            box-shadow: 0 12px 17.22px 3.78px rgba(8, 8, 8, 0.14);
}
.review {
    background: url(../images/review__back.jpg);
}
.review__title {
    color: #fff;
    font-size: 32.84px;
}
.review__title-accent {
    font-size: 55.51px;
}
.review__title-accent:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -564px -2px;
    height: 2px;
    width: 270px;
}
.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;
}
@media only screen and (min-width: 320px) {
    .remodal-first {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first {
        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0;
        background: url('../images/form.png') no-repeat top center;
        padding: 120px 0 0 109px;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-first .remodal-close {
        color: #000 !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first .remodal-close {
        color: #fff !important;
    }
}
.remodal-first:before {
    display: none;
}
.btn-remodal {
    margin: 30px 0 0 15px;
}
.remodal-close {
    top: 12px !important;
    right: 15px !important;
    color: #fff !important;
    font-weight: 900;
}
@media only screen and (min-width: 320px) {
    .remodal-close {
        width: 10px !important;
        height: 16px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close {
        width: 35px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-close:before {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close:before {
        font-size: 50px !important;
        top: 0 !important;
        left: 0 !important;
    }
}
.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;
}
@media only screen and (min-width: 320px) {
    .remodal-common {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-common {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
}
.remodal-common .remodal-close {
    color: #000 !important;
}
.error-input {
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;
    margin: 0 auto;
    text-align: center;
}
#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
label {
    position: absolute;
    top: 0;
    border: 0;
    font-size: 0 !important;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.formBox {
    position: relative;
    background: #fff;
    padding: 30px 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
.formBox .form__line {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 7px;
    border: none!important;
    outline: none;
    font-size: 18px;
}
.formBox .btn {
    margin: 15px 0 5px 0;
    color: #fff;
}
.formBox .btn:hover {
    color: #000;
}
.video {
    max-width: 780px;
}
.video iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}
@-webkit-keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@-webkit-keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.slick-prev, .slick-next {
    width: 50px;
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: 'Fontello';
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    z-index: 10;
}
.slick-prev {
    left: -40px;
}
.slick-next {
    right: -40px;
}
.slick-prev:before, .slick-next:before {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
    color: #fff;
    font-size: 45px;
}
.slick-prev:before {
    left: 20px;
    content: '\e805';
}
.slick-next:before {
    content: '\e806';
    right: 10px;
}
.slick-dots {
    left: 50%;
    bottom: -40px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-border-image: transparent;
         -o-border-image: transparent;
            border-image: transparent;
}
.slick-dots li {
    margin: 0 5px;
    width: 20px;
    height: 20px;
}
.slick-dots li button {
    background: #fff;
    display: block;
    height: 20px;
    width: 20px;
    font-size: 0;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 7px 1px rgba(0, 45, 86, 0.15);
            box-shadow: 0 5px 7px 1px rgba(0, 45, 86, 0.15);
    opacity: 0.75;
}
.slick-dots li button:before {
    font-size: 0;
    opacity: 0;
}
.slick-dots li.slick-active button {
    background: #fb0035;
    border-radius: 50%;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .slick-dots li.slick-active button {
        background: #fff;
    }
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
.ico_marker {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 115px;
    width: 91px;
}
.ico_logo {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -91px 0;
    height: 70px;
    width: 70px;
}
.ico_step2 {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -161px 0;
    height: 59px;
    width: 59px;
}
.ico_step4 {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -115px;
    height: 59px;
    width: 59px;
}
.ico_step1 {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -59px -115px;
    height: 59px;
    width: 59px;
}
.ico_arr_down {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -118px -115px;
    height: 55px;
    width: 101px;
}
.ico_step3 {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -161px -59px;
    height: 54px;
    width: 54px;
}
.ico_mobile {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -91px -70px;
    height: 42px;
    width: 24px;
}
.ico_zoom {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -115px -70px;
    height: 33px;
    width: 33px;
}
.ico_arr_up {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -174px;
    height: 19px;
    width: 36px;
}
.ico_add_dn {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -36px -174px;
    height: 19px;
    width: 36px;
}
.ico_title__decor-big {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -220px 0;
    height: 2px;
    width: 854px;
}
.ico_title__decor {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -220px -2px;
    height: 2px;
    width: 344px;
}
.ico_title__decor-idea {
    background-image: url(../images/icons/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: -564px -2px;
    height: 2px;
    width: 270px;
}
/*# sourceMappingURL=style.css.map */
