/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

/* 	.container {
width: 1170px;
}
.wrapper, section {
width: 1170px;
}*/

} 


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


	.menu {
		margin-left: 5%; 
	}
	.about_us__solutions--text {
		font-size: 2.3em;
		line-height: 1.5em;
	}



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.menu__wrapper .container {
		padding: 0;
	} 
	.header__logo-img {
		height: 8em;
	}
	.header__logo-text {
		font-size: 6em;
		letter-spacing: 2px;
	}
	/* 	burger menu */
	.nav-menu{
		display: block;
		padding: 20px;
		font-size: 3em;
	}
	.nav-list{
		display: none;
	}
	.nav-open{ 
		height: auto; 
	}
	.menu__item {
		width: 100%;
	}
	.menu__item-link {
		min-width: 100%;
	}
	.section__title {
		font-size: 3.5em;
	}
	.section__title-text {
		font-size: 2.5em;
		line-height: 1.2em;
		padding-bottom: 20px		
	}	
	.about_us__solutions {
		margin-bottom: 40px;
	}
	.about_us__solutions__title--text {
		font-size: 2.5em;
		margin-left: 20px;
		height: 100px;
	}
	.about_us__solutions--text {
		height: 400px;
	}	
	.our__project--text {
		margin-bottom: 30px;
		font-size: 2.5em;
	}
	.article__title {
		font-size: 2.5em;
	}
	.news--text {
		padding-bottom: 10px;
	}	

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.header__logo-img {
		float: none;
	}
	.header__logo-text {
		font-size: 4em;
	}
	.section__title-text {
		margin: 4% 10%;
	}	
	.about_us__solutions__title--text {
		height: 60px;
	}
	.about_us__solutions--text {
		height: 160px;
	}
	.about_us__solutions--top {
		position: relative;
	}
	.about_us__solutions__title--text {
		margin-left: 0;
	}
	.section__title-underline {
		width: 200px;
	}
	.our__services {
		margin-bottom: 40px
	}
	.our__project--img img {
		height: 300px;
	}
	.news--img img {
		height: 300px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 479px) {

	.menu__item {
		margin-left: 0;
	}
	.section__title {
		font-size: 2.5em;
	}
	.section__title-text {
		font-size: 1.5em;
	}	
	.about_us__solutions__title--text {
		font-size: 2em;
		height: 60px;
	}
	.about_us__solutions--text {
		height: 200px;
		font-size: 2em;
		line-height: 1.4em;
	}
	.our__project--text {
		font-size: 2em;
	}
	.article__title {
		font-size: 2em;
	}

}
