body {
	background-color: #fff;
  font: 12px/16px 'Lato', sans-serif;
  box-sizing: border-box; 
}
img {
  width: 100%;
  height: auto;
}
a {
	text-decoration: none;
  color: inherit;  
  cursor: pointer; 
}
a:focus[data-group]{
  opacity:.8;
  outline:none;
}
.clearfix:after {
  content: " ";
  display: table; 
  clear: both;
}	
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;  
}
/* HEADER */
.header {
	text-transform: uppercase;
  color: #b4b4b4;  
}
.top-header {
  font: 11px/16px 'Lato', sans-serif;
  font-weight: bold;
  line-height: 40px;  
  max-width: 1140px;
}
.top-header-left {
	float: left;
}
.user-guide__list-item {
	float: left;
	margin-right: 20px;
}
.user-guide__list-link {
	display: block;
}
/* HEADER RIGHT*/
.top-header-right {
  float: right;
}
#dropdown-menu-currency{
  float: left;
  padding-right: 10px; 
  border-right: 1px solid #b4b4b4;  
}
#dropdown-menu-lang{
  float: right;
  padding-left: 10px;   
}
.dropdown-menu__list {
  display: none;
}
.dropdown-menu__list-item {
  display: block;
  line-height: 20px;
  background-color: #fff;
  width: 50px; 
}
.dropdown-menu__link:hover {
  color: #1c82d8;
  text-decoration: underline;
}
.dropdown-menu.open .dropdown-menu__list {
  display: block;
  position: absolute;
}
/* HEADER BOTTOM */
.bottom-header {
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}
.bottom-header__logo {
  float: left;
  font: 45px/60px 'GFS Didot', serif;
  font-weight: bold;
  color: #000;
}
.navigation__list-item {
  float: left;
  margin-left: 50px;
  margin-top: 22px;
}
.navigation__list-item:nth-child(4) {
  color: #fc411d;
}
.navigation__list-link{
 display: inline-block;
 position: relative;
 text-decoration: none;
 font-weight: bold;
}
.navigation__list-link::before{
 display: block;
 position: absolute;
 content: "";
 height: 2px;
 width: 0;
 background-color: #1c82d8;
 transition: width .3s ease-in-out, left .3s ease-in-out;
 left: 50%;
 bottom: 0;
}
.navigation__list-link::after{
 display: block;
 position: absolute;
 content: "";
 height: 2px;
 width: 0;
 background-color: #1c82d8;
 transition: width .3s ease-in-out;
 left: 50%;
 bottom: 0;
}
.navigation__list-link:hover::before{
 width: 50%;
 left: 0;
}
.navigation__list-link:hover::after{
 width: 50%;
}
.navigation__list-link:hover{
  color: #000;
  font-weight: bold;
}
.cart__list-item {
  float: right;
  margin-top: 22px;
  margin-left: 10px;  
  text-align: right;  
}
/* section - CATALOG */
.catalog__title {
  padding: 60px 0;
  font-family: 'Playfair Display', serif;
  font-size: 58px; 
  line-height: 64px;
  text-align: center;
}
.catalog__list {
  text-align: center;
  padding-bottom: 40px;
}
.catalog__list-item {
  display: inline;
  text-transform: uppercase;
}
.catalog__list-item:not(:last-child){
  margin-right: 50px;
} 
.catalog__list-link{
 display: inline-block;
 position: relative;
 text-decoration: none;
}
/* HOVER UNDERLINE WITH ANIMATION */
.catalog__list-link::before{
 display: block;
 position: absolute;
 content: "";
 height: 2px;
 width: 0;
 background-color: #1c82d8;
 transition: width .3s ease-in-out, left .3s ease-in-out;
 left: 50%;
 bottom: 0;
}
.catalog__list-link::after{
 display: block;
 position: absolute;
 content: "";
 height: 2px;
 width: 0;
 background-color: #1c82d8;
 transition: width .3s ease-in-out;
 left: 50%;
 bottom: 0;
}
.catalog__list-link:hover::before{
 width: 50%;
 left: 0;
}
.catalog__list-link:hover::after{
 width: 50%;
}
.product {
  position: relative;
  display: inline-block;
}
.product-text {
  padding: 20px 0;
  text-align: center;
} 
.product-name {
  font: 16px/20px 'Playfair Display';
}
.product-price {
  font: 16px/20px 'Lato';
  color: #adadad;
}
.old-price {
  text-decoration: line-through;
  margin-right: 15px;
}
.new-price {
  color: #fc411d;
}
.new-product {
  position: absolute;
  content: '';
  top: 25px;
  left: 25px;
  line-height: 25px;
  background-color: #1274d3;
  color: #fff;
  border-radius: 15px;
  width: 50px; 
  text-transform: uppercase;
  text-align: center;
}
.product_more {
  padding: 50px 0;
  display: block;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #999; 
}
.product_more:hover {
  color: #1274d3;
  font-weight: bold; 
}
/* SECTION - SUBSCRIBE */
.subsribe {
  background: url(../img/texture.jpg); 
  height: 290px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subsribe_title {
  text-transform: uppercase;
}
.subsribe_text {
 padding: 20px 0;
 font: 38px/44px 'Playfair Display';
 color: #fff; 
}
/* FORM */
.subscribe-input,
.subscribe-submit {
  padding: 15px; 
  background-color: transparent;
  text-transform: uppercase;
  outline: none ;  
}
.subscribe-input {
  padding: 15px 20px;  
  width: 250px;
  color: #fff;
  border: 2px solid #a0d2f2;
  border-radius: 40px;
}
.subscribe-submit {
  border: none;
  margin-left: -50px;
}
::-webkit-input-placeholder {
  color: #fff;
}
:focus::-webkit-input-placeholder {
  opacity: 0.4;
  border: transparent;
}
input:focus::-webkit-input-placeholder {
  border: transparent;
}
.icon-right-open {
  color: #fff;
}
/* FOOTER */
.footer {
  height: 100px;
}
.footer__logo {
  float: left;
  font-family:'GFS Didot', serif;
  font-size: 45px;
  line-height: 100px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.footer_navigation-item {
  margin-left: 50px;
  padding-top: 40px;
  float: left;
  text-transform: uppercase;  
}
.footer_navigation-link:hover {
  color: #1274d3;
}
.footer__copyright {
  float: right;
  padding-top: 40px;  
  color: #999;
  font-weight: bold;   
}


/* 
ретина экран

корзина активная?
подгрузка новых елементов?

минификация
продакшен + резюме + зп 350$
*/

